<!-- home section -->
<section class="relative bg-white mt-20 mb-20">

  <div class="container max-w-screen-xl mx-auto px-4">

    <div class="flex flex-col lg:flex-row items-center justify-center xl:justify-between">

      <div class="text-center lg:text-left">
        <h1 class="font-primary font-semibold text-5xl md:text-6xl lg:text-7xl text-gray-900 mb-6">Encuentra el <br> <span class="text-primary">profesional</span> <br> que necesitas</h1>

        <div class="py-3 flex flex-row justify-start items-center gap-6">
          <div>
            <a target="_blank" href="https://apps.apple.com/es/app/febelink/id6714484198">
              <img class="h-12 my-0.5 object-contain" src="assets/app/apple-es.png"/>
            </a>
          </div>
          <div>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.febelink.app">
              <img class="h-12 my-0.5 object-contain" src="assets/app/google-es.png"/>
            </a>
          </div>
        </div>
      </div>

      <div class="w-1/2 lg:pr-[5vw] z-0 top-0 right-0 flex justify-center items-center">
        <img class="max-w-96 w-fit h-fit" src="assets/landing2/app-mockup.png" alt="Home img">
      </div>

    </div>
  </div>
</section>
<!-- home section //nd -->

<!-- feature section -->
<section class="bg-white py-10 md:py-16 xl:relative">

  <div class="container max-w-screen-xl mx-auto px-4">

  <div class="flex flex-col-reverse gap-20 xl:gap-0 xl:flex-row items-center justify-center xl:justify-between">

      <div class="w-1/2 lg:pr-[5vw] z-0 top-0 right-0 flex justify-center items-center">
        <img class="rounded-3xl" src="assets/imgs/febelinksuperpro.png" alt="Feature img">
      </div>

      <div class="">

        <h2 class="font-primary font-semibold text-gray-900 text-xl md:text-4xl text-center mb-6">¿Hablas por WhatsApp?</h2>

        <p class="font-normal text-gray-500 text-xl md:text-2xl text-center mb-16">¡Pues con Febelink te vas a hinchar!</p>

        <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4 mb-20">
          <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-100 rounded-lg flex items-center justify-center mb-5 md:mb-0">
            <lucide-icon
              name="infinity"
              class="stroke-primary transition duration-75 group-hover:stroke-gray-900" 
              [strokeWidth]="2"
              [size]="32"
            />
          </div>
          
          <div class="text-center md:text-left">
            <h4 class="font-primary font-semibold text-gray-900 text-2xl mb-2">No tienes limites</h4>
            <p class="font-normal text-gray-500 text-xl">Imagina un mundo donde la comunicación sea <br> tan rápida, directa y eficiente que puedas alcanzar <br> cualquier meta sin restricciones. <br> Ya sea personal o profesional, Febelink está diseñado <br> para que avances sin detenerte.</p>
          </div>
        </div>

        <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4 mb-20">
          <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-100 rounded-lg flex items-center justify-center mb-5 md:mb-0">
            <lucide-icon
              name="goal"
              class="stroke-primary transition duration-75 group-hover:stroke-gray-900" 
              [strokeWidth]="2"
              [size]="32"
            />
          </div>

          <div class="text-center md:text-left">
            <h4 class="font-primary font-semibold text-gray-900 text-2xl mb-2">Consigue todos tus propósitos</h4>
            <p class="font-normal text-gray-500 text-xl">Ya sea comunicarte, crecer o conectar con <br> las personas clave, Febelink está aquí para ayudarte <br> a alcanzar todas tus metas. <br> Tú imaginas, nosotros te llevamos.</p>
          </div>
        </div>

        <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4">
          <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-100 rounded-lg flex items-center justify-center mb-5 md:mb-0">
            <lucide-icon
              name="circle"
              class="stroke-primary transition duration-75 group-hover:stroke-gray-900" 
              [strokeWidth]="2"
              [size]="32"
            />
          </div>

          <div class="text-center md:text-left">
            <h4 class="font-primary font-semibold text-gray-900 text-2xl mb-2">Con Febelink eres libre</h4>
            <p class="font-normal text-gray-500 text-xl"> Libérate de las barreras. Habla con quien quieras, <br> cuando quieras, de forma directa y sin rodeos. <br> ¡La libertad de comunicarte está a tu alcance!</p>
          </div>
        </div>

      </div>

  </div>

  </div> <!-- container.// -->

</section>
<!-- feature section //end -->

<!-- testimoni section -->
<section class="bg-white py-10 md:py-16">

  <div class="container max-w-screen-xl mx-auto px-4 xl:relative">

    <h2 class="px-10 font-primary font-semibold text-gray-900 text-2xl md:text-4xl text-center mb-14">Con Febelink puedes hablar con todos directamente por WhatsApp</h2>

    <p class="w-full text-center text-primary text-4xl font-bold">¡Consiguelo ahora!</p>

    <!-- <div class="flex flex-col md:flex-row md:items-center justify-center md:space-x-8 lg:space-x-12 mb-10 md:mb-20">

      <div class="bg-gray-100 rounded-lg mb-10 md:mb-0">
        <img src="assets/landing2/testimoni-3.png" alt="Image" class="mx-8 my-8">

        <div class="flex items-center gap-5 mx-8">
          <i data-feather="star" class="text-yellow-500"></i>
          <i data-feather="star" class="text-yellow-500"></i>
          <i data-feather="star" class="text-yellow-500"></i>
          <i data-feather="star" class="text-yellow-500"></i>
          <i data-feather="star" class="text-yellow-500"></i>
        </div>

        <p class="font-normal text-sm lg:text-md text-gray-500 mx-8 my-8">I recommend anyone to buy house on <br> D’house. I received great customer service <br> from the specialists who helped me.</p>

        <h3 class="font-semibold text-gray-900 text-xl md:text-2xl lg:text-3xl mx-8 mb-8">Brooklyn Simmons</h3>
      </div>

      <div class="bg-gray-100 rounded-lg">
        <img src="assets/landing2/testimoni-4.png" alt="Image" class="mx-8 my-8">

        <div class="flex items-center gap-5 mx-8">
          <i data-feather="star" class="text-yellow-500"></i>
          <i data-feather="star" class="text-yellow-500"></i>
          <i data-feather="star" class="text-yellow-500"></i>
          <i data-feather="star" class="text-yellow-500"></i>
          <i data-feather="star" class="text-yellow-500"></i>
        </div>

        <p class="font-normal text-sm lg:text-md text-gray-500 mx-8 my-8">D’house is the best property agent in the <br> world. I received great customer service <br> from the D’house agent</p>

        <h3 class="font-semibold text-gray-900 text-xl md:text-2xl lg:text-3xl mx-8 mb-8">Ralph Edwards</h3>
      </div>

    </div> -->

  </div>

</section>
<!-- testimoni section //end -->

<!-- book section -->
<section class="bg-white py-10 md:py-16">

  <div class="container max-w-screen-xl mx-auto px-4 xl:relative">

    <div class="bg-primary flex flex-col lg:flex-row items-center justify-evenly py-14 rounded-3xl">

      <div class="text-center lg:text-left mb-10 lg:mb-0">
        <h2 class="font-primary font-semibold text-white text-4xl md:text-5xl lg:text-7xl mb-4">Descarga nuestra <br> APP</h2>
      </div>

      <div class="hidden xl:block xl:absolute right-0">
        <img src="assets/landing2/book.png" alt="Image">
      </div>

      <div class="hidden md:block bg-white xl:relative px-6 py-3 rounded-3xl">
        <div class="py-3 flex flex-col justify-center items-center gap-6">
          <div>
          <a target="_blank" href="https://apps.apple.com/es/app/febelink/id6714484198">
            <img class="h-12 my-0.5 object-contain" src="assets/app/apple-es.png"/>
          </a>
          </div>
          <div>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.febelink.app">
            <img class="h-12 my-0.5 object-contain" src="assets/app/google-es.png"/>
          </a>
          </div>
        </div>
      </div>

    </div>

  </div> <!-- container.// -->

</section>
<!-- book section //end -->