<!-- Features start -->
<section class="section bg-light" id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-5" id="content-ico">
          <h5 class="text-primary text-uppercase small-title" id="mini-titular">
            {{ 'landing.aboutTk.initial' | translate }}
          </h5>
          <h4 class="mb-3 br-ln" id="titular-seccion">
            {{ 'landing.aboutTk.title' | translate }}
          </h4>
          <p id="text-ico">
            {{ 'landing.aboutTk.detail' | translate }}
          </p>
          <h4 style="margin: 40px auto;">
            <strong class="text-center" id="sub-titular-probable">
              {{ 'landing.aboutTk.subtitle' | translate }}
            </strong>
          </h4>
          <ion-row class="flexed-row" id="row-beneficios-ico">
            <section id="sec-descuentos" class="col-lg-6">
              <a class="icon-circle icon-circle-primary">
                <ion-icon name="logo-usd" ios="logo-usd" md="logo-usd"></ion-icon>
              </a>
              <h5 class="text-primary text-uppercase" id="titular-descuentos">
                {{ 'landing.aboutTk.discounts' | translate }}
              </h5>
              <p id="text-descuentos">
                {{ 'landing.aboutTk.discountsDetail' | translate }}
              </p>
            </section>
            <section id="sec-exclusivo" class="col-lg-6">
              <a class="icon-circle icon-circle-gold">
                <ion-icon name="medal"></ion-icon>
                <ion-icon ios="ios-medal"></ion-icon>
                <ion-icon md="md-medal"></ion-icon>
              </a>
              <h5 class="text-primary text-uppercase" id="titular-exclusivo">
                {{ 'landing.aboutTk.exclusive' | translate }}
              </h5>
              <p id="text-exclusivo">
                {{ 'landing.aboutTk.exclusiveDetail' | translate }}
              </p>
            </section>
            <section id="sec-gobern" class="col-lg-6">
              <a class="icon-circle icon-circle-alert">
                <ion-icon name="megaphone"></ion-icon>
                <ion-icon ios="ios-megaphone"></ion-icon>
                <ion-icon md="md-megaphone"></ion-icon>
              </a>
              <h5 class="text-primary text-uppercase" id="titular-gobern">
                {{ 'landing.aboutTk.governance' | translate }}
              </h5>
              <p id="text-gobern">
                {{ 'landing.aboutTk.governanceDetail' | translate }}
              </p>
            </section>
            <section id="sec-economy" class="col-lg-6">
              <a class="icon-circle icon-circle-green">
                <ion-icon name="briefcase"></ion-icon>
                <ion-icon ios="ios-briefcase"></ion-icon>
                <ion-icon md="md-briefcase"></ion-icon>
              </a>
              <h5 class="text-primary text-uppercase" id="titular-economy">
                {{ 'landing.aboutTk.economy' | translate }}
              </h5>
              <p id="text-economy">
                {{ 'landing.aboutTk.economyDetail' | translate }}
              </p>
            </section>
          </ion-row>
        </div>
      </div>
    </div>
    <!-- end row -->

    <!-- OJO 
    <div class="row" id="info-ico">
      <div class="col-lg-5">
        <div>

          <h2 id="main-ico-text">Associations supported by Febelink Section. Here we show inform. <span style="font-weight: 300 !important;">For all the Newcomers, also made by Newcomers.</span></h2>

          <div class="mt-4">
            <a href="https://febelink.com/" class="" id="ico-link">Saber Más <i-feather name="arrow-right"
              class="icons-sm ml-1">
            </i-feather></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 ml-lg-auto col-sm-8">
        <h1 id="info-ico-first-line">1,382,964 €</h1>
         <h5 style="font-weight: 300 !important;">Market Vol. / Cap.</h5>

        <h1 id="info-ico-second-line">7,094,047 €</h1>
        <h5 style="font-weight: 300 !important;">Market Volume</h5>
      </div>

      <div class="col-lg-3 ml-lg-auto col-sm-8">
        <h1  id="info-ico-first-line">0.153</h1>
        <h5 style="font-weight: 300 !important;">Market Vol. / Cap.</h5>

        <h1 id="info-ico-second-line">86,712</h1>
        <h5 style="font-weight: 300 !important;">Acciones Totales</h5>
      </div>
      
    </div>
    -->
    <!-- end row -->

    <div class="row" id="info-ico-3" [hidden]="true">
      <div
        style="
          background-color: #f8fafe;
          overflow: hidden;
          text-align: right;
          line-height: 14px;
          font-size: 12px;
          font-feature-settings: normal;
          text-size-adjust: 100%;
          width: 100%;
        "
      >
        <div style="height: 540px; width: 100%; padding-top: 30px !important">
          <iframe
            src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=859&pref_coin_id=1505"
            width="100%"
            height="536px"
            scrolling="auto"
            marginwidth="0"
            marginheight="0"
            frameborder="0"
            style="border: 0; margin: 0; padding: 0; line-height: 14px"
          ></iframe>
        </div>
        <div
          style="
            color: #f8fafe;
            line-height: 14px;
            font-weight: 400;
            font-size: 11px;
            box-sizing: border-box;
            padding: 2px 6px;
            width: 100%;
            font-family: Verdana, Tahoma, Arial, sans-serif;
          "
        ></div>
      </div>
    </div>
    <!-- end row -->

    <div class="row" id="info-ico-2" [hidden]="true">
      <div class="col-lg-3 ml-lg-auto col-sm-8" id="text-equals">
        <h5
          style="font-weight: 300 !important; text-align: left"
          id="text-equals"
        >
          1 BTC equals...
        </h5>
        <h1
          id="info-ico-first-line"
          style="text-align: left; color: #7eaadb !important"
          id="text-equals"
        >
          982 Áureo<br>(FLAU)
        </h1>
      </div>

      <div
        class="col-lg-3 ml-lg-auto col-sm-8"
        style="text-align: center !important"
        id="text-equals"
      >
        <h5 style="font-weight: 300 !important" id="text-equals">
          1 ETH equals...
        </h5>
        <h1
          id="info-ico-first-line"
          style="color: #7eaadb !important"
          id="text-equals"
        >
          447 Áureo<br>(FLAU)
        </h1>
      </div>

      <div
        class="col-lg-3 ml-lg-auto col-sm-8"
        style="text-align: center !important"
        id="text-equals"
      >
        <h5 style="font-weight: 300 !important" id="text-equals">
          1 BNB equals...
        </h5>
        <h1
          id="info-ico-first-line"
          style="color: #7eaadb !important"
          id="text-equals"
        >
          165 Áureo<br>(FLAU)
        </h1>
      </div>

      <div
        class="col-lg-3 ml-lg-auto col-sm-8"
        style="text-align: right !important"
        id="text-equals"
      >
        <h5 style="font-weight: 300 !important" id="text-equals">
          $10 equals...
        </h5>
        <h1
          id="info-ico-first-line"
          style="text-align: right; color: #7eaadb !important"
          id="text-equals"
        >
          112 Áureo<br>(FLAU)
        </h1>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- Features end -->
