<!-- Features start -->
<section class="section bg-light" id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-5" id="content-ico">
          <h5 class="text-primary text-uppercase small-title" id="mini-titular">
            INITIAL COIN OFFERING
          </h5>
          <h4 class="mb-3" id="titular-seccion">
            Información General <br />Sobre el Token
          </h4>
          <p id="text-ico">
            El Token Áureo forma parte del ecosistema de la plataforma Febelink,
            ayudando a los usuarios a realizar sus transacciones de una forma
            más segura, sencilla, rápida y eficiente, contando además con muchos
            beneficios por uso, descuentos, y servicios exclusivos.
          </p>
        </div>
      </div>
    </div>
    <!-- end row -->

    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="text-center">
          <a
            href="https://febelink.com/"
            target="_blank"
            class="btn btn-success"
            id="btn-ico"
            >Ir a Febelink</a
          >
        </div>
      </div>
    </div>

    <!-- OJO 
    <div class="row" id="info-ico">
      <div class="col-lg-5">
        <div>

          <h2 id="main-ico-text">Associations supported by Febelink Section. Here we show inform. <span style="font-weight: 300 !important;">For all the Newcomers, also made by Newcomers.</span></h2>

          <div class="mt-4">
            <a href="https://febelink.com/" class="" id="ico-link">Saber Más <i-feather name="arrow-right"
              class="icons-sm ml-1">
            </i-feather></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 ml-lg-auto col-sm-8">
        <h1 id="info-ico-first-line">1,382,964 €</h1>
         <h5 style="font-weight: 300 !important;">Market Vol. / Cap.</h5>

        <h1 id="info-ico-second-line">7,094,047 €</h1>
        <h5 style="font-weight: 300 !important;">Market Volume</h5>
      </div>

      <div class="col-lg-3 ml-lg-auto col-sm-8">
        <h1  id="info-ico-first-line">0.153</h1>
        <h5 style="font-weight: 300 !important;">Market Vol. / Cap.</h5>

        <h1 id="info-ico-second-line">86,712</h1>
        <h5 style="font-weight: 300 !important;">Acciones Totales</h5>
      </div>
      
    </div>
    -->
    <!-- end row -->

    <div class="row" id="info-ico-3">
      <div
        style="
          background-color: #f8fafe;
          overflow: hidden;
          text-align: right;
          line-height: 14px;
          font-size: 12px;
          font-feature-settings: normal;
          text-size-adjust: 100%;
          width: 100%;
        "
      >
        <div style="height: 540px; width: 100%; padding-top: 30px !important">
          <iframe
            src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=859&pref_coin_id=1505"
            width="100%"
            height="536px"
            scrolling="auto"
            marginwidth="0"
            marginheight="0"
            frameborder="0"
            style="border: 0; margin: 0; padding: 0; line-height: 14px"
          ></iframe>
        </div>
        <div
          style="
            color: #f8fafe;
            line-height: 14px;
            font-weight: 400;
            font-size: 11px;
            box-sizing: border-box;
            padding: 2px 6px;
            width: 100%;
            font-family: Verdana, Tahoma, Arial, sans-serif;
          "
        ></div>
      </div>
    </div>
    <!-- end row -->

    <div class="row" id="info-ico-2">
      <div class="col-lg-3 ml-lg-auto col-sm-8" id="text-equals">
        <h5
          style="font-weight: 300 !important; text-align: left"
          id="text-equals"
        >
          1 BTC equals...
        </h5>
        <h1
          id="info-ico-first-line"
          style="text-align: left; color: #7eaadb !important"
          id="text-equals"
        >
          982 FAUS
        </h1>
      </div>

      <div
        class="col-lg-3 ml-lg-auto col-sm-8"
        style="text-align: center !important"
        id="text-equals"
      >
        <h5 style="font-weight: 300 !important" id="text-equals">
          1 ETH equals...
        </h5>
        <h1
          id="info-ico-first-line"
          style="color: #7eaadb !important"
          id="text-equals"
        >
          447 FAUS
        </h1>
      </div>

      <div
        class="col-lg-3 ml-lg-auto col-sm-8"
        style="text-align: center !important"
        id="text-equals"
      >
        <h5 style="font-weight: 300 !important" id="text-equals">
          1 BNB equals...
        </h5>
        <h1
          id="info-ico-first-line"
          style="color: #7eaadb !important"
          id="text-equals"
        >
          165 FAUS
        </h1>
      </div>

      <div
        class="col-lg-3 ml-lg-auto col-sm-8"
        style="text-align: right !important"
        id="text-equals"
      >
        <h5 style="font-weight: 300 !important" id="text-equals">
          $10 equals...
        </h5>
        <h1
          id="info-ico-first-line"
          style="text-align: right; color: #7eaadb !important"
          id="text-equals"
        >
          112 FAUS
        </h1>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- Features end -->
