<ion-card class="no-margin">
  <quill-editor #quill
    trackChanges="all"
    [modules]="modules"
    [ngModel]="contenido"
    [placeholder]="placeholder"
    (onEditorCreated)="created($event)"
    
    [styles]="styles" 
    [readOnly]="readOnly"
     
    (onFocus)="focus($event)" 
    (onEditorChanged)="changedEditor($event)"
    (onBlur)="blur($event)"
    ngDefaultControl
  ></quill-editor>
  <!-- <pre><code>{{ content?.html }}</code></pre>
  <ion-label [innerHTML]="content?.html"></ion-label> -->
</ion-card>