<div class="container-general">
  <div class="title">
    <ion-back-button defaultHref="/admin"></ion-back-button> 
    Panel de Administrador 
    <span class="simbol">></span> 
    <span class="span1">Gestion keyword - Clicks</span>
  </div>

  <div class="servicios-sections-right ">
    <div class="servicios-sections-cell-b">
      <div
        class="servicios-sections-title-b"
        [ngClass]="{'servicios-sections-selected-b' : isProfile}"
        (click)="isProfile = true; isPublications = false"
      >
        Perfil de usuario
      </div>
    </div>
    <div class="servicios-sections-cell-b">
      <div
        class="servicios-sections-title-b"
        [ngClass]="{'servicios-sections-selected-b' : isPublications}"
        (click)="isPublications = true; isProfile = false"
      >
        Publicaciones
      </div>
    </div>
  </div>
  
  <div class="buscador">
    <ion-searchbar
      [placeholder]="'Gestionar termino de busqueda'"
      inputmode="text"
      (keyup.enter)="search_filter($event)"
      (ionChange)="search_filter($event)"
      (ionClear)="search_filter($event)"
      debounce="500"
    ></ion-searchbar>
  </div>
  
 

  <div class="container-admin" *ngIf="isProfile">
    <ion-content>
      <!-- Loading -->
      <div class="cargando-container" margin-top *ngIf="isLoading">
        <ion-row>
          <ion-spinner></ion-spinner>
          <h4>{{ 'common.labelSearching' | translate }}</h4>
        </ion-row>
      </div>
    
      <div class="scroll-inner">
        <table id="tokensUsersTable"> 
          <tr>
            <th style="width: 15%">Perfil</th>
            <th style="width:8%">Click</th>
            <th style="width: 10%">Acciones</th>
           
          </tr>
          <tr *ngFor="let keys of profiles">
            <td>
              <span>{{keys.nick}}</span>
            </td>
            <td >
              <span>{{keys.numProfile}}</span>
            </td>
            <td class="edit">
              <ion-icon name="eye-outline" (click)="showPublication(keys)"></ion-icon>
            </td>
          </tr>
        </table>
      </div>
    
      <!-- Pagination Bottom -->
      <app-pagination
        *ngIf="qPages > 1"
        [qPages]="qPages"
        [totalRecords]="totalRecords"
        [recordsPerPage]="recordsPerPage"
        [activePage]="activePage"
        [disabled]="isLoading"
        (onPageChange)="displayActivePage( $event )"
      >
      </app-pagination>
    </ion-content>
    
  </div>

  <div class="container-admin" *ngIf="isPublications">
    <ion-content>
      <!-- Loading -->
      <div class="cargando-container" margin-top *ngIf="isLoading">
        <ion-row>
          <ion-spinner></ion-spinner>
          <h4>{{ 'common.labelSearching' | translate }}</h4>
        </ion-row>
      </div>
    
      <div class="scroll-inner">
        <table id="tokensUsersTable"> 
          <tr>
            <th style="width: 15%">Publicacion</th>
            <th style="width:8%">Clicks</th>
            <th style="width: 10%">Acciones</th>
          </tr>
          <tr *ngFor="let keys of publications">
            <td [ngSwitch]="keys.isEdit">
              <span *ngSwitchDefault>{{keys.title}}</span>
            
            </td>
            <td [ngSwitch]="keys.isEdit">
              <span *ngSwitchDefault>{{keys.numPublication}}</span>
            
            </td>
            <td class="edit">
              <ion-icon name="eye-outline" (click)="showPublication(keys)"></ion-icon>
            </td>
          </tr>
        </table>
      </div>
    
      <!-- Pagination Bottom -->
      <app-pagination
        *ngIf="qPages > 1"
        [qPages]="qPages"
        [totalRecords]="totalRecords"
        [recordsPerPage]="recordsPerPage"
        [activePage]="activePage"
        [disabled]="isLoading"
        (onPageChange)="displayActivePage( $event )"
      >
      </app-pagination>
    </ion-content>
    
  </div>
</div>
