:host{
  background: #FAFAFA;
  width: 100%;
  height: 100%;

  .container-general{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    column-gap: 12px;
    max-width: 100%;
    height: 100%;
    background: #FAFAFA;
    margin: auto;
    width: 1440px;
     
   
      .title{
        width: 100%;
        text-align: center;
        height: 68px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem;
        line-height: 1em;
        background: #FAFAFA;
        color: #777;
        position: relative;
        margin: auto;
        max-width: 1440px;
        .simbol{
          margin-left: 10px;
          margin-right: 10px;
        }
        .span1{
          font-weight: 600;
          color: #333
        }
        .button-add{
          position: absolute;
          right: 50px;
          background: #2492c6;
          color: #fff;
          padding: 8px 16px;
          font-weight: bold;
          border-radius: 1000px;
          font-size: .9rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;

          i{
            margin-right: 10px;
          }
        }
      }
      .buscador{
        width: 100%;
        margin: auto;
        height: 68px;
        border-bottom: 1px solid #ddd;
        max-width: 1440px;

        ion-searchbar{
          border: none !important;
          box-shadow: none !important;

          ::ng-deep{
            input{
              border: none !important;
              background: #fff !important;
              box-shadow: 0 22px 40px #b3bcc930!important;
            }
          }
        }
        
      }
      .container-admin{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        column-gap: 12px;
        max-width: 100%;
        height: 100%;
        background: #FAFAFA;
        margin: auto;
        width: 1440px;
      .cargando-container {
        text-align: center;
        margin-top: 10px;
        
        ion-row {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: center;
          -webkit-justify-content: center;
          flex-direction: row;
          -webkit-flex-direction: row;
      
          ion-spinner {
            margin-right: 20px;
          }
        }
      }
      .scroll-inner{
        background: #FAFAFA;
      }
      ion-content{
          --background: #FAFAFA;
      }
     
      
      #tokensUsersTable {
        margin: 10px;
        border-collapse: collapse;
        width: 100%;
        
        td, th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        tr:nth-child(even){background-color: #f2f2f2;}
        
        tr:hover {background-color: #ddd;}
        
        th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: center;
          background-color: var(--ion-color-primary);
          color: white;
        }

        .balance {
          text-align: center;
          color: var(--ion-color-febelink);
        }

        .edit {
            text-align: center;
            color: var(--ion-color-success);
        }

        .delete {
            text-align: center;
            color: var(--ion-color-danger);
        }

        ion-icon{
            font-size: 18px;
            cursor: pointer;
        }
        
        .reduct { max-width: 120px; }
        .obs { max-height: 50px; overflow: hidden; }
      }
      // Scrollbar Override
      .scroll-inner {
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar:horizontal {
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: transparentize(#ccc, 0.7);
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: transparentize(#ccc, 0.5);
          box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
      }
    }
  }

.servicios-content-b {
  display: table;
  width: 100%;
  padding: 40px 60px 24px 60px;
}

.servicios-content-title-b {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #111928;
}

.servicios-sections-b {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.servicios-sections-right {
  display: flex;
  width: 25%;
  margin: 14px auto 18px;
  justify-content: center;
  position: relative;
  border-radius: 9px;
  padding: 6px;
  cursor: pointer;
  margin-right: 0;

  @media (max-width: 1250px) {
    width: 32%;
  }

  @media (max-width: 960px) {
    width: 43%;
  }
  @media (max-width: 760px) {
    width: 48%;
    margin: auto;
    margin-bottom: 17px;
    margin-top: 20px;

  }
  @media (max-width: 560px) {
    width: 92%;
    margin: auto;
    margin-bottom: 17px;
    margin-top: 20px;

  }
}

.servicios-sections-button-primary {
  cursor: pointer;
  background: #1B80F8;
  border-radius: 8px;
  padding: 14px 24px;
  color: #fff;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
}
.servicios-sections-selected-b {
  color: #1b80f8;
  border-bottom: 2px solid #1B80F8;
  font-weight: bold;
  font-size: 19px;
}

.servicios-sections-cell-b {
  display: flex;
  width: 50%;
  height: 39px;
  justify-content: center;
}

.servicios-sections-cell-button {
  display: table-cell;
  vertical-align: middle;
  padding-left: 40px;
}

.servicios-content-items-b {
  display: block;
  margin: 0px 60px 60px 60px;
  width: 85%;
  max-width: 946px;
}

.td_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 25px;
    height: 25px;
    object-fit: contain;
  }
}

  .addInput{
    color: #3880ff;
    margin: auto;
    margin-right: 20px;
    height: 23px;
    font-weight: bold;
    background: none;
  }
  #inputContainer{
    width: 100%;
  }
}
