@import '../../scss/style.scss';

.sect {
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 400px;
}
ion-card {
    height: 100%;
    border-radius: 20px;
}
ion-card-header {
    padding-top: 30px;
}
ion-card-subtitle {
    line-height: 1.5;
    color: #76aadb;
}
.divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 3px;
    background-color: #000;
}
.fase_title_text {
    font-size: 60px;
    font-weight: 600;
    text-align: right;
    margin-top: 5%;
}
.fase_title_number {
    font-size: 80px;
    font-weight: 600;

    width: 80px;
    color: #FFF;
    background-color: #76aadb;
    border-radius: 25%;
    margin-left: 25%;
}
.fase_subtitle {
    text-align: justify;
    font-weight: 600;
}

.col_left {
    text-align: right;
    font-weight: 600;
    color: #000;
}
.col_right {
    text-align: justify;
    color: #000;
}