<section class="section bg-light" id="features">
  <div class="container">
    <div>
      <div class="text-center mb-5" id="content-ico">
        <h5 class="text-primary text-uppercase small-title" id="mini-titular">
          {{ 'landing.phases.title' | translate }}
        </h5>

        <ion-row class="flexed-row">
          <section class="col-lg-4 sect" *ngFor="let phase of [ 0, 1, 2 ]">
            <ion-card>
              <ion-card-header>
                <ion-grid>
                  <ion-row class="fase_title">
                    <ion-col>
                      <ion-card-title class="fase_title_text" >
                        {{ 'landing.phases.phase' | translate }}
                      </ion-card-title>
                    </ion-col>
                    <ion-col>
                      <ion-card-title class="fase_title_number" >
                        {{ 'landing.phases.card.' + phase + '.phase' | translate }}
                      </ion-card-title>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <div class="divider"></div>
                <ion-card-subtitle class="fase_subtitle">
                  {{ 'landing.phases.card.' + phase + '.date' | translate }}
                </ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col class="col_left">
                      {{ 'landing.phases.price' | translate }}
                    </ion-col>
                    <ion-col class="col_right br-ln">
                      {{ 'landing.phases.card.' + phase + '.price' | translate }}
                    </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">
                      {{ 'landing.phases.blocking' | translate }}
                    </ion-col>
                    <ion-col class="col_right">
                      {{ 'landing.phases.card.' + phase + '.blocking' | translate }}
                    </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">
                      {{ 'landing.phases.release' | translate }}
                    </ion-col>
                    <ion-col class="col_right br-ln">
                      {{ 'landing.phases.card.' + phase + '.release' | translate }}
                    </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">
                      {{ 'landing.phases.limit' | translate }}
                    </ion-col>
                    <ion-col class="col_right br-ln">
                      {{ 'landing.phases.card.' + phase + '.limit' | translate }}
                    </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">
                      {{ 'landing.phases.number' | translate }}
                    </ion-col>
                    <ion-col class="col_right">
                      {{ 'landing.phases.card.' + phase + '.number' | translate }}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </section>
        </ion-row>
      </div>
    </div>
  </div>
</section>