<section class="section bg-light" id="features">
  <div class="container">
    <div>
      <div class="text-center mb-5" id="content-ico">
        <h5 class="text-primary text-uppercase small-title" id="mini-titular">
          Inicio Venta Pública (ICO)
        </h5>

        <ion-row class="flexed-row">
          <section class="col-lg-4 sect">
            <ion-card>
              <ion-card-header>
                <ion-grid>
                  <ion-row class="fase_title">
                    <ion-col>
                      <ion-card-title class="fase_title_text" >Fase</ion-card-title>
                    </ion-col>
                    <ion-col>
                      <ion-card-title class="fase_title_number" >1</ion-card-title>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <div class="divider"></div>
                <ion-card-subtitle class="fase_subtitle">
                  Desde las 00:00 del 5 de noviembre de 2021 
                  a las 23:59 del 11 de noviembre de 2021 
                  (hora de Madrid UTC+2)
                </ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col class="col_left">Precio por token:</ion-col>
                    <ion-col class="col_right">0,10€ (-66,6% de descuento)</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Bloqueo:</ion-col>
                    <ion-col class="col_right">6 meses posteriores al cierre de la venta pública, liberación 01/06/2022</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Liberación:</ion-col>
                    <ion-col class="col_right">5 meses de forma progresiva a razón del 20% por mes</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Límites de compra:</ion-col>
                    <ion-col class="col_right">mínimo 1.000€, máximo 60.000€<br>% del total: 10%</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Nº de tokens:</ion-col>
                    <ion-col class="col_right">10 MM </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </section>

          
          <section class="col-lg-4 sect">
            <ion-card>
              <ion-card-header>
                <ion-grid>
                  <ion-row class="fase_title">
                    <ion-col>
                      <ion-card-title class="fase_title_text" >Fase</ion-card-title>
                    </ion-col>
                    <ion-col>
                      <ion-card-title class="fase_title_number" >2</ion-card-title>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <div class="divider"></div>
                <ion-card-subtitle class="fase_subtitle">
                  Desde las 00:00 del 12 de noviembre de 2021 
                  a las 23:59 del 18 de noviembre de 2021 
                  (hora de Madrid UTC+2)
                </ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col class="col_left">Precio por token:</ion-col>
                    <ion-col class="col_right">0,20€ (-33,3% de descuento) </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Bloqueo:</ion-col>
                    <ion-col class="col_right">3 meses posteriores al cierre de la venta pública, liberación 01/03/2022</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Liberación:</ion-col>
                    <ion-col class="col_right">5 meses de forma progresiva a razón del 20% por mes</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Límites de compra:</ion-col>
                    <ion-col class="col_right">mínimo 500€, máximo 30.000€<br>% del total: 10%</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Nº de tokens:</ion-col>
                    <ion-col class="col_right">10 MM</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </section>

          
          <section class="col-lg-4 sect">
            <ion-card>
              <ion-card-header>
                <ion-grid>
                  <ion-row class="fase_title">
                    <ion-col>
                      <ion-card-title class="fase_title_text" >Fase</ion-card-title>
                    </ion-col>
                    
                    <ion-col>
                      <ion-card-title class="fase_title_number" >3</ion-card-title>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <div class="divider"></div>
                <ion-card-subtitle class="fase_subtitle">
                  Desde las 00:00 del 19 de noviembre de 2021 
                  a las 23:59 del 30 de noviembre de 2021 
                  (hora de Madrid UTC+2) 
                </ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col class="col_left">Precio por token:</ion-col>
                    <ion-col class="col_right">0,30€</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Bloqueo:</ion-col>
                    <ion-col class="col_right">1 mes después del cierre de la venta pública, liberación el 01/01/2022 </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Liberación:</ion-col>
                    <ion-col class="col_right">inmediata tras el bloqueo</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Límites de compra:</ion-col>
                    <ion-col class="col_right">mínimo 100€, máximo 10.000€<br>% del total: 5% </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col class="col_left">Nº de tokens:</ion-col>
                    <ion-col class="col_right">5 MM</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </section>
        </ion-row>
      </div>
    </div>
  </div>
</section>