h1 {
    text-align: center;
}

.col-flexed {
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-col-flexed {
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marginLeft {
    margin-left: 1em;
}


.modal-back-background {
    position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(107, 114, 128, 0.7);z-index:2147483646;
}
.modal-front-title {
    font-weight: 700;font-size: 20px;line-height: 150%;color: #111928;margin-bottom:20px;
}
.modal-front-subtitle {
    font-weight: 400;font-size: 14px;line-height: 150%;color: #111928;
}
.modal-subtitle-margin-a {
    margin-bottom:38px;
}
.modal-subtitle-margin-b {
    margin-bottom:27px;
}
.modal-button-primary-filter {
    margin-bottom:8px;cursor:pointer;background: #1C64F2;border-radius: 8px;padding: 10px 20px;color:#fff;font-weight: 500;font-size: 14px;text-align: center;
}
.modal-button-secondary-filter {
    cursor:pointer;background: #fff;border: 1px solid #E5E7EB;border-radius: 8px;padding: 10px 20px;color:#1F2A37;font-weight: 500;font-size: 14px;text-align: center;
}

.modal-input-div {
    margin-bottom:20px;
}
.modal-add-name {
    font-weight: 500;font-size: 14px;line-height: 150%;color: #111928;margin-bottom:8px;
}
.modal-add-price-select {
    --background: #F9FAFB;border: 1px solid #D1D5DB;border-radius: 8px;font-weight: 400;font-size: 14px;line-height: 150%;color: #111928;display:inline-flex;height:43px;width:100%;padding-top:2px;vertical-align: middle;
}
.price-select {
    padding:12px;width:100%;--placeholder-opacity:0.52;
}
.modal-add-name-input {
    font-size:14px;font-weight:400px;line-height:125%;background: #F9FAFB;border: 1px solid #D1D5DB;border-radius: 8px;
}
.padding-input-12 {
    --padding-top: 12px;--inner-padding-top: 12px;--padding-end: 12px;--inner-padding-end: 12px;--padding-bottom: 12px;--inner-padding-bottom: 12px;--padding-start: 12px;--inner-padding-start: 12px;
}

.top-create-post {
    background: #F9FAFB;padding:16px 12px;display:table;width:100%;
}
.top-create-post-left {
    display:table-cell;vertical-align:middle;
}
.top-create-post-left-inside {
    cursor:pointer;background: #FFFFFF;border: 1px solid #D1D5DB;border-radius: 8px;padding: 12px 16px;width:100%;font-weight: 400;font-size: 14px;line-height: 125%;color: #6B7280;
}
.top-create-post-right {
    display:table-cell;vertical-align:middle;width:40px;text-align:right;
}
.top-create-post-svg {
    cursor:pointer;width:20px;position:relative;top:3px;
}

.filter-content-background {
    position:absolute;bottom:0;left:0;width:100%;height:auto;max-height:90%;overflow-y:scroll;background:#fff;border-radius:12px 12px 0px 0px;
}
.filter-content-padding {
    padding:27px 20px 46px 20px;
}
.height-lang-button {
    height:44px;
}
.margin-bottom-title {
    margin-bottom:16px;
}
.div-filter-check {
    font-weight: 400;font-size: 16px;line-height: 150%;color: #111928;padding-bottom:16px;
}
.filter-check-a {
    --background: #F9FAFB;width: 16px;height: 16px;margin-right:3px;top:2px;
}
.div-filter-check-b {
    font-weight: 400;font-size: 16px;line-height: 150%;color: #111928;padding-bottom:20px;
}
.filter-section-search {
    cursor:pointer;padding:12px;width:100%;display: table;background: #F9FAFB;border: 1px solid #D1D5DB;border-radius: 8px;height: 42px;text-align:center;
}
.filter-section-img {
    display:table-cell;vertical-align:middle;width:21px;text-align:right;
}
.filter-section-img-svg {
    width:15px;position:relative;top:3px;
}
.filter-section-search-text {
    display:table-cell;vertical-align:middle;text-align:left;padding-left:10px;font-weight: 400;font-size: 14px;line-height: 125%;color: #6B7280;
}
.filter-section-bottom {
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.08);padding:24px 36px;
}


.avatarmenu{
    width: 36px;
    height: 36px;  
  }
  
  .pos_menu{
    z-index: -1;
    display: flex;
    margin-left: -13px;
    width: 28px;
    height: 20px;
  }

  ion-header {
    text-align: center;
    background: var(--ion-color-light);
  
    ion-toolbar {
      @media (min-width: 768px) {
        margin: 0 auto;
        max-width: 1400px;
      }
    }   
  }

  ion-img{
    .logo{
        margin-left: 60% !important;
    }
  }
  
  ion-content {
    .cargando-container {
      text-align: center;
    }
  
    h1 {
      text-align: center;
    }
  
    .content-filter {
      @media (min-width: 768px) {
        margin: 40px 0px;
      }
    }
  }
  
  ion-thumbnail {
    width: 75px;
    height: 75px;
  }
  
  .terms-text {
    text-decoration: underline;
  }
  .terms-text:hover {
    cursor: pointer;
  }
  
  .content-filter-header {
    background: white;
    border-top: 1px solid #d0d0d0;
  }
  
  ion-item img {
    margin: 10% auto 10% auto;
    max-height: 60px;
  }
  
  .app-services,
  .app-whyUse,
  .downloads .section-header {
    text-align: center;
  }
  
  .app-services .section-header,
  .app-whyUse .section-header,
  .downloads .section-header,
  .section-header * {
    width: 100%;
    margin: 1.5em 0;
  }
  
  .flexed-row {
    display: flex;
    align-items: baseline;
  }
  
  .flexed-row section {
    flex: 1 1 0px;
    min-width: 15em;
  }
  
  .app-whyUse img {
    width: 5em;
  }
  
  .image-aligned {
    vertical-align: middle;
  }
  
  ion-icon {
    color: green;
  }
  
  .row-store {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
  }
  
  .col-store {
    text-align: center;
  }
  
  #google-button,
  #apple-button {
    margin-top: 1.5em;
    width: 15em;
  }
  
  #registro ion-icon {
    color: white;
  }
  
  .pad-s5 {
    padding-left: 5px; --padding-start: 5px;
  }

.logo_margen{
    float: right;
}

.header_buttons{
  padding-left: 1em;
}
  
