
<!-- <ion-header class="ion-no-border"> -->

  <ion-header>
    <ion-toolbar class="header_buttons" color="header">
      <ion-buttons buttons-start slot="start">
        <ion-menu-button>
            <ion-img class="avatarmenu"
              id="menuImg"
              [src]="
                currentUser?.logo !== null
                  ? currentUser?.logo
                  : 'https://api.febelink.com/storage/users/default.png'
              "
              (error)="onImgError($event)"
              alt="Menu profile picture">
          </ion-img>
        </ion-menu-button>  
        <ion-img class="pos_menu" src="assets/icon/icon_header_menu.png"></ion-img>
        <ion-img *ngIf="currentUser" class="ion-padding chat" size="small" src="assets/icon/svg/chat_header.svg"></ion-img>
    </ion-buttons>
    
      <!-- Header Buttoms-->
      <app-header-buttons class="logo_margen" [perfil]="curUser" currentTab="6"></app-header-buttons>
    </ion-toolbar>
    </ion-header>
   <!--
  >>>>>>> develop
    <ion-toolbar color="light">
      <ion-grid class="no-padding">
       
        <ion-row>
          <ion-col size="9">
            <ion-row
              class="box-bw-r1-lln vertical-content padding-start padding-end"
            >
              <ion-icon
                class="font-30"
                src="assets/icon/svg/search.svg"
              ></ion-icon>
              <ion-input
                  #searchBar
                  placeholder="{{ 'common.searchPlaceholder' | translate }}"
                  inputmode="text"
                  (keyup.enter)="clear2search( searchBar.value + '' )"
                  (ionChange)="clear2search( searchBar.value + '' )"
                  (ionClear)="clear2search( searchBar.value + '' )"
                  debounce="500"
                  [value]="searchTx"
              ></ion-input>
            </ion-row>
          </ion-col>
  
          <ion-col size="3">
            <ion-button
              icon-only
              color="transparent"
              class="no-padding no-shadow"
              (click)="showFilters = !showFilters">
              <ion-icon
                class="font-30"
                src="assets/icon/svg/filter.svg"
              ></ion-icon>
            </ion-button>
  
            <ion-button
              icon-only
              color="primary"
              class="no-shadow no-padding wh-35 br-rad-30"
              (click)="createPost()">
              <ion-icon class="font-30" src="assets/icon/svg/add.svg"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
  <<<<<<< feature/oraculo
  
        
  =======
  -->
  <!--
        <ion-row [style]="showFilters ? '' : 'display: none;'">
          <ion-col
            size="3"
            size-md="3"
            class="col-flexed margin-left no-padding center-v">
            <ion-label> {{ 'common.labelTopic' | translate }} </ion-label>
            <ionic-selectable
              class="marginLeft"
              #topic
              item-content
              [(ngModel)]="topicSelected"
              itemValueField="id"
              itemTextField="name"
              [items]="topics"
              (onChange)="clear2search( topic.value )"
            >
            </ionic-selectable>
          </ion-col>
  
          <ion-col size="3" size-sm="3" class="no-padding center-v">
            <ion-row class="pad-s20 pad-e20">
              <ion-col
                size="6"
                class="no-margin no-padding center-v"
                (click)="lang.selectLang( $event )">
                {{ 'common.labelLang' | translate }}
              </ion-col>
              <ion-col size="6" class="no-margin no-padding tx-end">
                <app-lang-btn
                    #lang
                    [changeAppLang]="false"
                    [initNull]="true"
                    (onLangSelected)="clear2search( searchBar.value )"
                ></app-lang-btn>
              </ion-col>
            </ion-row>
          </ion-col>
  
          <ion-col size="3" class="no-padding center-v">
            <ion-row class="marg-tb-5 pad-s20 pad-e">
              <ion-checkbox
                  #chkMyPosts
                  size="12"
                  size-sm="3"
                  class="no-padding"
                  [(ngModel)]="myPosts"
                  (ionChange)="clear2search()"
              ></ion-checkbox>
              <ion-label
                class="center-v pointer marg-s"
                (click)="chkMyPosts.checked = !chkMyPosts.checked">
                {{ 'pages.posts.advises.my-posts' | translate }}
              </ion-label>
            </ion-row>
          </ion-col>
  
         
          <ion-col
            size="3"
            size-md="3"
            class="no-padding center-v"
            *ngIf="!myPosts"
          >
            <app-user-item
                #user
                classImg="wh-30"
                (onUserClick)="userClicked()"
            ></app-user-item>
          </ion-col>
        </ion-row>
      
  >>>>>>> develop
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  -->
  
  <!--
  <ion-header>
    <ion-toolbar class="header_buttons" color="header">
      <ion-buttons buttons-start slot="start">
        <ion-menu-button class="desktop_menu_avatar">
            <ion-img class="avatarmenu"
              id="menuImg"
              [src]="
                currentUser?.logo !== null
                  ? currentUser?.logo
                  : 'https://api.febelink.com/storage/users/default.png'
              "
              (error)="onImgError($event)"
              alt="Menu profile picture">
          </ion-img>
        </ion-menu-button>  
        <ion-img *ngIf="curUser" class="pos_menu" src="assets/icon/icon_header_menu.png"></ion-img>
        <ion-img *ngIf="curUser" class="mobile menu_header" src="assets/icon/svg/chat_header.svg"></ion-img>
      </ion-buttons>  
      <app-header-buttons class="buttons_flex" [perfil]="curUser" currentTab="6"></app-header-buttons>
      <ion-buttons buttons-start slot="end">
        <ion-img style="margin-left:5em;"
        tappable 
        src="assets/imgs/logo.png" 
        alt="Febelink logo" 
        (click)="irA('/' + homePage)"
        class="ion-margin logo desktop"></ion-img> 
      </ion-buttons>
    </ion-toolbar>
  <!--
    <ion-toolbar color="light">
      <ion-grid class="no-padding">
       
        <ion-row>
          <ion-col size="9">
            <ion-row
              class="box-bw-r1-lln vertical-content padding-start padding-end"
            >
              <ion-icon
                class="font-30"
                src="assets/icon/svg/search.svg"
              ></ion-icon>
              <ion-input
                  #searchBar
                  placeholder="{{ 'common.searchPlaceholder' | translate }}"
                  inputmode="text"
                  (keyup.enter)="clear2search( searchBar.value + '' )"
                  (ionChange)="clear2search( searchBar.value + '' )"
                  (ionClear)="clear2search( searchBar.value + '' )"
                  debounce="500"
                  [value]="searchTx"
              ></ion-input>
            </ion-row>
          </ion-col>
          <ion-col size="3">
            <ion-button
              icon-only
              color="transparent"
              class="no-padding no-shadow"
              (click)="showFilters = !showFilters">
              <ion-icon
                class="font-30"
                src="assets/icon/svg/filter.svg"
              ></ion-icon>
            </ion-button>
            <ion-button
              icon-only
              color="primary"
              class="no-shadow no-padding wh-35 br-rad-30"
              (click)="createPost()">
              <ion-icon class="font-30" src="assets/icon/svg/add.svg"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row [style]="showFilters ? '' : 'display: none;'">
          <ion-col
            size="3"
            size-md="3"
            class="col-flexed margin-left no-padding center-v">
            <ion-label> {{ 'common.labelTopic' | translate }} </ion-label>
            <ionic-selectable
              class="marginLeft"
              #topic
              item-content
              [(ngModel)]="topicSelected"
              itemValueField="id"
              itemTextField="name"
              [items]="topics"
              (onChange)="clear2search( topic.value )">
            </ionic-selectable>
          </ion-col>
  
          <ion-col size="3" size-sm="3" class="no-padding center-v">
            <ion-row class="pad-s20 pad-e20">
              <ion-col
                size="6"
                class="no-margin no-padding center-v"
                (click)="lang.selectLang( $event )">
                {{ 'common.labelLang' | translate }}
              </ion-col>
              <ion-col size="6" class="no-margin no-padding tx-end">
                <app-lang-btn
                    #lang
                    [changeAppLang]="false"
                    [initNull]="true"
                    (onLangSelected)="clear2search( searchBar.value )"
                ></app-lang-btn>
              </ion-col>
            </ion-row>
          </ion-col>
  
          <ion-col size="3" class="no-padding center-v">
            <ion-row class="marg-tb-5 pad-s20 pad-e">
              <ion-checkbox
                  #chkMyPosts
                  size="12"
                  size-sm="3"
                  class="no-padding"
                  [(ngModel)]="myPosts"
                  (ionChange)="clear2search()"
              ></ion-checkbox>
              <ion-label
                class="center-v pointer marg-s"
                (click)="chkMyPosts.checked = !chkMyPosts.checked">
                {{ 'pages.posts.advises.my-posts' | translate }}
              </ion-label>
            </ion-row>
          </ion-col>
  
          <ion-col
            size="3"
            size-md="3"
            class="no-padding center-v"
            *ngIf="!myPosts">
            <app-user-item
                #user
                classImg="wh-30"
                (onUserClick)="userClicked()"
            ></app-user-item>
          </ion-col>
        </ion-row>
      
      </ion-grid>
  
    </ion-toolbar>

  </ion-header>-->
  
  <div class="mobile">
    <div class="top-create-post">
      <div class="top-create-post-left">
        <div (click)="createPost()" class="top-create-post-left-inside">
          Comparte tus noticias y comentarios
        </div>
      </div>
      <div class="top-create-post-right">
        <img src="assets/icon/svg/filter-post.svg" (click)="showFilters = !showFilters" class="top-create-post-svg" />
      </div>
    </div>
  </div>
  <!--
  <ion-content class="padding-top pad-se">
    <!-- <h1>¡Bienvenido a la comunidad de Febelink!</h1>-->
  
    <!-- Loading
    <app-loading
      [isLoading]="isLoading"
      clase="marg-t10"
      message="common.labelSearching"
    ></app-loading>
  
    <ion-refresher
      slot="fixed"
      (ionRefresh)="clear2search( searchBar.value + '', $event )"
    >
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  -->
  
    <div *ngIf="!adviseSvc.showCreatePost" class="desktop">
      <div class="top-create-post-b">
        <div class="top-create-post-left">
          <div (click)="adviseSvc.showCreatePost = !adviseSvc.showCreatePost" class="top-create-post-left-inside">
            Comparte tus noticias y comentarios
          </div>
        </div>
        <div class="top-create-post-right-b">
          <div class="create-post-button-secondary" (click)="showFilters = !showFilters">
            Filtros <img src="assets/icon/svg/filter-blue.svg" class="create-post-svg-b" />
          </div>
          <div class="create-post-button-primary" (click)="adviseSvc.showCreatePost = !adviseSvc.showCreatePost">
            Nueva entrada
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="adviseSvc.showCreatePost" class="width-100">
      <app-post-advise-crud></app-post-advise-crud>
    </div>
    
    <ion-content class="padding-top pad-se background-content-desktop">
      <!-- <h1>¡Bienvenido a la comunidad de Febelink!</h1> -->
    
      <!-- Loading -->
      <app-loading
        [isLoading]="isLoading"
        clase="marg-t10"
        message="common.labelSearching"
      ></app-loading>
    
      <ion-refresher
        slot="fixed"
        (ionRefresh)="clear2search( searchBar.value + '', $event )"
      >
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    
      <!-- Posts -->
      <app-post-component
        *ngFor="let advise of iAdvises"
        [id]="advise.id"
        [iAdvise]="advise"
        [showLang]="true"
        [showSeePost]="true"
      ></app-post-component>
    
      <ion-infinite-scroll threshold="100px" (ionInfinite)="triggerInfiniteSearch($event)">
        <ion-infinite-scroll-content
          loadingSpinner="lines-small"
          loadingText="Cargando más elementos...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    
    
      <!-- No Items -->
      <ion-item lines="none" color="transparent" *ngIf="finishedSearch">
        <ion-label
          class="marg-b30 tx-center hint pointer"
          (click)="createPost()"
          [innerHTML]="'pages.posts.advises.error.no-items' + ( !hasFilters() ? '' : '-filters' ) | translate"
        ></ion-label>
      </ion-item>
    </ion-content>
    
    <div *ngIf="showFilters" class="mobile modal-back-background">
      <div class="filter-content-background">
        <div class="filter-content-padding">
          <div class="modal-front-title">
            Filtros
          </div>
          <div class="modal-add-name">
            Término
          </div>
          <div class="modal-input-div">
            <ion-input type="text" placeholder="Término" class="padding-input-12 term-input"></ion-input>
          </div>
          <div class="modal-add-name">
            {{ 'common.labelTopic' | translate }}
          </div>
          <div class="modal-input-div">
            <ion-item class="no-padding modal-add-price-select">
                <ionic-selectable class="price-select" placeholder="Tema"
                #topic
                item-content
                [(ngModel)]="topicSelected"
                itemValueField="id"
                itemTextField="name"
                [items]="topics"
              >
              </ionic-selectable>
            </ion-item>
          </div>
          <div class="modal-add-name">
            {{ 'common.labelLang' | translate }}
          </div>
          <div class="modal-input-div height-lang-button">
            <app-lang-btn
                  #lang
                  [changeAppLang]="false"
                  [initNull]="true"
                  [short]="false"
              ></app-lang-btn>
          </div>
          <div class="modal-add-name margin-bottom-title">
            Entradas del oráculo
          </div>
          <div class="div-filter-check">
            <ion-checkbox class="no-padding filter-check-a"
                size="12"
                size-sm="3"
                [(ngModel)]="!myPosts" (ngModelChange)="myPosts = !$event"
            ></ion-checkbox>
              Todas
          </div>
          <div class="div-filter-check-b">
            <ion-checkbox class="no-padding filter-check-a"
                #chkMyPosts
                size="12"
                size-sm="3"
                [(ngModel)]="myPosts"
            ></ion-checkbox>
              Solo mis post
          </div>
          
          <div *ngIf="!myPosts" class="modal-add-name margin-bottom-title">
            Búsqueda por usuario
          </div>
    
          <div *ngIf="!myPosts" class="filter-section-search" (click)="userClicked()">
            <div class="filter-section-img">
              <img src="assets/icon/svg/search-user.svg" class="filter-section-img-svg" />
            </div>
            <div *ngIf="!userNickSearch" class="filter-section-search-text">
              Buscar usuario
            </div>
            <div *ngIf="userNickSearch" class="filter-section-search-text">
              {{userNickSearch}}
            </div>
          </div>
        </div>
        
        <div class="filter-section-bottom">
          <div class="modal-button-primary-filter" (click)="clear2search();showFilters = !showFilters">
            Aplicar
          </div>
          <div class="modal-button-secondary-filter" (click)="showFilters = !showFilters">
            Cancelar
          </div>
        </div>
      </div>
    </div>
  
  
  <div class="desktop modal-filter-floating" *ngIf="showFilters">
        <div>
          <div class="modal-front-title">
            Filtros
          </div>
          <div class="modal-add-name">
            Término
          </div>
          <div class="modal-input-div">
            <ion-input type="text" placeholder="Término" class="padding-input-12 term-input"></ion-input>
          </div>
          <div class="modal-add-name">
            {{ 'common.labelTopic' | translate }}
          </div>
          <div class="modal-input-div">
            <ion-item class="no-padding modal-add-price-select">
                <ionic-selectable class="price-select" placeholder="Tema"
                #topic
                item-content
                [(ngModel)]="topicSelected"
                itemValueField="id"
                itemTextField="name"
                [items]="topics"
              >
              </ionic-selectable>
            </ion-item>
          </div>
          <div class="modal-add-name">
            {{ 'common.labelLang' | translate }}
          </div>
          <div class="modal-input-div height-lang-button">
            <app-lang-btn
                  #lang
                  [changeAppLang]="false"
                  [initNull]="true"
                  [short]="false"
              ></app-lang-btn>
          </div>
          <div class="modal-add-name margin-bottom-title">
            Entradas del oráculo
          </div>
          <div class="div-filter-check">
            <ion-checkbox class="no-padding filter-check-a"
                size="12"
                size-sm="3"
                [(ngModel)]="!myPosts" (ngModelChange)="myPosts = !$event"
            ></ion-checkbox>
              Todas
          </div>
          <div class="div-filter-check-b">
            <ion-checkbox class="no-padding filter-check-a"
                #chkMyPosts
                size="12"
                size-sm="3"
                [(ngModel)]="myPosts"
            ></ion-checkbox>
              Solo mis post
          </div>
          
          <div *ngIf="!myPosts" class="modal-add-name margin-bottom-title">
            Búsqueda por usuario
          </div>
    
          <div *ngIf="!myPosts" class="filter-section-search" (click)="userClicked()">
            <div class="filter-section-img">
              <img src="assets/icon/svg/search-user.svg" class="filter-section-img-svg" />
            </div>
            <div *ngIf="!userNickSearch" class="filter-section-search-text">
              Buscar usuario
            </div>
            <div *ngIf="userNickSearch" class="filter-section-search-text">
              {{userNickSearch}}
            </div>
          </div>
        </div>
        
        <div class="bottom-buttons-b">
          <div class="bottom-buttons-left">
            <div class="modal-button-primary-filter-b" (click)="clear2search();showFilters = !showFilters">
              Aplicar
            </div>
          </div>
          <div class="bottom-buttons-right">
            <div class="modal-button-secondary-filter-b" (click)="showFilters = !showFilters">
              Cancelar
            </div>
          </div>
        </div>
  </div>
<!--
  <app-footer></app-footer>
  -->