<!-- <ion-header class="ion-no-border"> -->
<ion-header>
  <ion-toolbar color="light">
    <!-- Hamburger Button -->
    <ion-buttons buttons-start slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Header Buttoms -->
    <app-header-buttons [perfil]="curUser" currentTab="6"></app-header-buttons>
  </ion-toolbar>

  <ion-toolbar color="light">
    <ion-grid class="no-padding">
      <ion-row>
        <ion-col size="9">
          <ion-row
            class="box-bw-r1-lln vertical-content padding-start padding-end"
          >
            <ion-icon
              class="font-30"
              src="assets/icon/svg/search.svg"
            ></ion-icon>
            <ion-input
              #searchBar
              placeholder="{{ 'common.searchPlaceholder' | translate }}"
              inputmode="text"
              (keyup.enter)="clear2search( searchBar.value + '' )"
              (ionChange)="clear2search( searchBar.value + '' )"
              (ionClear)="clear2search( searchBar.value + '' )"
              debounce="500"
              [value]="searchTx"
            ></ion-input>
          </ion-row>
        </ion-col>

        <ion-col size="3">
          <!-- Icon - Filter -->
          <ion-button
            icon-only
            color="transparent"
            class="no-padding no-shadow"
            (click)="showFilters = !showFilters"
          >
            <ion-icon
              class="font-30"
              src="assets/icon/svg/filter.svg"
            ></ion-icon>
          </ion-button>

          <!-- Icon - Add -->
          <ion-button
            icon-only
            color="primary"
            class="no-shadow no-padding wh-35 br-rad-30"
            (click)="createPost()"
          >
            <ion-icon class="font-30" src="assets/icon/svg/add.svg"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Filters -->
      <ion-row [style]="showFilters ? '' : 'display: none;'">
        <!-- Topic -->
        <ion-col
          size="3"
          size-md="3"
          class="col-flexed margin-left no-padding center-v"
        >
          <ion-label> {{ 'common.labelTopic' | translate }} </ion-label>
          <ionic-selectable
            class="marginLeft"
            #topic
            item-content
            [(ngModel)]="topicSelected"
            itemValueField="id"
            itemTextField="name"
            [items]="topics"
            (onChange)="clear2search( topic.value )"
          >
          </ionic-selectable>
        </ion-col>

        <!-- Language -->
        <ion-col size="3" size-sm="3" class="no-padding center-v">
          <ion-row class="pad-s20 pad-e20">
            <ion-col
              size="6"
              class="no-margin no-padding center-v"
              (click)="lang.selectLang( $event )"
            >
              {{ 'common.labelLang' | translate }}
            </ion-col>
            <ion-col size="6" class="no-margin no-padding tx-end">
              <app-lang-btn
                #lang
                [changeAppLang]="false"
                [initNull]="true"
                (onLangSelected)="clear2search( searchBar.value )"
              ></app-lang-btn>
            </ion-col>
          </ion-row>
        </ion-col>

        <!-- My Posts -->
        <ion-col size="3" class="no-padding center-v">
          <ion-row class="marg-tb-5 pad-s20 pad-e">
            <ion-checkbox
              #chkMyPosts
              size="12"
              size-sm="3"
              class="no-padding"
              [(ngModel)]="myPosts"
              (ionChange)="clear2search()"
            ></ion-checkbox>
            <ion-label
              class="center-v pointer marg-s"
              (click)="chkMyPosts.checked = !chkMyPosts.checked"
            >
              {{ 'pages.posts.advises.my-posts' | translate }}
            </ion-label>
          </ion-row>
        </ion-col>

        <!-- User -->
        <ion-col
          size="3"
          size-md="3"
          class="no-padding center-v"
          *ngIf="!myPosts"
        >
          <app-user-item
            #user
            classImg="wh-30"
            (onUserClick)="userClicked()"
          ></app-user-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="padding-top pad-se">
  <!-- Loading -->
  <app-loading
    [isLoading]="isLoading"
    clase="marg-t10"
    message="common.labelSearching"
  ></app-loading>

  <ion-refresher
    slot="fixed"
    (ionRefresh)="clear2search( searchBar.value + '', $event )"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <!-- Posts -->
    <app-post-component
      *ngFor="let advise of iAdvises"
      [id]="advise.id"
      [iAdvise]="advise"
      [showLang]="true"
      [showSeePost]="true"
    ></app-post-component>
    <div class="center-col-flexed">
      <ion-button
        color="success"
        class="col-flexed center-col-flexed"
        (click)="search()"
      >
        Cargar más elementos
      </ion-button>
    </div>
  </ion-list>

  <!-- No Items -->
  <ion-item lines="none" color="transparent" *ngIf="finishedSearch">
    <ion-label
      class="marg-b30 tx-center hint pointer"
      (click)="createPost()"
      [innerHTML]="'pages.posts.advises.error.no-items' + ( !hasFilters() ? '' : '-filters' ) | translate"
    ></ion-label>
  </ion-item>
</ion-content>
