ion-content {
  --background: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  .cover-content {
    z-index: 99 !important;
    position: relative;
    background-color: white;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid #dadce0;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    @media (min-width: 768px) {
      max-width: 450px;
      margin: 5% auto 0px;
    }
    ion-item {
      margin: 1.5em;
    }
    ion-button {
      width: 100%;
      margin-top: 10px;
    }
    .input {
      margin-left: 0;
      padding-left: 0;
      font-size: 12px;
    }
    .title {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
    .subtitle {
      margin-top: 5px;
      font-size: 10px;
      opacity: 0.8;
    }
    .rgs-title {
      text-align: center;
      line-height: 24px;
      font-size: 12px;
      opacity: 0.7;
    }
    .terminos {
      padding-left: 0 !important;
      font-size: 14px;
      ion-label {
        padding-left: 0 !important;
      }
      ion-checkbox {
        margin: 5px !important;
      }
    }
    .box-terms {
      margin: 5px 5px;
      margin-bottom: 15px;
    }
    .link-terms {
      text-decoration: underline;
      color: #55abdd;
      cursor: pointer;
    }
  }
}
