<ion-content>
  <div class="cover-content">
    <div class="logo">
      <img src="assets/imgs/logo.png" alt="logo" />
      <app-lang-btn></app-lang-btn>
    </div>

    <div class="slogan">{{ 'common.slogan' | translate }}</div>
    <p class="title">{{ 'pages.registro.title' | translate }}</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <ion-item class="input ion-no-padding">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input
          clearInput
          type="text"
          formControlName="name"
          placeholder="{{ 'common.personal.accountname' | translate }}"
          required
        >
        </ion-input>
      </ion-item>
      <!-- <ion-item class="input ion-no-padding">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>

        <ion-select clearInput placeholder="Sector" formControlName="sector">
          <ion-select-option
            [value]="sector?.id"
            *ngFor="let sector of sectores"
            >{{sector?.nombre}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item class="input ion-no-padding" *ngIf="subsectores?.length>0">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>

        <ion-select
          clearInput
          placeholder="Subsector"
          formControlName="sub_sector"
        >
          <ion-select-option
            *ngFor="let subsector of subsectores"
            [value]="subsector?.id"
            >{{subsector?.nombre}}</ion-select-option
          >
        </ion-select>
      </ion-item> -->
      <ion-item class="input ion-no-padding">
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input
          clearInput
          type="email"
          formControlName="email"
          placeholder="{{ 'common.labelEmail' | translate }}"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="input ion-no-padding">
        <ion-label>
          <ion-icon name="lock-closed"></ion-icon>
        </ion-label>
        <ion-icon
          slot="end"
          (click)="hideShowPassword()"
          [name]="passwordIcon"
          class="passwordIcon"
        ></ion-icon>
        <ion-input
          clearInput
          [type]="passwordType"
          formControlName="password"
          placeholder="{{ 'common.personal.pass' | translate }}"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item class="input ion-no-padding">
        <ion-label>
          <ion-icon name="lock-closed"></ion-icon>
        </ion-label>
        <ion-icon
          slot="end"
          (click)="hideShowPassword2()"
          [name]="passwordIcon2"
          class="passwordIcon"
        ></ion-icon>
        <ion-input
          clearInput
          [type]="passwordType2"
          formControlName="confirmPassword"
          placeholder="{{ 'pages.registro.confirmPass' | translate }}"
          required
        ></ion-input>
      </ion-item>

      <span class="privacyConditions">
        <ion-checkbox
          slot="start"
          formControlName="privacyConditions"
        ></ion-checkbox>
        {{ 'pages.registro.cond1' | translate }}
        <a (click)="openPrivacyPolicy()">{{ 'pages.registro.cond2' | translate }}</a>
          <br>
        {{ 'pages.registro.cond3' | translate }}
        <a (click)="openUseConditions()">{{ 'pages.registro.cond4' | translate }}</a>
      </span>

      <ion-button expand="full" type="submit" ion-button color="febelink">
        {{ 'pages.registro.button' | translate }}
      </ion-button>
      
      <ion-button expand="full" color="febelink" (click)="login()">
        {{ 'pages.login.button' | translate }}
      </ion-button>
      
      <social-login firstLogin="true" [redirect]="redirect"></social-login>
    </form>
  </div>
  <div class="cover-overlay">
    <a href="mailto:info@febelink.com">{{ 'common.contactUs' | translate }}</a>
  </div>
</ion-content>
