<ion-content>
  <div class="cover-content">
    <img src="assets/imgs/logo.png" alt="logo" />
    <p class="title">Crear una nueva cuenta</p>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <ion-item class="input ion-no-padding">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input
          clearInput
          type="text"
          formControlName="name"
          placeholder="Nombre de usuario"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item class="input ion-no-padding">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>

        <ion-select clearInput placeholder="Sector" formControlName="sector">
          <ion-select-option
            [value]="sector?.id"
            *ngFor="let sector of sectores"
            >{{sector?.nombre}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item class="input ion-no-padding" *ngIf="subsectores?.length>0">
        <ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-label>

        <ion-select
          clearInput
          placeholder="Subsector"
          formControlName="sub_sector"
        >
          <ion-select-option
            *ngFor="let subsector of subsectores"
            [value]="subsector?.id"
            >{{subsector?.nombre}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item class="input ion-no-padding">
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input
          clearInput
          type="email"
          formControlName="email"
          placeholder="Email"
          required
        ></ion-input>
      </ion-item>
      <ion-item class="input ion-no-padding">
        <ion-label>
          <ion-icon name="lock-closed"></ion-icon>
        </ion-label>
        <ion-icon
          slot="end"
          (click)="hideShowPassword()"
          [name]="passwordIcon"
          class="passwordIcon"
        ></ion-icon>
        <ion-input
          clearInput
          [type]="passwordType"
          formControlName="password"
          placeholder="Contraseña"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item class="input ion-no-padding">
        <ion-label>
          <ion-icon name="lock-closed"></ion-icon>
        </ion-label>
        <ion-icon
          slot="end"
          (click)="hideShowPassword2()"
          [name]="passwordIcon2"
          class="passwordIcon"
        ></ion-icon>
        <ion-input
          clearInput
          [type]="passwordType2"
          formControlName="confirmPassword"
          placeholder="Confirmar contraseña"
          required
        ></ion-input>
      </ion-item>

      <span class="terms-conditions">
        <ion-checkbox slot="start" formControlName="terminos"> </ion-checkbox>
        He leído, y acepto los
        <a (click)="openTerms()">terminos y condiciones</a>
      </span>
     
      <span class="privacy-policy">
        <ion-checkbox slot="start" formControlName="privacy"></ion-checkbox>
        He leído, y acepto la
        <a (click)="openPrivacyPolicy()">política de privacidad</a>
      </span>
    
      <span class="legal-disclaimer">
        <ion-checkbox slot="start" formControlName="disclaimer"></ion-checkbox>
        He leído, y acepto el
        <a (click)="openLegalDisclaimer()">aviso legal</a>
      </span>
      
      <span class="use-conditions">
        <ion-checkbox slot="start" formControlName="conditions"></ion-checkbox>
        He leído, y acepto las
        <a (click)="openUseConditions()">condiciones generales de uso</a>
      </span>
     
      <span class="cookie-policy">
        <ion-checkbox slot="start" formControlName="cookies"></ion-checkbox>
        He leído, y acepto la
        <a (click)="openCookiePolicy()">política de cookies</a>
      </span>

      <ion-button expand="full" type="submit" ion-button color="febelink"
        >REGISTRARSE</ion-button
      >
      <social-login firstLogin="true"></social-login>
    </form>
  </div>
  <div class="cover-overlay">
    <a href="mailto:info@febelink.com">Contacta con Febelink</a>
  </div>
</ion-content>
