
.background-content {
  @media (max-width: 768px) {
    --background: #F9FAFB;
  }
  @media (min-width: 768px) {
    --background: #F7F7F5;
  }
}

.super{

  text-align: center;
  color: #45a967;
  font-weight: bold;

}
.div-main-back-button {
  padding: 16px 14px 20px 14px;
  width: 100%;
}

.breadcrumbs-text {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #374151;
}

.breadcrumbs-home-svg {
  width: 16px;
  margin-right: 18px;
  position: relative;
  top: 2px;
}

.breadcrumbs-next-svg {
  width: 6px;
  margin: 0px 23px;
}


.modal-add-price-select {
  --background: #fff;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #111928;
  display: inline-flex;
  height: 43px;
  width: 100%;
  padding-top: 2px;
  vertical-align: middle;
}

.price-select {
  padding: 12px;
  width: 100%;
  --placeholder-opacity: 0.52;
}

.title-suscription {
  padding: 0px 12px;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #111928;

  @media only screen and (max-width: 780px) {
    width: 97%;
    margin: auto;
  }
}

.wrapper-content {
  padding: 0px 12px 8px 12px;
  width: 100%;
}

.border-wrapper {
  border: 1px solid #1C64F2;
}

.box-suscription {
  padding: 16px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: #0000001a 0 12px 48px;
  background: rgb(255,255,255);
  margin-bottom: 22px;
}

.box-title {
  padding-bottom: 18px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #6B7280;
}

.box-title-b {
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #6B7280;
}

.box-price-a {
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  color: #111928;
}

.box-price-a-big {
  font-weight: 800;
  font-size: 48px;
}

.box-price-a-med {
  font-weight: 800;
  font-size: 36px;
}

.table-options {
  display: table;
  width: 100%;
  padding-bottom: 26px;
}

.table-cell-left {
  display: table-cell;
  vertical-align: top;
  width: 16px;
}

.table-cell-img {
  width: 16px;
}

.table-cell-right {
  display: table-cell;
  vertical-align: top;
  padding-left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #374151;
}

.box-button {
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #1C64F2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #1C64F2;

  &.disabled {
    // background: #E5E7EB;
    border: 1px solid #E5E7EB;
    color: #9CA3AF;
  }
}

.box-price-b {
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #111928;
}

.box-price-b-big {
  font-weight: 700;
  font-size: 30px;
}

.table-options-b {
  display: table;
  width: 100%;
  padding-bottom: 12px;
}

.box-quantity {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111928;
}

.padding-select {
  padding-bottom: 6px;
}

.box-button-primary {
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  background: #1C64F2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}

.box-offer {
  margin-bottom: 14px;
  width: 92px;
  height: 32px;
  background: #91F3B2;
  border-radius: 6px;
  padding: 2px 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #1E429F;
}

.box-offer-custom {
  margin-bottom: 14px;
  background: #91F3B2;
  border-radius: 6px;
  padding: 2px 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #1E429F;
}

.table-offer {
  padding-bottom: 16px;
  display: table;
}

.table-offer-left {
  padding-right: 6px;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #111928;
}

.table-offer-right {
  display: table-cell;
  vertical-align: middle;
  width: 164px;
  height: 32px;
  background: #91F3B2;
  border-radius: 6px;
  padding: 2px 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #1E429F;
}

.text-cross-line {
  text-decoration: line-through;
}

.div-main-back-button-b {
  padding: 45px 60px 34px 60px;
  width: 100%;

  @media only screen and (max-width: 780px) {
    width: 97%;
    margin: auto;
  }
}

.breadcrumbs-text-b {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #9CA3AF;
}

.breadcrumbs-next-svg-b {
  width: 6px;
  margin: 0px 15px;
}

.breadcrumbs-color-blue {
  color: #1B80F8;
}

.title-suscription {
  padding: 0px 12px;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #111928;
}

.title-suscription-b {
  padding: 0px 60px;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #111928;
}


.border-wrapper-b {
  border: 3px solid #1B80F8;
}

.box-same-height {
  width: 370px;
  height: 428px;
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 40px;
  vertical-align: middle;
  position: relative;
}
.box-height2 {
  height: 264px;
}
.position-bottom {
  position: absolute;
  bottom: 16px;
  left: 0px;
  width: 100%;
  padding: 0px 16px;
}
:host{
  z-index: 101;
  width: 100%;
  position: relative;
  display: block;
  background: #fcfffe;
  contain: unset;
  height: 100%;

  
  .container-general{
      width: 100%;
      height: -moz-fit-content;
      height: 100%;
      position: relative;
      /* display: flex; */
      /* padding: 38px 27px; */
      /* max-width: 1500px; */
      margin: auto;
      position: absolute;
      overflow: auto;

      .layer-gradient{
          height: 300px;
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 50px;
          background:linear-gradient(to top,rgb(255,255,255),rgb(208,230,255));
         
      }
     /* Media query for screens with a maximum width of 600px */
      @media only screen and (max-width: 780px) {
          padding-bottom: 117px
      }
   


      .container-detail-search{
          width: 100%;
          height: fit-content;
          position: relative;
          display: flex;
          padding: 38px 27px;
          max-width: 1485px;
          margin: auto;
          margin-top: -150px;
          margin-bottom: 100px;

          /* Media query for screens with a maximum width of 600px */
          @media only screen and (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            padding: 38px 54px 0;
            /* Styles for screens with a width up to 600px */
          }
          @media only screen and (max-width: 780px) {
            padding: 0px 0px 0;
    
          }
        
      }
  }
}
.wfull{
  width: 100%;
  margin-top: -86px;
}