<ion-header [translucent]="true">
  <ion-toolbar color="transparent">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-segment
            value="market"
            color="transparent"
            mode="ios"
            [(ngModel)]="segment"
            (ionChange)="segmentChanged( $event )"
          >
            <!-- Segment Based on OffersType -->
            <ion-segment-button [value]="offers.type" *ngFor="let offers of offersList">
              <ion-label [class]="segment != offers.type ? '' : 'bold-6'">
                {{ 'pages.wallet.offers.' + offers.type | translate }}
              </ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>

        <ion-col size="4" class="vertical-content align-end">
          <!-- Order List ASC | DESC -->
          <ion-img
            class="btn-ic margin-end"
            src="assets/icon/febicon.png"
            (click)="order()"
          ></ion-img>

          <!-- Filter By Selling ASSET -->
          <ion-img
            class="btn-ic margin-end"
            src="assets/icon/febicon.png"
            (click)="selectAsset()"
          ></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </ion-toolbar>
</ion-header>


<ng-container *ngFor="let offers of offersList">
  <ng-container *ngIf="offers.type == segment">
    <!-- Loading -->
    <app-loading [isLoading]="offers.isLoading" message="common.labelLoading"></app-loading>

    <ng-container *ngIf="!offers.isLoading">
      <ion-content>
        <!-- Offers -->
        <ion-grid *ngIf="segment == offers.type">
          <ion-col size="6" size-sm="12">
            <app-offers
              class="pad-5"
              *ngFor="let offer of offers"
              [offer]="offer"
              [isSelling]="false"
            ></app-offers>
          </ion-col>
        </ion-grid>
      </ion-content>

      <ion-footer no-border>
        <!-- Pagination -->
        <!-- <app-pagination
          *ngIf="qPages > 1"
          [qPages]="qPages"
          [totalRecords]="totalRecords"
          [recordsPerPage]="recordsPerPage"
          [activePage]="activePage"
          [disabled]="isLoading"
          (onPageChange)="displayActivePage( $event )"
        >
        </app-pagination> -->
      </ion-footer>
    </ng-container>
  </ng-container>
</ng-container>