<!-- HEADER  -->
<div id="search-content" class="search-content layer-home ">
  <div class="layer-img-header">
    <div class="header-shadow"></div>
     <img 
      class="wallpaper-header" 
      [src]="urlWsrv + baseWeb + 'assets/imgs/buscador_fondo_desktop.png&w=1200&output=webp'"
      alt="Febelink en portada" 
      priority
      placeholder
    />
    <div class="eslogan section1">
      <h1 class="title1">Encuentra servicios profesionales en tu ciudad</h1>
    </div>

    <!-- Search input -->
    <div class="w-full max-w-[800px] mx-auto px-6">
      <!-- Mobile selections -->
      @if ( currentSubSectorSelection.length ) {
      <div #selection class="selections relative flex-wrap scrollbar-hide shrink-0 w-full flex items-center gap-2 mt-3 -mb-3 sm:hidden z-10">
        @for ( sector of currentSubSectorSelection; track sector.id ) {
        <span 
          class="selection w-fit h-fit inline-flex items-center rounded-full bg-[#e8f8ff] px-2 py-1 whitespace-nowrap font-medium text-primary ring-1 ring-inset ring-primary cursor-pointer"
          (click)="checkSubsector(sector)"
        >
          {{ sector.nombre }}
          <lucide-icon 
            name="X"
            class="stroke-primary ml-0.5" 
            [strokeWidth]="2"
            [size]="18"
          />
        </span>
        }
      </div>
      }

      <div class="relative w-full flex flex-row rounded-[6px] border bg-white mt-6 mb-3 z-10" (clickOutside)="closeDropdown()">
        <div class="icon px-4 flex items-center shrink-0">
          <lucide-icon 
            name="search"
            class="stroke-primary" 
            [strokeWidth]="2"
          />
        </div>

        <div class="w-full flex gap-3 overflow-hidden">
          <!-- Desktop selections -->
          @if ( currentSubSectorSelection.length ) {
          <div #selection class="selections scrollbar-hide shrink-0 w-fit max-w-[70%] overflow-auto items-center gap-2 hidden sm:flex">
            @for ( sector of currentSubSectorSelection; track sector.id ) {
            <span 
              class="selection w-fit h-fit inline-flex items-center rounded-full bg-[#e8f8ff] px-2 py-1 whitespace-nowrap font-medium text-primary ring-1 ring-inset ring-primary cursor-pointer"
              (click)="checkSubsector(sector)"
            >
              {{ sector.nombre }}
              <lucide-icon 
                name="X"
                class="stroke-primary ml-0.5" 
                [strokeWidth]="2"
                [size]="18"
              />
            </span>
            }
          </div>
          }

          <input
            type="text"
            class="w-full text-neutral-800 font-semibold bg-white outline-none placeholder:text-neutral-500 placeholder:font-normal"
            placeholder="¿Qué estás buscando?"
            [(ngModel)]="searchText2"
            (input)="filterDropdownItems()"
            (keydown)="openDropdown()"
          />
        </div>

        <!-- Search button -->
        <div class="button p-2 border-l shrink-0">
          <button 
            class="button bg-analogous text-white px-8 py-2 rounded font-bold font-primary" 
            (click)="search()"
          >
            Buscar
          </button>
        </div>

        <!-- Dropdown -->
        <div
          class="sectors-dropdown absolute top-full flex flex-col z-10 mt-1 py-0 w-full rounded-md bg-white text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
          [ngClass]="{'!hidden': !dropdownOpened}"
        >
          <ul class="overflow-auto">
            @for ( sector of filteredSectors; track sector.nombre ) {
            <li class="relative cursor-default select-none pl-3 pr-9 text-gray-900 border-b py-3" id="listbox-option-0" role="option">
              <button class="w-fit h-fit bg-neutral-100 ring-1 ring-inset ring-neutral-300 px-3 py-1 mb-1 rounded-full font-bold">
                @if ( sector.link ) {
                <a [href]="'/' + basePath + '/' + sector.link" class="pointer-events-none">
                  <div class="flex items-center">
                    <span 
                      class="block truncate font-normal"
                    >
                      {{sector.nombre}}
                    </span>
                  </div>
                </a>
                } @else {
                <div class="pointer-events-none">
                  <div class="flex items-center">
                    <span 
                      class="block truncate font-normal"
                    >
                      {{sector.nombre}}
                    </span>
                  </div>
                </div>
                }
              </button>

              <ul class="overflow-auto">
                @for ( subsector of sector.subSectors; track subsector.nombre ) {
                <li class="relative cursor-default select-none py-2 pl-1 pr-9  text-gray-900" 
                  role="option"
                  [ngClass]="{'hidden': subsector.hidden}"
                  (click)="checkSubsector(subsector)">
                  <button class="w-full h-full flex items-center gap-2">
                    <div>
                      <lucide-icon 
                        *ngIf="!subsector.checked"
                        name="square"
                        class="stroke-primary" 
                        [strokeWidth]="2"
                      />
                      <lucide-icon 
                        *ngIf="subsector.checked"
                        name="square-check-big"
                        class="stroke-primary" 
                        [strokeWidth]="2"
                      />
                    </div>
                    @if ( subsector.link ) {
                    <a [href]="'/' + basePath + '/' + subsector.link" class="" (click)="preventDefault($event)">
                      <div class="flex items-center">
                        <span 
                          class="block truncate font-normal"
                        >
                          {{subsector.nombre}}
                        </span>
                      </div>
                    </a>
                    } @else {
                    <div class="pointer-events-none">
                      <div class="flex items-center">
                        <span 
                          class="block truncate font-normal"
                        >
                          {{subsector.nombre}}
                        </span>
                      </div>
                    </div>
                    }
                  </button>
                </li>
                }
              </ul>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
    
    <div class="search-for-you">
      <!-- <span class="hint">¿No encuentras lo que buscas?</span> -->
      <a href="/pedir-presupuesto-gratis" class="link">Pedir presupuesto gratis</a>
    </div>
  </div>
  
  <div class="section2">
    <h2 class="title-section">Todos los servicios profesionales en un mismo sitio
    </h2>
    <div class="container-section">
      <div class="grid-container">
        @for ( sector of sectors; track sector.id ) {
          <div  class="grid-item">
            <a class="link"  [href]="basePath + '/' + sector.link + '/espana'">
              <div class="icon">
                <img src="{{sector.imageURL}}"/>
              </div>
              <div class="text">
                <div class="text-top">{{sector.nombre}}</div>
              </div>
            </a>
          </div>
        }
      </div>
    </div>
  </div>
  
  <div class="section3">
    <h2 class="title-section">Cómo funciona Febelink</h2>
    <h3 class="title-subsection">Descubre los servicios profesionales más buscados, ofrecidos con excelencia y satisfacción garantizada.</h3>
    <div class="container-section">
      <div class="grid-container">
        <img class="vector1" src="assets/imgs/vector5.png"/>
        <img class="vector2" src="assets/imgs/vector6.png"/>
        <div class="grid-item">
          <div class="icon-howdoesitwork"><i class="fas fa-bars"></i></div>
          <div class="texts-howdoesitwork">
            <div class="title-howdoesitwork">¿Qué necesitas?</div>
            <div class="description-howdoesitwork">Escribe en nuestro buscador inteligente o selecciona el servicio que necesitas.<br> Ya sea el mejor abogado, marmolista, carpintero, asesoría o informático. Así de fácil.</div>
          </div>
        </div>
        <div class="grid-item">
          <div class="icon-howdoesitwork center"><i class="fas fa-search"></i></div>
          <div class="texts-howdoesitwork">
            <div class="title-howdoesitwork">Compara ofertas y elige un profesional</div>
            <div class="description-howdoesitwork">Elige entre todos los servicios y las mejores ofertas.<br> Incluso puedes chatear con los profesionales y pedir presupuestos.</div>
          </div>
        </div>
        <div class="grid-item">
          <div class="icon-howdoesitwork right"><i class="fas fa-cart-shopping"></i></div>
          <div class="texts-howdoesitwork">
            <div class="title-howdoesitwork">Compra y reserva tu oferta en el momento</div>
            <div class="description-howdoesitwork">Aprovecha las oportunidades y disfruta de tu servicio tranquilamente. Gracias a la garantía de Febelink tu compra está siempre protegida hasta que tú nos des la conformidad.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section4">
    <div class="container-section4">
      <h2 class="title-section">Los mejores profesionales de toda España están en Febelink</h2>
      <h3 class="title-subsection">Febelink reúne a los mejores profesionales de toda España, destacando por su experiencia y dedicación incomparables.</h3>
      <div class="container-section">
        <div class="grid-container">
          @for ( location of locations; track location.id) {
            <div class="grid-item">
              <a
                [href]="'/' + basePath + '/' + location.link"
              >
                <div class="icon"><i class="fas fa-building"></i></div>
                <div class="text" >
                  {{location.title}}
                </div>
              </a>
            </div>
          }
        </div>
      </div>
    </div>
   
  </div>

  <div class="section5">
    <img class="imgBackground" src="assets/imgs/8410.png"/>
    <div class="container-section5">
      <div class="item-left">
        <h2 class="title-section">Descubre los mejores consejos profesionales en el Oráculo</h2>
      <div class="title-subsection">Descubre y comparte valiosos consejos de servicios profesionales. Nuestra plataforma te conecta con contenido experto en diversos campos, desde asesoría legal, consultoría financiera, consejos de salud, o sobre reformas para el hogar. 
       <br>  <br>Obtén información clave y compártela con otros para tomar decisiones informadas para tu vida.</div>
      <a class="buttons"  [href]="'/oracles'" >Descrubre más</a>
      </div>
      <div class="item-right">
        <img src="assets/imgs/rightside.png"/>
      </div>
    </div>
  </div>


  <section id="benefits">
    <div class="leftvisor"></div>
    <div id="visor-container">
      <h2>¿Eres un profesional en búsqueda de nuevos clientes?</h2>
      <p>✓ Contacta con clientes que buscan tus servicios</p>
      <p>✓ Recibe gratis los beneficios de nuestras soluciones de marketing digital</p>
      <p>✓ Accede a beneficios extras a muy bajo costo</p>
      <a class="button" [routerLink]="'/registro'">Regístrate gratis</a>
    </div>
  </section>


  <div class="section6">
    <div class="accordion">
      <h1>
        <img src="assets/imgs/FAQ1.png"/>
      </h1>
      <div class="accordion-item">
          <input type="checkbox" id="accordion1">
          <label for="accordion1" class="accordion-item-title"><span class="icon"></span>¿Cuánto cuesta usar Febelink?</label>
          <div class="accordion-item-desc">Febelink es gratuito, y no tiene coste por uso ni comisiones para los usuarios.</div>
      </div>
  
      <div class="accordion-item">
          <input type="checkbox" id="accordion2">
          <label for="accordion2" class="accordion-item-title"><span class="icon"></span>¿Cómo funciona Febelink?</label>
          <div class="accordion-item-desc">Febelink es muy sencillo. Tan sólo tienes que buscar lo que necesitas, comparar entre los mejores profesionales, y elegir el servicio que más te guste.</div>
      </div>
  
      <div class="accordion-item">
          <input type="checkbox" id="accordion3">
          <label for="accordion3" class="accordion-item-title"><span class="icon"></span>Qué garantías tiene Febelink?</label>
          <div class="accordion-item-desc">Febelink ofrece su Garantía de Satisfacción, ya que es el usuario quien decide cuándo el servicio está terminado, y libera el pago para el Profesional.</div>
      </div>
  
      <div class="accordion-item">
          <input type="checkbox" id="accordion4">
          <label for="accordion4" class="accordion-item-title"><span class="icon"></span>¿Cuántos servicios tiene Febelink?</label>
          <div class="accordion-item-desc">Febelink cuenta con más de 200 tipos de profesionales de todo tipo de sectores y preparados para darte el mejor servicio. Reformas, asesores, formación, limpieza, belleza y estética, entrenadores, mudanzas, y muchos más.</div>
      </div>
  
      <div class="accordion-item">
          <input type="checkbox" id="accordion5">
          <label for="accordion5" class="accordion-item-title"><span class="icon"></span>¿Cuándo puedo realizar los servicios de Febelink?</label>
          <div class="accordion-item-desc">Febelink ofrece el contacto directo y automático entre el usuario y el profesional seleccionado, desde el mismo momento de la selección y en tiempo real.
          </div>
      </div>

      <div class="accordion-item">
        <input type="checkbox" id="accordion6">
        <label for="accordion6" class="accordion-item-title"><span class="icon"></span>¿Puedo contactar con los Profesionales antes de contratar un servicio en Febelink?</label>
        <div class="accordion-item-desc">Sí, en Febelink puedes contactar y chatear con los profesionales antes de contratar tus servicios para hacer tus consultas, y además sin exponer tus datos personales. Protección para que nadie te moleste.
        </div>
    </div>
  </div>
  </div>
  <app-footer></app-footer>
</div>
