<ion-header>

  <ion-toolbar color="febelink">
    <ion-title><ion-icon name={{titleIcon}} style="margin-right: 10px;"></ion-icon>{{title}}</ion-title>
    <ion-buttons slot="end" style="margin-right: 20px;">
      <ion-button (click)="closeModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-slides style="height: 100%;" (ionSlideWillChange)="slideChanged()">

    <ion-slide *ngFor="let page of pages;let i=index;">

      <div #chatContent *ngIf="i===0" class="message-wrap" style="position: absolute;top: 10px;right: 0px;">

        <div *ngFor="let msg of msgList"
             class="message animation-to-right"
             [class.animation-left]= " msg.userId === user.id "
             [class.animation-right]= " msg.userId === toUser.id "
             [class.left]=" msg.userId === toUser.id "
             [class.right]=" msg.userId === user.id ">
          <img class="user-img" [src]="msg.userAvatar" alt="" src="">
          <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
          <div class="msg-detail">
            <div class="msg-info">
              <p [style.color]="msg.color">
                {{msg.userName}}
              </p>
            </div>
            <div class="msg-content">
              <span class="triangle"></span>
              <p class="line-breaker " [innerHTML]="msg.message"></p>
            </div>
          </div>
        </div>

        <div [style.height.px]="logoHeight" style="display: flex;
        justify-content: center;
        flex-direction: column;">

          <div *ngIf="showLogo">
            <img src="assets/imgs/logo.png" alt="" class="logo animation-right" style="max-width: 150px;">
            <p class="animation-left" style="margin: 0px;font-size: 18px;">¡El buscador de servicios profesionales!</p>
          </div>

        </div>
    
      </div>

      <div *ngIf="i!==0 && i!==5">
        
        <img class="mobile" [src]="page.url" alt="" style="padding-bottom: 50px;max-width: 90%;">
        <img class="desktop" [src]="page.urlweb" alt="">

        <!-- Description-->
        <div *ngIf="opacity" class="message-wrap description" style="position: absolute;top: 0px;right: 0px;padding: 10px 5px 0px 10px;">

          <div
             class="message animation-left"
             [class.left]=" msgList[1].userId === toUser.id ">
          <img class="user-img" src="assets/guide/speaking.png" alt="" style="background:white;">
          <div class="msg-detail" style="padding-left: 60px;">
            
            <div class="msg-content" style="max-width: 95%;
            line-height: 1.5;">
              <span class="triangle"></span>
              <p class="line-breaker " [innerHTML]="currenDescription"></p>
            </div>
          </div>
        </div>

        <ion-buttons slot="end" class="close-btn-box">
          <ion-button  (click)="closeDescription()" class="btn-close">OK</ion-button>
        </ion-buttons>

        </div>
        <!-- END -->
      </div>

      <div *ngIf="i===5" class="cover-content" style="width:100%;height:100%;">


        <div style="z-index: 99 !important;">
          <p class="title">Bienvenid@</p>
          <ion-button color="primary" (click)="noShowAgaing()">EMPEZAR</ion-button>
  
          <div style="justify-content: center;
          display: flex!important;
           align-items: center!important;">
  
            <ion-item color="transparent" *ngIf="noShowCheckbox" lines="none" style="background-color: inherit;color: white;width: 210px;">
               <ion-label>No volver a mostrar</ion-label>
               <ion-checkbox [(ngModel)]="guideChecked" style="margin-right: 10px;"></ion-checkbox>
            </ion-item>
          </div>
        </div>
       
      </div>

    </ion-slide>


  </ion-slides>

</ion-content>

<ion-footer color="febelink" class="ion-no-border" *ngIf="showLogo">
  <ion-toolbar color="febelink" style="text-align: center;">

    <ion-button size="small" [hidden]="currentIndex === 0" (click)="back()" style="margin-top: -5px;font-size: 10px;">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>

    <span *ngFor="let page of pages;let i = index;" style="margin-right: 5px;">
      <img *ngIf="currentIndex === i" src="assets/guide/circle-full.png" alt="" width="10px">
      <img *ngIf="currentIndex !== i" src="assets/guide/circle-empty.png" alt="" width="10px">
    </span>

    <ion-button  size="small" [hidden]="currentIndex === 5" (click)="forward()" style="font-size: 10px;margin-top: -5px;">
      <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-footer>

