<div  class="div-comment-main">
  <div class="div-comment-main-left">
    <img class="img-comment-logo-b"
          src="https://api.febelink.com/storage/users/default.png"
          *ngIf="!iComment?.logo && !iComment?.avatar"
        />
        <ion-img class="img-comment-logo"
          [src]="iComment?.logo || iComment?.avatar"
          *ngIf="iComment?.logo || iComment?.avatar"
          appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
        ></ion-img>
  </div>
  <div class="div-cell-main-right">
    <div class="cell-main-comment">
      {{
        iComment?.name ||
          iComment?.nick ||
          ('common.labelUser' | translate)
      }}
      {{ ' ' }}
      {{ iComment?.lastName }}
    </div>
    <div class="date-comment">
      {{ iComment?.created_at }}
    </div>
  </div>
  <div class="options-comment" (click)="options($event)">
    <img src="assets/icon/svg/menu-dots.svg" class="options-comment-svg" />
  </div>
</div>
<div class="main-comment">
  {{ iComment.comment }}
</div>

<div class="mobile">
  <div class="table-reactions">
    <!-- TODO React comment
      <div (click)="react( $event )" style="cursor:pointer;display:table-cell;vertical-align:middle;text-align:left;font-weight: 500;font-size: 14px;line-height: 150%;color: #374151;">
      <img src="assets/icon/svg/heart.svg" style="width:14px;margin-right:13px;position:relative;top:2px;" />{{ 'pages.posts.react' | translate }}
    </div>-->
    <div (click)="share( $event )" class="share-reaction">
      <img src="assets/icon/svg/share.svg" class="share-reaction-svg" />{{ 'common.share' | translate }}
    </div>
    <div (click)="showReply(iComment.id)" class="reply-reaction">
      <img src="assets/icon/svg/reply.svg" class="reply-reaction-svg" />Responder
    </div>
  </div>
</div>

<div class="desktop">
  <div class="table-reactions-b">
    <!-- TODO React comment
      <div (click)="react( $event )" style="cursor:pointer;display:table-cell;vertical-align:middle;text-align:left;font-weight: 500;font-size: 14px;line-height: 150%;color: #374151;">
      <img src="assets/icon/svg/heart.svg" style="width:14px;margin-right:13px;position:relative;top:2px;" />{{ 'pages.posts.react' | translate }}
    </div>-->
    <div (click)="share( $event )" class="share-reaction-b">
      <img src="assets/icon/svg/share.svg" class="share-reaction-svg" />{{ 'common.share' | translate }}
    </div>
    <div (click)="showReply(iComment.id)" class="reply-reaction-b">
      <img src="assets/icon/svg/reply.svg" class="reply-reaction-svg" />Responder
    </div>
  </div>
</div>

<div *ngFor="let childComment of iComment?.childComments" class="list-replies">
  <div class="div-comment-main">
    <div class="div-comment-main-left">
          <img class="img-comment-logo-b"
          src="https://api.febelink.com/storage/users/default.png"
          *ngIf="!childComment?.logo && !childComment?.avatar"
        />
        <ion-img class="img-comment-logo"
          [src]="childComment?.logo || childComment?.avatar"
          *ngIf="childComment?.logo || childComment?.avatar"
          appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
        ></ion-img>
    </div>
    <div class="div-cell-main-right">
      <div class="cell-main-comment">
        {{
          childComment?.name ||
            childComment?.nick ||
            ('common.labelUser' | translate)
        }}
        {{ ' ' }}
        {{ childComment?.lastName }}
      </div>
      <div class="date-comment">
        {{ childComment?.created_at }}
      </div>
    </div>
    <div class="options-comment" (click)="options($event)">
      <img src="assets/icon/svg/menu-dots.svg" class="options-comment-svg" />
    </div>
  </div>
  <div class="main-comment">
    {{ childComment.comment }}
  </div>
</div>

<div *ngIf="indexShowReply==iComment.id" class="box-reply">
  <div class="reply-user">
      <ion-img class="img-avatar-comment"
        [src]="'https://api.febelink.com/storage/users/default.png'"
        appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
      ></ion-img>
  </div>
  <div class="reply-input">
    <ion-input #inComment type="text" placeholder="Responder..." class="padding-input-12 textarea-comment" (keyup.enter)="comment(inComment.value)"></ion-input>
  </div>
</div>

<!--
            <ion-label
              class="hint font-13"
              *ngIf="iComment.created_at != iComment.updated_at"
            >
              {{ 'common.labelEdited' | translate }}
            </ion-label>
            -->


<!--
            <ion-label
              class="hint font-13"
              *ngIf="childComment.created_at != childComment.updated_at"
            >
              {{ 'common.labelEdited' | translate }}
            </ion-label>
            -->
