<ion-grid class="no-padding marg-t5 marg-e5">
  <ion-row>
    <!-- Avatar -->
    <ion-avatar class="marg-s10 marg-t10 wh-40">
      <img src="https://api.febelink.com/storage/users/default.png" *ngIf="!iComment?.avatar" />
      <ion-img
          [src]="iComment?.avatar"
          *ngIf="iComment?.avatar"
          appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
      ></ion-img>
    </ion-avatar>

    <ion-grid class="marg-s10 box-bw-r1-lln">
      <ion-row>
        <!-- UserName -->
        <ion-col [size]="8">
            <ion-label>
              {{ iComment?.name || iComment?.nick || ( 'common.labelUser' | translate ) }}
              {{ ' ' }}
              {{ iComment?.lastName }}
            </ion-label>
            <br><em class="font-13 hint">
              {{ iComment?.created_at | dateFormat: dateFormatType.DateTime }}
            </em>
        </ion-col>

        <!-- Date Created -->
        <ion-col [size]="4" class="no-pad">
          <!-- Options Menu -->
          <ion-row class="align-end">
            <ion-button icon-only color="transparent"
              class="no-padding no-shadow no-margin wh-30"
              (click)="options( $event )"
            >
              <ion-icon class="font-30" src="assets/icon/svg/options.svg"></ion-icon>
            </ion-button>
          </ion-row>
    
          <ion-row class="align-end">
            <!-- If has Edited The Post -->
            <ion-label class="hint font-13" *ngIf="iComment.created_at != iComment.updated_at">
              {{ 'common.labelEdited' | translate }}
            </ion-label>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- Comment -->
      <ion-row>
        <ion-label class="marg-s5 opacity-8">
          {{ iComment.comment }}
        </ion-label>
      </ion-row>
    </ion-grid>
  </ion-row>
</ion-grid>
  