<div class="text-center">
  <img class="logo" src="assets/landing/logo-dark.png">
  <h2>¡Gracias!</h2>
  <h4>Has completado tu inscripción en el listado de reservas.</h4>
  <p>
    Recibirás más información sobre el token de Áureo de Febelink en tu bandeja de entrada en los próximos minutos. Revisa tu carpeta de spam o promociones.
  </p>
  <p>
    Si el correo no te llega en los próximos 5 minutos rellena el formulario nuevamente aquí.
  </p>
  <div style="margin-top: 30px;">
    <div class="btn btn-success" (click)="back()">Volver</div>
  </div>
</div>

