
<ion-content>
  <form #form="ngForm" (ngSubmit)="getUserData()" style="margin: auto;">
    <h5 class="mb-3 text-center" id="titular-seccion">
      {{ 'landing.reserveTk.modal.title' | translate }}
    </h5>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6">
          <ion-item>
            <ion-label position="floating">{{ labelName }}</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="userData.nick" ngDefaultControl ngModel maxlength="200" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <ion-item>
            <ion-label position="floating">{{ 'common.personal.surname' | translate }}</ion-label>
            <ion-input type="text" name="lastName" [(ngModel)]="userData.lastName" ngDefaultControl ngModel maxlength="200" required [readonly]="userData?.doc_type"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>    
      <ion-row>
        <ion-col size="12" size-sm="6">
          <ion-item>
            <ion-label position="floating">{{ 'common.labelEmail' | translate }}</ion-label>
            <ion-input type="text" name="email" [(ngModel)]="userData.email" ngDefaultControl ngModel maxlength="100" [disabled]="userData.email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <ion-item>
            <ion-label position="floating">{{ labelDoc }}</ion-label>
            <ion-input type="text" name="dni" [(ngModel)]="userData.dni" ngDefaultControl ngModel maxlength="20" required [readonly]="userData?.doc_type"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-sm="12">
          <ion-item>
            <ion-label position="floating">{{ 'common.address.address' | translate }}</ion-label>
            <ion-input id="address" type="text" name="address" [(ngModel)]="userData.address" ngDefaultControl ngModel maxlength="200" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12" size-sm="12">
          <ion-item class="input">
            <ion-label position="floating"> {{ 'common.labelAddressRest' | translate }} </ion-label>
            <ion-input type="text" name="addressRest" [(ngModel)]="userData.address_rest" ngDefaultControl ngModel maxlength="200"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12" size-sm="12">
          <ion-item>
            <ion-label position="floating">{{ 'common.personal.tel' | translate }}</ion-label>
            <ion-input type="text" name="phone" [(ngModel)]="userData.phone" ngDefaultControl ngModel maxlength="20" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="mt-3 text-center">
          <button type="submit" class="btn btn-success">
            {{ 'common.buttons.confirm' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>