<form [class]="classWH + 'marg-se fmMedia'">
  <!-- To Pick Files on Browsers -->
  <input #filePicker
    type="file"
    [accept]="pickType"
    (change)="pickMedia( filePicker )"
    enctype="multipart/form-data"
  />
  
  <!-- Image -->
  <ng-container *ngIf="iFile.src && iFile.format == pickTypes.IMAGE">
    <!-- Ion Img -->
    <ion-img
      [style]="styles || ''"
      [src]="src || fallback"
      *ngIf="elType == elTypes.ION_IMG"
      [appImgErrorFallback]="fallback"
      [class]="classWH + ( classes || '' )"
      (click)="filePicker.click()"
    ></ion-img>
    
    <!-- IMG -->
    <img
      [style]="styles || ''"
      [src]="src"
      *ngIf="elType == elTypes.IMG"
      [appImgErrorFallback]="fallback"
      [class]="classWH + ( classes || '' )"
      (click)="filePicker.click()"
    />
    
    <!-- Ion Avatar -->
    <ion-avatar *ngIf="elType == elTypes.AVATAR">
      <ion-img
        [style]="styles || ''"
        [src]="src"
        [appImgErrorFallback]="fallback"
        [class]="classWH + ( classes || '' )"
        (click)="filePicker.click()"
      ></ion-img>
    </ion-avatar>
  </ng-container>

  <!-- Video -->
  <video playsinline
    controls
    *ngIf="iFile.src && iFile.format == pickTypes.VIDEO"
    [class]="classWH + 'media-video'"
    [src]="iFile.src"
  ></video>
</form>
