<form [class]="classWH + 'marg-se fmMedia'">
  <!-- To Pick Files on Browsers -->
  <input #filePicker
    type="file"
    [accept]="pickType"
    (change)="pickMedia( filePicker )"
    enctype="multipart/form-data"
  />
  
  <!-- Image -->
  <ng-container *ngIf="iFile.src && ( iFile.format == pickTypes.IMAGE || mediaSvc.isImage( iFile.ext ))">
    <!-- Ion Img -->
    <ion-img
      [style]="styles || ''"
      [src]="iFile.src || fallback"
      *ngIf="elType == elTypes.ION_IMG"
      [appImgErrorFallback]="fallback"
      [class]="classWH + ( classes || '' )"
      (click)="filePicker.click()"
    ></ion-img>
    
    <!-- IMG -->
    <img
      [style]="styles || ''"
      [src]="iFile.src"
      *ngIf="elType == elTypes.IMG"
      [appImgErrorFallback]="fallback"
      [class]="classWH + ( classes || '' )"
      (click)="filePicker.click()"
    />
    
    <!-- Ion Avatar -->
    <ion-avatar *ngIf="elType == elTypes.AVATAR">
      <ion-img
        [style]="styles || ''"
        [src]="iFile.src"
        [appImgErrorFallback]="fallback"
        [class]="classWH + ( classes || '' )"
        (click)="filePicker.click()"
      ></ion-img>
    </ion-avatar>
  </ng-container>

  <!-- Video && '#t=0.001' is for telling the browser to skip the first millisecond of the video -->
  <video playsinline
    controls
    *ngIf="iFile.src && ( iFile.format == pickTypes.VIDEO || mediaSvc.isVideo( iFile.ext ))"
    [class]="classWH + 'media-video'"
    [src]="iFile.src + '#t=0.001'"
    preload="metadata"
  ></video>
</form>
