<div class="container-general">
  <div class="title">
    <ion-icon (click)="goBack()" slot="start" name="arrow-back-outline"></ion-icon>

    <!-- <ion-back-button defaultHref="/admin"></ion-back-button>  -->
    Panel de Administrador 
    <span class="simbol">></span> 
    <span class="span1">Gestion keyword - Enlace de Ciudades</span>
    <div class="button-add" (click)="showCreatekeyword = true"><i class="fa fa-plus"></i>Añadir</div>
  </div>
  <div class="buscador">
    <ion-searchbar
    [placeholder]="'Gestionar  busqueda de link'"
      inputmode="text"
      (keyup.enter)="search_filter($event)"
      (ionChange)="search_filter($event)"
      (ionClear)="search_filter($event)"
      debounce="500"
    ></ion-searchbar>
  </div>
  


  <div class="container-admin">
    <ion-content>
      <!-- Loading -->
      <div class="cargando-container" margin-top *ngIf="isLoading">
        <ion-row>
          <ion-spinner></ion-spinner>
          <h4>{{ 'common.labelSearching' | translate }}</h4>
        </ion-row>
      </div>
    
      <div class="scroll-inner">
        <table id="tokensUsersTable">
          <tr>
            <th style="width: 10%">Sector</th>
            <th style="width: 10%">Ubicacion</th>
            <th style="width: 10%">Ciudad</th>
            <th>Link</th>
            <th>Titulo Pagina</th>
            <th>Encabezado h1</th>
            <th>Encabezado h2</th>
            <th>description</th>
            <th colspan="2" style="width: 10%">Acciones</th>
          </tr>
          <tr *ngFor="let keys of linkcity">
            <td>
              <span *ngIf="keys.sector_id !== undefined">{{keys.sector_id.name}}</span>
            </td>
            <td>
              <span>{{keys.locations_id.title}}</span>
            </td>
            <td>
              <span>{{keys.citys_id.title}}</span>
            </td>
            <td>
              <span>{{keys.link}}</span>
            </td>
            <td>  
              <span>{{keys.page_title}}</span>
            </td>
            <td>
              <span>{{keys.h1}}</span>
            </td>
            <td>
              <span>{{keys.h2}}</span>
            </td>
            <td>
              <span>{{keys.description}}</span>
            </td>
            <td class="edit">
              <ion-icon name="create-outline" (click)="showEdit(keys)"></ion-icon>
            </td>
            <td class="delete">
              <ion-icon
                name="trash-outline"
                (click)="delete(keys)"
              ></ion-icon>
            </td>
          </tr>
        </table>
      </div>
    
      <!-- Pagination Bottom -->
      <app-pagination
        *ngIf="qPages > 1"
        [qPages]="qPages"
        [totalRecords]="totalRecords"
        [recordsPerPage]="recordsPerPage"
        [activePage]="activePage"
        [disabled]="isLoading"
        (onPageChange)="displayActivePage( $event )"
      >
      </app-pagination>
    </ion-content>
    
  </div>
</div>


<!--  -->
<div id="darkcreateKeywordController" *ngIf="showCreatekeyword"></div>
<div id="createKeywordController" *ngIf="showCreatekeyword">
  <div class="headerTitle">Crear Enlace de Ubicacion</div>
  <div class="headerSubTitle">Introduce un enlace de ubicacion.</div>
  <div class="containerKeyWord">
    <div class="item-select">
      <label>Sector: *</label>
      <select #newKeywordSector  [(ngModel)]="keyLinkCity.sector_id.id" >
        <option *ngFor="let sector of sectors" [value]="sector.id">{{sector.nombre}}</option>
      </select>
    </div>
    <div class="item-select" >
      <label>Ubicacion: *</label>
      <select   [(ngModel)]="keyLinkCity.locations_id.id" #newKeywordLocation (ngModelChange)="onLocationChange($event)">
        <option *ngFor="let location of locations" [value]="location.id">{{location.title}}</option>
      </select>
    </div>
    <div class="item-select" >
      <label>Ciudad: *</label>
      <select  [(ngModel)]="keyLinkCity.citys_id.id"  #newKeywordCity>
        <option *ngFor="let city of citys" [value]="city.id">{{city.title}}</option>
      </select>
    </div> 
    <div class="item-select" >
      <label>Nombre: *</label>
      <input type="text" [(ngModel)]="keyLinkCity.title" #newKeywordTitle>
    </div>
    
    <div class="item-select"  >
      <label>Keyword: *</label>
      <input type="text" [(ngModel)]="keyLinkCity.link" #newKeywordLink>
    </div>
    <div class="item-select"   >
      <label>Titulo de pagina: *</label>
      <input type="text" [(ngModel)]="keyLinkCity.page_title" #newKeywordPageLink>
    </div>
    <div class="item-select"   >
      <label>Encabezado 1: *</label>
      <input type="text" [(ngModel)]="keyLinkCity.h1"  #newKeywordH1>
    </div>
    <div class="item-select"  >
      <label>Encabezado 2: *</label>
      <input type="text" [(ngModel)]="keyLinkCity.h2" #newKeywordH2>
    </div>
    <div class="item-select"  >
      <label>Descripcion: *</label>
      <input type="text" [(ngModel)]="keyLinkCity.description" #newKeywordDescription>
    </div>
    <div class="buttons">
      <ion-button color="light" (click)="restoreData()">Cancelar</ion-button>
       <ion-button color="success" *ngIf="keyLinkCity.id === ''" (click)="create(
        newKeywordSector.value,
        newKeywordLocation.value ,
        newKeywordCity.value, 
        newKeywordTitle.value,
       newKeywordLink.value,
        newKeywordPageLink.value, 
        newKeywordH1.value,
         newKeywordH2.value,
          newKeywordDescription.value
      ); ">Añadir</ion-button>
      <ion-button color="primary" *ngIf="keyLinkCity.id !== ''" (click)="edit(
        newKeywordSector.value,
        newKeywordLocation.value ,
        newKeywordCity.value, 
        newKeywordTitle.value,
       newKeywordLink.value,
        newKeywordPageLink.value, 
        newKeywordH1.value,
         newKeywordH2.value,
          newKeywordDescription.value
      ); ">Modificar</ion-button>


     
    </div>
  </div>
  
</div>