<ion-header>
  <ion-toolbar color="febelink">
    <ion-icon (click)="goBack()" slot="start" name="close"></ion-icon>
    <ion-title class="ion-text-center">{{ 'common.legal.condsNterms' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <strong>{{ 'legal.terms.title' | translate }}</strong><br><br>

  {{ 'legal.terms.pompadour' | translate }}
  <br><br>

  <strong>{{ 'legal.terms.subtitle' | translate }}</strong><br><br>

  <ol>
    <ng-container *ngFor="let li of 'legal.terms.li' | translate">
      <li> {{ li }} </li>
      <br>
    </ng-container>
  </ol>
  <br><br>

</ion-content>
