<ion-footer class="ion-no-border ion-text-center desktop">
<section>
  <ion-grid>
  <ion-row class="row_alto">
    <ion-col size="5">
      <ion-img 
        tappable 
        src="assets/imgs/logo.png" 
        alt="Febelink logo" 
        (click)="irA('/' + homePage)"
        class="ion-margin logo">
      </ion-img>
    </ion-col>
    <ion-col size="7">
      <ion-grid>
        <ion-row class="lista_footer">
            <ion-col size="3">
              <ion-list>
                <ion-item lines="none">
                  <ion-label color="texto-bold-footer">{{ 'menu.footer.company' | translate }}</ion-label>
                </ion-item>
                <ion-item routerLink="#" lines="none">
                  <ion-router-link href="#">
                    <ion-label color="texto-gray-footer">{{ 'menu.footer.about' | translate }}</ion-label>
                  </ion-router-link>
                </ion-item> 
                <ion-item lines="none">
                  <ion-router-link href="#">
                    <ion-label color="texto-gray-footer">{{ 'menu.footer.premium' | translate }}</ion-label>
                  </ion-router-link>
                </ion-item>
                <ion-item lines="none">
                  <ion-router-link href="#">
                    <ion-label color="texto-gray-footer">{{ 'menu.footer.blog' | translate }}</ion-label>
                  </ion-router-link>
                </ion-item>
                <ion-item lines="none">
                  <ion-router-link href="#">
                    <ion-label color="texto-gray-footer">{{ 'menu.footer.affiliate' | translate }}</ion-label>
                  </ion-router-link>
                </ion-item>
                <ion-item lines="none">
                  <ion-router-link href="#">
                    <ion-label color="texto-gray-footer">{{ 'menu.footer.cupon' | translate }}</ion-label>
                  </ion-router-link>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="3">
              <ion-list>
                <ion-item lines="none">
                  <ion-label color="texto-bold-footer">{{ 'menu.footer.support' | translate }}</ion-label>
                </ion-item>
                <ion-item lines="none">
                  <ion-router-link href="#">
                    <ion-label color="texto-gray-footer">{{ 'menu.footer.contact' | translate }}</ion-label>
                  </ion-router-link>
                </ion-item>
                <ion-item lines="none">
                  <ion-router-link href="#">
                    <ion-label color="texto-gray-footer">{{ 'menu.footer.conocimiento' | translate }}</ion-label>
                  </ion-router-link>  
                </ion-item>
                <ion-item lines="none">
                  <ion-router-link href="#">
                    <ion-label color="texto-gray-footer">{{ 'menu.footer.premiumBis' | translate }}</ion-label>
                  </ion-router-link>  
                </ion-item>
                <ion-item lines="none">
                  <ion-router-link href="#">
                    <ion-label color="texto-gray-footer">{{ 'menu.footer.sponsor' | translate }}</ion-label>
                  </ion-router-link> 
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="3">
              <ion-list>
              <ion-item class="ion-no-padding" lines="none">
                <ion-label color="texto-bold-footer">{{ 'menu.footer.legal' | translate }}</ion-label>          
              </ion-item>
              <ion-item (click)="openLegalDisclaimer()" class="ion-no-padding" lines="none">
                <ion-router-link href="#">
                  <ion-label color="texto-gray-footer">{{ 'menu.footer.privacy' | translate }}</ion-label>
                </ion-router-link>
              </ion-item>
              <ion-item (click)="termsModal()" class="ion-no-padding" lines="none">
                <ion-router-link href="#">
                  <ion-label color="texto-gray-footer">{{ 'menu.footer.terms' | translate }}</ion-label>
                </ion-router-link>
              </ion-item>
              <ion-item class="ion-no-padding" lines="none">
                <ion-router-link href="#">
                  <ion-label color="texto-gray-footer">EULA</ion-label>
                </ion-router-link>
              </ion-item>
            </ion-list>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7">
      <ion-item lines="none" class="item_right">
        <ion-label color="texto-gray-footer" class="ion-text-right ion-no-padding">
          <ion-router-link href="#">
            © {{ currentYear }} | FebeLink. {{ 'menu.footer.derechos' | translate }}
          </ion-router-link>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="5">
      <ion-item lines="none">
        <ion-label class="ion-text-right ion-no-padding">
          <app-lang-btn color="texto-gray-footer"></app-lang-btn>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</section>
</ion-footer>
