<ion-footer class="ion-no-border ion-text-center desktop" color="febelink">
  <ion-toolbar color="febelink">
    <p style="margin-bottom: 0px">
      © {{ currentYear }} Febelink |
      <span class="terms-text" (click)="termsModal()">
        {{ 'common.legal.condsNterms' | translate }}
      </span > |
      <span class="terms-text" (click)="openLegalDisclaimer()">
        {{ 'common.legal.warning' | translate }}
      </span>
    </p>
    <p style="margin-top: 5px">{{ 'common.contact' | translate }}: info@febelink.com</p>
  </ion-toolbar>
</ion-footer>
