<div id="footer-desktop" class="ion-no-border ion-text-center desktop">
 <section class="sectionLink" *ngIf="footerLinks.length > 0">
  <div class="link-footer">
    <div *ngFor="let link of footerLinks"><a href="{{link.link}}">{{link.title}}</a></div>
  </div>
 </section>
 


  <section>
    <ion-grid>
      <ion-row class="row_alto">
        <ion-col size="2">
          <ion-img
            tappable
            src="assets/imgs/logo.png"
            alt="Febelink logo"
            class="ion-margin logo"
            [routerLink]="'/'"
          >
          </ion-img>
        </ion-col>
        <ion-col size="10">
          <ion-grid>
            <ion-row class="lista_footer">
              <ion-col size="3">
                <ion-list>
                  <ion-item lines="none">
                    <ion-label color="texto-bold-footer">{{
                        'menu.footer.company' | translate
                      }}</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <a href="posts/oracle/551"
                       style="color: inherit; text-decoration: inherit">
                      <ion-label color="texto-gray-footer">{{
                          'menu.footer.about' | translate
                        }}</ion-label>
                    </a>
                  </ion-item>
                  <ion-item lines="none" *ngIf="false">
                    <div href="#">
                      <ion-label color="texto-gray-footer">{{
                          'menu.footer.premium' | translate
                        }}</ion-label>
                    </div>
                  </ion-item>
                  <ion-item lines="none">
                    <div [routerLink]="['/oracles']">
                      <ion-label color="texto-gray-footer">{{
                          'menu.footer.blog' | translate
                        }}</ion-label>
                    </div>
                  </ion-item>
                  <ion-item lines="none" *ngIf="false">
                    <div href="#">
                      <ion-label color="texto-gray-footer">{{
                          'menu.footer.affiliate' | translate
                        }}</ion-label>
                    </div>
                  </ion-item>
                  <ion-item lines="none" *ngIf="false">
                    <div href="#">
                      <ion-label color="texto-gray-footer">{{
                          'menu.footer.cupon' | translate
                        }}</ion-label>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col size="3">
                <ion-list>
                  <ion-item lines="none">
                    <ion-label color="texto-bold-footer">{{
                        'menu.footer.support' | translate
                      }}</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <a href="user/Febelink/detail/341?id_perfil=341&contacto=false"
                       style="color: inherit; text-decoration: inherit">
                      <ion-label color="texto-gray-footer">{{
                          'menu.footer.contact' | translate
                        }}</ion-label>
                    </a>
                  </ion-item>
                  <ion-item lines="none" *ngIf="false">
                    <div href="#">
                      <ion-label color="texto-gray-footer"
                      ><a
                        [routerLink]="['/links']"
                        style="color: inherit; text-decoration: inherit"
                      >{{ 'menu.footer.conocimiento' | translate }}</a
                      ></ion-label
                      >
                    </div>
                  </ion-item>
                  <ion-item lines="none">
                    <a href="mailto:profesionales@febelink.com" style="color: inherit; text-decoration: inherit">
                      <ion-label color="texto-gray-footer">Soporte a Profesionales</ion-label>
                    </a>
                  </ion-item>
                  <ion-item lines="none" *ngIf="false">
                    <div href="#">
                      <ion-label color="texto-gray-footer">{{
                          'menu.footer.sponsor' | translate
                        }}</ion-label>
                    </div>
                  </ion-item>
                  <ion-item lines="none">
                    <div [routerLink]="['/services']">
                      <ion-label color="texto-gray-footer">Profesionales</ion-label>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col size="3">
                <ion-list>
                  <ion-item class="ion-no-padding" lines="none">
                    <ion-label color="texto-bold-footer">{{
                        'menu.footer.legal' | translate
                      }}</ion-label>
                  </ion-item>
                  <ion-item
                    [routerLink]="['/privacy-policy']"
                    class="ion-no-padding"
                    lines="none"
                  >
                    <div href="#">
                      <ion-label color="texto-gray-footer">{{
                          'menu.footer.privacy' | translate
                        }}</ion-label>
                    </div>
                  </ion-item>
                  <ion-item
                    [routerLink]="['/use-conditions']"
                    class="ion-no-padding"
                    lines="none"
                  >
                    <div href="#">
                      <ion-label color="texto-gray-footer">{{
                          'menu.footer.terms' | translate
                        }}</ion-label>
                    </div>
                  </ion-item>
                  <ion-item class="ion-no-padding" lines="none" *ngIf="false">
                    <div href="#">
                      <ion-label color="texto-gray-footer">EULA</ion-label>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col size="3">
                <ion-list>
                  <ion-item
                    class="!h-fit"
                    lines="none"
                  >
                    <div>
                      <a target="_blank" href="https://apps.apple.com/es/app/febelink/id6714484198">
                        <img class="h-12 my-0.5 object-contain" src="assets/app/apple-es.png"/>
                      </a>
                    </div>
                  </ion-item>
                  <ion-item
                    class="!h-fit"
                    lines="none"
                  >
                    <div>
                      <a target="_blank" href="https://play.google.com/store/apps/details?id=com.febelink.app">
                        <img class="h-12 my-0.5 object-contain" src="assets/app/google-es.png"/>
                      </a>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="7">
          <ion-item lines="none" class="item_right">
            <ion-label
              color="texto-gray-footer"
              class="ion-text-right ion-no-padding"
            >
              © {{ currentYear }} | Febelink.
              {{ 'menu.footer.derechos' | translate }}
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item lines="none">
            <ion-label class="ion-text-right ion-no-padding">
              <app-lang-btn color="texto-gray-footer"></app-lang-btn>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</div>
