<ion-content class="bg-light">
  <div  class="container" style="margin-top: 1rem;">
    <div style="margin: auto; width: fit-content;">
      <img class="logo" src="assets/landing/logo-dark.png">
      <h4 style="margin-bottom: 2rem">Reserva ahora tus tokens para la fase pública de la ICO del token Áureo de Febelink.</h4>
      
      <p>Las compras se ejecutan por orden de inscripción.</p>    
      <p>La reserva no garantiza la participación, ya que no hay límites de reservas.</p>    
      <p>La disponibilidad es limitada.</p>    
      <p>La cantidad tiene que estar depositada en la wallet de Febelink.</p>    
      <p>Elige las fases en las que quieres participar y haz tu reserva ahora.</p>
      <app-buy-tokens></app-buy-tokens>
    </div>
  
  </div>
</ion-content>