<section class="w-full mt-24 mb-20">
  <div class="max-w-[90vw] w-[600px] mx-auto shadow rounded-lg p-8">
    <h1 class="mb-6 font-bold text-center text-xl">Cuenta profesional de <span class="text-primary">Febelink</span></h1>
    
    <!-- Form -->
    <div class="flex flex-col gap-4">
      <!-- Activate -->
      <div>
        <div class="form-control bg-neutral-100 rounded-lg px-3 py-1">
          <label class="label cursor-pointer">
            <span class="label-text">Activar cuenta profesional</span>
            <input 
              type="checkbox" 
              class="toggle" 
              [(ngModel)]="isProfessional" 
              (change)="onToggleProfessional()"
            />
          </label>
        </div>

        <p class="mt-2 px-2 text-sm text-neutral-600">Con la Cuenta Profesional los usuarios de Febelink pueden encontrarte por tu profesión y tu zona de trabajo. Con la Cuenta Profesional los usuarios de Febelink pueden encontrarte por tu profesión y tu zona de trabajo.</p>
      </div>

      <!-- Warning -->
      <p class="px-2 text-sm text-orange-700 font-bold">Es necesario que añadas al menos una profesión y una ubicación para que tu cuenta profesional se mantenga activa.</p>
    
      <!-- Location -->
      <div [ngClass]="{'opacity-50': !isProfessional}">
        <p class="mb-2 uppercase text-xs font-bold text-neutral-500">¿Dónde ejerces tu profesión?</p>

        <span *ngIf="!myProvinces.length" class="w-full block my-4 text-xs text-center text-neutral-500">No has añadido ninguna ubicación</span>

        <div *ngIf="myProvinces.length" class="flex flex-row flex-wrap gap-2 my-4">
          <button 
            *ngFor="let location of myProvinces; let index = index"
            class="flex flex-row items-center rounded-full bg-[#f3f7ff] px-2 py-1 text-base font-bold border-[1px] border-solid border-[#415ABD] self-start"
            (click)="deleteLocation(index)"
            [disabled]="!isProfessional"
          >
            <span class="text-[#415ABD]">{{location.location?.title}}</span>
            <lucide-icon 
              name="dot"
              class="stroke-analogous" 
              [strokeWidth]="2"
              [size]="18"
            />
            <span class="text-[#415ABD]">{{location.city}}</span>
            <lucide-icon 
              name="trash2"
              class="stroke-red-600 ml-1" 
              [strokeWidth]="2"
              [size]="18"
            />
          </button>
        </div>

        <div class="bg-neutral-100 rounded-lg p-3">
          <p class="mb-2 uppercase text-xs font-bold text-neutral-500">Añade más ubicaciones</p>

          <!-- Province -->
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text">Provincia *</span>
            </div>

            <ng-select 
              class="input input-bordered bg-neutral-100 text-base"
              [disabled]="!isProfessional"
              [(ngModel)]="province"
            >
              @for (province of allProvinces; track province.id) {
                <ng-option [value]="province.id">{{province.title}}</ng-option>
              }
            </ng-select>
          </label>

          <!-- City -->
          <label class="form-control w-full error">
            <div class="label">
              <span class="label-text">Ciudad *</span>
            </div>
            <input 
              type="text" 
              class="input input-bordered w-full bg-neutral-100" 
              [disabled]="!isProfessional"
              [(ngModel)]="city"
            />
          </label>

          <!-- Button -->
          <button 
            class="btn bg-primary w-full mt-4 text-white hover:bg-primary/80 disabled:text-neutral-400"
            [disabled]="!isProfessional"
            (click)="addLocation()"
          >
            Añadir
          </button>
        </div>
      </div>

      <!-- Subsectors -->
      <div [ngClass]="{'opacity-50': !isProfessional}">
        <p class="mb-2 uppercase text-xs font-bold text-neutral-500">¿Cuál es tu profesión?</p>

        <span *ngIf="!mySubsectors.length" class="w-full block my-4 text-xs text-center text-neutral-500">No has añadido ninguna profesión</span>

        <div *ngIf="mySubsectors.length" class="flex flex-row flex-wrap gap-2 my-4">
          <button 
            *ngFor="let subsector of mySubsectors; let index = index"
            class="flex flex-row items-center rounded-full bg-[#e8f8ff] px-2 py-1 text-base font-bold border-[1px] border-solid border-[#0095d8] self-start"
            (click)="deleteSubsector(index)"
            [disabled]="!isProfessional"
          >
            <span class="text-[#0095d8]">{{subsector.nombre}}</span>
            <lucide-icon 
              name="trash2"
              class="stroke-red-600 ml-1" 
              [strokeWidth]="2"
              [size]="18"
            />
          </button>
        </div>

        <div class="bg-neutral-100 rounded-lg p-3">
          <p class="mb-2 uppercase text-xs font-bold text-neutral-500">Añade más profesiones</p>

          <!-- Subsector -->
          <label class="form-control w-full error">
            <div class="label">
              <span class="label-text label-error">Profesión *</span>
            </div>

            <ng-select 
              class="input input-bordered bg-neutral-100 text-base"
              [disabled]="!isProfessional"
              [(ngModel)]="subsector"
            >
              @for (subsector of allSubsectors; track subsector.id) {
                <ng-option [value]="subsector.id">{{subsector.nombre}}</ng-option>
              }
            </ng-select>
          </label>

          <!-- Button -->
          <button 
            class="btn bg-primary w-full mt-4 text-white hover:bg-primary/80 disabled:text-neutral-400"
            (click)="addSubsector()"
            [disabled]="!isProfessional || numProfessionAvaliable <= mySubsectors.length"
          >
            Añadir
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
