
:host{
  z-index: 101;
  width: 100%;
  position: relative;
  display: block;
  background: #fcfffe;
  contain: unset;
  height: 100%;

  select{
    border: 1px solid #d2d6db;
    border-radius: 6px;
    padding: 15px;
    background: none;
  }
  .form-group {
    display: flex;
    flex-direction: column;

    input{
      background: white;
    }
  }
  
.textarea-group label,
.form-group label {
  color: #374151;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  font-weight: 700;
  /* font-family: InterFont; */
  font-weight: 600;
  color: #696969;
  margin-bottom: 0;
  font-size: 14px;
  margin-top: 15px;
}

.form-group [type],
.textarea-group textarea {
	border: 1px solid #d2d6db;
	border-radius: 6px;
	padding: 15px;
}
.form-group [type]:hover,
.textarea-group textarea:hover {
	border-color: #a8afb9;
}
.form-group [type]:focus,
.textarea-group textarea:focus {
	border-color: #76aadb;
}
  .addButton{
       height: 45px;
       font-weight: bold;
       color: #ffffff;
       margin: auto;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 9px;
       margin: 0 auto;
       margin-right: 0;
       font-size: 14px;
       margin: 0;
       /* padding-top: 32px; */
       padding-right: 1px;
       background: #1b80f8;
       margin-top: 31px;
  }
  .container-valoraciones{
    margin-top: 30px
  }
  .container-general{
      width: 100%;
      height: -moz-fit-content;
      height: 100%;
      position: relative;
      /* display: flex; */
      /* padding: 38px 27px; */
      /* max-width: 1500px; */
      margin: auto;
      position: absolute;
      overflow: auto;

      .layer-gradient{
          height: 300px;
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 50px;
          background:linear-gradient(to top,rgb(255,255,255),rgb(208,230,255));
         
      }
     /* Media query for screens with a maximum width of 600px */
      @media only screen and (max-width: 780px) {
          padding-bottom: 117px
      }
   
      
      .container-section{
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;
        position: relative;
        display: flex;
        padding: 34px 21px;
        max-width: 1402px;
        margin: -149px auto 10px;
        .item1{
          width: 80%;
        }
     
        .item2{
          width: 20%;
        }
        @media only screen and (max-width: 1000px) {
          display: flex;
          flex-direction: column;
          padding: 38px 54px 0;

          .item1{
            width: 100%;
          }
       
          .item2{
            width: 100%;
          }
      
          /* Styles for screens with a width up to 600px */
        }
        @media only screen and (max-width: 780px) {
          padding: 0px 0px 0;
          width: 90%;
  
        }

       
    }
      .container-detail-search{
          width: 100%;
          height: -moz-fit-content;
          height: fit-content;
          position: relative;
          display: flex;
          padding: 38px 27px;
          max-width: 1485px;
          margin: -46px auto 100px;
          min-height: calc(65% - 69px);
          /* Media query for screens with a maximum width of 600px */
          @media only screen and (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            padding: 38px 54px 0;
            margin-top: 42px;
          
            /* Styles for screens with a width up to 600px */
          }
          @media only screen and (max-width: 780px) {
            padding: 0px 0px 0;
    
          }
       
    
          .containter-left{
            width: 40%;
            height: 100%;
            PADDING: 22PX;
            padding-left: 0;
            padding-top: 0;
            /* flex: 1; */
            position: sticky;
            top: 110px;
    
            @media only screen and (max-width: 1000px) {
              width: 100%;
              margin-bottom: 46px;
              position: relative;
              padding: 0;
              top: 0;
            }
    
          
            .card{
              min-height: 390px;
              box-shadow: #0000001a 0 12px 48px;
              background: rgb(255,255,255);
              border-radius: 8px;
              width: 92%;
              padding: 0 25px;
              margin: auto;
              margin-bottom: 35px;

               
              @media only screen and (max-width: 1270px) {
                padding: 0 10px;
              }
              .image-profile{
                  height: 156px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
  
                  img{
                      width: 91px;
                      height: 91px;
                      object-fit: cover;
                      border-radius: 100000%;
                  }
              }
              .name-profile{
                  text-align: center;
                  font-family: 'InterFont';
                  font-weight: bold;
                  color: #170F49;
                  height: 26px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 16px;
              }
              .subname-profile{
                text-align: center;
                font-family: DM Sans;
                font-weight: 700;
                color: #76aadb;
                height: 26px;
                display: block;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                margin-bottom: 19px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              .description-profile{
                  font-size: 15px;
                  width: 100%;
                  margin: auto;
                  font-family: DM Sans;
                  color: #6f6c90;
                  font-weight: normal;
                  line-height: 26px;
                  margin-bottom: 30px;
              }
              .capsule-active{

                /* border: 1px solid #ddd; */
                background: #ebf5fb;
                border-radius: 1000px;
                display: flex;
                justify-content: center;
                align-items: center;

              }
              .header-content-top-right{
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 28px;
                  margin-bottom: 30px;
                  .block-action-top{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                      gap: 11px;
                      margin-top: 30px;
                      cursor: pointer;
                      font-size: 15px;
                      font-family: InterFont;
                      margin-bottom: 43px;
                      font-family: DM Sans;
                      color: #60759f;
                  }

              }
              .buttons-profile{
                border-radius: 1000px;
                display: flex;
                color: #76aadb;
                justify-content: center;
                height: 24px;
                font-size: 16px;
                align-items: center;
                margin-bottom: 30px;
                gap: 4px;
  
                  .item-button{
                      width: 33.3%;
                      height: 40px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border: 1.8px solid;
                      font-weight: 700;
                      background: #fff;
                      color: #76aadb;
                      border-radius: 8px;
                      cursor: pointer;
                      font-size: 15px;

                      &.disabled{
                        opacity: .3;
                        pointer-events: none;
                      }
                      @media only screen and (max-width: 1270px) {
                        font-size: 13px;
                      }
                      
                      &.chat{
                          background: #76aadb;
                          color: #fff;

                          a{
                            text-decoration: none;
                            color: #fff
                          }
                      };
                  }
              
              }
            }
          }
          .containter-right{
            width: 60%;
            height: 100%;
            
            @media only screen and (max-width: 1000px) {
              width: 100%;
              margin-bottom: 46px;
              position: relative;
              padding: 0;
              top: 0;
          
            }
            .title-oracle{
              font-weight: bold;
              color: black;
              margin-bottom: 10px;
              font-size: 1.2rem;
              display: block;
             }
            .section-perfil{
              margin-top: 0px;
             .subtitle-oracle{
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 20px;
             }
            }
    
            .section-title{
              margin-top: 30px;
    
              .product-title{
                h1 {
                  width: 99%;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 24px;
                  line-height: 150%;
                  color: #111928;
                }
              } 
              
              .product-rating {
                justify-content: flex-start;
                align-items: center;
                display: flex;
                margin: 8px 0 32px;
    
                .content_item{
                  justify-content: flex-start;
                  align-items: center;
                  display: flex;
    
                  .list-stars-rating{
                    justify-content: flex-start;
                    align-items: center;
                    display: flex;
    
                    .stars{
                      justify-content: flex-start;
                      align-items: center;
                      display: flex;
                    }
                    .detail-rating{
                      margin-left: 10px
                    }
                  }
                  
                }
              }
            }
            .section-description{
              font-size: 16px;
              line-height: 24px;
    
              
            
            }
    
            .section-description{
              ion-label{
                ::ng-deep{
                  p{
                    color: #000;
                    font-size: 16px;
                    line-height: 24px;
                  }
                }
              }
            }
    
            .item-tip{
              min-height: 34px;
              box-shadow: #0000001a 0 12px 48px;
              background: rgba(225, 239, 254, 1);
              border-radius: 8px;
              width: 97%;
              /* padding: 15px 25px 0; */
              margin: auto;
            }
         
    
            .valoraciones{
              min-height: 94px;
              box-shadow: rgba(0, 0, 0, 0.1019607843) 0 12px 48px;
              background: rgb(255, 255, 255);
              border-radius: 8px;
              width: 92%;
              padding: 0 25px;
              margin: auto;
              padding-top: 15px;
              padding-bottom: 30px;

              
              .title-valoraciones{
                text-align: center;
                font-family: InterFont;
                font-weight: 700;
                color: #000000;
                height: 26px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 18px;
              }
              .item-valor{
                font-size: 15px;
                width: 100%;
                margin: auto auto 30px;
                font-family: DM Sans;
                color: #6f6c90;
                font-weight: 400;
                line-height: 26px;
                margin-top: 8px;
              }
            }
          }
      }


   
  }


.servicios-sections-cell-button {
  display: table-cell;
  vertical-align: middle;
  padding-left: 40px;

  @media only screen and (max-width: 1000px) {
    padding-left: 0;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 27px;
    margin: auto;
    margin-top: 21px

    /* Styles for screens with a width up to 600px */
  }
}

.servicios-sections-button-primary {
  cursor: pointer;
  background: #1B80F8;
  border-radius: 8px;
  padding: 14px 24px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

}
.div-profesions{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media only screen and (max-width: 780px) {
    display: block;
    .item-profesion{
      display: flex;
      justify-content: space-between;
      width: 100% !important;
      gap: 10px;
      column-gap: 10px;

      &.boton{
        width: 50%;
      }
    }
}
  .item-profesion{
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 10px;
    column-gap: 10px;

    
    &.boton{
      width: 13%;
    }
    .form-group{
      width: 100%;
    }
  }

}
.mobilesection{
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 46px;

  @media  (max-width: 1000px) {
    display: flex;
  }
}