<ion-header>
  <ion-toolbar color="febelink">
    <ion-icon
      (click)="goBack()"
      slot="start"
      name="arrow-back-outline"
    ></ion-icon>
    <ion-title class="ion-text-center">My Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="userWallets">
  <ion-grid>
    <ion-row>
      <ion-label>Public Key</ion-label>
      <ion-spinner *ngIf="!publicKey"></ion-spinner>
      <ng-container *ngIf="publicKey" tappable>
        <ion-label (click)="copyPublicKey()" tappable>{{ publicKey }}</ion-label>
        <ion-icon (click)="copyPublicKey()" name="clipboard"></ion-icon>
      </ng-container>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let currency of userWallets">
        <ion-card (click)="exchage( currency )">
          <ion-card-header>
            <img src="assets/icon/{{currency.currency.toLowerCase()}}.png" />

            <ion-card-subtitle> {{currency.currency}}</ion-card-subtitle>
            <ion-card-title> {{currency.ammount}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-item-divider> </ion-item-divider>
    </ion-row>
    <ion-row>
      <ion-title> Sin transacciones recientes. </ion-title>
    </ion-row>
  </ion-grid>
</ion-content>
