<ion-header>
  <ion-toolbar color="febelink">
    <ion-icon
      (click)="goBack()"
      slot="start"
      name="arrow-back-outline"
    ></ion-icon>
    <ion-title class="ion-text-center">{{ 'pages.wallet.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="userWallets">
  <!-- Loading -->
  <div class="vertical-content align-center margin-top" *ngIf="isLoading">
    <ion-row class="vertical-content">
      <ion-spinner class="margin-end"></ion-spinner>
      <h4 class="margin-start">{{ 'common.labelLoading' | translate }}</h4>
    </ion-row>
  </div>

  <ion-grid *ngIf="!isLoading">
    <!-- Public Key -->
    <ion-row class="margin-start" >
      <ion-col size="4">
        <ion-label>{{ 'pages.wallet.public-key' | translate }}</ion-label>
      </ion-col>
      <ng-container tappable>
        <ion-col size="6">
          <ion-label (click)="copyPublicKey()" class="one-line" tappable><b>{{ publicKey || '--' }}</b></ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-icon (click)="copyPublicKey()" name="clipboard" *ngIf="publicKey"></ion-icon>
        </ion-col>
      </ng-container>
    </ion-row>

    <!-- Retained Tokens -->
    <ion-row class="margin-start" *ngIf="retainedTks?.length > 0">
      <ion-label class="margin-end">{{ 'pages.wallet.retained' | translate }}</ion-label>
      <ion-grid>
        <ion-row *ngFor="let tks of retainedTks">
          <ion-label class="margin-start"><b>
            {{ tks?.type + '° ' + ( 'landing.phases.phase' | translate ) + ': ' }}
          </b></ion-label>
          <ion-label class="margin-start"><b>{{ tks?.num_tokens | splitNumber: false }}</b></ion-label>
          <ion-label class="decimal"><b>{{ tks?.num_tokens | splitNumber: true }}</b></ion-label>
        </ion-row>
      </ion-grid>
      
    </ion-row>

    <!-- Assets -->
    <ion-row>
      <ion-col *ngFor="let currency of userWallets">
        <ion-card (click)="exchange( currency )">
          <ion-row class="vertical-content">
            <img src="assets/icon/{{currency.currency.toLowerCase()}}.png" />
            <ion-card-subtitle> {{currency.currency}}</ion-card-subtitle>
          </ion-row>
          <ion-card-subtitle> {{currency.ammount}}</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Divider -->
    <ion-row>
      <ion-item-divider></ion-item-divider>
    </ion-row>

    <!-- Transactions History -->
    <ion-row class="margin-top" *ngIf="!transactions || transactions?.length == 0">
      <ion-title>{{ 'pages.wallet.no-transactions' | translate }}</ion-title>
    </ion-row>
  </ion-grid>
</ion-content>
