:host {
  .card {
    &.verified {
      background: #4198BD;
      background: linear-gradient(30deg, #4198BD 0, rgb(255, 255, 255) 70px);
    }

    .description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      
      &::ng-deep{
        * {
          display: inline;
          word-break: break-word;
        }
      }
    }
  }
}