@media (min-width: 768px) {
  .logo {
    width: 120px;
  }

  .dot_notif_avatar {
    margin-left: -25px;
    z-index: 10;
    margin-top: -31px;
  }
}

.logo {
  object-fit: scale-down;
  margin-left: 10px;
  width: 120px;
}

.dot_notif_avatar {
  margin-left: -31px;
  z-index: 10;
  margin-top: -29px;
}

ion-header {
  text-align: center;
  background: var(--ion-color-toolbar);

  ion-toolbar {
    @media (min-width: 768px) {
      width: 100%;
      padding-left: 3%;
      padding-right: 2.7%;

      .buttons_flex {
        display: flex;
        margin-left: 1em;
        width: 100%;
      }

      .desktop_menu_avatar, .avatarmenu {
        width: 56px;
        height: 56px;
      }
    }
  }


  ion-header {
    ion-toolbar {
      @media (min-width: 820px) {
        width: 100%;
        padding-left: 3em;
        padding-right: 3em;
      }
    }
  }


  #logo {
    width: 45%;
    margin: 1em;
    color: white;

    @media (min-width: 768px) {
      position: relative;
      width: 45%;
      max-width: 130px;
      left: 0;
      float: left;
      margin-left: 20px;
    }
  }

  .register-button {
    background-color: #2dd36f;
    border-radius: 5px;
    color: white;
  }
}

.menu_header {
  margin-left: 1em;
}

ion-content {
  .cargando-container {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .content-filter {
    @media (min-width: 768px) {
      margin: 40px 0px;
    }
  }
}

.desktop_menu_avatar, .avatarmenu {
  width: 46px;
  height: 46px;
}

.pos_menu {
  z-index: -1;
  display: flex;
  margin-left: -13px;
  width: 28px;
  height: 20px;
}

.chat {
  margin-left: 10px;
}

ion-thumbnail {
  width: 75px;
  height: 75px;
}

.header_buttons {
  padding-left: 1em;
}
