<header>
  <div  class="headerlogo" [ngClass]="{'detached': detached }">
    <div class="containerHeader">
      <div  class="left">
        <a href="/">
          <img  *ngIf="detached" src="assets/imgs/logo.png" alt="Logo Febelink22"/>
          <img  *ngIf="!detached " src="assets/imgs/logo.png" alt="Logo Febelink"/>
        </a>
      </div>
      <!-- MENU DESKTOP -->
      <div  class="right"  >
        <div  class="menu primary " [ngClass]="{'detached': detached}"><a  class="item " href="/">Home</a></div>
        <!-- <div  class="menu primary " [ngClass]="{'detached': detached}"><a  class="item " [href]="'/oracles'" >Oraculo</a></div> -->
        <!-- <div  class="menu primary " [ngClass]="{'detached': detached}"><a  class="item " >Carrito</a></div> -->
        <div  class="menu primary " [ngClass]="{'detached': detached}"><a  class="item" (click)="navigateToFavorites()">Favoritos</a></div>
        <!-- <div  class="menu primary " *ngIf="currentUser !== undefined"[ngClass]="{'detached': detached}"><a  class="item " href="/chat">Chat</a></div> -->

        <!-- Ceroideas start -->
            <div  class="menu primary " [ngClass]="{'detached': detached}">
                <a target="_blank" title="Qué es Febelink | Descargar App" href="https://www.febelink.com/app" class="item">
                    Qué es febelink?
                </a>
            </div>
            <div  class="menu primary " [ngClass]="{'detached': detached}">
                <a target="_blank" href="https://apps.apple.com/es/app/febelink/id6714484198">
                    <img class="h-12 my-0.5 object-contain img_download_app" src="assets/app/apple-es.png"/>
                </a>
            </div>
            <div  class="menu primary " [ngClass]="{'detached': detached}">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.febelink.app">
                    <img class="h-12 my-0.5 object-contain img_download_app2" src="assets/app/google-es.png"/>
                </a>
            </div>
        <!-- Ceroideas end -->
        <div  class="menu primary " [ngClass]="{'detached': detached}"><a  class="item login" (click)="navigateNewServices()">Ofrece tus servicios</a></div>
        <div  class="bell-parent primary " [ngClass]="{'detached': detached}" *ngIf="currentUser !== undefined">
            <a  class="item login" (click)="openDivNotifications()">
                <i class="fa-solid fa-bell fa-2x bell-icon"></i>
            </a>
            <div class="missing-notices" *ngIf="cnot > 0"></div>
            <div class="" *ngIf="cnot < 1">
                Sin resultados
            </div>
            <div class="container-notifications" *ngIf="openDiv">
                <div class="" *ngIf="cnot > 0">
                    <ul style="list-style: none;display: inline-block;">
                        <li>
                            <p style="font-size: .9em;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                                <small>
                                    11/06/2025 14:33
                                </small>
                            </p>
                            <hr style="border: solid 1px #333;">
                        </li>
                    </ul>
                </div>
                <button (click)="goNotifications()" class="link-not">
                    Ver todas
                </button>
            </div>
        </div>


        <div  class="menu secondary"[ngClass]="{'detached': detached}" >
          <div class="item login " *ngIf="currentUser === undefined" (click)="irA('/login')" >
            <i  class="fas fa-user-circle "></i> Acceder
          </div>
          <div class="item logged" *ngIf="currentUser !== undefined">
            <ion-menu-button class="avatarmenu">
              <ion-img [src]="currentUser?.logo || 'https://api.febelink.com/storage/users/default.png'"
                   (error)="onImgError($event)"
                   alt="Menu profile picture">
              </ion-img>
              <i class="fa fa-bars"></i>

            </ion-menu-button>
          </div>
        </div>
      </div>
      <!-- MENU -->
      <!-- <div class="menu-shadow" *ngIf="mobileMenu" (click)="closeMenu()" @inOutFade></div>
      <div class="menulayer" *ngIf="mobileMenu" @inOutMenu>
        <app-menu (closeRequest)="closeMenu()"></app-menu>
      </div> -->
  
      <!-- BOTON MENU MOVIL -->
      <div class="right mobile" 
        [ngClass]="{'detached': detached  , 'reduced': reduced}"
        >
        <div  class="menu primary " [ngClass]="{'detached': detached}">
            <a target="_blank" href="https://apps.apple.com/es/app/febelink/id6714484198" class="img-link-mobile">
                <img class="h-12 my-0.5 object-contain img_download_app_bootom120" src="assets/app/apple-es.png"/>
            </a>
        </div>
        <div  class="menu primary " [ngClass]="{'detached': detached}">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.febelink.app" class="img-link-mobile2">
                <img class="h-12 my-0.5 object-contain img_download_app_bootom120" src="assets/app/google-es.png"/>
            </a>
        </div>
        <div  class="menu primary " [ngClass]="{'detached': detached}">
            <a   [ngClass]="{'sinlogged': currentUser }"class="item login" (click)="navigateNewServices()">
                Ofrece tus servicios
            </a>
        </div>
     
        <ion-buttons *ngIf="currentUser" buttons-start slot="start">
          <ion-menu-button class="avatarmenu">
            
            <ion-img [src]="currentUser?.logo || 'https://api.febelink.com/storage/users/default.png'"
                   (error)="onImgError($event)"
                   alt="Menu profile picture">
              </ion-img>
              <i class="fa fa-bars"></i>
          </ion-menu-button>
        </ion-buttons>
        <ion-buttons *ngIf="!currentUser" buttons-start slot="start">
          <ion-menu-button class="avatarmenu"  (click)="irA('/login')">
            <div class="buttonlogin-mobile login-mobile ">
              <i  class="fas fa-user-circle "></i> 
            </div>
          </ion-menu-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</header>

