<div class="mobile">
  <div class="div-main-post">
    <div class="table-100">
      <app-user-item
            class="no-padding"
            [id]="iAdvise?.uid"
            [user]="iAdvise"
            [subtitle]="iAdvise?.created_at | dateFormat: dateFormatType.DateTime"
            [OnClickShowProfile]="true"
          ></app-user-item>
      <div class="cell-dots-top">
        <div class="follower-mobile">
          <app-follower-button
              [user]="postUser"
              [transparent]="true"
            ></app-follower-button>
        </div>
        <img src="assets/icon/svg/menu-dots.svg" (click)="options($event)" class="cell-dots-top-svg" />
      </div>
    </div>
    <div [innerHTML]="iAdvise.content" class="content-post post-content-main" [ngClass]="{'max-content-text' : showSeePost}"></div>
    <div class="post-content-topic">#{{ topic }}</div>
    <ion-img
          class="content-post-img"
          [src]="iAdvise.media_url"
          *ngIf="
            isPostVisible &&
            iAdvise.media_url &&
            fileSvc.isImage(iAdvise.media_ext)
          "
        ></ion-img>
    <div class="post-main-reactions">
      <div class="post-main-reactions-left">
        <span>{{iAdvise.react_qant}} </span>
        <span *ngIf="iAdvise.react_qant == 1">Reacción</span><span *ngIf="iAdvise.react_qant != 1">Reacciones</span>
      </div>
      <div class="post-main-reactions-right">
        <span>{{iAdvise.comments_qant}} </span>
        <span *ngIf="iAdvise.comments_qant == 1">Comentario</span><span *ngIf="iAdvise.comments_qant != 1">Comentarios</span>
      </div>
    </div>

    <app-post-bottom-bar-component
        *ngIf="isPostVisible"
        [id]="id"
        [post]="iAdvise"
        [showSeePost]="showSeePost"
      ></app-post-bottom-bar-component>


    <app-comments-component
    #comments
    [post]="iAdvise"
    [listComments]="listComments"
    [isVisible]="areCommentsVisible"
    (OnCommentsVisible)="isPostVisible = false"
  ></app-comments-component>
    
  </div>
</div>

<div class="desktop">
  <div class="div-main-post-b">
    <div class="table-100">
      <app-user-item
            class="no-padding"
            [id]="iAdvise?.uid"
            [user]="iAdvise"
            [subtitle]="iAdvise?.created_at | dateFormat: dateFormatType.DateTime"
            [OnClickShowProfile]="true"
          ></app-user-item>
      <div class="cell-dots-top-b">
        <app-follower-button
              [user]="postUser"
              [transparent]="true"
            ></app-follower-button>
      </div>
    </div>
    
    <div [innerHTML]="iAdvise.content" class="content-post post-content-main" [ngClass]="{'max-content-text-b' : showSeePost}"></div>
    <div class="post-content-topic">#{{ topic }}</div>
    <ion-img
          class="content-post-img"
          [src]="iAdvise.media_url"
          *ngIf="
            isPostVisible &&
            iAdvise.media_url &&
            fileSvc.isImage(iAdvise.media_ext)
          "
        ></ion-img>
    <div class="post-main-reactions-b">
      <div class="post-main-reactions-left">
        <span>{{iAdvise.react_qant}} </span>
        <span *ngIf="iAdvise.react_qant == 1">Reacción</span><span *ngIf="iAdvise.react_qant != 1">Reacciones</span>
      </div>
      <div class="post-main-reactions-right">
        <span>{{iAdvise.comments_qant}} </span>
        <span *ngIf="iAdvise.comments_qant == 1">Comentario</span><span *ngIf="iAdvise.comments_qant != 1">Comentarios</span>
      </div>
    </div>

    <app-post-bottom-bar-component
        *ngIf="isPostVisible"
        [id]="id"
        [post]="iAdvise"
        [showSeePost]="showSeePost"
      ></app-post-bottom-bar-component>


    <app-comments-component
    #comments
    [post]="iAdvise"
    [listComments]="listComments"
    [isVisible]="areCommentsVisible"
    (OnCommentsVisible)="isPostVisible = false"
  ></app-comments-component>
    
  </div>
</div>

<!--
<div class="marg-se marg-b30 pad-tb-1 w-max-600 shadow-light post-box">
  <ion-grid class="box-bw-r1-lln marg-5 no-padding">
    <ion-row class="marg-s10 marg-e10" (click)="navigateToPost()">
      <ion-col [size]="!showFollow ? 10 : 8" class="no-padding">
        <!-- Post Owner User 
        <app-user-item
          class="no-padding"
          [id]="iAdvise?.uid"
          [user]="iAdvise"
          [subtitle]="iAdvise?.created_at | dateFormat: dateFormatType.DateTime"
          [OnClickShowProfile]="true"
        ></app-user-item>
      </ion-col>

      <ion-col [size]="!showFollow ? 2 : 4" class="no-padding">
        <!-- Post Language 
        <ion-row class="align-end" *ngIf="showLang">
          <app-lang-btn
            [langIdSelected]="iAdvise?.lang"
            [disabled]="true"
          ></app-lang-btn>
        </ion-row>

        <!-- Options Menu 
        <ion-row class="align-end" *ngIf="showOpts">
          <ion-button
            icon-only
            color="transparent"
            class="no-padding no-shadow no-margin"
            (click)="options($event)"
          >
            <ion-icon
              class="font-30"
              src="assets/icon/svg/options.svg"
            ></ion-icon>
          </ion-button>
        </ion-row>

        <ion-row class="align-end">
          <!-- If has Edited The Post 
          <ion-label
            class="hint font-13"
            *ngIf="iAdvise.created_at != iAdvise.updated_at"
          >
            {{ 'common.labelEdited' | translate }}
          </ion-label>
        </ion-row>

        <ion-row class="align-end">
          <app-follower-button
            [user]="postUser"
            [transparent]="true"
          ></app-follower-button>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Topic 
    <ion-row
      class="marg-s10 marg-e10"
      *ngIf="iAdvise.topic"
      (click)="navigateToPost()"
    >
      <ion-label color="febelink" class="font-14"> #{{ topic }} </ion-label>
    </ion-row>

    <!-- Title -->
    <!-- <ion-row
      class="one-line marg-t5 marg-s10 marg-e10"
      (click)="navigateToPost()"
    >
      <h1
        class="no-margin bold-6 font-18 title"
        [innerHTML]="extractTitle()"
      ></h1>
    </ion-row> -->

    <!-- Subitle -->
    <!-- <ion-row
      class="one-line marg-t5 marg-s10 marg-e10"
      *ngIf="iAdvise.subtitle"
      (click)="navigateToPost()"
    >
      <h3
        class="no-margin font-16 subtitle"
        [innerHTML]="iAdvise.subtitle"
      ></h3>
    </ion-row> -->

    <!-- Summary -->
    <!-- <ion-row
      class="lines-2 marg-10 marg-t5 inline"
      *ngIf="iAdvise.summary || !showContent"
      (click)="navigateToPost()"
    >
      <ion-label
        [class]="'summary ' + (!iAdvise?.subtitle ? '' : 'hint')"
        [innerHTML]="extractSummary()"
      ></ion-label>
    </ion-row> 
    <ion-row
      class="lines-2 marg-10 marg-t5 inline"
      *ngIf="iAdvise.summary || !showContent"
      (click)="navigateToPost()"
    >
      <ion-label
        [class]="'summary ' + (!iAdvise?.subtitle ? '' : 'hint')"
        [innerHTML]="iAdvise.content"
      ></ion-label>
    </ion-row>

    <!-- Summary Referencing Post
    <ion-row
      class="marg-t10"
      *ngIf="iAdvise?.id_advise"
      (click)="navigateToPost()"
    >
      <ion-spinner class="marg-se marg-b5" *ngIf="!oracleRef"></ion-spinner>
      <app-post-summary-component
        *ngIf="oracleRef"
        class="w-full pad-se-10"
        [id]="iAdvise?.id_advise"
        [iAdvise]="oracleRef"
      ></app-post-summary-component>
    </ion-row>

    <!-- Media
    <ion-row
      class="marg-t10"
      *ngIf="(isPostVisible && iAdvise.media_url) || linksArray.length > 0"
      (click)="navigateToPost()"
    >
      <!-- Image 
      <ion-img
        class="h-social-media marg-se media"
        [src]="iAdvise.media_url"
        *ngIf="
          isPostVisible &&
          iAdvise.media_url &&
          fileSvc.isImage(iAdvise.media_ext)
        "
      ></ion-img>

      <!-- Video && '#t=0.001' is for telling the browser to skip the first millisecond of the video 
      <video
        playsinline
        controls
        *ngIf="fileSvc.isVideo(iAdvise.media_ext)"
        class="w-social-media h-social-media media-video media"
        [src]="iAdvise.media_url + '#t=0.001'"
        preload="metadata"
      ></video>

      <ngx-link-preview
        *ngIf="!iAdvise.media_url"
        class="modern"
        [apiRoute]="apiMetaTagUrl"
        [getApiEndpoint$]="apiCallbackFn"
        [links]="linksArray"
        [showLinkUrl]="true"
        [useHtmlLinkDefaultClickEvent]="true"
      ></ngx-link-preview>
    </ion-row>

    <!-- Comments 
    <ion-row
      class="marg-5 align-end comments"
      *ngIf="iAdvise.comments_qant > 0"
    >
      <em
        ><ion-label
          class="hint font-12"
          [innerHTML]="
            iAdvise.comments_qant + ' ' + ('pages.posts.comments' | translate)
          "
        ></ion-label
      ></em>
    </ion-row>

    <!-- Content
    <ion-row
      class="marg-10 content word-wrap"
      *ngIf="showContent && isPostVisible"
    >
      <ion-label [innerHTML]="iAdvise.content"></ion-label>
    </ion-row>

    <app-post-bottom-bar-component
      *ngIf="isPostVisible"
      [id]="id"
      [post]="iAdvise"
      [showSeePost]="showSeePost"
    ></app-post-bottom-bar-component>

    <!-- Set Post Visible 
    <ion-row class="align-center" *ngIf="!isPostVisible">
      <em
        class="pointer font-12"
        (click)="isPostVisible = true; areCommentsVisible = false"
      >
        <ion-label color="primary">{{ 'Show Post' | translate }}</ion-label>
      </em>
    </ion-row>
  </ion-grid>

  <app-comments-component
    #comments
    [post]="iAdvise"
    [listComments]="listComments"
    [isVisible]="areCommentsVisible"
    (OnCommentsVisible)="isPostVisible = false"
  ></app-comments-component>
</div>
-->
