:host{
  background: #FAFAFA;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  th{
    background: #55abdd !important;
    color: #fff !important;
  }
  input{background-color: #fff; color: #000;}

  .container-general{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    column-gap: 12px;
    max-width: 100%;
    height: 100%;
    background: #FAFAFA;
    margin: auto;
    width: 1440px;
     
   
      ion-icon{
        margin-right: 20px;
        margin-left: 8px;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
      .title{
        width: 100%;
        text-align: center;
        height: 68px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem;
        line-height: 1em;
        background: #FAFAFA;
        color: #777;
        position: relative;
        margin: auto;
        max-width: 1440px;
        .simbol{
          margin-left: 10px;
          margin-right: 10px;
        }
        .span1{
          font-weight: 600;
          color: #333
        }
        .button-add{
          position: absolute;
          right: 50px;
          background: #2492c6;
          color: #fff;
          padding: 8px 16px;
          font-weight: bold;
          border-radius: 1000px;
          font-size: .9rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;

          i{
            margin-right: 10px;
          }
        }
      }
      .buscador{
        width: 100%;
        margin: auto;
        height: 68px;
        border-bottom: 1px solid #ddd;
        max-width: 1440px;

        ion-searchbar{
          border: none !important;
          box-shadow: none !important;

          ::ng-deep{
            input{
              border: none !important;
              background: #fff !important;
              box-shadow: 0 22px 40px #b3bcc930!important;
            }
          }
        }
        
      }
      .container-admin{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        column-gap: 12px;
        max-width: 100%;
        height: 100%;
        background: #FAFAFA;
        margin: auto;
        width: 1440px;
      .cargando-container {
        text-align: center;
        margin-top: 10px;
        
        ion-row {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: center;
          -webkit-justify-content: center;
          flex-direction: row;
          -webkit-flex-direction: row;
      
          ion-spinner {
            margin-right: 20px;
          }
        }
      }
      .scroll-inner{
        background: #FAFAFA;
        width: 100%;
      }

      ion-content{
          --background: #FAFAFA;
      }
     
      
      #tokensUsersTable {
        margin: 10px;
        border-collapse: collapse;
        width: 100%;
        
        td, th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        tr:nth-child(even){background-color: #f2f2f2;}
        
        tr:hover {background-color: #ddd;}
        
        th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: center;
          background-color: var(--ion-color-primary);
          color: white;
        }

        .balance {
          text-align: center;
          color: var(--ion-color-febelink);
        }
        .edit {
          text-align: center;
         
          color: #16c916;
      }

      .delete {
          text-align: center;
          color: #b33232;
      }


        ion-icon{
            font-size: 18px;
            cursor: pointer;
        }
        
        .reduct { max-width: 120px; }
        .obs { max-height: 50px; overflow: hidden; }
      }
      // Scrollbar Override
      .scroll-inner {
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar:horizontal {
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: transparentize(#ccc, 0.7);
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: transparentize(#ccc, 0.5);
          box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
      }
    }
  }
  #createKeywordController {
    width: 100%;
  color: #000;
  justify-content: space-around;
  background: #fff !important;
  box-shadow: 0 22px 40px rgba(179, 188, 201, 0.1882352941) !important;
  position: fixed;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  top: 14px;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 222;
  padding: 16px 0;
  border-radius: 10px;
  right: 0;
  min-height: 80%;
  overflow: auto;
  max-height: 271px;
  margin: auto;

    .headerTitle{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      font-weight: 700;
      font-size: 1.2rem;
      padding-top: 10px;
      padding: 0 29px;
      color: #0e4a87;
    }
    .headerSubTitle{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: normal;
      font-size: 1rem;
      padding-top: 10px;
      padding: 0 29px;
      margin-bottom: 27px;
      color: #416a95;
    }
    .containerKeyWord{
      width: 100%;
      height: calc(100% - 81px);

      .item-select{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
        flex-direction: column;
        margin: auto;
        height: fit-content;
        gap: 10px;
        margin-bottom: 14px;
        label{
          font-weight: bold;
          font-size: 1rem;
        }

        select{
          height: 39px;
          border: 1px solid lightgrey;
          background: none;
          padding: 0 10px;
          border-radius: 5px;
        }
        input{
          height: 39px;
          border: none;
          border-bottom: 1px solid lightgrey;
          background: none;
          padding: 0 10px;
          border-radius: 5px;
          width: 98%;

        }
      }
      .buttons{
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: auto 25px 8px auto;
        column-gap: 10px;

      }
    }
  }
  #darkcreateKeywordController{
    background: #00000052;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 30;
    top: 0;
  }
  
  
  
.td_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 25px;
    height: 25px;
    object-fit: contain;
  }
}

  .addInput{
    color: #3880ff;
    margin: auto;
    margin-right: 20px;
    height: 23px;
    font-weight: bold;
    background: none;
  }
  #inputContainer{
    width: 100%;
  }
}
