<div class="container-general">
  <div class="title">
    <ion-back-button defaultHref="/admin"></ion-back-button> 
    Panel de Administrador 
    <span class="simbol">></span> 
    <span class="span1">Gestion keyword - Sectores</span>
    <div class="button-add" (click)="showCreate()"><i class="fa fa-plus"></i>Añadir</div>
  </div>
  <div class="buscador">
    <ion-searchbar
      [placeholder]="'Gestionar termino de busqueda'"
      inputmode="text"
      (keyup.enter)="search_filter($event)"
      (ionChange)="search_filter($event)"
      (ionClear)="search_filter($event)"
      debounce="500"
    ></ion-searchbar>
  </div>
  


  <div class="container-admin">
    <ion-content>
      <!-- Loading -->
      <div class="cargando-container" margin-top *ngIf="isLoading">
        <ion-row>
          <ion-spinner></ion-spinner>
          <h4>{{ 'common.labelSearching' | translate }}</h4>
        </ion-row>
      </div>
    
      <div class="scroll-inner">
        <table id="tokensUsersTable"> 
          <tr>
            <th style="width: 15%">Sector</th>
            <th style="width:8%">Icono</th>
            <th>Link</th>
            <th>Keywords</th>
            <th colspan="2" style="width: 10%">Acciones</th>
          </tr>
          <tr *ngFor="let keys of sectorKeys">
            <td [ngSwitch]="keys.isEdit">
              <span *ngSwitchDefault>{{keys.nombre}}</span>
            
            </td>
            <td [ngSwitch]="keys.isEdit" class="td_icon">
           <img src="{{keys.icon}}">
            
            </td>
            <td [ngSwitch]="keys.isEdit">
              <span *ngSwitchDefault>{{keys.link}}</span>
            </td>
            <td [ngSwitch]="keys.isEdit">
              <span *ngSwitchDefault>{{keys.keySearchParse}}</span>
            </td>
            <td class="edit">
              <ion-icon name="create-outline" (click)="showEdit(keys)"></ion-icon>
            </td>
            <td class="delete">
              <ion-icon
                name="trash-outline"
                (click)="delete(keys)"
              ></ion-icon>
            </td>
          </tr>
        </table>
      </div>
    
      <!-- Pagination Bottom -->
      <app-pagination
        *ngIf="qPages > 1"
        [qPages]="qPages"
        [totalRecords]="totalRecords"
        [recordsPerPage]="recordsPerPage"
        [activePage]="activePage"
        [disabled]="isLoading"
        (onPageChange)="displayActivePage( $event )"
      >
      </app-pagination>
    </ion-content>
    
  </div>
</div>


<!--  -->
<div id="darkcreateKeywordController" *ngIf="showCreatekeyword"></div>
<div id="createKeywordController" *ngIf="showCreatekeyword">
  <div class="headerTitle">Sector</div>
  <div class="headerSubTitle">Introduce un nombre y agregale una termino de busqueda e icono</div>
  <div class="containerKeyWord">
    <div class="item-select">
      <label>Nombre: *</label>
      <input type="text" [(ngModel)]="keySector.nombre"  #newKeywordSector  >
    </div>
    <div class="item-select">
      <label>Link: *</label>
      <input type="text" [(ngModel)]="keySector.link"   #newKeywordValue >
    </div>
    <div class="item-select">
      <label>Terminos de Busqueda: *</label>
      <div  id="inputContainer">
        <!-- <input type="text" [(ngModel)]="keySector.icon"   #newKeywordIcon > -->
        
      </div>
     
      <button type="button" class="addInput" (click)="addInput()">Añadir otro</button>
    </div>
    <div class="item-select">
      <label>Icono: *</label>
      <input type="text" [(ngModel)]="keySector.icon"   #newKeywordIcon >
    </div>
    <div class="buttons">
      <ion-button color="light" (click)="restoreData()">Cancelar</ion-button>
      <ion-button color="primary" *ngIf="keySector.sector !== ''" (click)="edit(newKeywordSector.value, newKeywordValue.value,  newKeywordIcon.value);">Modificar</ion-button>
      <ion-button color="success" *ngIf="keySector.sector == ''" (click)="create(newKeywordSector.value, newKeywordValue.value,  newKeywordIcon.value);">Añadir</ion-button>
    </div>
  </div>
  
</div>