<div class="mobile">
  <div class="user-item-main">
    <img
      src="https://api.febelink.com/storage/users/default.png"
      class="user-item-img-main"
      *ngIf="!user?.logo && !user?.avatar"
      (click)="userClick()"
    />
    <ion-img
      class="user-item-img-main"
      [src]="user?.logo || user?.avatar"
      *ngIf="user?.logo || user?.avatar"
      appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
    ></ion-img>
  </div>
  <div class="user-item-text">
    <div class="user-item-text-name" (click)="userClick()">
      <h2>
        {{ user?.name || user?.nick || ('common.labelUser' | translate) }}
        {{ user?.lastName }}
      </h2>
    </div>
    <div class="user-item-text-date">
      {{ subtitle }}
    </div>
  </div>
</div>
<div class="desktop">
  <div class="user-item-main">
    <img
      src="https://api.febelink.com/storage/users/default.png"
      *ngIf="!user?.logo && !user?.avatar"
      class="user-item-img-main-b"
      (click)="userClick()"
    />
    <ion-img
      class="user-item-img-main-b"
      [alt]="user?.logo || user?.avatar"
      [title]="user?.logo || user?.avatar"
      [src]="user?.logo || user?.avatar"
      *ngIf="user?.logo || user?.avatar"
      appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
    ></ion-img>
  </div>
  <div class="user-item-text-b">
    <div class="user-item-text-name-b" (click)="userClick()">
      <h2>
        {{ user?.name || user?.nick || ('common.labelUser' | translate) }}
        {{ user?.lastName }}
      </h2>
    </div>
    <div class="user-item-text-date-b">
      {{ subtitle }}
    </div>
  </div>

  <!--
<div class="user-item-main">
    <img src="https://api.febelink.com/storage/users/default.png" *ngIf="!user?.logo && !user?.avatar" (click)="userClick()" />
    <ion-img class="user-item-img-main"
        [src]="user?.logo || user?.avatar"
        *ngIf="user?.logo || user?.avatar"
        appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
    ></ion-img>
</div>
<div class="user-item-text">
    <div class="user-item-text-name" (click)="userClick()">
        {{ user?.name || user?.nick || ( 'common.labelUser' | translate )}} {{ user?.lastName }}
    </div>
    <div class="user-item-text-date">
        {{ subtitle }}
    </div>
</div>
-->

  <!--
     <ion-col [size]="4" *ngIf="user?.txEnd">
                <ion-label *ngIf="user?.txEnd">
                    {{ txEnd | translate }}
                    <em class="font-13 hint" *ngIf="user?.txSubend">{{ txSubEnd }}</em>
                </ion-label>
            </ion-col>
--></div>
