<ion-item
    tappable
    [class]="'no-padding ' + ( clase || '' )"
    lines="none"
    (click)="userClick()"
    color="transparent"
>
    <ion-avatar slot="start" [class]="'no-margin ' + ( classImg || '')">
        <img src="https://api.febelink.com/storage/users/default.png" *ngIf="!user?.logo && !user?.avatar" />
        <ion-img
            [src]="user?.logo || user?.avatar"
            *ngIf="user?.logo || user?.avatar"
            appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
        ></ion-img>
    </ion-avatar>
    <ion-grid>
        <ion-row>
            <!-- UserName -->
            <ion-col [size]="txEnd ? 8 : 12">
                <ion-label>
                    {{ user?.name || user?.nick || ( 'common.labelUser' | translate )}} {{ user?.lastName }}
                    <br><em class="font-13 hint" *ngIf="subtitle">{{ subtitle }}</em>
                </ion-label>
            </ion-col>

            <!-- Text End -->
            <ion-col [size]="4" *ngIf="user?.txEnd">
                <ion-label *ngIf="user?.txEnd">
                    {{ txEnd | translate }}
                    <em class="font-13 hint" *ngIf="user?.txSubend">{{ txSubEnd }}</em>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-item>