@import '../../scss/style.scss';

#team-row {
    display: flex;
    justify-content: space-around;
}

#img_container {
    position: relative;
}
#social_linkedin {
    position: absolute;
    bottom: -15%;
    left: 32%;
}