<!-- Pricing start -->
<section class="section" id="section-pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-5" id="team-heading">
          <h5 class="text-primary text-uppercase small-title" id="mini-titular">
            NUESTRO EQUIPO
          </h5>
          <!--<h1 class="mb-3" id="titular-seccion">Equipo Especializado</h1>-->
          <p id="text-newsletter">
            La experiencia y el conocimiento son señas de identidad de las
            personas que conforman nuestro grupo de trabajo. Únete a nuestro
            equipo en expansión.
          </p>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="kIdTeam">
      <div class="kIdTeamChild">
        <div class="row" id="team-row">
          <div class="col-lg-6">
            <img src="assets/landing/team_member_JD.png" id="team-image" />
            <h1 class="mb-5" id="titular-team">
              <span class="font-24">Juan E. Dominguez Portillo</span>
            </h1>
            <p id="text-team">
              Founder & CEO. Empresario con 27 años de experiencia,
              desarrollando su carrera principalmente en la consultoría
              financiera y en el sector de la automoción.
            </p>
            <a
              href="https://es.linkedin.com/in/juan-e-dom%C3%ADnguez-portillo-305b72b4"
              target="_blank"
              class=""
              id="team-link"
              >LinkedIn URL
              <i-feather name="arrow-right" class="icons-sm ml-1"> </i-feather
            ></a>
          </div>

          <div class="col-lg-6">
            <img src="assets/landing/team_member_DB.png" id="team-image" />
            <h1 class="mb-5" id="titular-team">
              <span class="font-24">David Bernal Guerrero</span>
            </h1>
            <p id="text-team">
              Co-Founder & CTO. Desarrollador con gran experiencia en sistemas
              en Cloud. Ha trabajo en grandes instituciones públicas y casas de
              subastas online como: Christie's, Hilco StremBank o LeasePlan.
            </p>
            <a
              href="https://www.linkedin.com/in/david-bernal-guerrero-74a5ba10a/"
              target="_blank"
              class=""
              id="team-link"
              >LinkedIn URL
              <i-feather name="arrow-right" class="icons-sm ml-1"> </i-feather
            ></a>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="kIdTeamChild">
        <div class="row" id="team-row">
          <div class="col-lg-6">
            <img src="assets/landing/team_member_MD.png" id="team-image" />
            <h1 class="mb-5" id="titular-team">
              <span class="font-24">Miguel Díaz de Terán</span>
            </h1>
            <p id="text-team">
              Profesional de marketing con amplia experiencia en tecnología y
              FMCG. responsable de marketing de diversas multinacionales como
              Hewlett-Packard o WD-40 Company.
            </p>
            <a
              href="https://www.linkedin.com/in/migueldiazdeteran/"
              target="_blank"
              class=""
              id="team-link"
              >LinkedIn URL
              <i-feather name="arrow-right" class="icons-sm ml-1"> </i-feather
            ></a>
          </div>

          <div class="col-lg-6">
            <img src="assets/landing/team_member_OM.png" id="team-image" />
            <h1 class="mb-5" id="titular-team">
              <span class="font-24">Óscar Melchor Galán</span>
            </h1>
            <p id="text-team">
              Empresario. Creador de Ingenierías de Tráfico alternativas,
              Sistemas de Comunicaciones, Proyectos 3D/VR/AR, Estabilización de
              Satélites, etc.
            </p>
            <a
              href="https://www.linkedin.com/in/%C3%B3scar-melchor-gal%C3%A1n-b485a79/"
              target="_blank"
              class=""
              id="team-link"
              >LinkedIn URL
              <i-feather name="arrow-right" class="icons-sm ml-1"> </i-feather
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- Pricing end -->
