<ion-header>
  <ion-toolbar color="febelink">
    <ion-title>Política de privacidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <strong>POLÍTICA DE PRIVACIDAD DE FEBELINK</strong><br><br>

  A continuación, le informamos sobre la política privacidad que se aplicará en aquellos casos en los que el interesado, a través de la navegación del sitio web https://www.febelink.com/ y/o de la aplicación móvil (en adelante respectivamente, el “<strong>Sitio Web</strong>” y la “<strong>Aplicación</strong>”, o conjuntamente la “<strong>Plataforma</strong>”) de FEBELINK DIGITAL S.L. nos facilite sus datos de carácter personal. Queremos informarle de nuestra Política de Privacidad actualizada y del destino ofrecido a los datos personales que nos facilita, incluyendo aquellos que recabamos por el hecho de navegar en nuestro Sitio Web y Aplicación.

<br><br>
  <strong>1.  IDENTIFICACIÓN DEL RESPONSABLE</strong><br><br>
  <ol>
    <li>
      <strong>Titular: </strong>FEBELINK DIGITAL S.L. (en adelante, el “Responsable”)
    </li><br>
    <li>
      <strong>Domicilio social: </strong>Camino del pato, 27, PISO 2º B, 29004 - Málaga.
    </li><br>
    <li>
      <strong>Información registral: </strong>Registro Mercantil de Málaga, Boletín 86, Referencia 216576, Tomo 6031, Libro 4938, Folio 74, Sección 8, Hoja 160744, Inscripción 1.
    </li><br>
    <li>
      <strong>CIF: </strong>B05367511
    </li><br>
    <li>
      <strong>E-mail: </strong> <a href="mailto:info@febelink.com">info@febelink.com</a>
    </li><br>
  </ol>
  <br>
  <strong>2.  INFORMACIÓN Y CONSENTIMIENTO</strong><br><br>
  <ol>
    <li>
      De conformidad con lo dispuesto en la Reglamento General UE 679/2016 de Protección de Datos (en adelante, “<strong>RGPD</strong>”) y en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos y Garantía de los Derechos Digitales (en adelante, “<strong>LOPDGDD</strong>”) mediante la aceptación de la presente Política de Privacidad el Interesado web (en adelante, el “<strong>Interesado</strong>”) <strong>PRESTA SU CONSENTIMIENTO</strong> informado, expreso, libre e inequívoco para tratar los datos personales recabados a través del Sitio Web y/o de la Aplicación, ya sea través de formularios habilitados al efecto o bien a través de la información recabada por las cookies.
    </li><br>
    <li>
      Asimismo, el Interesado consiente que estos datos sean tratados por el Responsable para prestar sus servicios aplicando las medidas organizativas y de seguridad requeridas por el RGPD.
    </li><br>
    <li>
      Todos los datos personales solicitados al Interesado en el Sitio Web y/o en la Aplicación son obligatorios, no siendo posible prestar el servicio sin el correspondiente tratamiento de datos por parte del Responsable. Ello, no obstante, la navegación en el Sitio Web y/o en la Aplicación es gratuita.
    </li><br>
    <li>
      El Interesado garantiza que los datos personales facilitados al Responsable son ciertos y exactos, con lo que el Responsable no se hará responsable de cualquier incidencia derivada de la inexactitud o falsedad de la información proporcionada por los Interesados, más allá de la posibilidad que tiene el Interesado de ejercitar su derecho de rectificación.
    </li><br>
    <li>
      En el caso que el Interesado nos facilite datos de terceras personas, como responsable o encargado del tratamiento, será responsable de cumplir con toda la normativa de protección de datos aplicable. Además, el Interesado garantiza que ha obtenido todos los consentimientos, autorizaciones y/o aprobaciones legalmente necesarias antes de incluir datos personales de terceros en el Sitio Web y/o en la Aplicación.
    </li><br>
  </ol>
  <strong>3.  PROCEDENCIA, FINALIDAD Y BASE JURÍDICA</strong><br><br>
  <ol>
    <li>
      Los datos personales del Interesado, o de terceros, que sean cedidos por el Interesado, serán tratados de forma confidencial y quedarán incorporados a la correspondiente actividad de tratamiento del Responsable.
    </li><br>
    <li>
      Las actividades del tratamiento llevadas a cabo por el Responsable son las siguientes:
    </li><br>
  </ol>
  <br><br>
  <table>
    <tr>
      <th colspan="2"><strong>ACTIVIDAD: REGISTRO DEL INTERESADO</strong></th>
    </tr>
    <tr>
      <td>PROCEDENCIA</td>
      <td>Información que el Interesado proporciona directamente a través del formulario de registro accesible en la Sitio Web y/o a través del onboarding en la Aplicación.</td>
    </tr>
    <tr>
      <td>BASE JURÍDICA</td>
      <td>Reglamento General de Protección de Datos, en particular: 
        <ul>
          <li>
            Art. 6.1, b): ejecución de un contrato en el que el interesado es parte.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>FINES TRATAMIENTO</td>
      <td>Identificar al Usuario para que pueda acceder a los servicios prestados por el Responsable, así como los datos necesarios para poder gestionar y ejecutar la prestación de los mismos.</td>
    </tr>
    <tr>
      <td>COLECTIVO</td>
      <td>Personas físicas y jurídicas.</td>
    </tr>
    <tr>
      <td>CATEGORÍA DE DATOS</td>
      <td>Dirección de correo electrónico, nombre, apellidos, fotografía del rostro, sector en el cual el interesado desarrolla su actividad profesional, así como cualquier otro tipo de dato que pueda facilitar el interesado en el campo “descripción” del formulario para personalizar el perfil de Usuario en el Sitio Web.</td>
    </tr>
    <tr>
      <td>DESTINATARIOS</td>
      <td>No está prevista la cesión de datos a terceros, salvo obligación legal o previo consentimiento inequívoco e informado del interesado. No obstante, la información de los Usuarios que se registren en el Sitio Web o App podrá hacerse pública a elección de los Usuarios en el Sitio Web o app, para que otros Usuarios puedan conocer sus perfiles profesionales, sus proyectos o bien recomendarles.</td>
    </tr>
    <tr>
      <td>TRANSFERENCIA INTERNACIONAL</td>
      <td>No está prevista la transferencia internacional de los datos.</td>
    </tr>
    <tr>
      <td>PLAZOS DE CONSERVACIÓN</td>
      <td>Los datos serán conservados hasta que haya acabado la finalidad para la que fueron recabados, salvo que los datos deban mantenerse por una obligación legal.</td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <th colspan="2"><strong>ACTIVIDAD: GESTIÓN LA PLATAFORMA FEBELINK</strong></th>
    </tr>
    <tr>
      <td>PROCEDENCIA</td>
      <td>Información que el Interesado proporciona directamente a través del formulario de registro disponible en el Sitio Web y/o a través de la Aplicación, así como mediante el simple uso de la Aplicación o Sitio Web.</td>
    </tr>
    <tr>
      <td>BASE JURÍDICA</td>
      <td>Reglamento General de Protección de Datos, en particular: 
        <ul>
          <li>
            Art. 6.1.b): el tratamiento es necesario para la ejecución de un contrato en el que el interesado es parte o para la aplicación a petición de este de medidas precontractuales.
          </li>
          <li>
            Art. 6.1.f): el tratamiento es necesario para la satisfacción de intereses legítimos perseguidos por el responsable del tratamiento.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>FINES TRATAMIENTO</td>
      <td>Gestionar la Plataforma de modo que los interesados puedan hacer uso de la misma.</td>
    </tr>
    <tr>
      <td>COLECTIVO</td>
      <td>Personas físicas y/o jurídicas.</td>
    </tr>
    <tr>
      <td>CATEGORÍA DE DATOS</td>
      <td>Además de los obtenidos a través del formulario de registro, se pueden tratar los siguientes datos relativos a los Usuarios:<br>
        -       Búsquedas llevadas a cabo;<br>
        -       Recomendaciones activas o pasivas;<br>
        -       Comportamiento llevado a cabo en la Plataforma;<br>
        -       Conversaciones mantenidas con Febelink o con otros Usuarios, si bien en este último caso la información estará pseudonimizada.<br>
        -       Datos sobre pagos;<br>
        -       Datos sobre movimientos del token FLAU.

      </td>
    </tr>
    <tr>
      <td>DESTINATARIOS</td>
      <td>No está prevista la cesión de datos a terceros, salvo obligación legal o previo consentimiento inequívoco e informado del interesado. No obstante, determinada información de los Usuarios que se registren en el Sitio Web o App podrá hacerse pública a elección de los Usuarios en el Sitio Web o App, para que otros Usuarios puedan conocer sus perfiles profesionales, sus proyectos o bien recomendarles.</td>
    </tr>
    <tr>
      <td>TRANSFERENCIA INTERNACIONAL</td>
      <td>No está prevista la transferencia internacional de los datos.</td>
    </tr>
    <tr>
      <td>PLAZOS DE CONSERVACIÓN</td>
      <td>Los datos serán conservados hasta que haya acabado la finalidad para la que fueron recabados, salvo que los datos deban mantenerse por una obligación legal.</td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <th colspan="2"><strong>ACTIVIDAD: CONTACTO O CONSULTAS</strong></th>
    </tr>
    <tr>
      <td>PROCEDENCIA</td>
      <td>Del propio Interesado a través del envío de correos electrónicos a una de las direcciones de correo electrónico indicadas en el Sitio Web o en la Aplicación, así como haciendo uso de cualquier número de teléfono facilitados a través del Sitio Web y/o de la Aplicación o de los formularios de contacto presentes en estos últimos.</td>
    </tr>
    <tr>
      <td>BASE JURÍDICA</td>
      <td>Reglamento General de Protección de Datos, en particular: 
        <ul>
          <li>
            Art. 6.1.b): petición de medidas precontractuales.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>FINES TRATAMIENTO</td>
      <td>Atender y responder las consultas solicitadas por el Interesado.</td>
    </tr>
    <tr>
      <td>COLECTIVO</td>
      <td>Personas físicas y/o jurídicas.</td>
    </tr>
    <tr>
      <td>CATEGORÍA DE DATOS</td>
      <td>Nombre, apellidos, dirección de correo electrónico, así como el resto de los datos que el propio Interesado indique en el cuerpo del mensaje.</td>
    </tr>
    <tr>
      <td>DESTINATARIOS</td>
      <td>No está prevista la cesión de datos a terceros, salvo obligación legal o previo consentimiento inequívoco e informado del interesado.</td>
    </tr>
    <tr>
      <td>TRANSFERENCIA INTERNACIONAL</td>
      <td>No está prevista la transferencia internacional de los datos.</td>
    </tr>
    <tr>
      <td>PLAZOS DE CONSERVACIÓN</td>
      <td>Los datos serán conservados durante el plazo estrictamente necesario para cumplir con el fin para el cual fueron recabados. En cualquier caso, el plazo máximo de conservación será de 5 años.</td>
    </tr>
  </table>
  <br>
  <strong>5.  POLÍTICA DE COOKIES</strong><br><br>
  <ol>
    <li>
      De conformidad con lo dispuesto por el RGPD y la Ley 34/2002, de Servicios de la Sociedad de la Información, todos los datos de carácter personal obtenidos mediante las cookies durante la utilización del Sitio Web y/o de la Aplicación serán tratados de conformidad con lo dispuesto en la  <a (click)="openCookiePolicy()">Política de Cookies.</a>
    </li><br>
  </ol>
  <br>
  <strong>6.  EJERCICIO DE DERECHOS</strong><br><br>
  <ol>
    <li>
      De conformidad con lo dispuesto en el RGPD, le informamos que puede ejercer sus derechos de <strong>acceso</strong>, <strong>rectificación</strong>, <strong>supresión</strong>, <strong>oposición</strong>, <strong>portabilidad de los datos</strong> y <strong>limitación del tratamiento</strong> directamente ante el Responsable.
      Para el ejercicio de dichos derechos, el Interesado podrá enviar un mensaje al efecto, indicando nombre, apellidos, email, número de DNI o pasaporte, a la siguiente dirección de correo electrónico:  <a href="mailto:rgpd@febelink.com">rgpd@febelink.com.</a>      
    </li><br>
    <li>
      El Interesado también podrá ejercer sus derechos mediante la presentación de una reclamación ante la <a href="https://sedeagpd.gob.es/sede-electronica-web/vistas/formNuevaDenuncia/tipoSolicitud/solicitudPresencial.jsf">Agencia Española de Protección de Datos.</a>   
    </li><br>
  </ol>
  <br>
  <strong>7.  ACEPTACIÓN DE LA POLÍTICA DE PRIVACIDAD</strong><br><br>
  <ol>
    <li>
      El Interesado <strong>RECONOCE Y ACEPTA HABER LEÍDO Y COMPRENDIDO</strong> la presente Política de Privacidad cuyo contenido constituye la totalidad del acuerdo entre el Interesado y el Responsable con respecto al uso y tratamiento de su información personal. El Interesado expresamente acepta obligarse en los términos de la presente Política de Privacidad, en toda su extensión y alcance, sin exceptuar cualquiera de sus disposiciones.      
    </li><br>
    <li>
      Será indispensable la aceptación expresa del Presente cuando el Usuario se registre a través del Sitio Web y/o de la Aplicación rellenando el correspondiente formulario de registro.      
    </li><br>
  </ol>
  <br><br>
  <p align="right">2021 © Todos los derechos reservados. FEBELINK DIGITAL S.L.</p>
  <p align="right">Última actualización: 28 de julio de 2021.</p>
 
</ion-content>
