<ion-header>
  <ion-toolbar color="febelink">
    <ion-title>Aviso legal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <strong>AVISO LEGAL DE FEBELINK</strong><br><br>
  <p>Para dar cumplimiento a la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico se pone a disposición del usuario el siguiente Aviso Legal.</p>
  <p>Su observancia y cumplimiento serán exigibles respecto de cualquier persona que acceda, navegue o utilice el Sitio Web <a href="https://www.febelink.com">https://www.febelink.com</a> y/o la aplicación móvil (en adelante, el “<strong>Sitio Web</strong>” y la “<strong>Aplicación</strong>” descargable a través de Google Play) de FEBELINK DIGITAL S.L. Si usted no está de acuerdo con las condiciones expuestas, no acceda, navegue o utilice los mismos.</p>
  <br>
  <strong>1.  IDENTIFICACIÓN</strong><br><br>
  <p><strong>Titular: </strong>FEBELINK DIGITAL S.L. (en adelante, “<strong>FEBELINK</strong>”)</p>
  <p><strong>Domicilio social: </strong>Camino del pato, 27, PISO 2º B, 29004 - Málaga.</p>
  <p><strong>Información registral: </strong>Registro Mercantil de Málaga, Boletín 86, Referencia 216576, Tomo 6031, Libro 4938, Folio 74, Sección 8, Hoja 160744, Inscripción 1.</p> 
  <p><strong>Teléfono de contacto: </strong>+34 952633297</p> 
  <p><strong>CIF: </strong>B05367511</p> 
  <p><strong>E-mail: </strong> <a href="mailto:info@febelink.com">info@febelink.com</a></p>  
  <br>
  <strong>2.  OBJETO</strong><br><br>
  <p>El presente Aviso Legal establece las normas de acceso, navegación y utilización del Sitio Web y/o la Aplicación. No obstante, el acceso a determinados contenidos y la utilización de determinados servicios puede encontrarse sometido a determinadas condiciones particulares, que serán en todo caso claramente mostradas y deberán ser aceptadas expresamente por parte de los usuarios (en adelante, “<strong>Usuario</strong>” o “<strong>Usuarios</strong>”). Estas condiciones particulares podrán sustituir, completar o, en su caso, modificar las establecidas en el presente Aviso Legal.</p>
  <br>
  <strong>3.  SITIO WEB</strong><br><br>
  <p>A través del Sitio Web y/o la Aplicación el Usuario podrá llevar a cabo las siguientes acciones:</p>
  <ol>
    <li>
      Registrarse como usuario de FEBELINK;
    </li><br>
    <li>
      Conocer las especificaciones de los servicios ofrecidos;
    </li><br>
    <li>
      Contratar los servicios ofrecidos;
    </li><br>
    <li>
      Acceder a la comunidad de FEBELINK;
    </li><br>
    <li>
      Obtener información acerca de las redes sociales;
    </li><br>
    <li>
      Visualizar el contenido ofrecido en el Sitio Web y/o la Aplicación y la;
    </li><br>
    <li>
      Contactar con FEBELINK a través del formulario de contacto;
    </li><br>
    <li>
      Acceder a las diferentes ofertas de terceros ubicadas en el Sitio Web y/o la Aplicación;
    </li><br>
    <li>
      Acceder a los textos legales que regulan la navegación del Sitio Web y/o la Aplicación.
    </li><br>
  </ol>
  <br>
  <strong>4.  ACCESO Y REGISTRO</strong><br><br>
  
    <p>El acceso a los contenidos del Sitio Web y/o la Aplicación es completamente gratuito.</p>
    <p>Cuando un Usuario facilite datos de carácter personal a través de alguno de los formularios habilitados al efecto en el Sitio Web y/o la Aplicación, será necesario que previamente acepte la Política de Privacidad.</p>  
    <p> En todo caso, queda prohibido el acceso y navegación en el Sitio Web y/o la Aplicación por parte de los menores de dieciocho (18) años. Se presumirá que el acceso realizado por un menor al Sitio Web se ha realizado con autorización previa y expresa de sus padres, tutores o representantes legales.</p>
    <p> Bajo ningún concepto FEBELINK se responsabilizará de la veracidad de los datos facilitados por los Usuarios, por lo que cada uno de éstos será el único responsable de las posibles consecuencias, errores y fallos que pudieran derivarse de la falta de exactitud de los datos facilitados.</p>
     <br>
     <br>
  <strong>5.  DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL</strong><br><br>
      <strong>5.1  Derechos sobre el contenido</strong><br>
        <p>FEBELINK es propietario o, en su caso, cuenta con las licencias correspondientes sobre los derechos de explotación de propiedad intelectual e industrial necesarios para operar en el Sitio Web y/o la Aplicación, así como de todos los contenidos ofrecidos en el mismo, incluyendo el propio Sitio Web, textos, fotografías o ilustraciones, logos, marcas, grafismos, diseños, interfaces, o cualquier otra información o contenido, y los servicios disponibles a través del mismo.</p>
      <br>
      <strong>5.2  Derechos sobre el Sitio Web y/o la Aplicación</strong><br>
      <p> En ningún caso se entenderá que el acceso, navegación y utilización del Sitio Web y/o de la Aplicación por parte del Usuario implica una renuncia, transmisión, licencia o cesión total o parcial de dichos derechos por parte de FEBELINK. El Usuario dispone de un derecho de uso de los contenidos y/o servicios del Sitio Web y/o de la Aplicación dentro de un ámbito estrictamente doméstico y únicamente con la finalidad de disfrutar de las prestaciones del servicio de acuerdo con el presente Aviso Legal.</p>
      <p>Las referencias a marcas o nombres comerciales registrados, u otros signos distintivos, ya sean propiedad de FEBELINK o de terceros, llevan implícita la prohibición sobre su uso sin el consentimiento de FEBELINK o de sus legítimos propietarios. En ningún momento el acceso, navegación o utilización del Sitio Web y/o de la Aplicación y/o de sus contenidos confiere al Usuario derecho alguno sobre signos distintivos en él incluidos, salvo que se disponga lo contrario en el presente Aviso Legal.</p>
      <p>Quedan reservados todos los derechos de propiedad intelectual e industrial sobre los contenidos y/o servicios del Sitio Web y/o de la Aplicación y, en particular, queda prohibido modificar, copiar, reproducir, comunicar públicamente, transformar o distribuir, por cualquier medio y bajo cualquier forma, la totalidad o parte de los contenidos incluidos en el Sitio Web y/o en la Aplicación, para cualquier fin, si no se cuenta con la autorización previa, expresa y por escrito de FEBELINK o, en su caso, de FEBELINK  de los derechos correspondientes.</p>
      <p>Asimismo, queda prohibido suprimir o manipular las indicaciones de copyright u otros créditos que identifiquen a los titulares de derechos de los contenidos que el Usuario encuentre en el Sitio Web y/o en la Aplicación, así como los dispositivos técnicos de protección, las huellas digitales, o cualquier mecanismo de protección o información incorporada a los contenidos ofrecidos en el Sitio Web y/o en la Aplicación.</p> 
      <p>Los servicios ofrecidos, o cualquier información dispuesta a través del Sitio Web y/o de la Aplicación no podrán ser utilizados para fines comerciales o publicitarios sin autorización previa de FEBELINK.</p>    
      <p>En todo caso, el Usuario se compromete a no usar el Sitio Web y/o la Aplicación para fines ilegales o prohibidos.</p>  
      <br>
      <strong>5.3  Derechos sobre los contenidos e informaciones difundidas por el Usuario</strong><br>
      <p>En el caso de que el Usuario envíe información o contenidos de cualquier tipo a FEBELINK a través de cualquiera de los canales habilitados al efecto, el Usuario declara, garantiza y acepta que tiene derecho a hacerlo libremente, que dicha información no infringe ningún derecho de propiedad intelectual, industrial, secreto comercial o cualesquiera otros derechos de terceros, y que dicha información no tiene carácter confidencial ni es perjudicial para terceros.</p>
      <p>El Usuario reconoce asumir la responsabilidad, dejando indemne a FEBELINK, por cualquier comunicación o contenidos que envíe personalmente o a su nombre.</p>
      <p>Si el Usuario tuviera conocimiento de la existencia de algún contenido ilícito, ilegal, contrario a las leyes o que pudiera suponer una infracción de derechos de propiedad intelectual, industrial, o de cualquier otra índole, deberá notificarlo inmediatamente a FEBELINK a través de la dirección de correo electrónico <a href="mailto:info@febelink.com">info@febelink.com</a> para que éste pueda proceder a la adopción de las medidas oportunas.</p>
      <p>De igual modo, en el caso de que cualquier Usuario o un tercero consideren que alguno de los contenidos del Sitio Web y/o de la Aplicación, propiedad de FEBELINK, vulnera sus derechos de propiedad intelectual, industrial, o de cualquier otra índole, deberá remitir una comunicación a <a href="mailto:info@febelink.com">info@febelink.com</a> con la siguiente información:</p>
      <ol>
        <li>
          Datos identificativos y medio de contacto del reclamante o de su representante legal;
        </li><br>
        <li>
          Documentación que acredite su condición de titular de los derechos supuestamente infringidos;
        <li><br>
          Relato detallado de los derechos supuestamente infringidos por FEBELINK, así como su localización exacta dentro del Sitio Web y/o de la Aplicación;
        </li><br>
        <li>
          Declaración expresa por parte del reclamante de que la utilización de los contenidos se ha realizado sin el consentimiento del titular de los derechos supuestamente infringidos.
        </li><br>
      </ol>
      <strong>6.  ENLACES</strong><br><br>
          <strong>6.1  Enlaces a otras páginas web</strong><br>
          <p>En caso de que en el Sitio Web y/o la Aplicación se mostraran enlaces a otras páginas web mediante diferentes botones, links, banners o contenidos embebidos, FEBELINK informa de que éstos se encuentran gestionados por terceros, no teniendo FEBELINK ni medios humanos ni técnicos para conocer de forma previa y/o controlar y/o aprobar toda la información, contenidos, productos o servicios facilitados por otras plataformas a las que se puedan establecer enlaces desde el Sitio Web y/o la Aplicación.</p>
          <p>En consecuencia, FEBELINK no podrá asumir ningún tipo de responsabilidad por cualquier aspecto relativo al Sitio Web o a la Aplicación o página web a la que se pudiera establecer un enlace desde el Sitio Web y/o la Aplicación, en concreto, a título enunciativo, pero no limitativo, sobre su funcionamiento, acceso, datos, información, archivos, calidad y fiabilidad de sus productos y servicios, sus propios enlaces y/o cualquiera de sus contenidos, en general.</p>    
          <p>En este sentido, si los Usuarios tuvieran conocimiento efectivo de que las actividades desarrolladas a través de estas páginas web de terceros son ilegales o contravienen la moral y/o el orden público, deberán comunicarlo inmediatamente a FEBELINK a los efectos de que se proceda a deshabilitar el enlace de acceso a las mismas, acción que se llevará a cabo en el menor tiempo posible.</p>
          <p>En cualquier caso, el establecimiento de cualquier tipo de enlace desde el Sitio Web y/o la Aplicación a otra página web ajena no implicará que exista algún tipo de relación, colaboración o dependencia entre FEBELINK y el responsable de dicha página web ajena.</p>
          <br> 
          <strong>6.2  Enlaces al canal de FEBELINK en otras plataformas y redes sociales</strong><br>
          <p>FEBELINK pone a disposición de los Usuarios, a través de diferentes herramientas y aplicaciones, medios de enlace que permiten a los Usuarios acceder a los canales y páginas del Sitio Web y/o de la Aplicación que mantiene en diferentes plataformas y redes sociales pertenecientes y/o gestionadas por terceros (p.ej. Facebook, etc.). La inclusión de estos enlaces en el Sitio Web y/o la Aplicación tiene por único objeto facilitar a los Usuarios el acceso a dichos canales en las diferentes plataformas y redes sociales.</p>
          <p>El establecimiento de estas aplicaciones no implica la existencia de relación alguna entre FEBELINK y el propietario, fabricante o distribuidor del Sitio Web y/o de la Aplicación enlazado, como tampoco la aceptación y aprobación por parte de FEBELINK de sus contenidos y/o servicios, siendo su propietario, fabricante o distribuidor el único responsable de los mismos.</p>    
          <p>La activación y uso de estas aplicaciones puede conllevar la identificación y autenticación del Usuario (login/contraseña) en las plataformas correspondientes, completamente externas al Sitio Web y fuera del control de FEBELINK. Al acceder a dichas redes externas, el Usuario ingresa en un entorno no controlado por FEBELINK, por lo que FEBELINK no asumirá ninguna responsabilidad sobre la configuración de seguridad de dichos entornos.</p>
          <p>Dado que FEBELINK puede tener un control limitado sobre el contenido alojado en dichos canales, el Usuario reconoce y acepta que FEBELINK no asume responsabilidad alguna por el contenido ni por los servicios a los que el Usuario pueda acceder en dichas páginas, ni por cualquier contenido, productos, servicios, publicidad, ni cualquier otro material disponible en los mismos.</p>
          <br>
          <strong>6.3  Enlaces en otras páginas web con destino a el Sitio Web y/o la Aplicación</strong><br>
          <p>FEBELINK no autoriza el establecimiento de un enlace al Sitio Web desde aquellas páginas que contengan materiales, información o contenidos ilícitos, ilegales, degradantes, obscenos y, en general, que contravengan las leyes, la moral o el orden público, o las normas sociales generalmente aceptadas.</p>
          <p>En todo caso, los Usuarios podrán establecer enlaces que dirijan al Sitio Web, siempre y cuando cumplan con las siguientes condiciones:</p>
          <ol>
            <li>
              El enlace no podrá reproducir el contenido del Sitio Web y/o de la Aplicación o partes del mismo de ninguna forma;
            </li><br>
            <li>
              No está permitido crear un browser ni un border environment sobre las secciones del Sitio Web y/o la Aplicación y/o de la Aplicación, ni de ninguna otra forma podrá modificarse el Sitio Web y/o la Aplicación;
            <li><br>
              No está permitido realizar manifestaciones o indicaciones falsas o inexactas o incorrectas sobre el Sitio Web y/o la Aplicación y/o, en particular, declarar o dar a entender que FEBELINK ha autorizado el enlace o que ha supervisado o asumido de cualquier forma los contenidos o servicios ofrecidos o puestos a disposición en la página web en la que se establece dicho enlace;
            </li><br>
            <li>
              La página web en la que se establezca el enlace al Sitio Web o a la Aplicación no contendrá informaciones o contenidos ilícitos, contrarios a la moral y buenas costumbres generalmente aceptadas y al orden público, así como tampoco contendrá contenidos contrarios a cualesquiera derechos de terceros, incluidos los derechos de propiedad intelectual o industrial y/o el derecho al honor, a la intimidad personal o familiar o a la propia imagen o de cualquier otro derecho, o contenidos contrarios a las normas reguladoras de la protección de datos de carácter personal.
            </li><br>
          </ol>  
          <p>FEBELINK no tiene facultad ni medios humanos ni técnicos para conocer, controlar ni aprobar toda la información, contenidos, productos o servicios facilitados por otras páginas web que tengan establecidos enlaces con destino al Sitio Web o a la Aplicación. Por lo tanto, FEBELINK no asume ningún tipo de responsabilidad por cualquier aspecto relativo a la página web que establece ese enlace con destino al Sitio Web o a la Aplicación; en concreto, a título enunciativo y no limitativo, sobre su funcionamiento, acceso, datos, información, archivos, calidad y fiabilidad de sus productos y servicios, sus propios enlaces y/o cualquiera de sus contenidos, en general.</p>
          <br>
  <strong>7.  REGLAS DE USO DEL SITIO WEB Y DE LA APLICACIÓN</strong><br><br>
  <p>No está permitido y, por tanto, sus consecuencias serán de la exclusiva responsabilidad del Usuario, el acceso o la utilización del Sitio Web y/o de la Aplicación con fines ilegales o no autorizados, con o sin ánimo de lucro. En particular, y sin que el siguiente listado tenga carácter limitativo, queda prohibido:</p>  
  <ol>
    <li>
      Usar el Sitio Web y/o la Aplicación en forma alguna que pueda provocar daños, interrupciones, ineficiencias o defectos en su funcionamiento o en los equipos informáticos de un tercero;
    </li><br>
    <li>
      Usar el Sitio Web y/o la Aplicación para la transmisión, instalación o publicación de cualquier virus, código malicioso u otros programas o archivos perjudiciales o con intenciones ilícitas;
    </li><br>
    <li>
      Usar el Sitio Web y/o la Aplicación para transmitir con fines publicitarios o de promoción, incluidos spam, correos electrónicos en cadena o similares, sin la previa autorización expresa y por escrito de FEBELINK;
    </li><br>
    <li>
      Usar el Sitio Web y/o la Aplicación para recoger datos de carácter personal de otros Usuarios;
    </li><br>
    <li>
      Usar el Sitio Web y/o la Aplicación de forma ilegal, en contra de la buena fe, la moral y el orden público;
    </li><br>
    <li>
      Registrarse a través del Sitio Web y/o de la Aplicación con una identidad falsa, suplantando a terceros o utilizando un perfil o realizando cualquier otra acción que pueda confundir a otros Usuarios sobre la identidad del Usuario;
    </li><br>
    <li>
      Acceder sin autorización a cualquier sección del Sitio Web y/o de la Aplicación, a otros sistemas o redes conectados al Sitio Web, a los servidores de FEBELINK, o a los servicios ofrecidos a través del Sitio Web y/o de la Aplicación, por medio de pirateo o falsificación, extracción de contraseñas o cualquier otro medio ilegítimo;
    </li><br>
    <li>
      Llevar a cabo alguna acción que provoque una saturación desproporcionada o innecesaria en la infraestructura del Sitio Web y/o de la Aplicación o en los sistemas o redes de FEBELINK, así como en los sistemas y redes conectados al Sitio Web;
    </li><br>
    <li>
      acceder sin autorización a cualquier sección del Sitio Web y/o de la Aplicación, a otros sistemas o redes conectados a los mismos, a cualquier servidor de FEBELINK o a los servicios ofrecidos a través del Sitio Web y/o de la Aplicación por medio de pirateo o falsificación, extracción de contraseñas o cualquier otro medio ilegítimo o establecido en el presente Aviso Legal;
    </li><br>
    <li>
      usar el Sitio Web y/o la Aplicación para transmitir o publicar cualquier material de carácter difamatorio, ofensivo, racista, vulgar, denigrante, pornográfico, o de naturaleza obscena o amenazadora o que pueda molestar, perjudicar o meramente afectar a cualquier persona bajo el criterio de FEBELINK;
    </li><br>
    <li>
      Impedir el normal desarrollo de un evento, concurso, promoción o cualquier otra actividad disponible a través del Sitio Web y/o de la Aplicación o cualesquiera de sus funcionalidades, ya sea alterando o tratando de alterar, ilegalmente o de cualquier otra forma, el acceso, participación o funcionamiento de aquéllos, o falseando el resultado de los mismos y/o utilizando métodos de participación fraudulentos, mediante cualquier procedimiento, y/o a través de cualquier práctica que atente o vulnere el presente aviso legal.
    </li><br>
  </ol>
  <p>El incumplimiento de cualquiera de las anteriores obligaciones por el Usuario podrá llevar aparejada la adopción por FEBELINK de las medidas oportunas amparadas en Derecho y en el ejercicio de sus derechos u obligaciones, pudiendo llegar a la eliminación o bloqueo de la cuenta del Usuario infractor, sin que medie posibilidad de indemnización alguna por los daños y perjuicios causados.</p>
  <br>
  <strong>8.  RESPONSABILIDADES Y GARANTÍAS</strong><br><br>
  <p>En consecuencia, FEBELINK no garantiza ni se hace responsable de:</p>
  <ol>
    <li>
      La continuidad de los contenidos, servicios y/o las funcionalidades del Sitio Web y/o la Aplicación y/o de la Aplicación;
    </li><br>
    <li>
      La ausencia de virus o demás componentes dañinos en el Sitio Web y/o la Aplicación o en el servidor que lo suministra;
    </li><br>
    <li>
      La invulnerabilidad del Sitio Web y/o de la Aplicación o la imposibilidad de vulnerar las medidas de seguridad que se adopten para el mismo;
    </li><br>
    <li>
      La falta de utilidad o rendimiento de los contenidos del Sitio Web y/o la Aplicación y/o de la Aplicación, y;
    </li><br>
    <li>
      los fallos del Sitio Web y/o de la Aplicación ocasionados por cualquier tipo de ataque a sus servidores o a los de terceros proveedores de servicios de FEBELINK, así como los fallos técnicos o de seguridad del sistema de cualquier de dichos proveedores que impidan el correcto funcionamiento del Sitio Web y/o la Aplicación y/o de la Aplicación;
    </li><br>
    <li>
      cualquier fallo técnico, de cualquier tipo, que dificulte, retrase o impida el correcto funcionamiento del Sitio Web y/o la Aplicación y/o de la Aplicación;
    </li><br>
    <li>
      Los daños o perjuicios que cause, a sí mismo o a un tercero, cualquier persona que infringiera las condiciones, normas e instrucciones que FEBELINK establece, o a través de la vulneración de sistemas de seguridad.
    </li><br>
  </ol>
  <p>No obstante, FEBELINK declara que ha adoptado todas las medidas necesarias, dentro de sus posibilidades y del estado de la técnica, para garantizar el funcionamiento del Sitio Web y/o de la Aplicación y reducir al mínimo los errores del sistema, tanto desde el punto de vista técnico como de los contenidos publicados en el Sitio Web y/o la Aplicación.</p>
  <p>FEBELINK no será responsable de la veracidad, integridad o actualización de las informaciones contenidas en otras plataformas a las que se enlace desde el Sitio Web y/o la Aplicación. FEBELINK no asumirá responsabilidad en cuanto a hipotéticos perjuicios que pudieran originarse por el uso de las citadas informaciones.</p>
  <p>FEBELINK no responderá por causas ajenas a su control, entre las que pueden enumerarse de manera no limitativa: fuerza mayor, problemas de acceso a internet, problemas tecnológicos más allá de la gestión diligente y razonable de FEBELINK, acciones u omisiones de terceros, etc. En todos los casos referidos, ajenos al control y la diligencia debida por FEBELINK, no habrá lugar a indemnización de FEBELINK al Usuario por daños o perjuicios, en la medida en que así lo permita la legislación vigente.</p>
  <br>
  <br>
  <strong>9.  SUSPENSIÓN DEL SITIO WEB Y/O DE LA APLICACIÓN</strong><br><br>
  <p>FEBELINK se reserva el derecho a suspender, modificar, restringir o interrumpir, ya sea temporal o permanentemente, el acceso, navegación, uso, alojamiento y/o descarga del contenido y/o uso de servicios del Sitio Web y/o la Aplicación y/o de la Aplicación, con o sin previa notificación, a los Usuarios que contravengan cualquiera de las disposiciones detalladas en el presente aviso legal, sin que medie la posibilidad del Usuario de exigir indemnización alguna por esta causa.</p><br>
  <strong>10.  PROTECCIÓN DE DATOS</strong><br><br>
  <p>De conformidad con lo dispuesto por la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales, todos los datos de carácter personal recabados durante la utilización del Sitio Web y/o de la Aplicación serán tratados de conformidad con lo dispuesto en la Política de Privacidad, que todo Usuario debe aceptar expresamente en caso de facilitar datos de carácter personal a través del Sitio Web y/o la Aplicación y/o de la Aplicación.</p><br>
  <strong>11.  GENERALES</strong><br><br>
  <p>Los encabezamientos de las distintas cláusulas son sólo informativos, y no afectarán, calificarán o ampliarán la interpretación del presente Aviso Legal. Asimismo, FEBELINK podrá modificar las condiciones aquí estipuladas, total o parcialmente, publicando cualquier cambio en la misma forma en que aparece este aviso legal o a través de cualquier tipo de comunicación dirigida a los Usuarios.</p>
  <p>La vigencia temporal del presente Aviso Legal coincide, por tanto, con el tiempo de su exposición, hasta que sea modificado total o parcialmente, momento en el cual pasará a tener vigencia el aviso legal modificado.</p>
  <p>FEBELINK podrá dar por terminado, suspender o interrumpir, en cualquier momento y sin necesidad de preaviso, el acceso a los contenidos del Sitio Web y/o la Aplicación y/o de la Aplicación, sin posibilidad por parte del Usuario de exigir indemnización alguna. Tras dicha extinción, seguirán vigentes las prohibiciones de uso de los contenidos expuestas anteriormente en el presente aviso legal.</p>
  <p>En el caso de que cualquier disposición del presente aviso legal fuese declarada nula o inaplicable, en su totalidad o en parte, por cualquier Juzgado, Tribunal u órgano administrativo competente, dicha nulidad o inaplicación no afectará a las restantes disposiciones del presente aviso legal.</p>
  <p>El no ejercicio o ejecución por parte de FEBELINK de cualquier derecho o condición contenido en el presente aviso legal no constituirá una renuncia al mismo, salvo reconocimiento y acuerdo por escrito por su parte.</p><br>
  <strong>12.  LEGISLACIÓN APLICABLE Y JURISDICCIÓN COMPETENTE</strong><br><br>
  <p>La normativa vigente determinará las leyes que deban regir y la jurisdicción que deba conocer de las relaciones entre FEBELINK y los Usuarios del Sitio Web y/o de la Aplicación. No obstante, siempre que dicha normativa prevea la posibilidad para los sujetos intervinientes de someterse a un fuero determinado, para toda cuestión litigiosa derivada o relacionada con este Sitio Web y/o con la Aplicación será de aplicación la legislación española vigente en el momento del litigio. Asimismo, FEBELINK y los usuarios, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se someten a los Juzgados y Tribunales de Málaga.</p>
  <p>Resolución de litigios en línea en materia de consumo conforme al Art. 14.1 del Reglamento (UE) 524/2013: La Comisión Europea facilita una plataforma de resolución de litigios en línea que se encuentra disponible en el siguiente enlace: <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>.</p><br>
  <br><br>
  <p align="right">2021 © Todos los derechos reservados. FEBELINK DIGITAL S.L.</p>
  <p align="right">Última actualización: 23 de julio de 2021.</p>
</ion-content>


