.br-rad-10 { border-radius: 10px; --border-radius: 10px; }
.br-rad-15 { border-radius: 15px; --border-radius: 15px; }
.br-rad-20 { border-radius: 20px; --border-radius: 20px; }
.br-rad-25 { border-radius: 25px; --border-radius: 25px; }
.br-rad-30 { border-radius: 30px; --border-radius: 30px; }

.br-ln-1 { border: 1px solid var(--color_line); --border: 1px solid var(--color_line); }
.br-ln-2 { border: 2px solid var(--color_line); --border: 2px solid var(--color_line); }
