[class*="abicon"] {
    display: inline-table;
    font-size: 10px;

    width: 20px;
    height: 20px;
}

.abicon-25 {
    width: 25px; --width: 25px;
    height: 25px; --height: 25px;
}
.abicon-30 {
    width: 30px; --width: 30px;
    height: 30px; --height: 30px;
}
.abicon-35 {
    width: 35px; --width: 35px;
    height: 35px; --height: 35px;
}
.abicon-40 {
    width: 40px; --width: 40px;
    height: 40px; --height: 40px;
}
