.margin, .marg, .marg-10 {
    margin: 10px;
    --margin-top: 10px;
    --margin-end: 10px;
    --margin-bottom: 10px;
    --margin-start: 10px;
}
.margin-top, .marg-t, .marg-t10, .marg-tb-10 { margin-top: 10px; --margin-top: 10px; }
.margin-end, .marg-e, .marg-e10, .marg-se-10 { margin-right: 10px; --margin-end: 10px; }
.margin-bottom, .marg-b, .marg-b10, .marg-tb-10 { margin-bottom: 10px; --margin-bottom: 10px; }
.margin-start, .marg-s, .marg-s10, .marg-se-10 { margin-left: 10px; --margin-start: 10px; }

.no-margin, .no-marg {
    margin: 0px;
    --margin-top: 0px;
    --margin-end: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}
.no-margin-b, .no-marg-b {
  margin-bottom: 0px !important;
}

.marg-t5, .marg-5, .marg-tb-5 { margin-top: 5px; --margin-top: 5px; }
.marg-e5, .marg-5, .marg-se-5 { margin-right: 5px; --margin-end: 5px; }
.marg-b5, .marg-5, .marg-tb-5 { margin-bottom: 5px; --margin-bottom: 5px; }
.marg-s5, .marg-5, .marg-se-5 { margin-left: 5px; --margin-start: 5px; }

.marg-t20, .marg-20, .marg-tb-20 { margin-top: 20px; --margin-top: 20px; }
.marg-e20, .marg-20, .marg-se-20 { margin-right: 20px; --margin-end: 20px; }
.marg-b20, .marg-20, .marg-tb-20 { margin-bottom: 20px; --margin-bottom: 20px; }
.marg-s20, .marg-20, .marg-se-20 { margin-left: 20px; --margin-start: 20px; }

.marg-t30, .marg-30, .marg-tb-30 { margin-top: 30px; --margin-top: 30px; }
.marg-e30, .marg-30, .marg-se-30 { margin-right: 30px; --margin-end: 30px; }
.marg-b30, .marg-30, .marg-tb-30 { margin-bottom: 30px; --margin-bottom: 30px; }
.marg-s30, .marg-30, .marg-se-30 { margin-left: 30px; --margin-start: 30px; }

.marg-se {
    margin-left: auto !important; --margin-left: auto !important;
    margin-right: auto !important; --margin-end: auto !important;
}
