<div id="timer">
  <div id="timer-digits">
    <p>{{ months }}</p>
    <span>{{ 'common.timer.months' | translate }}</span>
  </div>
  <div id="timer-digits">
    <p>{{ days }}</p>
    <span>{{ 'common.timer.days' | translate }}</span>
  </div>
  <div id="timer-digits">
    <p>{{ hours }}</p>
    <span>{{ 'common.timer.hours' | translate }}</span>
  </div>
  <div id="timer-digits">
    <p>{{ mins }}</p>
    <span>{{ 'common.timer.mins' | translate }}</span>
  </div>
  <div id="timer-digits-2">
    <p>{{ secs }}</p>
    <span>{{ 'common.timer.secs' | translate }}</span>
  </div>
</div>