<div>
  <ion-header fill="transparent">
    <ion-toolbar fill="transparent">
      <!-- Back Button -->
      <ion-buttons slot="start">
        <ion-button icon-only (click)="onDismiss()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <!-- Title -->
      <ion-label class="margin-start">{{
        'pages.wallet.buy.title' | translate
      }}</ion-label>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form *ngIf="buyForm" [formGroup]="buyForm" style="margin: auto">
      <ion-grid>
        <!-- Asset to buy -->
        <ion-row>
          <ion-col size="6" class="vertical-content">
            <img
              class="margin-end"
              src="assets/icon/{{ asset?.currency?.toLowerCase() }}.png"
            />
            <ion-label class="margin-start"> {{ asset?.currency }}</ion-label>
          </ion-col>
          <ion-col size="5" class="tx-end">
            <app-num-float
              [number]="(asset?.amount ?? 0)"
              [round]="assetsMaxDecimals"
              [bold]="true"
            ></app-num-float>
          </ion-col>
        </ion-row>

        <ion-card class="padding margin-top">
          <!-- Input Buy -->
          <ion-row>
            <ion-col size="8" class="center-v">
              <ion-label class="bold-6">{{
                'pages.wallet.buy.buy' | translate
              }}</ion-label>
            </ion-col>
            <ion-col size="3" class="center-v">
              <ion-input
                #amount
                name="code"
                class="tx-center bold-6"
                (ionChange)="calc(amount?.value)"
                [placeholder]="0"
                [debounce]="300"
                type="number"
                min="0.00"
                step="0.01"
              ></ion-input>
            </ion-col>
            <ion-col size="1" class="center-v">
              <ion-label class="tx-start">€</ion-label>
            </ion-col>
          </ion-row>

          <!-- Qant -->
          <ion-row>
            <ion-col size="6" class="padding-start">
              <ion-label>{{ 'pages.wallet.buy.cost1' | translate }}</ion-label>
              <app-num-float
              [number]="(asset?.priceBuy ?? 0)"

                [round]="round"
                [bold]="true"
              ></app-num-float>
              <ion-label class="coin">€</ion-label>
              <ion-label>{{ 'pages.wallet.buy.cost2' | translate }}</ion-label>
            </ion-col>
            <ion-col size="5" class="tx-end">
              <app-num-float
                [number]="calcTotal"
                [bold]="true"
                classFloat="margin-end"
              ></app-num-float>
            </ion-col>
          </ion-row>

          <!-- Fee Transaction -->
          <ion-row>
            <ion-col size="6" class="padding-start">
              <ion-label>{{ 'pages.wallet.buy.fee' | translate }}</ion-label>
            </ion-col>
            <ion-col size="5" class="tx-end">
              <app-num-float
                [number]="minnersFee"
                [round]="round"
              ></app-num-float>
              <ion-label class="coin">€</ion-label>
            </ion-col>
          </ion-row>

          <!-- Fee Stripe -->
          <ion-row>
            <ion-col size="6" class="padding-start">
              <ion-label>{{ 'pages.wallet.buy.stripe' | translate }}</ion-label>
              <ion-label class="margin-start bold-6"
                >{{ stripeFee }}%</ion-label
              >
            </ion-col>
            <ion-col size="5" class="tx-end">
              <app-num-float
                [number]="calcStripe"
                [round]="round"
              ></app-num-float>
              <ion-label class="coin">€</ion-label>
            </ion-col>
          </ion-row>
        </ion-card>

        <!-- Total Tokens -->
        <ion-card class="padding" *ngIf="calcTotal > 0">
          <ion-row>
            <ion-label
              [innerHTML]="'pages.wallet.buy.total' | translate"
            ></ion-label>
          </ion-row>
          <ion-row class="margin-top margin-start align-center">
            <!-- Current Tokens -->
            <app-num-float
              [number]="(asset?.amount ?? 0)"
              [round]="assetsMaxDecimals"
            ></app-num-float>

            <ion-label class="margin-start margin-end">+</ion-label>

            <!-- Buy Tokens -->
            <app-num-float
              [number]="calcTotal"
              [round]="assetsMaxDecimals"
            ></app-num-float>
          </ion-row>

          <!-- Total -->
          <ion-row class="align-center">
            <ion-card class="padding">
              <app-num-float
                [number]="calcAssets"
                [round]="assetsMaxDecimals"
              ></app-num-float>
            </ion-card>
          </ion-row>
        </ion-card>
      </ion-grid>
    </form>
  </ion-content>

  <ion-footer no-border>
    <ion-toolbar class="tx-center">
      <!-- Button Cancel -->
      <ion-button (click)="onDismiss()" fill="transparent" class="margin-end">{{
        'common.buttons.cancel' | translate
      }}</ion-button>

      <!-- Button Buy -->
      <ion-button
        *ngIf="!platform.is('ios')"
        (click)="buy()"
        class="margin-start"
        >{{ 'pages.wallet.buy.button' | translate }}</ion-button
      >
    </ion-toolbar>
  </ion-footer>
</div>
