ion-header {
  text-align: center;
  background: var(--ion-color-light);

  ion-toolbar {
    @media (min-width: 768px) {
      width: 100%;
      padding-left: 3%;
      padding-right: 2.7%;

      .buttons_flex {
        display: flex;
        margin-left: 1em;
        width: 100%;
      }
    }
  }

  ion-header {
    ion-toolbar {
      @media (min-width: 820px) {
        width: 100%;
        padding-left: 3em;
        padding-right: 3em;
      }
    }
  }
}

.header_buttons {
  padding-left: 1em;
}


@media (min-width: 768px) {
  ion-item {
    --background-color: #F9FAFB;
    --background: #F9FAFB;
  }

  .logo {
    width: 120px;
  }

  .avatarmenu {
    width: 139px;
    height: 139px;
  }

  .content-background {
    --background: #F7F7F5;
  }

  .text_label_content {
    text-align: left;
    font-weight: 600;
    font-size: 32px;
  }

  .servicios-content-b {
    display: table;
    width: 100%;
    padding: 40px 60px 24px 60px;
  }

  .servicios-content-title-b {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #111928;
  }

  .servicios-sections-b {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }

  .servicios-sections-right {
    display: table;
    float: right;
  }

  .servicios-sections-cell-b {
    display: table-cell;
    vertical-align: middle;
  }

  .servicios-sections-title-b {
    cursor: pointer;
    margin: 0 auto;
    width: 145px;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding-bottom: 13px;
    padding-top: 6px;
    color: #9CA3AF;
  }

}

.error {
  font-size: 12px;
  color: red;
}

.content-background {
  --background: #F9FAFB;
}

.logo {
  object-fit: scale-down;
  width: 120px;
  margin-left: 5em;
}

.dot_notif_avatar {
  margin-left: -31px;
  z-index: 10;
  margin-top: -29px;
}

.col-flexed {
  padding-left: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-col-flexed {
  padding-left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_padding {
  padding-bottom: 1em;
}

.card_content_padding {
  padding-top: 1em;
}

.text_label_content {
  color: #111928;
  font-size: 24px;
  font-weight: 700;
  margin-left: -5px;
}

.row_content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.marginLeft {
  margin-left: 1em;
}

.menu_header {
  margin-left: 1em;
}

.desktop_menu_avatar {
  width: 46px;
  height: 46px;
}

.avatarmenu {
  width: 139px;
  height: 139px;

  ion-img {
    object-fit: scale-down;
  }
}

.text_label_form {
  font-size: 1.2em;
  color: #111928;
  font-weight: 600;
}

.label_breadcrumb_01 {
  font-size: 14px;
  color: #374151;
  margin-left: 15px;
}

.label_breadcrumb_02 {
  font-size: 14px;
  color: #6B7280;
  font-weight: 500;
}

.row_grid {
  padding-top: 10px;
}

.margin_05 {
  margin-top: 0.5em;
}

.text_label_blue {
  font-size: 14px;
  color: #1C64F2;
}

.text_label_grey {
  font-size: 12px;
  color: #6B7280;
}

.botonf1 {
  --background: #1C64F2;
  --color: #FFFFFF;
  --border-radius: 8px;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 14px;
  text-transform: none;
}

.botoneditar {
  --background: #1C64F2;
  --color: #FFFFFF;
  --border-radius: 8px;
  height: 2.5em;
  font-size: 16px;
  text-transform: none;
}

.paddingf1 {
  padding-bottom: 0px;
}

.paddingf2 {
  padding-top: 0px;
}

.botonf2 {
  --background: #FFFFFF;
  --color: #1C64F2;
  --border-radius: 8px;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 14px;
  text-transform: capitalize;
}

.pos_menu {
  z-index: -1;
  display: flex;
  margin-left: -13px;
  width: 28px;
  height: 20px;
}

.chat {
  margin-left: 10px;
}

.padding-input-12 {
  --padding-top: 12px;
  --inner-padding-top: 12px;
  --padding-end: 12px;
  --inner-padding-end: 12px;
  --padding-bottom: 12px;
  --inner-padding-bottom: 12px;
  --padding-start: 12px;
  --inner-padding-start: 12px;
}

.userform-input-desktop {
  font-size: 14px;
  font-weight: 400px;
  line-height: 125%;
  border: 1px solid #D1D5DB;
  background: #FFFFFF;
  border-radius: 8px;
  margin-top: 10px;
}

.userform-input-mobile {
  font-size: 14px;
  font-weight: 400px;
  line-height: 125%;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  border-radius: 8px;
  margin-top: 10px;
}

.flex_content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.div-breadcrumbs-b {
  padding: 25px 60px 0px 60px;
  width: 100%;
  text-align: left;
}

.breadcrumbs-text-b {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #1B80F8;
}

.breadcrumbs-index-b {
  color: #9CA3AF;
  cursor: pointer;
}

.breadcrumbs-next-b {
  width: 6px;
  margin: 0px 15px;
}


:host{
  width: 100%;
  position: relative;
  display: block;
  background: #fcfffe;
  contain: unset;
  height: 100%;
  
}
.container-layer{
  width: 100%;
  height: -moz-fit-content;
  height: 100%;
  position: relative;
  margin: auto;
  position: absolute;
  overflow: auto;
}

.layer-gradient{
  height: 300px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  background:linear-gradient(to top,rgb(255,255,255),rgb(208,230,255));
 
}
.container-detail-profile{
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  padding: 38px 27px;
  max-width: 1485px;
  margin: -165px auto 100px
}
.container {
	background: #fff;
	width: 100%;
	padding: 1rem;
  max-width: 1000px;
    width: 100%;
    /* margin: auto; */
    margin: auto;
    border-radius: 8px;
    box-shadow: #0000001a 0 12px 48px;
    background: rgb(255,255,255);
    margin-bottom: 50px;
}

.title {
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #374151;
	padding-bottom: 11px;
	border-bottom: 1px solid #d7dbdf;
}

.form-group {
	margin-top: 4px;
	display: flex;
	flex-direction: column;
}

.grid2{
  grid-template-columns: repeat(2, 1fr) !important;
}
.textarea-group label,
.form-group label {
  color: #374151;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  font-weight: 700;
}

.form-group [type],
.textarea-group textarea {
	border: 1px solid #d2d6db;
	border-radius: 6px;
	padding: 15px;
}
.form-group [type]:hover,
.textarea-group textarea:hover {
	border-color: #a8afb9;
}
.form-group [type]:focus,
.textarea-group textarea:focus {
	border-color: #5850eb;
}

.textarea-group {
	margin-top: 24px;
}

.textarea-group textarea {
	resize: none;
	width: 100%;
	margin-top: 10px;
	height: calc(100% - 32px);
}

.checkbox-group {
	margin-top: 25px;
}

.checkbox-group label {
	display: flex;
}

.checkbox-group label::before {
	content: "\0020";
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border: 1px solid #d2d6db;
	border-radius: 6px;
	transition: background 0.1s ease-in;
}

.checkbox-group input[type="checkbox"] {
	/* ici on ne doit pas mettre de display: none afin de pouvoir "tabber" */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.checkbox-group input[type="checkbox"]:focus + label:before {
	border-color: #5850eb;
}
.checkbox-group input[type="checkbox"]:checked + label:before {
	color: #fff;
	content: "\2713";
	background: #5850eb;
	border-color: #5850eb;
}

.button2 {
	font-weight: bold;
	line-height: 19px;
	background: #5850eb;
	border: none;
	padding: 15px 25px;
	border-radius: 6px;
	color: white;
	width: 100%;
  margin-top: 33px;
}
.image-profile{
  height: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 100000%;
    }
} 
@media screen and (min-width: 1024px) {
	
	.checkboxes {
		display: flex;
	}
	.checkboxes > :not(:first-child) {
		margin-left: 1rem;
	}

	.grid {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
  
	}

	.email-group {
		grid-column: 1;
		grid-row: 2;
	}

	.phone-group {
		grid-column: 2;
		grid-row: 2;
	}

	.textarea-group {
		grid-column: 3;
		grid-row: span 2;
		margin-right: 2rem;
	}

	.button-container {
		text-align: right;
	}

	.button2 {
		/* bon, bon, bon
		c'est pas tout mais j'ai faim moi ^^
		*/
		width: auto;
	}


  .card-container{
    display: flex;
    margin-top: 29px;
  }
  .card{
    width: 25%;
    height: 100%;

   
    .image-profile{
      height: 100%;
      padding-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
        img{
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 100000%;
        }
    } 
  }
  .datas{
    width: 75%;
    .data1{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .form-data{
        width: 100% !important;
        margin: 2px;
      }
    }
  }
}
