<ion-row style="margin-top: 4vh;">
  <ion-col size="12">
    <h4>Selecciona tu reserva</h4>
  </ion-col>
  <ion-col size="12" size-sm="4">
    <ion-item>
      <ion-label position="floating" class="grey">Fase</ion-label>
      <ion-select interface="popover" (ionChange)="phaseChange($event)">
        <ion-select-option value="1">Primera fase</ion-select-option>
        <ion-select-option value="2">Segunda fase</ion-select-option>
        <ion-select-option value="3">Tercera fase</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col size="12" size-sm="3">
    <ion-item>
      <ion-label position="floating" class="grey">Euros</ion-label>
      <ion-input type="number" name="numFiat" [(ngModel)]="numFiat" ngDefaultControl (ionInput)="fiatToTokens($event)" [debounce]="300"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12" size-sm="3">
    <ion-item>
      <ion-label position="floating" class="grey">Número de tokens</ion-label>
      <ion-input type="number" name="numTokens" [(ngModel)]="numTokens" ngDefaultControl (ionChange)="tokensToFiat($event)" [debounce]="300"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col size="12" size-sm="2">
    <div (click)="buyTokens()" class="btn btn-success">
      Reservar
    </div>
  </ion-col>
</ion-row>

