<ion-header>
  <ion-toolbar color="light">

    <ion-buttons buttons-start slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img tappable src="assets/imgs/logo.png" alt="" class="logo" routerLink="/menu/todas" />

    <ion-buttons slot="end" class="desktop">
      <ion-button class="btn-header" (click)="irA('/menu/todas')">
        <ion-icon slot="start" name="search"></ion-icon>
        {{ 'menu.tabs.searchEngine' | translate }}
      </ion-button>
      <ion-button class="btn-header" (click)="irA('/menu/busquedas')">
        <ion-icon slot="start" name="heart"></ion-icon>
        {{ 'menu.tabs.recommend' | translate }}
      </ion-button>
      <ion-button class="btn-header" (click)="irA('/menu/ofertas')">
        <ion-icon slot="start" name="chatbubbles"></ion-icon>
        {{ 'menu.tabs.chat' | translate }}
      </ion-button>
      <ion-button *ngIf="perfil === null" class="btn-header active">
        <ion-icon slot="start" name="person"></ion-icon>
        {{ (perfil !== null ? 'menu.tabs.profile' : 'menu.tabs.login') | translate }}
      </ion-button>
    </ion-buttons>

    <ion-buttons size="large" slot="end">
      <ion-button color="primary" slot="icon-only" (click)="openGuide()">
        <ion-icon style="font-size: x-large" name="information-circle">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center" *ngIf="loading">
    <ion-spinner></ion-spinner>
    <p>{{ 'common.labelLoading' | translate }}</p>
  </div>

  <div class="desktop-content" *ngIf="!loading">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <div>
        <div>
          <img
            (click)="attachImage()"
            [src]="perfil?.logo"
            *ngIf="perfil?.logo && base64img==null"
            class="logo"
          />
          <img
            (click)="attachImage()"
            [src]="base64img"
            *ngIf="base64img!=null"
            class="logo"
          />
          <img
            (click)="attachImage()"
            src="assets/imgs/4.jpg"
            *ngIf="!perfil?.logo && base64img==null"
            class="logo"
          />
          <input
            *ngIf="!isNative"
            class="input-file-perfil"
            type="file"
            accept="image/x-png,image/jpeg,image/gif"
            (change)="attachImage()"
          />
        </div>

        <div>
          <ion-button
            style="max-width: 300px; margin-bottom: 10px"
            class="guardar-cambios"
            expand="block"
            (click)="recommend($event)"
            >{{ 'tabs.tab4.buttonAskRecommendation' | translate }} &nbsp;
            <ion-icon name="checkmark"> </ion-icon>
          </ion-button>
        </div>
      </div>

      <ion-grid class="desktop" fixed style="margin: 10px 0px">
        <ion-row>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelName' | translate }} </ion-label>
              <ion-input
                clearInput
                type="text"
                formControlName="name"
                [value]="perfil?.name"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelEmail' | translate }} </ion-label>
              <ion-input
                clearInput
                type="email"
                formControlName="email"
                [value]="perfil?.email"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelDescription' | translate }} </ion-label>
              <ion-textarea
                [value]="perfil?.descripcion"
                [maxlength]="max_bio"
                formControlName="descripcion"
              ></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="6" style="margin-top: 23px">
            <ion-item class="input" (click)="clickAddress()">
              <ion-label position="floating"> {{ 'common.labelAddress' | translate }} </ion-label>
              <ion-input
                clearInput
                (ionBlur)="checkHide()"
                type="{{typeAddress}}"
                [value]="perfil?.direccion"
                formControlName="direccion"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label>{{ 'common.labelProvince' | translate }}</ion-label>
              <ionic-selectable
                item-content
                [(ngModel)]="provincia"
                formControlName="provincia"
                itemValueField="id"
                itemTextField="name"
                [items]="provincias"
                [canSearch]="true"
                (onChange)="provinciasChange($event)"
              >
              </ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label>{{ 'common.labelTown' | translate }}</ion-label>
              <ionic-selectable
                item-content
                [(ngModel)]="localidad"
                formControlName="localidad"
                itemValueField="id"
                itemTextField="name"
                [items]="localidades"
                [canSearch]="true"
                (onChange)="localidadesChange($event)"
              >
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelPhone' | translate }} </ion-label>
              <ion-input
                clearInput
                type="text"
                [value]="perfil?.telefono"
                formControlName="telefono"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="input" (click)="clickDNI()">
              <ion-label position="floating"> {{ 'common.labelDNI' | translate }} </ion-label>
              <ion-input
                clearInput
                (ionBlur)="checkHide()"
                clearInput
                type="{{typeDNI}}"
                type="text"
                [value]="perfil?.dni"
                formControlName="dni"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="input" *ngIf="sectores.length>0">
              <ion-label position="floating"> {{ 'common.labelSectors2' | translate }} </ion-label>
              <ion-select
                clearInput
                (ionChange)="selectFamily()"
                [multiple]="subscription == null ? false : true"
                formControlName="sector"
              >
                <ion-select-option
                  [value]="sector?.id"
                  *ngFor="let sector of sectores"
                  >{{sector?.nombre}}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="input" *ngIf="subsectores.length>0">
              <ion-label position="floating"> {{ 'common.labelSubsectors2' | translate }} </ion-label>
              <ion-select
                clearInput
                [multiple]="subscription == null ? false : true"
                type="text"
                formControlName="sub_sector"
                [(ngModel)]="subSectoresPerfil"
              >
                <ion-select-option
                  *ngFor="let subsector of subsectores"
                  [value]="subsector.id"
                  >{{subsector?.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelNewPass' | translate }} </ion-label>
              <ion-input
                clearInput
                type="password"
                formControlName="password"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating">
                {{ 'common.labelConfirmNewPass' | translate }}
              </ion-label>
              <ion-input
                clearInput
                type="password"
                formControlName="passwordConfirmation"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="mobile">
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelName' | translate }} </ion-label>
          <ion-input clearInput type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelEmail' | translate }} </ion-label>
          <ion-input
            clearInput
            type="email"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelDescription' | translate }} </ion-label>
          <ion-textarea
            [maxlength]="max_bio"
            formControlName="descripcion"
          ></ion-textarea>
        </ion-item>
        <ion-item class="input" (click)="clickAddress()">
          <ion-label position="floating"> {{ 'common.labelAddress' | translate }} </ion-label>
          <ion-input
            (ionBlur)="checkHide()"
            clearInput
            type="{{typeAddress}}"
            formControlName="direccion"
          ></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label>{{ 'common.labelProvince' | translate }}</ion-label>
          <ionic-selectable
            [(ngModel)]="provincia"
            item-content
            formControlName="provincia"
            itemValueField="id"
            itemTextField="name"
            [items]="provincias"
            [canSearch]="true"
            (onChange)="provinciasChange($event)"
          >
          </ionic-selectable>
        </ion-item>
        <ion-item class="input">
          <ion-label>{{ 'common.labelTown' | translate }}</ion-label>
          <ionic-selectable
            [(ngModel)]="localidad"
            item-content
            formControlName="localidad"
            itemValueField="id"
            itemTextField="name"
            [items]="localidades"
            [canSearch]="true"
            (onChange)="localidadesChange($event)"
          >
          </ionic-selectable>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelPhone' | translate }} </ion-label>
          <ion-input
            clearInput
            type="text"
            formControlName="telefono"
          ></ion-input>
        </ion-item>
        <ion-item class="input" (tap)="clickDNI()">
          <ion-label position="floating"> {{ 'common.labelDNI' | translate }} </ion-label>
          <ion-input
            (ionBlur)="checkHide()"
            clearInput
            type="{{typeDNI}}"
            formControlName="dni"
          ></ion-input>
        </ion-item>
        <ion-item class="input" *ngIf="sectores.length>0">
          <ion-label> {{ 'common.labelSectors2' | translate }} </ion-label>
          <ion-select
            clearInput
            [(ngModel)]="sectoresPerfil"
            (ionChange)="selectFamily()"
            [multiple]="subscription == null ? false : true"
            type="text"
            formControlName="sector"
          >
            <ion-select-option
              [value]="sector.id"
              *ngFor="let sector of sectores"
              >{{sector.nombre}}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item class="input" *ngIf="subsectores.length>0">
          <ion-label> {{ 'common.labelSubsectors2' | translate }} </ion-label>
          <ion-select
            clearInput
            [(ngModel)]="subSectoresPerfil"
            [multiple]="subscription == null ? false : true"
            type="text"
            formControlName="sub_sector"
          >
            <ion-select-option
              [value]="subsector.id"
              *ngFor="let subsector of subsectores"
              >{{subsector.nombre}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelNewPass' | translate }} </ion-label>
          <ion-input
            clearInput
            type="password"
            formControlName="password"
          ></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating">
            {{ 'common.labelConfirmNewPass' | translate }}
          </ion-label>
          <ion-input
            clearInput
            type="password"
            formControlName="passwordConfirmation"
          ></ion-input>
        </ion-item>
      </div>
      <ion-button
        type="submit"
        style="max-width: 200px"
        expand="block"
        class="guardar-cambios"
        >{{ 'tabs.tab4.buttonSave' | translate }}</ion-button
      >
    </form>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <span *ngIf="total_opinions<=0">{{ 'tabs.tab4.labelNoOpinions' | translate }}</span>
          <div class="opinions-container" [hidden]="!(total_opinions>0)">
            <div class="opinions">
              <span class="reviews">
                <a>{{ total_opinions }} {{ 'tabs.tab4.labelOpinions' | translate }}</a>
              </span>
            </div>
            <div class="opinions-graphic">
              <canvas #barCanvas></canvas>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>

<ion-footer class="ion-no-border ion-text-center desktop" color="febelink">
  <ion-toolbar color="febelink">
    <p style="margin-bottom: 0px">© {{ currentYear }} Febelink</p>
    <p style="margin-top: 5px">Contacto: info@febelink.com</p>
  </ion-toolbar>
</ion-footer>
