<ion-header>
  <ion-toolbar color="light">

    <ion-buttons buttons-start slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <app-header-buttons [perfil]="perfil" currentTab=4></app-header-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center" *ngIf="loading">
    <ion-spinner></ion-spinner>
    <p>{{ 'common.labelLoading' | translate }}</p>
  </div>

  <div class="desktop-content" *ngIf="!loading">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <div>
        <div>
          <img
            (click)="attachImage()"
            [src]="perfil?.logo"
            *ngIf="perfil?.logo && base64img==null"
            class="logo"
            appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
          />
          <img
            (click)="attachImage()"
            [src]="base64img"
            *ngIf="base64img!=null"
            class="logo"
            appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
          />
          <img
            (click)="attachImage()"
            src="assets/imgs/4.jpg"
            *ngIf="!perfil?.logo && base64img==null"
            class="logo"
            appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
          />
          <input
            *ngIf="!isNative"
            class="input-file-perfil"
            type="file"
            accept="image/x-png,image/jpeg,image/gif"
            (change)="attachImage()"
          />
        </div>

        <div>
          <ion-button
            style="max-width: 300px; margin-bottom: 10px"
            class="guardar-cambios"
            expand="block"
            (click)="recommend($event)"
            >{{ 'tabs.tab4.buttonAskRecommendation' | translate }} &nbsp;
            <ion-icon name="checkmark"> </ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="message" *ngIf="message" translate>
        <span class="closebtn" (click)="message=null">&times;</span>
        {{message}}
      </div>

      <ion-grid class="desktop" fixed style="margin: 10px 0px">
        <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelDescription' | translate }} </ion-label>
              <ion-textarea
                [value]="perfil?.descripcion"
                type="text"
                [maxlength]="max_bio"
                formControlName="descripcion"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelName' | translate }} </ion-label>
              <ion-input
                clearInput
                type="text"
                formControlName="name"
                [value]="perfil?.name"
              ></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelEmail' | translate }} </ion-label>
              <ion-input
                clearInput
                type="email"
                formControlName="email"
                [value]="perfil?.email"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelAddress' | translate }} </ion-label>
              <ion-input
                [value]="perfil?.direccion"
                formControlName="direccion"
                id="direccion_desktop"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelAddressRest' | translate }} </ion-label>
              <ion-input
                [value]="perfil?.direccion_resto"
                formControlName="direccion_resto"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelPhone' | translate }} </ion-label>
              <ion-input
                clearInput
                type="text"
                [value]="perfil?.telefono"
                formControlName="telefono"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelDNI' | translate }} </ion-label>
              <ion-input
                id='dninie'
                clearInput
                type="text"
                [value]="perfil?.dni"
                formControlName="dni"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="input" *ngIf="sectores?.length>0">
              <ion-label position="floating"> {{ 'common.labelSectors2' | translate }} </ion-label>
              <ion-select
                clearInput
                (ionChange)="selectFamily()"
                [multiple]="subscription == null ? false : true"
                formControlName="sector"
              >
                <ion-select-option
                  [value]="sector?.id"
                  *ngFor="let sector of sectores"
                  >{{sector?.nombre}}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="input" *ngIf="subsectores.length>0">
              <ion-label position="floating"> {{ 'common.labelSubsectors2' | translate }} </ion-label>
              <ion-select
                clearInput
                [multiple]="subscription == null ? false : true"
                type="text"
                formControlName="sub_sector"
                [(ngModel)]="subSectoresPerfil"
              >
                <ion-select-option
                  *ngFor="let subsector of subsectores"
                  [value]="subsector.id"
                  >{{subsector?.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating"> {{ 'common.labelNewPass' | translate }} </ion-label>
              <ion-icon
                slot="end"
                (click)="hideShowPassword()"
                [name]="passwordIcon"
                class="passwordIcon2"
              ></ion-icon>
              <ion-input
                [(ngModel)]="inputpass1"
                (keyup)="showHidePassMessages()"
                clearInput
                [type]="passwordType"
                formControlName="password"
              ></ion-input>
              <p id="msgpass1" class="hide">{{ 'common.personal.passEr' | translate }}</p>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="input">
              <ion-label position="floating">
                {{ 'common.labelConfirmNewPass' | translate }}
              </ion-label>
              <ion-icon
                slot="end"
                (click)="hideShowPassword2()"
                [name]="passwordIcon2"
                class="passwordIcon2"
              ></ion-icon>
              <ion-input
                [(ngModel)]="inputpass2"
                (keyup)="showHidePassMessages()"
                clearInput
                [type]="passwordType2"
                formControlName="passwordConfirmation"
              ></ion-input>
              <p id="msgpass2" class="hide">{{ 'common.personal.passEr' | translate }}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="mobile">
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelDescription' | translate }} </ion-label>
          <ion-textarea
            [maxlength]="max_bio"
            formControlName="descripcion"
          ></ion-textarea>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelName' | translate }} </ion-label>
          <ion-input clearInput type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelEmail' | translate }} </ion-label>
          <ion-input
            clearInput
            type="email"
            formControlName="email"
          ></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelAddress' | translate }} </ion-label>
          <ion-input
            [value]="perfil?.direccion"
            formControlName="direccion"
            id="direccion_mobile"
          ></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelAddressRest' | translate }} </ion-label>
          <ion-input
            [value]="perfil?.direccion_resto"
            formControlName="direccion_resto"
          ></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelPhone' | translate }} </ion-label>
          <ion-input
            clearInput
            type="text"
            formControlName="telefono"
          ></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelDNI' | translate }} </ion-label>
          <ion-input
            id="dninie"
            clearInput
            formControlName="dni"
          ></ion-input>
        </ion-item>
        <ion-item class="input" *ngIf="sectores?.length>0">
          <ion-label> {{ 'common.labelSectors2' | translate }} </ion-label>
          <ion-select
            clearInput
            [(ngModel)]="sectoresPerfil"
            (ionChange)="selectFamily()"
            [multiple]="subscription == null ? false : true"
            type="text"
            formControlName="sector"
          >
            <ion-select-option
              [value]="sector.id"
              *ngFor="let sector of sectores"
              >{{sector.nombre}}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item class="input" *ngIf="subsectores.length>0">
          <ion-label> {{ 'common.labelSubsectors2' | translate }} </ion-label>
          <ion-select
            clearInput
            [(ngModel)]="subSectoresPerfil"
            [multiple]="subscription == null ? false : true"
            type="text"
            formControlName="sub_sector"
          >
            <ion-select-option
              [value]="subsector.id"
              *ngFor="let subsector of subsectores"
              >{{subsector.nombre}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="input">
          <ion-label position="floating"> {{ 'common.labelNewPass' | translate }} </ion-label>
          <ion-icon
          slot="end"
          (click)="hideShowPassword()"
          [name]="passwordIcon"
          class="passwordIcon"
        ></ion-icon>
          <ion-input
            [(ngModel)]="inputpass1"
            (keyup)="showHidePassMessages()"
            clearInput
            [type]="passwordType"
            formControlName="password"
          ></ion-input>
        </ion-item>
        <p id="msgpass3" class="hide">{{ 'common.personal.passEr' | translate }}</p>
        <ion-item class="input">
          <ion-label position="floating">
            {{ 'common.labelConfirmNewPass' | translate }}
          </ion-label>
          <ion-icon
            slot="end"
            (click)="hideShowPassword2()"
            [name]="passwordIcon2"
            class="passwordIcon"
        ></ion-icon>
          <ion-input
            [(ngModel)]="inputpass2"
            (keyup)="showHidePassMessages()"
            clearInput
            [type]="passwordType2"
            formControlName="passwordConfirmation"
          ></ion-input>
        </ion-item>
        <p id="msgpass4" class="hide">{{ 'common.personal.passEr' | translate }}</p>
      </div>
      <ion-button
        id="savebtn"
        type="submit"
        style="max-width: 200px"
        expand="block"
        class="guardar-cambios"
        >{{ 'tabs.tab4.buttonSave' | translate }}</ion-button
      >
    </form>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <span *ngIf="total_opinions<=0">{{ 'tabs.tab4.labelNoOpinions' | translate }}</span>
          <div class="opinions-container" [hidden]="!(total_opinions>0)">
            <div class="opinions">
              <span class="reviews">
                <a>{{ total_opinions }} {{ 'tabs.tab4.labelOpinions' | translate }}</a>
              </span>
            </div>
            <div class="opinions-graphic">
              <canvas #barCanvas id="barCanvas" ></canvas>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button
            style="max-width: 200px; margin-top: 20px"
            class="guardar-cambios"

            (click)="suspended_profile()">
        {{ 'tabs.tab4.labelDisable' | translate }}
    <ion-icon name="suspended_profile"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<app-footer></app-footer>