<!-- <ion-tabs>
  <ion-tab-bar slot="bottom" color="menuf">
    <ion-tab-button tab="search">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ 'menu.tabs.inicio' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>{{ 'menu.tabs.carrito' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="oracles">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label>{{ 'menu.tabs.advises' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ofertas">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>{{ 'menu.tabs.chat' | translate }}</ion-label>
      <ion-badge color="danger" *ngIf="totalUnreadMessages">{{totalUnreadMessages}}</ion-badge>
    </ion-tab-button>
    -->
<!--
<ion-tab-button *ngIf="perfil === null" (click)="irA('perfil')">
  <ion-icon name="person"></ion-icon>
  <ion-label>{{ (perfil !== null ? 'menu.tabs.profile' : 'menu.tabs.login') | translate }}</ion-label>
</ion-tab-button>
</ion-tab-bar>
</ion-tabs>
-->
