<!-- Services start -->
<section class="section" id="services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-5" id="content-sobre-nosotros">
          <h5 class="text-primary text-uppercase small-title" id="mini-titular">
            SOBRE NOSOTROS
          </h5>
          <h1 class="mb-3" id="titular-seccion">Nuestra Historia</h1>
          <p id="text-sobre-nosotros">
            Febelink es un buscador de servicios profesionales, una red social
            donde los usuarios publican sus búsquedas y el sistema envía las
            notificaciones a los profesionales relacionados con la actividad.
            Nuestro objetivo es ayudar a las personas a encontrar de forma más
            eficiente a los profesionales y empresas que necesitan, y ayudar a
            las empresas y profesionales a encontrar nuevos clientes.
          </p>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="text-center">
          <a
            href="#section-pricing"
            class="btn btn-success"
            id="btn-sobre-nosotros"
            >Más Sobre Nosotros</a
          >
        </div>
      </div>
    </div>

    <!--
     <div class="row">
       <div class="col-xl-4 col-sm-6" *ngFor="let item of serviceData">
         <div class="text-center p-4 mt-3">
           <div class="avatar-md mx-auto mb-4">
             <span class="avatar-title rounded-circle bg-soft-primary">
               <i-feather name="{{item.icon}}" class="icon-dual-primary"></i-feather>
             </span>
           </div>
           <h5 class="font-24">{{item.title}}</h5>
           <p class="mb-0 font-16">{{item.text}}</p>
           <div id="icons-row-links">
            <a href="{{item.link}}" class="mb-0">{{item.linktext}}</a>
            </div>
         </div>
       </div>

     </div>
    -->
    <div class="row" id="clients">
      <div class="col-xl-4 col-sm-6">
        <div class="text-center p-4 mt-3">
          <div class="avatar-md mx-auto mb-4">
            <span class="avatar-title rounded-circle bg-soft-primary">
              <img
                src="assets/landing/iIcon_Fb_A_PRESS.png"
                style="width: 64px; height: 64px"
              />
            </span>
          </div>
          <h5 class="font-24">PRENSA</h5>
          <!-- <p class="mb-0 font-16">NOTICIAS</p>-->
          <div id="icons-row-links">
            <a
              href="https://cadenaser.com/emisora/2021/08/29/ser_malaga/1630226894_751094.html "
              class="mb-0"
              target="_blank"
              >CADENA SER</a
            ><br />
            <a
              href="https://www.elespanol.com/malaga/economia/tecnologia/20210829/buscador-malagueno-gratuito-google-wallapop-permite-criptomonedas/607939739_0.html "
              class="mb-0"
              target="_blank"
              >EL ESPAÑOL</a
            ><br />
            <a
              href="https://www.elconfidencialdigital.com/articulo/an/aumentar-ventas-que-aconsejan-expertos-febelink-encontrar-clientes/20210728164228265244.html "
              class="mb-0"
              target="_blank"
              >CONFIDENCIAL DIGITAL</a
            ><br />
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6">
        <div class="text-center p-4 mt-3">
          <div class="avatar-md mx-auto mb-4">
            <span class="avatar-title rounded-circle bg-soft-primary">
              <img
                src="assets/landing/iIcon_Fb_A_Blog.png"
                style="width: 64px; height: 64px"
              />
            </span>
          </div>
          <h5 class="font-24">BLOG</h5>
          <!--<p class="mb-0 font-16">INFORMACIÓN</p>-->
          <div id="icons-row-links">
            <a href="https://blog.febelink.com/" class="mb-0" target="_blank"
              >BLOCK DE FEBELINk</a
            ><br />
            <a
              href="https://blog.febelink.com/febelink-en-los-medios"
              class="mb-0"
              target="_blank"
              >LOS MEDIOS HABLAN</a
            ><br />
            <a
              href="https://blog.febelink.com/que-son-los-buscadores-web"
              class="mb-0"
              target="_blank"
              >¿QUÉ SON LOS BUSCADORES?</a
            ><br />
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6">
        <div class="text-center p-4 mt-3">
          <div class="avatar-md mx-auto mb-4">
            <span class="avatar-title rounded-circle bg-soft-primary">
              <img
                src="assets/landing/iIcon_Fb_A_Podcast.png"
                style="width: 64px; height: 64px"
              />
            </span>
          </div>
          <h5 class="font-24">PODCAST</h5>
          <!--<p class="mb-0 font-16">PROGRESO</p>-->
          <div id="icons-row-links">
            <!-- <a
              href="https://escudodigital.com/tecnologia/febelink-buscador-profesional-con-red-social-creado-empresario-malagueno/"
              class="mb-0"
              target="_blank"
              >ESCUDO DIGITAL</a
            ><br />
            <a
              href="https://www.vidaeconomica.com/2021/08/empresario-malagueno-crea-google-de-los-negocios/"
              class="mb-0"
              target="_blank"
              >VIDA ECONÓMICA</a
            ><br />
            <a
              href="https://finanzasinversion.com/featured/aumentar-las-ventas-lo-que-aconsejan-los-expertos-de-febelink-para-encontrar-clientes/"
              class="mb-0"
              target="_blank"
              >FINANZAS INVERSIÓN</a
            ><br /> -->
            <a
              href="https://podcasters.spotify.com/podcast/27euxhc9sJnLddV9PaXqX2/overview "
              class="mb-0"
              target="_blank"
              >SPOTIFY</a
            ><br />
            <a
              href="https://go.ivoox.com/rf/73515302"
              class="mb-0"
              target="_blank"
              >IVOOX</a
            ><br />
            <a
              href="https://www.ivoox.com/block-world-tour-motril-edition-2021-audios-mp3_rf_74746015_1.html"
              class="mb-0"
              target="_blank"
              >TERRITORIO BLOCKCHAIN</a
            ><br />
            <!-- <a
              href="https://bitcoindaily.es/un-empresario-malagueno-crea-el-google-de-los-negocios-ser-malaga-hora-14-malaga"
              class="mb-0"
              target="_blank"
              >BITCOIN DAILY</a
            ><br /> -->
          </div>
        </div>
      </div>
    </div>

    <!-- end row -->

    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- Services end -->

<!-- end container -->
