<ion-content class="background-content">
  <div class="mobile">
    <div class="content-wrapper">
      <div class="breadcrumbs-text">
        <img src="assets/icon/svg/home.svg" class="breadcrumbs-home-svg"/>
        Inicio
        <img src="assets/icon/svg/chevron-right.svg" class="breadcrumbs-next-svg"/>
        Historial de compras
      </div>
      <div class="content-title">
        Historial de compras
      </div>

      <ng-container *ngIf="iCart">
        <div *ngFor="let cart of iCart" class="cart-block">
          <div class="cart-date">
            {{cart.buyDate}}
          </div>
          <div>

            <div *ngFor="let item of cart.items" class="div-carrito-item">
              <div class="div-table-100">
                <div class="display-cell-middle cell-number">
                  <div class="cell-number-box">
                    <span class="cell-number-text">{{item.productAmount}}</span>
                  </div>
                </div>
                <div class="display-cell-middle">
                  <div class="cell-item-title">{{item.product}}</div>
                  <div class="cell-item-subtitle">{{item.username}}</div>
                </div>
                <div class="display-cell-middle cell-price">
                  {{(item.productsTotalPrice).toLocaleString('es', {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                })}}€
                </div>
              </div>
            </div>

          </div>
        </div>
      </ng-container>
    </div>
  </div>


  <div class="desktop">
    <div class="content-wrapper-b">
      <div class="breadcrumbs-text-b">
        Inicio
        <img src="assets/icon/svg/chevron-right.svg" class="breadcrumbs-next-svg-b"/>
        <span class="color-blue">Historial de compras</span>
      </div>
      <div class="content-title-b">
        Historial de compras
      </div>

      <div *ngFor="let cart of iCart" class="cart-block-b">
        <div class="cart-date-b">
          {{cart.buyDate}}
        </div>
        <div>

          <div *ngFor="let item of cart.items" class="item-content-carrito">
            <div class="item-cell-img">
              <img src="assets/imgs/img-prueba.jpg" class="item-img"/>
            </div>
            <div class="item-cell-text">
              <div class="item-title">
                {{item.product}}
              </div>
              <div class="item-subtitle">
                {{item.username}}
              </div>
              <div class="item-div-buttons">
                <ion-item class="no-padding item-quantity-select">
                  <ion-label class="quantity-label">Cantidad:</ion-label>
                  <ion-select [disabled]="true" class="quantity-select" cancelText="Cancelar" okText="Aceptar"
                              [(ngModel)]="item.productAmount">
                    <ion-select-option [value]="1">1</ion-select-option>
                    <ion-select-option [value]="2">2</ion-select-option>
                    <ion-select-option [value]="3">3</ion-select-option>
                    <ion-select-option [value]="4">4</ion-select-option>
                    <ion-select-option [value]="5">5</ion-select-option>
                    <ion-select-option [value]="6">6</ion-select-option>
                    <ion-select-option [value]="7">7</ion-select-option>
                    <ion-select-option [value]="8">8</ion-select-option>
                    <ion-select-option [value]="9">9</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </div>
            <div class="item-cell-price">
              <div class="item-price">
                {{(item.productsTotalPrice).toLocaleString('es', {minimumFractionDigits: 2, maximumFractionDigits: 2})}}
                €
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</ion-content>
