<ion-grid class="no-padding">
  <ion-row>
    <!-- Sector -->
    <ion-col class="ion-no-padding pad-e5" size="6">
      <app-loading [isLoading]="sectors?.length <= 0" message="common.labelSector"></app-loading>
      <ion-item class="input" color="transparent" lines="none" *ngIf="sectors?.length > 0">
        <!-- Label -->
        <ion-label position="floating">{{ 'common.labelSector' | translate }}</ion-label>
        <!-- Select -->
        <ionic-selectable
          item-content
          itemValueField="id"
          itemTextField="nombre"
          [items]="sectors"
          [canSearch]="true"
          [canClear]="true"
          (onChange)="onChangeSector( $event )">
        </ionic-selectable>
      </ion-item>
    </ion-col>

    <!-- Subsector -->
    <ion-col class="ion-no-padding pad-s5" size="6">
      <app-loading [isLoading]="subsectors?.length <= 0" message="common.labelSubsector"></app-loading>
      <ion-item class="input" color="transparent" lines="none" *ngIf="subsectors?.length>0">
        <!-- Label -->
        <ion-label position="floating">{{ 'common.labelSubsector' | translate }}</ion-label>
        <ionic-selectable
          item-content
          itemValueField="id"
          itemTextField="nombre"
          [items]="subsectors"
          [canSearch]="true"
          [canClear]="true"
          (onChange)="onChangeSubsector( $event )">
        </ionic-selectable>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
