<ion-grid class="no-padding">
  <ion-row>
    <!-- Sector -->
    <ion-col class="ion-no-padding pad-e5" size="6">
      <app-loading [isLoading]="sectors?.length <= 0" message="common.labelSector"></app-loading>
      <ion-item class="input" color="transparent" lines="none" *ngIf="sectors?.length > 0">
        <!-- Label -->
        <ion-label position="floating">{{ 'common.labelSector' | translate }}</ion-label>
        <!-- Select -->
        <ion-select clearInput
          [(ngModel)]="sector"
          type="text"
          (ionChange)="onChangeSector( $event.detail.value )"
        >
          <ion-select-option
            *ngFor="let s of sectors"
            [value]="s?.id"
            >{{s?.nombre}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-col>

    <!-- Subsector -->
    <ion-col class="ion-no-padding pad-s5" size="6">
      <app-loading [isLoading]="subsectors?.length <= 0" message="common.labelSubsector"></app-loading>
      <ion-item class="input" color="transparent" lines="none" *ngIf="subsectors?.length>0">
        <!-- Label -->
        <ion-label position="floating">{{ 'common.labelSubsector' | translate }}</ion-label>
        <!-- Select -->
        <ion-select clearInput
          [(ngModel)]="subsector"
          type="text"
          (ionChange)="onChangeSubsector( $event.detail.value )"
        >
          <ion-select-option
            *ngFor="let subsector of subsectors"
            [value]="subsector?.id"
          >{{subsector?.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
