<ion-list lines="none">
  <ion-item (click)="shareFB()" style="cursor:pointer">

    <ion-buttons slot="start">
      <ion-button color="facebook" slot="icon-only"> 
        <ion-icon style="font-size: x-large;" name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-buttons>
    <p>Facebook</p>

  </ion-item>
  <ion-item (click)="shareTwitter()" style="cursor:pointer">

    <ion-buttons slot="start">
      <ion-button color="twitter" slot="icon-only"> 
        <ion-icon style="font-size: x-large;" name="logo-tumblr"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <p>Twitter</p>

  </ion-item>
  <ion-item (click)="shareLinkedin()" style="cursor:pointer">

    <ion-buttons slot="start">
      <ion-button slot="icon-only"> 
        <ion-icon style="font-size: x-large;" name="logo-linkedin"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <p>Linkedin</p>
  
  </ion-item>
</ion-list>