<ion-header>
  <ion-toolbar color="light">

    <ion-buttons buttons-start slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img tappable src="assets/imgs/logo.png" alt="" class="logo" routerLink="/menu/todas" />

    <ion-buttons slot="end" class="desktop">
      <ion-button class="btn-header" (click)="irA('/menu/todas')">
        <ion-icon slot="start" name="search"></ion-icon>
        {{ 'menu.tabs.searchEngine' | translate }}
      </ion-button>
      <ion-button class="btn-header active">
        <ion-icon slot="start" name="heart"></ion-icon>
        {{ 'menu.tabs.recommend' | translate }}
      </ion-button>
      <ion-button class="btn-header" (click)="irA('/menu/ofertas')">
        <ion-icon slot="start" name="chatbubbles"></ion-icon>
        {{ 'menu.tabs.chat' | translate }}
      </ion-button>
      <ion-button *ngIf="currentUser === null" class="btn-header" (click)="irA('/menu/perfil')">
        <ion-icon slot="start" name="person"></ion-icon>
        {{ (currentUser !== null ? 'menu.tabs.profile' : 'menu.tabs.login') | translate }}
      </ion-button>
    </ion-buttons>

    <ion-buttons size="large" slot="end">
      <ion-button color="primary" slot="icon-only" (click)="openGuide()">
        <ion-icon style="font-size: x-large" name="information-circle">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="content-filter">
    <div class="autocomplete">
      <ion-searchbar #mysearch
        placeholder="{{ 'common.searchPlaceholder' | translate }}"
        debounce="500"
      >
      </ion-searchbar>
    </div>

    <ion-item lines="none">
      <ion-icon name="filter-outline" slot="start"></ion-icon>
      <ion-label>{{ 'tabs.tab2.filters' | translate }}</ion-label>
      <ion-icon [name]="showFilters ? 'remove-circle-outline' : 'add-circle-outline'" slot="end" (click)="showFilters = !showFilters"></ion-icon>
    </ion-item>
    <ng-container *ngIf="showFilters">
    <div class="filtros">
      <ion-item class="categorias">
        <ion-label>{{ 'common.labelSectors' | translate }}</ion-label>
        <ionic-selectable
          item-content
          [(ngModel)]="sector"
          itemValueField="id"
          itemTextField="nombre"
          [items]="sectors"
          [canSearch]="true"
          (onChange)="sectorChange($event)"
        >
        </ionic-selectable>
      </ion-item>
      <ion-item class="categorias">
        <ion-label>{{ 'common.labelSubsectors' | translate }}</ion-label>
        <ionic-selectable
          item-content
          [(ngModel)]="subsector"
          itemValueField="id"
          itemTextField="nombre"
          [items]="subSectors"
          [canSearch]="true"
          (onChange)="subSectorChange($event)"
        >
        </ionic-selectable> </ion-item
      ><ion-item class="categorias">
        <ion-label>{{ 'common.labelProvince' | translate }}</ion-label>
        <ionic-selectable
          item-content
          [(ngModel)]="province"
          itemValueField="id"
          itemTextField="name"
          [items]="provinces"
          [canSearch]="true"
          (onChange)="provincesChange($event)"
        >
        </ionic-selectable>
      </ion-item>
      <ion-item class="categorias">
        <ion-label>{{ 'common.labelTown' | translate }}</ion-label>
        <ionic-selectable
          item-content
          [(ngModel)]="town"
          itemValueField="id"
          itemTextField="name"
          [items]="towns"
          [canSearch]="true"
          (onChange)="townsChange($event)"
        >
        </ionic-selectable>
      </ion-item>
    </div>
    </ng-container>
  </div>

  <div class="cargando-container text-center" margin-top *ngIf="isLoading">
    <ion-spinner></ion-spinner>
    <p>{{ 'common.labelLoading' | translate }}</p>
  </div>
  <p
    class="vacio text-center"
    *ngIf="!(searchResults.length>0) && !isLoading"
  >
  {{ 'common.labelNoElements' | translate }}
  </p>

  <ion-list *ngIf="!isLoading">
    <!-- DESKTOP -->
    <ion-grid class="grid-card desktop">
      <ion-row>
        <ion-col
          size="12"
          size-lg="3"
          side-md="4"
          size-sm="6"
          size-xs="12"
          *ngFor="let demanda of searchResults | filter:mysearch.value"
        >
          <ion-card (click)="detalleDemanda(demanda)">
            <div>
              <img src="assets/imgs/4.jpg" *ngIf="!demanda?.imagen" />
              <img [src]="demanda?.imagen" *ngIf="demanda?.imagen" />
            </div>
            <ion-item>
              <ion-label>
                <strong style="color: #222"> {{demanda?.nombre}}</strong>
              </ion-label>
              <ion-label slot="end">
                <em class="username">{{demanda?.user?.name}}</em>
              </ion-label>
            </ion-item>
            <ion-card-content>
              <p class="description">{{demanda?.descripcion}}</p>
              <ion-item lines="none">
                <ion-icon slot="end" [color]="demanda.favorito ? 'danger' : 'grey'" [name]="demanda.favorito ? 'heart' : 'heart-outline'" (click)="demanda.favorito = !demanda.favorito; onClickAddToFavorites(demanda); $event.stopPropagation();"></ion-icon>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item tappable class="mobile" lines="none" (click)="detalleDemanda(demanda)"
      *ngFor="let demanda of searchResults | filter:mysearch.value"
    >
      <ion-avatar slot="start">
        <img src="assets/imgs/4.jpg" *ngIf="!demanda?.imagen" />
        <ion-img [src]="demanda?.imagen" *ngIf="demanda?.imagen"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><strong>{{demanda?.nombre}}</strong></h2>
        <em class="desc">{{demanda?.descripcion}}</em>
      </ion-label>
      <ion-label slot="end">
        <em style="padding: 5px">{{demanda?.user?.name}}</em>
      </ion-label>
      <ion-icon slot="end" [color]="demanda.favorito ? 'danger' : 'grey'" [name]="demanda.favorito ? 'heart' : 'heart-outline'" (click)="demanda.favorito = !demanda.favorito; onClickAddToFavorites(demanda); $event.stopPropagation();"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border ion-text-center desktop" color="febelink">
  <ion-toolbar color="febelink">
    <p style="margin-bottom: 0px">Febelink Copyright {{ currentYear }}</p>
    <p style="margin-top: 5px">Contacto: info@febelink.com</p>
  </ion-toolbar>
</ion-footer>
