

<div id="search-content" class="container-general">
  <div class="layer-gradient">
    <div class="eclipse"></div>
  </div>
  <div class="container-detail-search">
     <!--AVATAR SECTION-->
    <div class="containter-left">
      <ng-container>
       <div class="card">
        <div class="image-profile">
          <img *ngIf="user?.avatar !== undefined && user?.avatar !== null" src="{{user?.avatar}}"/>
          <img *ngIf="user?.avatar === undefined || user?.avatar ==null" src="assets/imgs/bg1.jpg"/>
        </div>
        <div class="name-profile">
          {{user?.name}}
        </div>
        <div class="subname-profile">
          {{user?.email}}
        </div>
        <!-- <div class="social-profile">
          <div class="social-item">
            <i class="fa fa-facebook"></i>
          </div>
          <div class="social-item">
            <i class="fa fa-twitter"></i>
          </div>
          <div class="social-item">
            <i class="fa fa-instagram"></i>
          </div>
        </div> -->
        <div class="description-profile" *ngIf="user?.description !== undefined && user?.description !== null && user?.description !== 'null'" >
          {{user?.description}}
        </div>
        <div class="buttons-profile">
          <div class="item-button">Seguir</div>
          <div class="item-button chat" (click)="createChat()">Iniciar Chat</div>
        </div>
        <div class="header-content-top-right">
          <div class="block-action-top">
            <img
              src="assets/icon/svg/donate-blue.svg"
              class="block-action-svg"
            />Dar propina
          </div>
          <div class="block-action-top">
            <img
              src="assets/icon/svg/share-blue.svg"
              class="block-action-svg"
            />Compartir
          </div>
          <div class="block-action-top">
            <img
              src="assets/icon/svg/star-blue.svg"
              class="block-action-svg"
            />Valorar
          </div>
        
        </div>
      </div>
      </ng-container>

    </div>
    <div class="containter-right">
      <!--ORACULO-->
      <div class="section-perfil">
        <div class="oracle" *ngIf="iAdvises.length > 0">
          <ion-row class="oracle-title">
            <ion-label><span class="title-oracle">Publicaciones en Oráculo</span></ion-label>
            <ion-label><p class="subtitle-oracle">Explora las Últimas Novedades: Mantente al día con sus publicaciones más recientes y descubre sus contenidos exclusivos</p></ion-label>
          </ion-row>
          <div class="container-oracle" >
            <app-post-model2-component
              *ngFor="let advise of iAdvises"
              [id]="advise.id"
              [iAdvise]="advise"
              [showLang]="true"
              [showSeePost]="true"
            ></app-post-model2-component>
           
          </div>
        </div>

        <!--SERVICIOS-->
        <div class="section-more-work" [ngClass]="{'sinmargen': iAdvises.length === 0}" *ngIf="moreWorks.length">
          <ion-row class="more-work-title">
            <ion-label><span class="title-oracle">Servicios de este profesional</span></ion-label>
          </ion-row>
  
          <div class="grid-more-work">
            
            <div class="item-more" 
              
              *ngFor="let more of moreWorks">
              <a [href]="'/servicio/' + removeBlankSpace(more?.title) + '/detail/' + more?.productId">
                <div class="name-work">
                  <div>{{more.title}}</div>
                </div>
                <div class="description-more">
                  <ion-label [innerHtml]="more.description"></ion-label>
                </div>
                <div class="more-view">
                  Mostrar  <i class="fa fa-chevron-right"></i>
                </div>
              </a>
            </div>
         
          </div>
        </div>
      </div>

       <!--SERVICIOS-->
    </div>
  </div>

  <app-footer></app-footer>

</div>
