:host{
  z-index: 101;
  width: 100%;
  position: relative;
  display: block;
  background: #fcfffe;
  contain: unset;
  height: 100%;

  .iconsuperpro{
    width: 40px;
    margin: auto;
    display: flex;
    /* margin-top: 47px; */
    /* margin-bottom: -6px; */
    position: absolute;
    top: 15px;
    left: 33px;
  }
  
  
  .container-general{
      width: 100%;
      height: -moz-fit-content;
      height: 100%;
      position: relative;
      /* display: flex; */
      /* padding: 38px 27px; */
      /* max-width: 1500px; */
      margin: auto;
      position: absolute;
      overflow: auto;

      .layer-gradient{
          height: 300px;
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 50px;
          background:linear-gradient(to top,rgb(255,255,255),rgb(208,230,255));
         
      }
     /* Media query for screens with a maximum width of 600px */
      @media only screen and (max-width: 780px) {
          padding-bottom: 117px
      }
   


      .container-detail-search{
          width: 100%;
          height: fit-content;
          position: relative;
          display: flex;
          padding: 38px 27px;
          max-width: 1485px;
          margin: auto;
          margin-top: -150px;
          margin-bottom: 100px;

          /* Media query for screens with a maximum width of 600px */
          @media only screen and (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            padding: 38px 54px 0;
            /* Styles for screens with a width up to 600px */
          }
          @media only screen and (max-width: 780px) {
            padding: 0px 0px 0;
    
          }
       
    
          .containter-left{
            width: 30%;
            height: 100%;
            PADDING: 22PX;
            padding-left: 0;
            padding-top: 0;
            /* flex: 1; */
            position: sticky;
            top: 110px;
    
            @media only screen and (max-width: 1000px) {
              width: 100%;
              margin-bottom: 46px;
              position: relative;
              padding: 0;
              top: 0;
            }
    
            .valoraciones{
              min-height: 94px;
              box-shadow: #0000001a 0 12px 48px;
              background: rgb(255,255,255);
              border-radius: 8px;
              width: 92%;
              padding: 0 25px;
              margin: auto;
              padding-top: 15px;

              .title-valoraciones{
                text-align: center;
                font-family: InterFont;
                font-weight: 700;
                color: #170f49;
                height: 26px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 16px;
              }
              .item-valor{
                font-size: 15px;
                width: 100%;
                margin: auto auto 30px;
                font-family: DM Sans;
                color: #6f6c90;
                font-weight: 400;
                line-height: 26px;
                margin-top: 8px;
              }
            }
            .card{
              min-height: 440px;
              box-shadow: #0000001a 0 12px 48px;
              background: rgb(255,255,255);
              border-radius: 8px;
              width: 92%;
              padding: 0 25px;
              margin: auto;
  

               
              @media only screen and (max-width: 1270px) {
                padding: 0 10px;
              }
              .image-profile{
                  height: 200px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
  
                  img{
                      width: 150px;
                      height: 150px;
                      object-fit: cover;
                      border-radius: 100000%;
                  }
              }
              .name-profile{
                  text-align: center;
                  font-family: 'InterFont';
                  font-weight: bold;
                  color: #170F49;
                  height: 26px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 16px;
              }
              .subname-profile{
                text-align: center;
                font-family: DM Sans;
                font-weight: 700;
                color: #76aadb;
                height: 26px;
                display: block;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                margin-bottom: 19px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              .description-profile{
                  font-size: 15px;
                  width: 100%;
                  margin: auto;
                  font-family: DM Sans;
                  color: #6f6c90;
                  font-weight: normal;
                  line-height: 26px;
                  margin-bottom: 30px;
              }
              .social-profile{
                  display: flex;
                  gap: 12px;
                  margin: auto;
                  width: 100%;
                  justify-content: center;
                  align-items: center;
                  margin-bottom: 34px;
  
                  div{
                      width: 30px;
                      height: 30px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      background: #f1f6ff;
                      border-radius: 10000px;
                      color: #3a6bff;
                      cursor: pointer;
                  }
              }
              .header-content-top-right{
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 28px;
                  margin-bottom: 30px;
                  .block-action-top{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                      gap: 11px;
                      margin-top: 30px;
                      cursor: pointer;
                      font-size: 15px;
                      font-family: InterFont;
                      margin-bottom: 43px;
                      font-family: DM Sans;
                      color: #60759f;
                  }

              }
              .buttons-profile{
                border-radius: 1000px;
                display: flex;
                color: #76aadb;
                justify-content: center;
                height: fit-content;
                font-size: 16px;
                align-items: center;
                margin-bottom: 30px;
                gap: 4px;
  
                  .item-button{
                      width: 33.3%;
                      height: 40px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-weight: 700;
                      background: #fff;
                      color: #76aadb;
                      border-radius: 8px;
                      cursor: pointer;
                      font-size: 15px;


                      @media only screen and (max-width: 1270px) {
                        font-size: 13px;
                      }

                      &.follow {
                        border: 1px solid #76aadb;
                      }
                      
                      &.chat{
                          background: #76aadb;
                          color: #fff;

                          a{
                            text-decoration: none;
                            color: #fff
                          }
                      };


                      &.whatsapp{
                        width: 68%;
                        font-size: 24px;
                        background-color: #25D366 ;

                        a{
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        }
                        span{
                          font-size: 17px;
          
                           margin-left: 11px;
                        }
                        
                     }
                  }
              
              }
            }
          }
          .containter-right{
            width: 70%;
            height: 100%;
            
            @media only screen and (max-width: 1000px) {
              width: 100%;
                  padding: 0px 14px;
            }
            .title-oracle{
              font-weight: bold;
              color: black;
              margin-bottom: 10px;
              font-size: 1.2rem;
              display: block;
             }
            .section-perfil{
              margin-top: 62px;
             .subtitle-oracle{
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 20px;
             }
            }
    
            .section-title{
              margin-top: 30px;
    
              .product-title{
                h1 {
                  width: 99%;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 24px;
                  line-height: 150%;
                  color: #111928;
                }
              } 
              
              .product-rating {
                justify-content: flex-start;
                align-items: center;
                display: flex;
                margin: 8px 0 32px;
    
                .content_item{
                  justify-content: flex-start;
                  align-items: center;
                  display: flex;
    
                  .list-stars-rating{
                    justify-content: flex-start;
                    align-items: center;
                    display: flex;
    
                    .stars{
                      justify-content: flex-start;
                      align-items: center;
                      display: flex;
                    }
                    .detail-rating{
                      margin-left: 10px
                    }
                  }
                  
                }
              }
            }
            .section-description{
              font-size: 16px;
              line-height: 24px;
    
              
            
            }
    
            .section-description{
              ion-label{
                ::ng-deep{
                  p{
                    color: #000;
                    font-size: 16px;
                    line-height: 24px;
                  }
                }
              }
            }
    
         
    
            .section-more-work{
           
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;

              &.sinmargen{
                  margin-top: 0px;
              }
    
              h1 {
                width: 99%;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 150%;
                color: #111928;
                width: 100%;
              }
    
    
              .grid-more-work{  
                margin: 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 16px;
                margin-top: 20px;
                width: 100%;
                grid-template-columns: repeat(auto-fill,minmax(min(100%,390px),1fr));
    
                @media only screen and (max-width: 780px) {
                  flex-direction: column;
                  display: flex;
                  width: 100%;
                }
    
                .item-more{
                  width: 100%;
                  height: fit-content;
                  padding: 16px;
                  border-radius: 16px;
                  border: 1px;
                  gap: 8px;
                  display: flex;
                  flex-direction: column;
                  box-shadow: 0px 2px 13px 0px #00000012;
                  background: #fff;
    
    
                  .texts-work{
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                  }
                  .image-work{
                    width: 121px;
                    height: 112px;
                
                    margin-right: 16px;

                    img{
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      border-radius: 8px;
                    
                    }
                  }
                  .description-work{
                    width: calc(100% - 137px) ;
                  }
                  a{
                    text-decoration: none;
                  }
                  // @media only screen and (max-width: 1000px) {
                  //   width: 239px;
                  // }
    
                  @media only screen and (max-width: 780px) {
                    width: 97%;
                  }
                 
                  .name-work{
                      height: 29px;
                      width: 100%;
                      display: flex;
                      font-weight: 700;
                      font-size: 15px;
                      color: #202020;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      @media only screen and (max-width: 1000px) {
                        height: 38px;
                      }
                    
                  }
                  .description-more{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 4;
                    line-clamp: 4;
                    font-size: 14px;
                    overflow: hidden;
                    color: #555;
                    margin-top: 3px;
                
                  }
                  .more-view{
                    justify-content: space-between;
                    align-items: center;
                    display: flex;
                    margin-top: 10px;
                    position: relative;
                    padding-right: 11px;
                    color: #202020;
        
                    i{
                      color: #0047FF;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
      }


   
  }

}