<div class="search-content container">
  <!-- Gradient -->
  <div class="layer-gradient">
    <div class="eclipse"></div>
  </div>

  <!-- Content -->
  <div class="relative max-w-[1300px] mx-auto -mt-[200px] mb-[100px] z-10 flex flex-col md:flex-row gap-6 px-4">
    <!-- Profile section -->
    <div class="w-full md:w-96 flex flex-col shrink-0 gap-4">
      <div class="relative bg-white p-6 rounded-xl shadow-xl">
        <!-- Avatar -->
        <div class="w-32 h-32 mx-auto">
          <img 
            class="w-full h-full rounded-full object-cover"
            *ngIf="user?.avatar !== undefined && user?.avatar !== null"
            [src]="urlWsrv + user?.avatar +'&w=800&output=webp'"
            appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
          />
          <img
            class="rounded-full object-cover"
            *ngIf="user?.avatar == undefined || user?.avatar === null" 
            src="https://api.febelink.com/storage/users/default.png"  
          />
        </div>

        <!-- Name -->
        <h1 class="font-bold text-center mt-2">
          {{user?.name}}
        </h1>

        <!-- Rating -->
        <div class="mt-2">
          <app-rating-summary></app-rating-summary>
        </div>

        <!-- Views -->
        @if ( user?.views ) {
          <div class="mt-2">
            <app-views-summary [views]="user.views"></app-views-summary>
          </div>
        }

        <!-- Contact data -->
        <div class="flex flex-col gap-3 mt-6">
          @if ( user?.phoneNumber ) {
            <div>
              <span class="block text-xs font-bold uppercase text-neutral-500">Teléfono</span>
              <a class="block text-base font-semibold text-primary" [href]="'tel:' + user.phoneNumber">{{user.phoneNumber}}</a>
            </div>
          }
          @if ( user?.email ) {
            <div>
              <span class="block text-xs font-bold uppercase text-neutral-500">Email</span>
              <a class="block text-base font-semibold text-primary" [href]="'mailto:' + user.email">{{user.email}}</a>
            </div>
          }
          @if ( user?.phoneNumber ) {
            <div (click)="registerClick(idPerfil)">
              <span class="block text-xs font-bold uppercase text-neutral-500">Whatsapp</span>
              <a class="w-fit px-2 py-0.5 rounded-lg mt-1 block text-base font-semibold bg-[#25D366] text-white" href="https://wa.me/{{user.phoneNumber}}">Contactar por whatsapp</a>
            </div>
          }
        </div>

        <!-- Utility buttons -->
        <div class="grid grid-cols-3 mt-10">
          <button class="flex flex-col gap-2 items-center justify-center" (click)="!authService.isAuthenticated() ? irA('/login') : createChat()">
            <ion-icon name="chatbubble-sharp" class="w-5 h-5 text-link text-xl"></ion-icon>
            <span>Chat</span>
          </button>
          <button class="flex flex-col gap-2 items-center justify-center">
            <img src="assets/icon/svg/donate-blue.svg" class="w-5 h-5" />
            <span>Dar propina</span>
          </button>
          <button class="flex flex-col gap-2 items-center justify-center">
            <img src="assets/icon/svg/share-blue.svg" class="w-5 h-5" />
            <span>Compartir</span>
          </button>
        </div>
      </div>

      <!-- Ratings -->
      <div class="bg-white p-6 rounded-xl shadow-xl">
        <h3 class="font-semibold text-neutral-900">Valoraciones</h3>
        <span class="text-sm italic text-neutral-600">Todavía no hay ninguna valoración</span>

        <!-- <div class="flex items-center justify-center gap-1 mt-2">
          <ion-icon name="star" class="text-primary text-2xl"></ion-icon>
          <ion-icon name="star" class="text-primary text-2xl"></ion-icon>
          <ion-icon name="star-half" class="text-primary text-2xl"></ion-icon>
          <ion-icon name="star-outline" class="text-primary text-2xl"></ion-icon>
          <ion-icon name="star-outline" class="text-primary text-2xl"></ion-icon>
        </div>

        <div class="bg-neutral-100 mx-auto w-fit px-3 py-1 rounded text-neutral-800 text-sm font-semibold mt-4">9 valoraciones</div> -->
      </div>
    </div>

    <!-- Main section -->
    <div class="flex-1">
      <!-- About -->
      @if ( user?.description ) {
        <section class="mb-8">
          <div class="mb-4">
            <h2 class="font-bold text-base">Sobre {{user?.name}}</h2>
          </div>
          <p class="whitespace-pre-line text-base text-neutral-900" style="word-break: break-word;">
            {{user?.description}}
          </p>
        </section>
      }

      <!-- Offers -->
      @if ( moreWorks.length > 0 ) {
        <section>
          <div class="mb-4">
            <h2 class="font-bold text-base">Servicios de este profesional</h2>
          </div>

          <div class="grid grid-cols-1 xl:grid-cols-2 gap-4">
            @for ( work of moreWorks; track work.productId ) {
              <app-offer-card2 [offer]="work"></app-offer-card2>
            }
          </div>
        </section>
      }
    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
