<ion-header>
  <ion-toolbar class="header_buttons" color="header">
    <ion-buttons buttons-start slot="start">
        <ion-menu-button class="desktop_menu_avatar">
            <ion-img class="avatarmenu"
              id="menuImg"
              [src]="
                currentUser?.logo !== null
                  ? currentUser?.logo
                  : 'https://api.febelink.com/storage/users/default.png'
              "
              (error)="onImgError($event)"
              alt="Menu profile picture">
          </ion-img>
        </ion-menu-button>  
        <ion-img *ngIf="perfil" class="pos_menu" src="assets/icon/icon_header_menu.png"></ion-img>
        <ion-img *ngIf="perfil" class="mobile menu_header" src="assets/icon/svg/chat_header.svg"></ion-img>
    </ion-buttons>
    <app-header-buttons class="buttons_flex" [perfil]="perfil" currentTab="1"></app-header-buttons>
    <ion-buttons buttons-start slot="end">
      <ion-img style="margin-left:5em;"
      tappable 
      src="assets/imgs/logo.png" 
      alt="Febelink logo" 
      (click)="irA('/' + homePage)"
      class="ion-margin logo desktop"></ion-img> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">

        <ion-img src="assets/imgs/buscador_fondo.png"></ion-img>

        <ion-row class="row_buscador">
          <ion-col size="">
            <ion-row class="ion-padding">
              <ion-text class="text_buscador">{{ 'tabs.tab1.search.search_prof' | translate }}</ion-text>
            </ion-row>
            <ion-row>
              <app-search
              #search
              class="app_search"
              clase="autocomplete"
              *ngIf="!isLoading"
            ></app-search>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isLoading">
          <ion-spinner></ion-spinner>
          <ion-text>{{ 'common.labelLoading' | translate }}</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
