ion-header {
  text-align: center;
  background: var(--ion-color-light);

  ion-toolbar {
    @media (min-width: 768px) {
      margin: 0 auto;
      max-width: 1400px;
    }
  }

  .register-button {
    background-color: #2dd36f;
    border-radius: 5px;
    color: white;
  }
}
ion-content {
  .cargando-container {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .content-filter {
    @media (min-width: 768px) {
      margin: 40px 0px;
    }
  }
}

.avatarmenu{
  width: 36px;
  height: 36px;  
}

.pos_menu{
  z-index: -1;
  display: flex;
  margin-left: -18px;
  height: 25px;
}

ion-thumbnail {
  width: 75px;
  height: 75px;
}
 
.header_buttons{
  padding-left: 1em;
}


