ion-header {
  text-align: center;
  background: var(--ion-color-light);

  ion-toolbar {
    @media (min-width: 768px) {
      margin: 0 auto;
      max-width: 1400px;
    }
  }

  #logo {
    width: 45%;
    margin: 1em;
    color: white;

    @media (min-width: 768px) {
      position: relative;
      width: 45%;
      max-width: 130px;
      left: 0;
      float: left;
      margin-left: 20px;
    }
  }
  .register-button {
    background-color: #2dd36f;
    border-radius: 5px;
    color: white;
  }
}
ion-content {
  .cargando-container {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .content-filter {
    @media (min-width: 768px) {
      margin: 40px 0px;
    }
  }
}

ion-thumbnail {
  width: 75px;
  height: 75px;
}

.terms-text {
  text-decoration: underline;
}
.terms-text:hover {
  cursor: pointer;
}

.content-filter-header {
  background: white;
  border-top: 1px solid #d0d0d0;
}

ion-item img {
  margin: 10% auto 10% auto;
  max-height: 60px;
}

.app-services,
.app-whyUse,
.downloads .section-header {
  text-align: center;
}

.app-services .section-header,
.app-whyUse .section-header,
.downloads .section-header,
.section-header * {
  width: 100%;
  margin: 1.5em 0;
}

.flexed-row {
  display: flex;
  align-items: baseline;
}

.flexed-row section {
  flex: 1 1 0px;
  min-width: 15em;
}

.app-whyUse img {
  width: 5em;
}

.image-aligned {
  vertical-align: middle;
}

ion-icon {
  color: green;
}

.row-store {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}

.col-store {
  text-align: center;
}

#google-button,
#apple-button {
  margin-top: 1.5em;
  width: 15em;
}

#registro ion-icon {
  color: white;
}

.pad-s5 {
  padding-left: 5px; --padding-start: 5px;
}

@media (min-width: 940px){
}

@media (min-width: 768px){
  ion-grid{
    --ion-grid-padding:10px:
  }
  .textoCentrado{
    --ion-grid-column-padding:10px;
  }
  .lista_footer{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    width: 114px;
    height: 59px;
  }

  ion-list{
    ion-item{
      height: 2em;
      ion-label{
        margin: 0;
      }
    }
  }
}
