ion-header{
    text-align: center;
    background: var(--ion-color-light);

    .btn-header {
        margin: 0 0.8rem;
    }

    .active {
        color: var(--ion-color-primary) !important;
    }

    ion-toolbar {
        @media (min-width: 768px){
            margin:0 auto;
            max-width: 1400px;
        }
    }
    .logo{

        position: absolute;
        top:10%;
        left:28%;
        width: 45%;
        max-width: 200px;

        @media (min-width: 768px){
            position: relative;
            width: 45%;
            max-width: 130px;
            left: 0;
            float:left;
            margin-left: 20px;
        }
    }
}
ion-content {

    ion-searchbar {
        --background: #141414;
        --border-radius: 25px;
        --color: white;
        --icon-color: white;
        --placeholder-color: white;
    }

    .content-filter {
        @media (min-width: 768px){
            margin: 40px 0px;
        }
    }
}

ion-thumbnail {
    width: 75px;
    height: 75px;
}

.terms-text{
    text-decoration: underline;
}
.terms-text:hover{
    cursor: pointer;
}

.search_input_header{
    --background: #141414;
    --border-radius: 25px;
    --color: #fff;
    --icon-color: #fff;
    --placeholder-color: #fff;
}

.content-filter-header{
    background: white;
    border-top: 1px solid #d0d0d0;
}

.stars{
    color:var(--ion-color-star);
    width: 25%;
    float: left;
    font-size: 18px;
    font-weight: bold;
}
.publicar{
    margin-top:20px;
}
.placeholder{
    margin:10px;
}
.input-file-demandas {
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
    left: 105px;
    top: 15px;
    @media (min-width: 768px){
        left: 44%;
    }
}

.subtitle{
    font-size: 20px;
    text-align: center;
}

ion-item img {
    margin: 10% auto 10% auto;
    max-height: 60px;
}
