<ion-content id="search-content" class="content-background">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-row size="12">
          <ion-col size="12"
                   style="background: rgba(0, 0, 0, 0.5);background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(33 24 92 / 73%));">
            <img
              class="tam_imagen"
              style="width: 100%; opacity: 40%;"
              *ngIf="searchService.show_imagen"
              src="assets/imgs/buscador_fondo_desktop.png"
            />
          </ion-col>
        </ion-row>
        <ion-row class="row_buscador">
          <ion-col size="12">
            <ion-row class="ion-padding" class="service-bar">
              <ion-button
                (click)="navigateNewServices()"
                expand="block"
                class="service-button"
              >Ofrece tus servicios
              </ion-button>
              <ion-label *ngIf="searchService.show_imagen" class="text_buscador"
              >{{ generalTitle }}</ion-label
              >
            </ion-row>
            <ion-row size="12">
              <app-search
                  #search
                  class="app_search"
                  clase="autocomplete"
                  *ngIf="!isLoading"
                  [searchText]="searchTerm"
                  (generalTitle)="changeGeneralTitle($event)"
              ></app-search>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isLoading">
          <ion-spinner></ion-spinner>
          <ion-text>{{ 'common.labelLoading' | translate }}</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
