<ion-header>
  <ion-toolbar color="febelink">
    <ion-title>Política de cookies</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <strong>POLÍTICA DE COOKIES DE FEBELINK</strong><br><br>

  <p>Esta Política de Cookies es parte integrante de los textos legales y de la Política de Privacidad de la página web <a href="https://www.febelink.com/">https://www.febelink.com/</a> y o la aplicación móvil (en adelante, respectivamente el “<strong>Sitio Web</strong>” y la “<strong>Aplicación</strong>”), propiedad de FEBELINK DIGITAL S.L., con C.I.F B05367511, con domicilio social en Camino del pato, 27, PISO 2º B, 29004 - Málaga (en adelante “<strong>FEBELINK</strong>”) y correo electrónico a efectos de privacidad:</p>
  <p>El acceso y la navegación en el Sitio Web y/o en la Aplicación, así como la aceptación del banner correspondiente a las cookies y su configuración implican la aceptación de los términos y condiciones recogidos en la presente Política de Cookies. </p>
  <p>Con el fin de facilitar la navegación por el Sitio Web y la Aplicación le comunica que utiliza cookies u otros archivos de funcionalidad similar (en adelante, las “<strong>Cookies</strong>”).</p>
  <p>En todo caso, le informamos de que FEBELINK es el responsable de dichas Cookies y del tratamiento de los datos obtenidos a través de éstas, decidiendo sobre la finalidad, contenido y uso del tratamiento de la información recabada. Además, el Sitio Web no instala nuestras Cookies en los dispositivos de los Usuarios hasta que estos hayan aceptado la instalación de estas.</p>
  <br>
  <strong>1.-  ¿Qué se entiende por una Cookie?</strong><br><br>
  <p>Las Cookies son archivos que contienen pequeñas cantidades de información que se descargan en el dispositivo del usuario cuando visita una página web o una aplicación, asociándose únicamente a un usuario anónimo y su dispositivo y a veces, proporcionan evidencias que permiten acceder a datos personales del usuario.</p>
  <p>Las Cookies son esenciales para el funcionamiento de Internet, su finalidad principal es reconocer al usuario cada vez que accede al Sitio Web y/o a la Aplicación, permitiendo, además de mejorar la calidad, ofrecer un mejor uso de ambos entornos, personalizando los servicios que se ofrecen en esta y ofreciendo al Usuario información que es de su interés o que puede ser de su interés, en atención al uso que realiza de aquellos. En cualquier caso, el Usuario podrá acceder a la configuración de su navegador para modificar y/o bloquear la instalación de las Cookies enviadas desde el Sitio Web y/o de la Aplicación, sin que ello impida al acceso a los contenidos.</p>
  <br>
  <strong>2.-  Uso de Cookies por parte de FEBELINK</strong><br><br>
  <p>Los usuarios autorizan expresamente el uso de esta información con las finalidades indicadas, a través de los canales habilitados al efecto en el Sitio Web y/o en la Aplicación, sin perjuicio de su derecho a rechazar, deshabilitar o configurar el uso de Cookies. Si se desactivan o se rechazan las Cookies, puede que la navegación por el Sitio Web no sea óptima y algunas de las utilidades de que disponibles no funcionen correctamente.</p>
  <p>En concreto, FEBELINK está utilizando las Cookies para las finalidades que a continuación se exponen. Si en un futuro FEBELINK utilizase otras Cookies con el propósito de otorgar más y mejores servicios, se informará al usuario de ello.</p>
  <p>La instalación de dichas Cookies en el dispositivo del usuario se producirá siempre de manera posterior a la recogida del consentimiento y/o configuración de estas.</p>
  <p>En esta Política de Cookies se informa de manera general de todas las Cookies utilizadas en el Sitio Web y/o en la Aplicación. Sin embargo, a efectos informativos para el Usuario, las Cookies que son necesarias para el funcionamiento del Sitio Web y/o de la Aplicación estarán activadas por defecto, pudiendo ser, en su caso, desactivadas y rechazadas por el usuario, siempre en cumplimiento de la normativa vigente.</p>
  <br>
  <strong>3.-  Tipos y objetivos de las cookies utilizadas</strong><br><br>
  <p>En el Sitio Web y/o en la Aplicación se utilizan cookies propias y de terceros. Según la entidad que gestione los datos que se obtengan a través de las Cookies, se agrupan de la siguiente manera:</p>
  <ul>
    <li>
      <strong>Propias: </strong>Aquéllas que se envían al propio editor que presta el servicio solicitado por el usuario.
    </li>
    <li>
      <strong>De terceros: </strong>No son gestionadas por el editor, sino por un tercero que es quien gestiona los datos obtenidos a través de las Cookies.
    </li>
  </ul>
  <p>En función de su permanencia:</p>
  <ul>
    <li>
      <strong>De sesión: </strong>permanecen durante el acceso y navegación en el sitio, se suprimen una vez el usuario abandona el Sitio Web y/o la Aplicación.
    </li>
    <li>
      <strong>Permanentes: </strong>permanecen almacenadas en el terminal y pueden ser accedidos y tratados durante un periodo de tiempo definido por el responsable de la Cookie.
    </li>
  </ul>
  <br>
  <strong>4.-  Cookies utilizadas en el Sitio Web y/o en la Aplicación</strong><br><br>
  <p>Las Cookies utilizadas por FEBELINK son cookies propias y de terceros.</p>
  <br>
  <strong>4.1.  Cookies necesarias</strong><br><br>
  <p>Son aquellas cookies consideradas imprescindibles para la navegación por ambos entornos, pues facilitan al usuario la utilización de sus prestaciones o herramientas como, por ejemplo, identificar la sesión, acceder a partes de acceso restringido, garantizar la seguridad de la navegación. Sin estas cookies, las funciones mencionadas quedarían inhabilitadas.</p>
  <p>En este sentido, FEBELINK utiliza estas cookies propias con las siguientes finalidades: </p>
  <ul>
    <li>
      Identificar la sesión del usuario para mantenerla activa durante la navegación.
    </li>
    <li>
      Identificar la sesión del usuario para evitar posibles ataques y las falsificaciones de peticiones.
    </li>
    <li>
      Identificar la configuración de cookies del usuario.
    </li>
    <li>
      Identificar el servidor utilizado por el usuario.
    </li>
    <li>
      Configuración de la seguridad del firewall web.
    </li>
    <li>
      Verificar la conexión con los servidores (en estos casos estas cookies pueden ser de terceros, pero siempre tendrán la finalidad descrita).
    </li>
    <li>
      Optimizar el tiempo de respuesta en la web con la función de cache.
    </li>
  </ul>
<p>Las cookies necesarias utilizadas por FEBELINK son las siguientes:</p>
<table>
  <tr>
    <th><strong>COOKIES</strong></th>
    <th><strong>PROPIETARIO</strong></th>
    <th><strong>FINALIDAD</strong></th>
    <th><strong>CADUCIDAD</strong></th>
  </tr>
  <tr>
    <td>G_ENABLED_IDPS</td>
    <td>febelink.com</td>
    <td>Permite al Usuario registrarse y acceder al Sitio Web, de manera segura, a través de su propia cuenta Google.</td>
    <td>291 días</td>
  </tr>
</table>
<br>
<strong>4.2.  Cookies analíticas</strong><br><br>
<p>Estas cookies sirven para analizar la navegación del usuario por el Sitio Web, así como realizar una contabilidad de estas. Algunas de estas cookies identifican al usuario, mientras que otras solo utilizan datos agregados.</p>
<p>FEBELINK, a través del Sitio Web, utiliza Cookies de terceros para la seguridad de ambos entornos como a nivel analítico. En concreto dichas Cookies son:</p>
<table>
  <tr>
    <th><strong>COOKIES</strong></th>
    <th><strong>PROPIETARIO</strong></th>
    <th><strong>FINALIDAD</strong></th>
    <th><strong>CADUCIDAD</strong></th>
  </tr>
  <tr>
    <td>_ga</td>
    <td>Google Analytics</td>
    <td>Registra un identificador único para cada uno de los visitantes del sitio web. Este identificador se utiliza para obtener datos estadísticos sobre el uso del sitio web por parte del visitante.</td>
    <td>2 años</td>
  </tr>
  <tr>
    <td>_gat</td>
    <td>Google Analytics</td>
    <td>Utilizada por Google Analytics para para acelerar el ritmo de las solicitudes en el sitio web.</td>
    <td>1 día</td>
  </tr>
  <tr>
    <td>_gid</td>
    <td>Google Analytics</td>
    <td>Registra un identificador único para cada uno de los visitantes del sitio web. Este identificador se utiliza para obtener datos estadísticos sobre el uso del sitio web por parte del visitante.</td>
    <td>1 día</td>
  </tr>
</table>
<br>
<strong>4.2.  Cookies de marketing</strong><br><br>
<p>Las cookies de marketing se utilizan para hacer un seguimiento de los usuarios que navegan en los sitios web. La intención es mostrar anuncios que sean relevantes para los usuarios y, por tanto, más valiosos para los terceros anunciantes.</p>
<table>
  <tr>
    <th><strong>COOKIES</strong></th>
    <th><strong>PROPIETARIO</strong></th>
    <th><strong>FINALIDAD</strong></th>
    <th><strong>CADUCIDAD</strong></th>
  </tr>
  <tr>
    <td>_fbp</td>
    <td>Facebook</td>
    <td>Utilizada por Facebook para ofrecer contenidos publicitarios y otro tipo de información de terceros anunciantes, en tiempo real, que pueda ser relevante para los Usuarios.</td>
    <td>3 meses</td>
  </tr>
  <tr>
    <td>NID</td>
    <td>Facebook</td>
    <td>Registra un ID único que identifica el dispositivo de un usuario que regresa. El ID se utiliza para los anuncios personalizados.</td>
    <td>6 meses</td>
  </tr>
  <tr>
    <td>oauth2_cs</td>
    <td>Google</td>
    <td>No clasificada</td>
    <td>Sesión</td>
  </tr>
  <tr>
    <td>tr</td>
    <td>Facebook</td>
    <td>Utilizada por Facebook para ofrecer contenidos publicitarios y otro tipo de información de terceros anunciantes, en tiempo real, que pueda ser relevante para los Usuarios. </td>
    <td>Sesión</td>
  </tr>
</table>
<br>
<strong>5.-  Configuración del usuario para evitar Cookies</strong><br><br>
<p>En cumplimiento de la normativa vigente, el usuario puede configurar la instalación de Cookies en el Sitio Web y/o en la Aplicación o en los canales específicamente habilitados. Mediante esta herramienta, el Usuario puede aceptar todas las Cookies, rechazarlas todas (en su caso, aquellas que no sean necesarias para el funcionamiento de la web) o configurarlas gradualmente.</p>
<p>De igual manera, FEBELINK pone a disposición de los usuarios del Sitio Web y/o de la Aplicación la información que les permita configurar su navegador/navegadores de Internet para mantener su privacidad y seguridad en relación con las Cookies. Por ello, se facilita la información y los enlaces a los sitios de soporte oficiales de los principales navegadores para que cada usuario pueda decidir si desea o no aceptar el uso de Cookies.</p>
<p>Así, es posible bloquear las Cookies a través de las herramientas de configuración del navegador, o bien, cada usuario puede configurar su navegador para que le avise cuando un servidor quiera guardar una Cookie:</p>
<ul>
  <li>
    Si utiliza Microsoft Internet Explorer, encontrará la opción en el menú Herramientas > Opciones de Internet > Privacidad > Configuración. Para saber más visite este enlace: <a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-Cookies">http://windows.microsoft.com/es-es/windows-vista/block-or-allow-Cookies</a> y <a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-Cookies-in-internet-explorer-9">http://windows.microsoft.com/es-es/windows7/how-to-manage-Cookies-in-internet-explorer-9</a>
  </li><br>
  <li>
    Si utiliza Firefox, encontrará la opción en el menú Herramientas > Opciones > Privacidad > Cookies. Para saber más visite este enlace: <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-Cookies-que-los-sitios-we">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-Cookies-que-los-sitios-we.</a> 
  </li><br>
  <li>
    Si utiliza Chrome, en la sección de Opciones > Opciones avanzadas > Privacidad. Para saber más visite este enlace: <a href="https://support.google.com/accounts/answer/61416?hl=es">https://support.google.com/accounts/answer/61416?hl=es</a>
  </li><br>
  <li>
    Si utiliza Opera, en la opción de Seguridad y Privacidad, podrá configurar el navegador. Para saber más visite: este enlace: <a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html">http://help.opera.com/Windows/11.50/es-ES/cookies.html</a> 
  </li><br>
  <li>
    Si utiliza Safari encontrará la opción en el menú Preferencias/Privacidad. Para saber más visite: este enlace: <a href="http://support.apple.com/kb/HT1677?viewlocale=es_ES">http://support.apple.com/kb/HT1677?viewlocale=es_ES</a> 
  </li><br>
  <li>
    Si utiliza Microsoft Edge, en la opción de Configuración y más > Configuración > Privacidad, búsqueda y servicios. Para saber más visita este enlace: <a href="https://support.microsoft.com/search/results?query=cookies+Microsoft+Edge&isEnrichedQuery=true">https://support.microsoft.com/search/results?query=cookies+Microsoft+Edge&isEnrichedQuery=true</a> 
  </li>
</ul>
<br>
<strong>6.-  Cookies en los dispositivos móviles</strong><br><br>
<p>FEBELINK también usa cookies u otros dispositivos de almacenamiento en dispositivos móviles.</p>
<p>Aquellas cookies que no sean obligatorias para la navegación del Sitio Web y/o de la Aplicación podrán deshabilitarse en la correspondiente configuración.</p>
<p>Además, al igual que sucede en los navegadores de ordenadores, lo navegadores de los dispositivos móviles permiten realizar cambios en las opciones o ajustes de privacidad para desactivar o eliminar las cookies.</p>
<p>Si desea modificar las opciones de privacidad siga las instrucciones especificadas por el desarrollador de su navegador para dispositivo móvil.</p>
<p>A continuación, podrá encontrar algunos ejemplos de los links que le guiarán para modificar las opciones de privacidad en su dispositivo móvil:</p>
<p>
  -   IOS: (<a href="http://goo.gl/61xevS">http://goo.gl/61xevS</a>)<br>
  -   Windows Phone: (<a href="https://goo.gl/tKyb0y">https://goo.gl/tKyb0y</a>)<br>
  -   Chrome Mobile: (<a href="http://goo.gl/XJp7N">http://goo.gl/XJp7N</a>)<br>
  -   Opera Mobile: (<a href="http://goo.gl/Nzr8s7">http://goo.gl/Nzr8s7</a>)<br>
</p>
<strong>7.-   Información en relación con sus datos</strong><br><br>
<p>
  Para poder ejercitar cualquiera de sus derechos en materia de protección de datos, así como para poder conocer los <strong>(i)</strong> Fines del tratamiento y base jurídica del tratamiento; <strong>(ii)</strong> Destinatarios o categorías de destinatarios de los datos personales; <strong>(iii)</strong> Transferencias internacionales; <strong>(iv)</strong> Plazo de conservación; <strong>(v)</strong> Derechos de los interesados; <strong>(vi)</strong> Existencia de decisiones automatizadas, incluida la elaboración de perfiles, puede acceder a la <a (click)="openPrivacyPolicy()">Política de Privacidad</a> de FEBELINK.
</p>
<strong>8.-   Modificaciones de la Política de Cookies</strong><br><br>
<p>
  Esta Política de Cookies podría ser modificada en función de las exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos. Por ello, se aconseja a los usuarios que la visiten periódicamente. Cuando se produzcan cambios significativos en esta Política de Cookies, se comunicarán a los usuarios a través de correo electrónico.
</p>
<br><br>
  <p align="right">2021 © Todos los derechos reservados. FEBELINK DIGITAL S.L.</p>
  <p align="right">Última actualización: 23 de julio de 2021.</p>


</ion-content>
