ion-header{
    .logo{
        position: absolute;
        top:10%;
        left:28%;
        width: 45%;
        max-width: 200px;
    }
}
ion-content{
    .desc{
        font-size: 12px;
        color:#95a5a6;
    }
    .header{
        width: 100%;
        display: block;
    }
    .social{
        float: right;
        display: block;
    }
    .share{
        margin-right: 10px;
        font-size: 12px;
        color: #8b8b8b;
    }
    .mas{
        font-size: 18px;
    }
    .vacio{
        margin-top:100px;
    }
}