<!-- Testimonial start -->
<!--
<section class="section bg-light" id="clients">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center mb-5">
          <h5 class="text-primary text-uppercase small-title" id="mini-titular">
            ROADMAP
          </h5>
          <h4 class="mb-3" id="titular-seccion">Inicio Venta Pública</h4>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 60px; margin-bottom: 60px">
      <div class="col-lg-4">
        <h4 style="margin-bottom: -24px !important">Fase 1</h4>
        <p id="text-roadmap">
          <br />Desde las 00:00 del 1 de octubre de 2021 a las 23:59 del 14 de
          octubre de 2021 (hora de Madrid UTC+2) <br /><br /><strong
            >Precio por token:</strong
          >
          0,10€ <br /><strong>Bloqueo:</strong> 6 meses <br /><strong
            >Liberación</strong
          >
          6 meses después del cierre <br /><strong>Límites de compra:</strong>
          mínimo 1.000€, máximo 60.000€ <br /><strong>% del total:</strong> 10%
          <br /><strong>Nº de tokens: 10 MM</strong>
        </p>
      </div>
      <div class="col-lg-4">
        <h4 style="margin-bottom: -24px !important">Fase 2</h4>
        <p id="text-roadmap">
          <br />Desde las 00:00 del 15 de octubre de 2021 a las 23:59 del 29 de
          octubre de 2021 (hora de Madrid UTC+2) <br /><br /><strong
            >Precio por token:</strong
          >
          0,20€ <br /><strong>Bloqueo:</strong> 3 meses <br /><strong
            >Liberación</strong
          >
          3 meses después del cierre <br /><strong>Límites de compra:</strong>
          mínimo 500€, máximo 30.000€ <br /><strong>% del total:</strong> 10%
          <br /><strong>Nº de tokens:</strong> 10 MM
        </p>
      </div>
      <div class="col-lg-4">
        <h4 style="margin-bottom: -24px !important">Fase 3</h4>
        <p id="text-roadmap">
          <br />Desde las 00:00 del 30 de octubre de 2021 a las 23:59 del 30 de
          noviembre de 2021 (hora de Madrid UTC+2) <br /><br /><strong
            >Precio por token:</strong
          >
          0,30€ <br /><strong>Bloqueo:</strong> 1 mes <br /><strong
            >Liberación:</strong
          >
          inmediata tras el bloqueo <br /><strong>Límites de compra: </strong
          >mínimo 100€, máximo 10.000€ <br /><strong>% del total:</strong> 5%
          <br /><strong>Nº de tokens:</strong> 5 MM
        </p>
      </div>
    </div>

    <div class="row">
      <img src="assets/landing/Group 16.svg" id="roadmap-img" />
    </div>
  </div>
</section>
-->
<!-- Testimonial end -->
