<a [routerLink]="['/search/Mudanzas']">Mudanzas</a>
<a [routerLink]="['/search/Cuidador de niños']">Cuidado de niños</a>
<a [routerLink]="['/search/Peluquería']">Salones de Peluquería</a>
<a [routerLink]="['/search/Estética']">Clínicas de estética</a>
<a [routerLink]="['/search/Taller de automóviles']">Talleres de automóviles</a>
<a [routerLink]="['/search/Formación']">Formaciones</a>
<a [routerLink]="['/search/Asesor financiero']">Asesores de inversiones</a>
<a [routerLink]="['/search/Abogados']">Abogados</a>
<a [routerLink]="['/search/Asesores Formación']">Criptomonedas</a>
<a [routerLink]="['/search/Construcción y reformas']">Reformas</a>
<a [routerLink]="['/search/Agente de seguros']">Agente de seguros</a>
<a [routerLink]="['/search/Asesor financiero']">Hipotecas y créditos</a>
<a [routerLink]="['/search/Salud']">Salud médicos y especiaastas</a>
<a [routerLink]="['/search/Marketing digital']">Marketing digital</a>
<a [routerLink]="['/search/Diseño página web']">Diseño de página web</a>
<a [routerLink]="['/search/Desarrollo y programación']"
  >Desarrollo y programación</a
>
<a [routerLink]="['/search/Cuidador y paseador de animales']"
  >Paseador de animales</a
>
<a [routerLink]="['/search/Veterinario']">Veterinarios</a>
<a [routerLink]="['/search/Metaverso']">Metaverso</a>
<a [routerLink]="['/search/Clases particulares']">Clases particulares</a>
<a [routerLink]="['/search/Coach Mentor']">Coaching y mentores</a>
