<ion-header>
  <ion-toolbar color="febelink">
    <ion-title>Política de cookies</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="closeModal()"> 
        <ion-icon style="font-size: x-large;" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <p class="ion-text-justify">
    La presente política de cookies pretende dar una información completa de nuestra política de cookies.
  </p>

  <strong class="ion-text-uppercase">¿Qué son las cookies?</strong><br><br>
  <p class="ion-text-justify"> 
    Una cookie es un pequeño fragmento de texto que los sitios web que visita envían al navegador y que permite que el sitio web recuerde información sobre su visita, como su idioma preferido y otras opciones, con el fin de facilitar su próxima visita y hacer que el sitio le resulte más útil. Las cookies desempeñan un papel muy importante y contribuyen a tener una mejor experiencia de navegación para el usuario.
  </p>

  <strong class="ion-text-uppercase">Tipos de cookies</strong><br><br>
  <p class="ion-text-justify">
    Según quién sea la entidad que gestione el dominio desde dónde se envían las cookies y se traten los datos que se obtengan, se pueden distinguir dos tipos: cookies propias y cookies de terceros.
  </p>
  <p class="ion-text-justify">
    Existe también una segunda clasificación según el plazo de tiempo que permanecen almacenadas en el navegador del cliente, pudiendo tratarse de cookies de sesión o cookies persistentes.
  </p>
  <p class="ion-text-justify">
    Por último, existe otra clasificación con cinco tipos de cookies según la finalidad para la que se traten los datos obtenidos: cookies técnicas, cookies de personalización, cookies de análisis, cookies publicitarias y cookies de publicidad comportamental.
  </p><br><br>

  <strong class="ion-text-uppercase">Desactivación y eliminación de cookies</strong><br><br>
  <p class="ion-text-justify">
    Puede encontrar información sobre la gestión de cookies sobre los principales navegadores en los siguientes enlaces.
  </p>

  <ol class="ion-text-justify">
    <li>
      <strong>Internet Explorer / Microsoft Edge:</strong><br><br>
    	<a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies</a>
    </li><br>
    <li>
      <strong>Firefox:</strong><br><br>
      <a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies" target="_blank">https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies</a>
    </li><br>
    <li>
      <strong>Chrome:</strong><br><br>
    	<a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">https://support.google.com/chrome/answer/95647?hl=es</a>
    </li><br>
    <li>
      <strong>Safari:</strong><br><br>
    <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank">https://support.apple.com/es-es/guide/safari/sfri11471/mac</a>
    </li><br>
    <li>
      <strong>Opera:</strong><br><br>
    <a href="http://help.opera.com/Linux/10.60/es-ES/cookies.html" target="_blank">http://help.opera.com/Linux/10.60/es-ES/cookies.html</a>
    </li><br>
  </ol><br><br>

  <strong class="ion-text-uppercase">Cookies utilizadas en https://febelink.com</strong><br><br>

  <ul class="ion-text-justify">
    <li>Duración: 2 años</li><br>
    <li>Descripción: Sirve para distinguir a los usuarios. Generada por Google Analytics. Google almacena la informacion recogida por las cookies en servidores ubicados en Estados Unidos, cumpliendo con la legislación Europea en cuanto a protección de datos personales y se compromete a no compartirla con terceros, excepto cuando la ley le obligue a ello o sea necesario para el funcionamiento del sistema. Google no asocia su direccion IP con ninguna otra informacion que tenga. Si desea obtener mas informacion acerca de las cookies usadas por Google Analytics, por favor acceda a esta direccion:
     <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es&amp;csw=1" target="_blank">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es&amp;csw=1</a></li><br>
    <li>Tipo: Tercero</li><br>
    <li>Finalidad: Analítica</li><br>
  </ul><br><br>

  <strong class="ion-text-uppercase">Mostrar cookies</strong><br><br>
  <ul class="ion-text-justify">
    <li>Duración: 2 años</li>
    <li>Descripción: Gestiona el consentimiento del usuario para el uso de las cookies en la página web, con el objeto de recordar aquellos usuarios que las han aceptado y aquellos que no, de modo que a los primeros no se les muestre información al respecto.</li>
    <li>Tipo: Propia</li>
    <li>Finalidad: Gestión de consentimiento de cookies</li>
  </ul><br><br>

  <strong class="ion-text-uppercase">Wizard</strong><br><br>
  <ul class="ion-text-justify">
    <li>Duración: 2 años</li>
    <li>Descripción: Gestiona el deseo del usuario de no volver a visualizar la guía de Febelink al entrar en el sitio.</li>
    <li>Tipo: Propia</li>
    <li>Finalidad: Mejora experiencia de usuario</li>
  </ul>

</ion-content>
