<ion-header>
  <ion-toolbar color="light">
    <ion-buttons buttons-start slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <app-header-buttons [perfil]="true" currentTab="4"></app-header-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{notifications | json}} -->
  <ion-list *ngIf="notifications" class="results-list limit-size">

    <ion-item lines="none"
    *ngFor="let notif of notifications" (click)="goTo(notif)" [class]="(notif.route)?'clickable':''">

        <ion-icon slot="start" [name]="getIconByType(notif.type)"></ion-icon>
        
      <ion-label [class]="(!notif.is_read)?'unread':''">
        <h2>{{notif.title}}</h2>
        <p>{{notif.message}}</p>
      </ion-label>
      <!-- <ion-button *ngIf="currentUser.id === offer?.id_demandante" fill="clear" (click)="editItem(offer); $event.stopPropagation();" class="editBtn">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="clear" (click)="deleteItem(offer); $event.stopPropagation();">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button> -->
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer
  class="ion-no-border ion-text-center desktop"
  [hidden]="showCookies"
>
  <ion-toolbar color="febelink">
    <div>
      <p style="margin-bottom: 0px">
        © {{ currentYear }} Febelink |
        <span class="terms-text" (click)="termsModal()"
          >Terminos y condiciones</span
        >
      </p>
      <p style="margin-top: 5px">Contacto: info@febelink.com</p>
    </div>
  </ion-toolbar>
</ion-footer>

