<ion-header>
  <ion-toolbar color="light">
    <ion-buttons buttons-start slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <app-header-buttons [perfil]="true" currentTab="4"></app-header-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Loading -->
  <app-loading [isLoading]="isLoading" clase="marg-t10" message="common.labelSearching"></app-loading>

  
  <ion-refresher slot="fixed" (ionRefresh)="get( $event )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="notifications" class="results-list limit-size">
    <ion-item
      lines="none"
      *ngFor="let notif of notifications"
      (click)="open(notif)"
      class="clickable">

      <ion-icon slot="start" [name]="getIconByType(notif.type)"></ion-icon>

      <ion-label [style]="(notif.open)?'white-space: initial':'white-space: nowrap'">
        <h2 [innerHTML]="notif.title"></h2>
        <p [innerHTML]="notif.message"></p>
        <ion-button (click)="goTo(notif)" expand="block" fill="clear" shape="round" *ngIf="notif.open && notif.route">
          Abrir
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-label>

      <ion-badge color="danger" slot="end" class="wh-20 br-rad-30" *ngIf="!notif.is_read">{{ ' ' }}</ion-badge>
      <!-- <ion-button *ngIf="currentUser.id === offer?.id_demandante" fill="clear" (click)="editItem(offer); $event.stopPropagation();" class="editBtn">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="clear" (click)="deleteItem(offer); $event.stopPropagation();">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button> -->
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>