<!-- <ion-content style="top: 7%;height: 50vh;"> -->
  <!-- Loading -->
<!--   <app-loading [isLoading]="isLoading" clase="marg-t10" message="common.labelSearching"></app-loading>


  <ion-refresher slot="fixed" (ionRefresh)="get( $event )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="notifications" class="results-list limit-size" style="padding-bottom: 50px;">
    <ion-item
      lines="none"
      *ngFor="let notif of notifications"
      (click)="open(notif)"
      class="clickable">

      <ion-icon slot="start" [name]="getIconByType(notif.type)"></ion-icon>

      <ion-label [style]="(notif.open)?'white-space: initial':'white-space: nowrap'">
        <h2 [innerHTML]="notif.title"></h2>
        <p [innerHTML]="notif.message"></p>
        <ion-button (click)="goTo(notif)" expand="block" fill="clear" shape="round" *ngIf="notif.open && notif.route">
          Abrir
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-label>

      <ion-badge color="danger" slot="end" class="wh-20 br-rad-30" *ngIf="!notif.is_read">{{ ' ' }}</ion-badge> -->
      <!-- <ion-button *ngIf="currentUser.id === offer?.id_demandante" fill="clear" (click)="editItem(offer); $event.stopPropagation();" class="editBtn">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="clear" (click)="deleteItem(offer); $event.stopPropagation();">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button> -->
<!--     </ion-item>
  </ion-list>
</ion-content> -->
<div class="container2">
    <div class="row2">
        <div class="col-12 text-center">
            <h1 style="font-size: 1.3em;">
                <b>Notificaciones recibidas</b>
            </h1>
        </div>
    </div>
    <div class="row2" style="height: 350px;overflow: scroll;overflow-x: hidden;">
        <div class="col-12">
            <ion-list *ngIf="notifications" class="results-list limit-size" style="padding-bottom: 50px;">
                <ion-item lines="none" class="clickable" *ngFor="let notif of notifications">
                    <ion-label>
                        <h2>{{ notif.title_not }}</h2>
                        <p>
                            {{ notif.content_not }} <br>
                            <small>
                                {{ notif.send_at }} {{ notif.send_hour_at }}
                            </small>
                        </p>
                        <!-- <i class="fa-solid fa-eye" style="color:green;margin-right: 7px;"></i>
                        <i class="fa-solid fa-trash" style="color:red"></i> -->
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>  
    </div>
    <div style="height:20px"></div>
</div>
<app-footer></app-footer>
