@import '../../scss/style.scss';


.btn-download {
    transition: box-shadow .5s;
    background: #00000000;
    color: #76aadb;
    border: 2px solid #76aadb;

    box-shadow: 0 0 10px 0 #76aadb;

    padding-left: 0px;
    padding-right: 0px;
}
.btn-download:hover {
  box-shadow: 0 0 20px 0 #76aadb; 
  color: #76aadb;
}

.btn-download ion-icon {
    font-size: 16px;
    margin-right: 5px;
}