ion-content {
  --background: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
  text-align: center;

  .cover-content {
    z-index: 99 !important;
    position: relative;
    background-color: white;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid #dadce0;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    @media (min-width: 768px) {
      max-width: 400px;
      margin: 5% auto 0px;
    }
    ion-item {
      margin: 1.5em;
    }
    img {
      display: block;
      width: 30%;
      margin: 1.5em auto;
    }
    ion-button[type="submit"] {
      margin: 1.5em auto 0;
      vertical-align: baseline;
    }
    .input {
      padding-left: 0;
      font-size: 12px;
    }
    .rgs-social {
      text-align: center;
    }
    .logos {
      margin: 2px;
      font-size: 32px;
    }
    .title {
      text-align: center;
    }
    .subtitle {
      margin-top: 5px;
      font-size: 10px;
      opacity: 0.8;
    }
    .rgs-title {
      text-align: center;
      line-height: 24px;
      font-size: 12px;
      opacity: 0.7;
    }
  }
  .newAccountBox {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .cover-overlay {
    margin: 1.5em;
  }
}

.passwordIcon {
  color: var(--ion-color-dark);
  font-size: 1rem !important;
  position: relative !important;
  top: 5px !important;
  margin: 0 auto !important;
}
