<ion-header>
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-button (click)="home()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-row>
      <ion-title>Testing Alice Onboarding</ion-title>
  
      <app-lang-btn></app-lang-btn>
    </ion-row>

    <ion-buttons slot="end">
      <ion-button (click)="restart()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--
    Fill Fields
  -->
  <ion-grid *ngIf="!creating && !done">

    <ion-row>
      <ion-col size="3">
        <ion-item class="input" >
          <ion-label position="floating">Email</ion-label>
          <ion-input 
            type="email"
            clearInput
            (ionInput)="onEmail( $event.target.value )">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Loading. -->
    <div class="cargando-container" margin-top *ngIf="isLoading">
      <ion-spinner></ion-spinner>
      <p>{{ 'common.labelLoading' | translate }}</p>
    </div>

    <!-- Search engine -->
    <div class="content-filter" *ngIf="!isLoading">
      
      <h4>Para continuar, necesitaremos Verificar tu identidad. Solo tomará un minuto</h4>
      
      <p>Para proceder con la captura del documento, selecciona el país emisor</p>

      <div class="autocomplete">
        <ion-searchbar
          placeholder="{{ 'common.searchPlaceholder' | translate }}"
          [(ngModel)]="searchText"
          (ionFocus)="addFocus()"
          (ionChange)="search()"
          (ionBlur)="removeFocus()"
          (ionClear)="clearBtn()"
          (keyup.enter)="detectKeyPressed($event)"
          debounce="500"
        >
        </ion-searchbar>

        <span class="error" *ngIf="nothingFound">Nothing found</span>

        <div class="keys-dropdown">
          <ion-list
            mode="ios"
            *ngIf="keys.length > 0"
          >            
            <ion-item
              (click)="countrySelected(key)"
              *ngFor="let key of keys"
              style="font-size: 16px"
            >
              <!-- On searching => show loading -->
              <ion-spinner slot="start" name="dots" *ngIf="key.value == 'loading'"></ion-spinner>
              <!-- On result => show countries -->
              <ion-icon slot="start" name="globe" *ngIf="key.value != 'loading'"></ion-icon>

              <span [innerHTML]="key.name"></span>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>

    <!-- Doc Type -->
    <ion-item
      (click)="docSelected( docTypes.ID )"
      *ngIf="cntrySelected && cntrySelected?.docTypes?.indexOf( docTypes.ID ) > -1"
    >
      <ion-avatar slot="start" class="avatar">
        <img src="/assets/imgs/alice/idcard.svg">
      </ion-avatar>
      <ion-label>Carnet de Identidad</ion-label>
    </ion-item>

    <ion-item
      (click)="docSelected( docTypes.PASSPORT )"
      *ngIf="cntrySelected && cntrySelected?.docTypes?.indexOf( docTypes.PASSPORT ) > -1"
    >
      <ion-avatar slot="start" class="avatar">
        <img src="/assets/imgs/alice/passport.svg">
      </ion-avatar>
      <ion-label>Pasaporte</ion-label>
    </ion-item>

    <ion-item
      (click)="docSelected( docTypes.RESIDENCE )"
      *ngIf="cntrySelected && cntrySelected?.docTypes?.indexOf( docTypes.RESIDENCE ) > -1"
    >
      <ion-avatar slot="start" class="avatar">
        <img src="/assets/imgs/alice/residence.svg">
      </ion-avatar>
      <ion-label>Permiso de Residencia</ion-label>
    </ion-item>

    <ion-item
      (click)="docSelected( docTypes.DRIVER )"
      *ngIf="cntrySelected && cntrySelected?.docTypes?.indexOf( docTypes.DRIVER ) > -1"
    >
      <ion-avatar slot="start" class="avatar">
        <img src="/assets/imgs/alice/driverlicense.svg">
      </ion-avatar>
      <ion-label>Licencia de Conducir</ion-label>
    </ion-item>
    
  </ion-grid>
  

  <!--
    Alice Onboarding
  -->
  <div id="demo-onboarding" class="modal-body" *ngIf="creating && !done">
    <div id="alice-onboarding-mount"></div>
  </div>


  <!--
    KYC finished - Info Returned
  -->
  <ion-grid *ngIf="done">
    <!-- Info Basica -->
      <ion-row>
        <ion-col size="12">
          <ion-item class="input" >
            <ion-label>Info Básica ---------------------</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

  </ion-grid>

</ion-content>