h2 {
  font-weight: bold;
}

ion-avatar {
  width: 48px;
  height: 48px;
}

ion-label p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
}

.menu-username {
  font-size: 18px;
}

a:hover {
  cursor: pointer;
}

.menu-currency-section {
  margin-left: 2em;
}

.span-crypto-currency {
  margin-right: 10px;
  ion-label {
    font-weight: 700;
  }
}

#menu-wallet-section {
  cursor: pointer;
}

ion-content {
  --ion-background-color: rgb(62, 101, 137);
  --background: rgb(62, 101, 137);
}

.pointer {
  cursor: pointer;
}