<ion-app>
  <!--
        <app-menu></app-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    -->
  <ion-menu
    class="pos_menu"
    contentId="main-content"
    type="overlay"
    (ionWillOpen)="onMenuOpen()"
    *ngIf="authenticationService.isAuthenticated()"
    side="start">
    <ion-avatar slot="start">
        <ion-img class="ion-margin avatarmenu"
          id="menuImg"
          [src]="
            currentUser?.logo !== null
              ? currentUser?.logo
              : 'https://api.febelink.com/storage/users/default.png'
          "
          (error)="onImgError($event)"
          alt="Menu profile picture">
        </ion-img>
    </ion-avatar>
    <ion-content id="menu-list">
      <ion-toolbar color="header">
        <ion-item class="item_menu_margen" lines="none">
          <ion-avatar class="pos_avatar" slot="start">
            <ion-img class="avatarmenu"
              id="menuImg"
              [src]="
                currentUser?.logo !== null
                  ? currentUser?.logo
                  : 'https://api.febelink.com/storage/users/default.png'
              "
              (error)="onImgError($event)"
              alt="Menu profile picture">
            </ion-img>
          </ion-avatar>
          <ion-img class="dot_notif_avatar" src="assets/icon/svg/dot_notif.svg"></ion-img>
          <ion-label class="ion-padding label_avatar">
            <ion-label class="menu-username">{{ currentUser?.nick ? currentUser?.nick : 'Juan Garrido' }}</ion-label>
            <ion-label class="menu-editar pointer" (click)="goTo('menu/perfil')">{{ 'menu.labels.editarPerfil' | translate }}</ion-label>   
          </ion-label>
          <ion-img size="small" src="assets/icon/svg/menu_cerrar.svg" alt="Cerrar menú"></ion-img>
        </ion-item>
      </ion-toolbar>
      <ion-item-divider class="desktop_no_visible"></ion-item-divider>
      <ion-item class="menu item_menu_margen" color="item" routerLink="#" lines="none">
        <div tabindex="0"></div>
        <ion-img size="small" src="assets/icon/svg/menu_user.svg"></ion-img>
        <ion-router-link class="ion-text-wrap color_ppal" href="#">
          <ion-label class="ion-padding">{{ 'menu.pages.datosPersonales' | translate }}</ion-label>
        </ion-router-link>
      </ion-item>
      <ion-button
        expand="block"
        fill="clear"
        shape="round"
        (click)="goTo('admin')"
        *ngIf="currentUser?.role_id === 3">
        Admin panel
      </ion-button>
      <ion-toolbar id="menu-wallet-section">
          <ion-item class="item_menu_margen" color="item" lines="none">
            <div tabindex="0"></div>
            <ion-img size="small" src="assets/icon/svg/menu_wallet.svg"></ion-img>
            <ion-router-link (click)="goTo('wallet')" class="ion-text-wrap color_ppal">
              <ion-label class="ion-padding">{{ 'menu.pages.wallet' | translate }}</ion-label>
            </ion-router-link>       
          </ion-item>
        <!-- Section options. -->
        <ng-container class="ion-no-padding" *ngIf="showWallets">
          <ion-grid class="ion-no-padding ion-text-wrap menu-currency-section">
            <ion-row
              *ngFor="let currency of userWallets"
              class="span-crypto-currency vertical-content">
              <ion-col size="3">
                <img
                  src="assets/icon/{{ currency.currency.toLowerCase() }}.png"
                />
              </ion-col>
              <ion-col size="4" class="tx-start">
                <ion-label>{{ currency.currency }}</ion-label>
              </ion-col>
              <ion-col size="5" class="tx-end">
                <ion-label>{{
                  { value: currency.amount } | splitNumber
                }}</ion-label>
                <ion-label class="decimal">{{
                  { value: currency.amount, returnDecimal: true } | splitNumber
                }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </ion-toolbar>
      <ion-toolbar>
        <ion-item class="item_menu_margen" color="item" lines="none">
          <div tabindex="0"></div>
          <ion-img size="small" src="assets/icon/svg/menu_compras.svg"></ion-img>
          <ion-router-link class="ion-text-wrap color_ppal" href="#">
            <ion-label class="ion-padding">{{ 'menu.pages.historialCompras' | translate }}</ion-label>
          </ion-router-link>
        </ion-item>
        <ion-item class="item_menu_margen" color="item" lines="none">
          <div tabindex="0"></div>
          <ion-img size="small" src="assets/icon/svg/menu_publicacion.svg"></ion-img>
          <ion-router-link class="ion-text-wrap color_ppal" href="#">
            <ion-label class="ion-padding">{{ 'menu.pages.misPublicaciones' | translate }}</ion-label>
          </ion-router-link>
        </ion-item>
      </ion-toolbar>
      <ion-item routerLink="#" class="item_menu_margen pointer" color="item" lines="none">
        <div tabindex="0"></div>
        <ion-img size="small" src="assets/icon/svg/menu_premium.svg"></ion-img>
        <ion-label class="ion-padding">{{ 'menu.pages.cambioAPremium' | translate }}</ion-label>
      </ion-item>
      <ion-item-divider class="desktop_no_visible"></ion-item-divider>
      <ion-item class="menu item_menu_margen" color="item" lines="none">
        <div tabindex="0"></div>
        <ion-img size="small" src="assets/icon/svg/menu_idioma.svg"></ion-img>
        <ion-router-link class="ion-text-wrap color_ppal" href="#">
          <ion-label class="ion-padding">{{ 'menu.pages.idioma' | translate }}</ion-label>
        </ion-router-link>
      </ion-item>
      <ion-item class="item_menu_margen" color="item" lines="none">
        <div tabindex="0"></div>
        <ion-img size="small" src="assets/icon/svg/menu_ayudar.svg"></ion-img>
        <ion-router-link class="ion-text-wrap color_ppal" href="#">
          <ion-label class="ion-padding">{{ 'menu.pages.ayuda' | translate }}</ion-label>
        </ion-router-link>
      </ion-item>
      <ion-item (click)="logout()" class="item_menu_margen pointer" color="item" lines="none">
        <div tabindex="0"></div>
        <ion-img size="small" src="assets/icon/svg/menu_salida.svg"></ion-img>
        <ion-router-link class="ion-text-wrap color_ppal" href="#">
          <ion-label class="ion-padding">{{ 'menu.pages.salir' | translate }}</ion-label>
        </ion-router-link>
      </ion-item>
      <ion-item-divider class="legal desktop_no_visible"></ion-item-divider>   
        <ion-item class="desktop_no_visible" color="menuayuda" lines="none">
          <ion-router-link class="ion-text-wrap color_ayuda" (click)="openUseConditions()">
            <ion-label class="ion-no-padding ion-text-wrap">
              {{ 'common.legal.condsNterms' | translate }}
            </ion-label>
          </ion-router-link>
        </ion-item>
        <ion-item class="desktop_no_visible" color="menuayuda" lines="none">
          <ion-router-link class="ion-text-wrap color_ayuda" (click)="openPrivacyPolicy()">
            <ion-label class="ion-no-padding ion-text-wrap">
              {{ 'common.legal.privacyPolicy' | translate }}
            </ion-label>
          </ion-router-link>
        </ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>

<app-cart></app-cart>
</ion-app>
