ion-header, ion-content, ion-footer {
  --ion-background-color: rgba(243, 244, 246, 1);
  --background: rgba(243, 244, 246, 1);
  --ion--color: #111928;
  font-style: normal;
  font-weight: 400;
}

.avatarmenu{
  width: 56px;
  height: 56px;  
}

.pos_avatar{
  padding-bottom: 3.5em;
  padding-top: 1em;
}

.label_avatar{
  margin-bottom: 0px;
}

ion-item-divider{
  min-height: 8px;
  width: 80%;;
  margin-bottom: 1em;
}

.legal{
  min-height: 0px;  
  padding-top: 1rem;
  margin-bottom: 2em;
}

.menu-username {
  font-size: 18px;
}

.menu-editar{
  font-size: 14px;
  color:#1C64F2;
}

.premium{
  color:#FF5A1F;
}

a:hover {
  cursor: pointer;
}

.menu-currency-section {
  margin-left: 2em;
}

.span-crypto-currency {
  margin-right: 10px;
  ion-label {
    font-weight: 700;
  }
}

#menu-wallet-section {
  cursor: pointer;
}


.pointer {
  cursor: pointer;
}