.button-lang {
    cursor:pointer;padding:12px;float:right;background: #FFFFFF;border: 1px solid #D1D5DB;border-radius: 8px;width: 75px;height: 42px;text-align:center;
}
.button-lang-text {
    display:inline-block;padding-right:14px;font-weight: 400;font-size: 14px;line-height: 125%;color: #6B7280;text-transform:uppercase;
}
.button-lang-svg {
    width:12px;position:relative;top:-2px;
}