ion-button {
    height: auto;
    background: transparent !important;
    color: #64697A !important;
    --padding-start: 0;
    --padding-end: 0;
}
.button-full {
    width:100%;display: table;background: #F9FAFB;
}
.button-lang-text {
    display:inline-block;padding-right:14px;font-weight: 400;font-size: 14px;line-height: 125%;color: #6B7280;text-transform:uppercase;
}
.button-lang-svg {
    width:12px;position:relative;top:-2px;
}
.lang-cell {
    display: table-cell;text-transform: inherit;text-align: left;vertical-align:middle;
}
.lang-cell-b {
    display: table-cell;text-transform: inherit;text-align: right;vertical-align:middle;width:12px;
}

.idiomaMin{
    text-transform: capitalize;
}

.idiomaMay{
    text-transform:uppercase;
}

.icono_idioma{
    margin-left:1em;
}

.btn_idioma{
    margin-right: 8em;
}