<div class="container-general">
  <div class="buscador">
    <ion-searchbar
    [placeholder]="'Gestionar  busqueda de link'"
      inputmode="text"
      (keyup.enter)="search_filter($event)"
      (ionChange)="search_filter($event)"
      (ionClear)="search_filter($event)"
      debounce="500"
    ></ion-searchbar>
  </div>
  


  <div class="container-admin">
    <!-- Loading -->
    <div class="cargando-container" margin-top *ngIf="isLoading">
      <ion-row>
        <ion-spinner></ion-spinner>
        <h4>{{ 'common.labelSearching' | translate }}</h4>
      </ion-row>
    </div>
  
    <div class="scroll-inner">
      <table id="tokensUsersTable">
        <tr>
          <th>Titulo</th>
          <th>Link</th>
          <th>Titulo Pagina</th>
          <th>Encabezado h1</th>
          <th>Encabezado h2</th>
          <th>description</th>
          <th colspan="2" style="width: 10%">Acciones</th>
        </tr>
        <tr *ngFor="let keys of linkfooter">
        
          <td>
            <span>{{keys.title}}</span>
          </td>
          <td>  
            <span>{{keys.link}}</span>
          </td>
          <td>  
            <span>{{keys.page_title}}</span>
          </td>
          <td>
            <span>{{keys.h1}}</span>
          </td>
          <td>
            <span>{{keys.h2}}</span>
          </td>
          <td>
            <span>{{keys.meta_description}}</span>
          </td>
          
          <td class="edit">
            <ion-icon name="create-outline" (click)="showEdit(keys)"></ion-icon>
          </td>
          <td class="delete">
            <ion-icon
              name="trash-outline"
              (click)="delete(keys)"
            ></ion-icon>
          </td>
        </tr>
      </table>
    </div>
  
    <!-- Pagination Bottom -->
    <app-pagination
      *ngIf="qPages > 1"
      [qPages]="qPages"
      [totalRecords]="totalRecords"
      [recordsPerPage]="recordsPerPage"
      [activePage]="activePage"
      [disabled]="isLoading"
      (onPageChange)="displayActivePage( $event )"
    >
    </app-pagination>
  </div>
</div>


<!--  -->
<div id="darkcreateKeywordController" *ngIf="showCreatekeyword"></div>
<div id="createKeywordController" *ngIf="showCreatekeyword">
  <div class="headerTitle">Crear Enlace de Footer</div>
  <div class="headerSubTitle">Introduce un enlace con su título.</div>
  <div class="containerKeyWord">
   
    <div class="item-select"   >
      <label>Titulo : *</label>
      <input type="text" [(ngModel)]="keyLinkFooter.title" #newKeywordPageLink>
    </div>
    
    <div class="item-select"  >
      <label>Enlace: *</label>
      <input type="text" [(ngModel)]="keyLinkFooter.link" #newKeywordLink>
    </div>
    <div class="item-select"   >
      <label>Titulo de pagina: *</label>
      <input type="text" [(ngModel)]="keyLinkFooter.page_title" #newKeywordPageLink>
    </div>
    <div class="item-select"   >
      <label>Encabezado 1: *</label>
      <input type="text" [(ngModel)]="keyLinkFooter.h1"  #newKeywordH1>
    </div>
    <div class="item-select"  >
      <label>Encabezado 2: *</label>
      <input type="text" [(ngModel)]="keyLinkFooter.h2" #newKeywordH2>
    </div>
    <div class="item-select"  >
      <label>Descripcion: *</label>
      <input type="text" [(ngModel)]="keyLinkFooter.meta_description" #newKeywordDescription>
    </div>
  
    <div class="buttons">
      <ion-button color="light" (click)="restoreData()">Cancelar</ion-button>
       <ion-button color="success" 
       *ngIf="keyLinkFooter.id === ''" (click)="create(
        newKeywordPageLink.value, 
       newKeywordLink.value, newKeywordPageLink.value, 
       newKeywordH1.value,
        newKeywordH2.value,
         newKeywordDescription.value
      ); ">Añadir</ion-button>
      <ion-button color="primary" *ngIf="keyLinkFooter.id !== ''" (click)="edit(
        newKeywordPageLink.value, 
        newKeywordLink.value,
        newKeywordPageLink.value, 
        newKeywordH1.value,
         newKeywordH2.value,
          newKeywordDescription.value
      ); ">Modificar</ion-button>

    </div>
  </div>
  
</div>