<div>
  <ion-header fill="transparent">
    <ion-toolbar fill="transparent">

      <!-- Back Button -->
      <ion-buttons slot="start">
        <ion-button icon-only (click)="onDismiss()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <!-- Title -->
      <ion-row class="vertical-content align-center">
        <ion-label>{{ origin?.currency }}</ion-label>
        <ion-icon name="play" *ngIf="origin?.currency && destiny?.currency"></ion-icon>
        <ion-label *ngIf="destiny?.currency">{{ destiny?.currency }}</ion-label>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="form" style="margin: auto;">
      <ion-grid>
        <!-- Conversion -->
        <ion-row *ngIf="exchangeType == exchangesType.BUY" class="align-center vertical-content">
          <!-- Offers Sell - Asset Buying -->
          <img class="margin-end" [src]="assetSvc.getImg( offer?.buying?.asset_code )" />
          <app-num-float [number]="offer?.price" [round]="assetsMaxDecimals" [bold]="true"></app-num-float>

          <ion-label class="margin-start margin-end">=</ion-label>

          <!-- Offers Buy - Asset Selling -->
          <app-num-float [number]="1" [round]="assetsMaxDecimals" [bold]="true"></app-num-float>
          <img class="margin-start" [src]="assetSvc.getImg( offer?.selling?.asset_code )" />
        </ion-row>

        <!-- Asset Origin -->
        <ion-label class="bold-6 tx-upper margin-start margin-bottom">
          {{ 'pages.wallet.exchange.sell' | translate }}
        </ion-label>
        <ion-card class="line" (click)="selectAsset( $event, true )"
          [style]="'border-color: var(--ion-color-currency-' + ( origin?.currency?.toLowerCase() || 'flau' )+ ');'"
        >
          <ion-row>
            <ion-item tappable lines="none">
              <!-- Asset Icon -->
              <ion-avatar slot="start" *ngIf="origin?.currency">
                <img [src]="assetSvc.getImg( origin?.currency )" />
              </ion-avatar>

              <ion-grid>
                <ion-row class="vertical-content">
                  <ion-col [size]="origin?.currency ? 8 : 12">
                    <!-- Asset Text -->
                    <ion-card-title>{{ origin?.currency || ( 'pages.wallet.exchange.select-origin' | translate ) }}</ion-card-title>
                  </ion-col>

                  <ion-col size="4" *ngIf="origin?.currency">
                    <ion-row class="hint">
                      <ion-label>{{'pages.wallet.exchange.qOffer' | translate }}</ion-label>
                    </ion-row>
                    <ion-row
                      [style]="'border-color: var(--ion-color-currency-' + ( origin?.currency?.toLowerCase() || 'flau' )+ ');'"
                    >
                      <!-- Asset Input -->
                      <ion-input click-stop-propagation #numSell
                        type="number"
                        class="tx-center"
                        formControlName="num_sell"
                        min="0"
                        [debounce]="500"
                        (ionChange)="qantChange( numSell, true )"
                      ></ion-input>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>              
            </ion-item>
          </ion-row>
        </ion-card>

        <!-- Icon Switch -->
        <ion-row class="align-center">
          <ion-button icon-only (click)="switchAssets()">
            <ion-icon class="font-17" src="assets/icon/svg/switch.svg"></ion-icon>
          </ion-button>
        </ion-row>
        
        <!-- Asset Destiny -->
        <ion-label class="bold-6 tx-upper margin-start margin-bottom">
          {{ 'pages.wallet.exchange.buy' | translate }}
        </ion-label>
        <ion-card class="line" (click)="selectAsset( $event, false )"
          [style]="'border-color: var(--ion-color-currency-' + ( destiny?.currency?.toLowerCase() || 'flau' )+ ');'"
        >
          <ion-row>
            <ion-item tappable lines="none">
              <!-- Asset Icon -->
              <ion-avatar slot="start" *ngIf="destiny?.currency">
                <img [src]="assetSvc.getImg( destiny?.currency )" />
              </ion-avatar>

              <ion-grid>
                <ion-row class="vertical-content">
                  <ion-col [size]="destiny?.currency ? 8 : 12">
                    <!-- Asset Text -->
                    <ion-card-title>{{ destiny?.currency || ( 'pages.wallet.exchange.select-destiny' | translate ) }}</ion-card-title>
                  </ion-col>
                  <ion-col size="4" *ngIf="destiny?.currency">
                    
                    <ion-row class="hint">
                      <ion-label>{{'pages.wallet.exchange.qDemand' | translate }}</ion-label>
                    </ion-row>
                    <ion-row
                      [style]="'border-color: var(--ion-color-currency-' + ( destiny?.currency?.toLowerCase() || 'flau' )+ ');'"
                    >
                      <!-- Asset Input -->
                      <ion-input click-stop-propagation #numBuy
                        type="number"
                        class="tx-center"
                        formControlName="num_buy"
                        min="0"
                        [debounce]="500"
                        (ionChange)="qantChange( numBuy, false )"  
                      ></ion-input>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>              
            </ion-item>
          </ion-row>
        </ion-card>

        <!-- Minner's Fee -->
        <ion-row class="minners-fee" *ngIf="minnersFee">
          <ion-col size="6">
            <ion-label>{{ 'pages.wallet.exchange.minnersFee' | translate }}</ion-label>
          </ion-col>
          <ion-col size="6" class="tx-end">
            <ion-label class="hint">{{ minnersFee + ' Lumens' }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>

  <!-- Button Exchange -->
  <ion-footer no-border>
    <ion-toolbar class="tx-center">
      <ion-button (click)="exchange()">{{ 'pages.wallet.exchange.' + exchangeType | translate }}</ion-button>
    </ion-toolbar>
  </ion-footer>
</div>
