<div>
  <ion-header fill="transparent">
    <ion-toolbar fill="transparent">

      <!-- Back Button -->
      <ion-buttons slot="start">
        <ion-button icon-only (click)="onDismiss()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <!-- Title -->
      <ion-row class="vertical-content align-center">
        <ion-label>{{ origin?.currency }}</ion-label>
        <ion-icon name="play" *ngIf="origin?.currency && destiny?.currency"></ion-icon>
        <ion-label *ngIf="destiny?.currency">{{ destiny?.currency }}</ion-label>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="exchangeForm" style="margin: auto;">
      <ion-grid>
        <!-- Asset Origin -->
        <ion-card class="line" (click)="selectAsset( true )"
          [style]="'border-color: var(--ion-color-currency-' + ( origin?.currency?.toLowerCase() || 'flau' )+ ');'"
        >
          <ion-row>
            <ion-item tappable lines="none">
              <!-- Asset Icon -->
              <ion-avatar slot="start" *ngIf="origin?.currency">
                <img src="assets/icon/{{ origin?.currency?.toLowerCase() }}.png" />
              </ion-avatar>

              <ion-grid>
                <ion-row class="vertical-content">
                  <ion-col [size]="origin?.currency ? 8 : 12">
                    <!-- Asset Text -->
                    <ion-card-title>{{ origin?.currency || ( 'pages.wallet.select-origin' | translate ) }}</ion-card-title>
                  </ion-col>

                  <ion-col size="4" *ngIf="origin?.currency">
                    <ion-row class="hint">
                      <ion-label>{{'pages.wallet.qOffer' | translate }}</ion-label>
                    </ion-row>
                    <ion-row
                      [style]="'border-color: var(--ion-color-currency-' + ( origin?.currency?.toLowerCase() || 'flau' )+ ');'"
                    >
                      <!-- Asset Input -->
                      <ion-input click-stop-propagation type="number" class="text-center" formControlName="num_origin" min="0"></ion-input>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>              
            </ion-item>
          </ion-row>
        </ion-card>

        <!-- Icon Switch -->
        <ion-row class="align-center">
          <ion-button icon-only (click)="switchAssets()">
            <ion-icon name="wallet"></ion-icon>
          </ion-button>
        </ion-row>
        
        <!-- Asset Destiny -->
        <ion-card class="line" (click)="selectAsset( false )"
          [style]="'border-color: var(--ion-color-currency-' + ( destiny?.currency?.toLowerCase() || 'flau' )+ ');'"
        >
          <ion-row>
            <ion-item tappable lines="none">
              <!-- Asset Icon -->
              <ion-avatar slot="start" *ngIf="destiny?.currency">
                <img src="assets/icon/{{ destiny?.currency?.toLowerCase() }}.png" />
              </ion-avatar>

              <ion-grid>
                <ion-row class="vertical-content">
                  <ion-col [size]="destiny?.currency ? 8 : 12">
                    <!-- Asset Text -->
                    <ion-card-title>{{ destiny?.currency || ( 'pages.wallet.select-destiny' | translate ) }}</ion-card-title>
                  </ion-col>
                  <ion-col size="4" *ngIf="destiny?.currency">
                    
                    <ion-row class="hint">
                      <ion-label>{{'pages.wallet.qDemand' | translate }}</ion-label>
                    </ion-row>
                    <ion-row
                      [style]="'border-color: var(--ion-color-currency-' + ( destiny?.currency?.toLowerCase() || 'flau' )+ ');'"
                    >
                      <!-- Asset Input -->
                      <ion-input click-stop-propagation type="number" class="text-center" formControlName="num_destiny" min="0"></ion-input>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>              
            </ion-item>
          </ion-row>
        </ion-card>

        <!-- Minner's Fee -->
        <ion-row class="minners-fee">
          <ion-col size="6">
            <ion-label>{{ 'pages.wallet.minnersFee' | translate }}</ion-label>
          </ion-col>
          <ion-col size="6" class="text-right">
            <ion-label class="hint">{{ minnersFee }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>

  <!-- Button Exchange -->
  <ion-footer no-border>
    <ion-toolbar class="text-center">
      <ion-button (click)="exchange()">{{ 'pages.wallet.confirm' | translate }}</ion-button>
    </ion-toolbar>
  </ion-footer>
</div>
