<ion-header>
    <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalCtrl.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search User to add Reservations -->
  <ng-container *ngIf="!tokensUser">
    <ion-searchbar
      [placeholder]="'admin.tokensUsers.placeholder_users' | translate"
      inputmode="text"
      (keyup.enter)="search($event)"
      (ionChange)="search($event)"
      (ionClear)="search($event)"
      debounce="500"
    ></ion-searchbar>

    <!-- Loading -->
    <div class="cargando-container" margin-top *ngIf="isLoading">
      <ion-row>
        <ion-spinner></ion-spinner>
        <h4>{{ 'common.labelSearching' | translate }}</h4>
      </ion-row>
    </div>

    <ion-list *ngIf="!isLoading" class="results-list">
      <ion-item
        tappable
        lines="none"
        *ngFor="let user of usersList"
        (click)="userSelected( user )"
      >
        <ion-avatar slot="start">
          <img src="assets/imgs/4.jpg" *ngIf="!user?.avatar" />
          <ion-img
            [src]="user?.avatar"
            *ngIf="user?.avatar"
            appImgErrorFallback
          ></ion-img>
        </ion-avatar>
        <ion-label>
          {{ user?.nombre || user?.nick}} {{ user?.surname }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  
    <form [formGroup]="tokensForm" style="margin: auto;" *ngIf="tokensUser">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="6">
            <ion-item>
              <ion-label position="floating">{{ 'common.labelName' | translate }}</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6">
            <ion-item>
              <ion-label position="floating">{{ 'common.personal.surname' | translate }}</ion-label>
              <ion-input type="text" formControlName="lastname"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>  
        <ion-row>
            <ion-col size="12" size-sm="6">
                <ion-item>
                <ion-label position="floating">{{ 'common.labelEmail' | translate }}</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6">
                <ion-item>
                <ion-label position="floating">{{ 'common.personal.id' | translate }}</ion-label>
                <ion-input type="text" formControlName="dni"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>       
        
        <ion-row>
          <ion-col size="12" size-sm="6">
            <ion-item>
              <ion-label position="floating">{{ 'landing.reserveTk.number' | translate }}</ion-label>
              <ion-input type="number" formControlName="num_tokens" maxlength="100"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6">
            <ion-item>
              <ion-label position="floating">{{ 'landing.reserveTk.stage' | translate }}</ion-label>
              <ion-select
                  interface="popover"
                  formControlName="phase_tokens"
                  (ionChange)="phaseChange($event)"
              >
                <ion-select-option *ngFor="let tkPhase of tkPhases" [value]="tkPhase.value">
                  {{ tkPhase.label | translate }}{{ 'landing.reserveTk.stage' | translate }}
                </ion-select-option>
              </ion-select>

            </ion-item>
          </ion-col>
        </ion-row>
        
        <!-- Only Show Payed Date on Creation -->
        <ion-row>
          <ion-col size="12" size-sm="12">
            <ion-item>
              <ion-label position="floating">{{ 'admin.tokensUsers.purchase-date' | translate }}</ion-label>
              <ion-input type="date" locale="es-SP" formControlName="payed_date"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <div class="ion-text-center">
            <ion-button (click)="accept()" shape="round">
                {{ 'common.buttons.confirm' | translate }}
            </ion-button>
        </div>
      </ion-grid>
    </form>
  </ion-content>