<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" *ngIf="tokenCRUD == tkCRUD.Create && tokensUser">
        <ion-button (click)="tokensUser = null">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalCtrl.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Search User to add Reservations -->
    <ion-searchbar *ngIf="!tokensUser"
      [placeholder]="'admin.tokensUsers.placeholder_users' | translate"
      inputmode="text"
      (keyup.enter)="search($event)"
      (ionChange)="search($event)"
      (ionClear)="search($event)"
      debounce="500"
    ></ion-searchbar>

    <!-- Loading -->
    <div class="cargando-container" margin-top *ngIf="isLoading">
      <ion-row>
        <ion-spinner></ion-spinner>
        <h4>{{ loadingMsg }}</h4>
      </ion-row>
    </div>

  <ng-container *ngIf="!tokensUser">
    <!-- Pagination Top -->
    <app-pagination *ngIf="qPages > 1"
      [qPages]="qPages"
      [totalRecords]="totalRecords"
      [recordsPerPage]="recordsPerPage"
      [activePage]="activePage"
      [disabled]="isLoading"
      (onPageChange)="displayActivePage( $event )">
    </app-pagination>

    <!-- Users List -->
    <ion-list *ngIf="!isLoading" class="results-list">
      <ion-item
        tappable
        lines="none"
        *ngFor="let user of usersList"
        (click)="userSelected( user )"
      >
        <ion-avatar slot="start">
          <img src="https://api.febelink.com/storage/users/default.png" *ngIf="!user?.logo" />
          <ion-img
            [src]="user?.logo"
            *ngIf="user?.logo"
            appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
          ></ion-img>
        </ion-avatar>
        <ion-label>
          {{ user?.nombre || user?.nick}} {{ user?.surname }}
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Pagination Bottom -->
    <app-pagination  *ngIf="!isLoading && qPages > 1"
      [qPages]="qPages"
      [totalRecords]="totalRecords"
      [recordsPerPage]="recordsPerPage"
      [activePage]="activePage"
      (onPageChange)="displayActivePage( $event )">
    </app-pagination>
  </ng-container>


    <form [formGroup]="tokensForm" style="margin: auto;" *ngIf="tokensUser">
      <ion-grid>
        <ion-row>
          <!-- Name -->
          <ion-col size="12" size-sm="6">
            <ion-item>
              <ion-label position="floating">{{ 'common.labelName' | translate }}</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>

          <!-- Surname -->
          <ion-col size="12" size-sm="6">
            <ion-item>
              <ion-label position="floating">{{ 'common.personal.surname' | translate }}</ion-label>
              <ion-input type="text" formControlName="lastname"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>  
        <ion-row>
            <!-- Email -->
            <ion-col size="12" size-sm="6">
                <ion-item>
                <ion-label position="floating">{{ 'common.labelEmail' | translate }}</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
            </ion-col>

            <!-- Doc Number -->
            <ion-col size="12" size-sm="6">
                <ion-item>
                <ion-label position="floating">{{ 'common.personal.id' | translate }}</ion-label>
                <ion-input type="text" formControlName="dni"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>       
        
        <ion-row>
          <!-- Num Tokens -->
          <ion-col size="12" size-sm="6">
            <ion-item>
              <ion-label position="floating">{{ 'landing.reserveTk.number' | translate }}</ion-label>
              <ion-input type="number" formControlName="num_tokens" maxlength="100"></ion-input>
            </ion-item>
          </ion-col>

          <!-- Phase Tokens -->
          <ion-col size="12" size-sm="6">
            <ion-item>
              <ion-label position="floating">{{ 'landing.reserveTk.stage' | translate }}</ion-label>
              <ion-select
                  interface="popover"
                  formControlName="id_phase_tokens"
                  (ionChange)="phaseChange($event)"
              >
                <ion-select-option *ngFor="let tkPhase of tkPhases" [value]="tkPhase.id">
                  {{ tkPhase.phase_tokens }}
                </ion-select-option>
              </ion-select>

            </ion-item>
          </ion-col>
        </ion-row>
        
        <ion-row>
            <!-- Retained -->
            <ion-col size="12" size-sm="6">
                <ion-item>
                  <ion-label>{{ 'admin.tokensUsers.retained' | translate }}</ion-label>
                  <ion-checkbox slot="end" formControlName="retained"></ion-checkbox>
                </ion-item>
            </ion-col>

            <!-- Date -->
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-label position="floating">{{ 'admin.tokensUsers.date' | translate }}</ion-label>
                <ion-input type="date" locale="es-SP" formControlName="date"></ion-input>
              </ion-item>
            </ion-col>
        </ion-row>
        
        <!-- Only Show Payed Date on Creation -->
        <ion-row>
          <ion-col size="12" size-sm="12">
            <ion-item>
              <ion-label position="floating">{{ 'admin.tokensUsers.purchase-date' | translate }}</ion-label>
              <ion-input type="date" locale="es-SP" formControlName="payed_date"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Observations -->
        <ion-row>
          <ion-col size="12" size-sm="12">
            <ion-item>
              <ion-textarea type="text" maxlength="255" [placeholder]="'admin.tokensUsers.obs' | translate" formControlName="obs"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
          
        <div class="ion-text-center">
            <ion-button (click)="accept()" shape="round">
                {{ 'common.buttons.confirm' | translate }}
            </ion-button>
        </div>
      </ion-grid>
    </form>
  </ion-content>