
<ion-header>
  <ion-toolbar color="febelink">
    <ion-title>Regístrate ó inicia sesión</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="text-align: center;">

  <h2>¡Regístrate para disfrutar aún más de Febelink!</h2> 
  <ion-button size="large" (click)="irLogin()">Continuar &nbsp;<ion-icon name="arrow-forward"></ion-icon>
  </ion-button>

</ion-content>