.icon_star{
    width: 14.87px;
    height: 14.24px;
    display: inline-block;
    margin-left: 8px;
}

.footer_detalle{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 0em;
}

ion-footer{
    ion-button{
        text-transform: capitalize;
        .btn_ppal{
            background-color:#1C64F2;
            color: #FFFFFF;
        }
        
        .btn_aux{
            background-color: #FFFFFF;
            color: #1C64F2;
        }
    }
}

.icon_compartir{
    width: 18px;
    height: 18px;
    margin-top: 17%;
    margin-left: 1em;
}

.text_compartir{
    font-size: 24px;
    color: #111928;
    font-weight: 700;
}
.parrafo_val{
    margin-left: 5px;
    margin-top: 0;
}

.parrafo_val_bis{
    margin-left:0px;
    margin-top: 0;
}
.row_cantidad{
    margin-top: 3.5em;
}
.item_cantidad{
    margin-left: -1em;
}
.item_cantidad_border{
    border: 1px solid #D1D5DB; 
    border-radius: 8px;
}
.label_cantidad{
    font-weight: 600; 
    font-size: 16px; 
    margin-top: -0.3em; 
    color:#111928;
}
.text_cantidad{
    color: #111928; 
    font-size:28px; 
    margin-left: 2em;
}

.read_more{
    color: #1C64F2;
}

.row_val{
    margin-top: 1%;
}

.swiper-button-prev{
    display: none;
}

.swiper-button-next{
    display: none;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .tam_img{
    height: 3em;
    width: 3em;
    border-radius: 8px;
  }
  .tam_img_normal{
    border-radius: 8px;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slider img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

