<ion-header>
  <ion-toolbar color="light">
    <ion-buttons buttons-start slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="detalle">
    <ion-grid size="12">
      <ion-row size="12" class="ion-margin parrafo_val">
        <ion-img src="assets/icon/svg/icon_casa.svg"></ion-img>
        <ion-breadcrumbs rel="-">
          <ion-breadcrumb href="/menu/todas">{{ 'menu.tabs.inicio' | translate }}</ion-breadcrumb>
          <ion-breadcrumb href="#">{{ 'menu.pages.detalle.servicio' | translate }}</ion-breadcrumb>
        </ion-breadcrumbs>
      </ion-row>
      <ion-row size="12">
        <ion-col size="10">
          <ion-text class="text_compartir">{{detalle.detalle?.nombre}}</ion-text>
        </ion-col>
        <ion-col size="2">
          <ion-img class="icon_compartir" src="assets/icon/svg/icon_compartir.svg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="row_val" size="12">
        <p class="ion-margin parrafo_val_bis"> 
          <ion-img class="icon_star" src="assets/icon/svg/icon_star.svg"></ion-img>
          <ion-img class="icon_star" src="assets/icon/svg/icon_star.svg"></ion-img>
          <ion-img class="icon_star" src="assets/icon/svg/icon_star.svg"></ion-img>
          <ion-img class="icon_star" src="assets/icon/svg/icon_star.svg"></ion-img>
          <ion-img class="icon_star" src="assets/icon/svg/icon_star.svg"></ion-img>
          ({{detalle.detalle?.valoracion}}) {{ 'menu.pages.detalle.valoracion' | translate }}
        </p>    
      </ion-row>
      <ion-row size="12">
      </ion-row>
    <div class="ion-margin parrafo_val">
      <swiper
        [slidesPerView]="1"
        [spaceBetween]="50"
        (swiper)="onSwiper($event)"
        (slideChange)="onSlideChange()">
        <ng-template swiperSlide>
          <ion-img src="./assets/imgs/bg1.jpg"></ion-img>
        </ng-template>
        <ng-template swiperSlide>
          <ion-img src="./assets/imgs/bg1.jpg"></ion-img>
        </ng-template>
        <ng-template swiperSlide>
          <ion-img src="./assets/imgs/bg1.jpg"></ion-img>
        </ng-template>
      </swiper>
    </div> 
      <ion-row size="12" class="ion-margin parrafo_val">
        {{detalle.detalle?.descripcion}} <ion-text class="read_more">{{ 'menu.pages.detalle.readmore' | translate }}</ion-text>
      </ion-row>
      <ion-row class="ion-margin parrafo_val" size="12">
        <ion-col size="6">
          <ion-item class="item_cantidad">
            <ion-label class="ion-no-padding label_cantidad">{{ 'menu.pages.detalle.cantidad' | translate }}</ion-label>
          </ion-item>
          <ion-item class="item_cantidad_border">
            <ion-label>1</ion-label>
            <ion-select>
              <ion-select-option value="1" selected>1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-row class="row_cantidad">
            <iont-text class="text_cantidad">{{detalle.detalle?.precio}},00€</iont-text>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="footer_detalle">
    <ion-button class="ion-padding btn_ppal" expand="block">{{ 'menu.pages.detalle.comprar' | translate }}</ion-button>
    <ion-button class="ion-padding btn_aux" expand="block">{{ 'menu.pages.detalle.add' | translate }}</ion-button>
</ion-footer>
