<ion-content>

  <!-- Pantalla Contenido Carrito -->
  <div *ngIf="!isSuccessBuy && !isNoItems" class="div-carrito-background">
    
    <div class="carrito-items">
      <div class="carrito-title">
        Carrito
      </div>

      <div class="carrito-options">
        <div class="carrito-elements">
          {{dataItems.length}} elementos
        </div>
        <div *ngIf="!isEditItems" class="carrito-edit" (click)="editItems()">
          <img src="assets/icon/svg/pencil.svg" class="carrito-edit-svg" />
          Editar
        </div>
        <div *ngIf="isEditItems" class="carrito-edit"(click)="confirmEdit()">
          Confirmar
        </div>
      </div>
      <div>

        <div *ngFor="let item of dataItems; let i = index" class="div-carrito-item">
          <!-- Editar Contenido Carrito -->
          <div *ngIf="isEditItems && item.cantidad>1" class="edit-item" (click)="changeQuantity(i)">
            <img src="assets/icon/svg/minus.svg" class="edit-item-svg size-minus" />
          </div>
          <div *ngIf="isEditItems && item.cantidad==1" class="edit-item" (click)="deleteItem(i)">
            <img src="assets/icon/svg/trash.svg" class="edit-item-svg size-trash" />        
          </div>
          <!-- --- -->
          <div class="div-table-100">
            <div class="display-cell-middle cell-number" [ngClass]="{'cell-number-edit' : isEditItems}">
              <div class="cell-number-box">
                <span class="cell-number-text">{{item.cantidad}}</span>
              </div>
            </div>
            <div class="display-cell-middle">
              <div class="cell-item-title">{{item.servicio}}</div>
              <div class="cell-item-subtitle">{{item.ofertante}}</div>
            </div>
            <div class="display-cell-middle cell-price">
              {{(item.precio*item.cantidad).toFixed(2)}}€
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <div class="carrito-buttons carrito-buttons-height-a">
      <div class="carrito-button-primary" (click)="buyItems()">
        Comprar
      </div>
      <div class="carrito-button-secondary" (click)="buyItems()">
        Seguir comprando
      </div>
    </div>

  </div>

  <!-- Pantalla Compra Exitosa -->
  <div *ngIf="isSuccessBuy" class="div-carrito-background">
    
    <div class="carrito-items position-relative">
      <div class="close-compra" (click)="shopItems()">
        <img src="assets/icon/svg/close.svg" class="compra-close-svg" />     
      </div>
      <div class="div-compra">
        <div class="div-compra-svg">
          <img src="assets/icon/svg/check-circle.svg" class="compra-check-svg" />                 
        </div>
        <div class="div-compra-title">
          Compra realizada con éxito
        </div>
        <div class="div-compra-subtitle">
          Pronto recibirás una confirmación en tu correo electrónico
        </div>
      </div>
    </div>

    <div id="pantalla-3" class="carrito-buttons carrito-buttons-height-a">
      <div class="carrito-button-primary" (click)="shopItems()">
        Seguir comprando
      </div>
      <div class="carrito-button-secondary" (click)="shopItems()">
        Historial de compras
      </div>
    </div>
  </div>

  <!-- Pantalla Carrito Vacío -->
  <div *ngIf="isNoItems" class="div-carrito-background">
    
    <div id="pantalla4" class="carrito-items-b position-relative">
      <div class="carrito-title">
        Carrito
      </div>
      <div class="div-no-items">
        <div class="div-no-items-svg">
          <img src="assets/icon/svg/cart.svg" class="no-items-svg" />         
        </div>
        <div class="div-no-items-title">
          Tu carrito está vacío
        </div>
        <div class="div-no-items-subtitle">
          Añade productos y servicios a tu carrito
        </div>
      </div>
    </div>

    <div id="pantalla-4" class="carrito-buttons carrito-buttons-height-b">
      <div class="carrito-button-secondary" (click)="restartItems()">
        Seguir comprando
      </div>
    </div>

  </div>

</ion-content>