<ion-card>
  <ion-card-content id="searchCard">
    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="submit()">
      <!-- Offers Number to Receive -->
      <ion-list class="ion-no-padding" lines="none">
        <!-- Title -->
        <ion-label
          ><b class="searchQuestionLabel">
            {{ 'tabs.tab1.labelAnswers' | translate }}
          </b>
        </ion-label>
        <ion-radio-group formControlName="ofertas_restantes">
          <!-- Options -->
          <ion-item *ngFor="let answer of answerOptions" class="stars">
            <ion-label>{{ answer.text }}</ion-label>
            <ion-radio
              [slot]="platform.width() >= 576 ? 'start' : ''"
              [value]="answer.value"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item-divider></ion-item-divider>

      <!-- Description -->
      <ion-item>
        <ion-label position="floating">
          <b class="searchQuestionLabel">
            {{ 'tabs.tab1.labelDescription' | translate }}
          </b>
        </ion-label>
        <ion-textarea
          autoGroup="true"
          rows="6"
          cols="20"
          formControlName="descripcion"
        ></ion-textarea>
      </ion-item>

      <!-- Image -->
      <ion-item lines="none" class="pointer" (click)="pick.clicks()">
        <!-- Label -->
        <ion-label class="searchQuestionLabel"
          ><b>
            {{ 'tabs.tab1.labelPhoto' | translate }}
          </b>
          <img
            src="assets/imgs/photo.png"
            alt="searchImageIcon"
            class="placeholder"
            width="125"
            height="125"
          />
        </ion-label>
        <!-- Img Button -->
        <!-- <ion-buttons slot="start" class="ion-no-margin">
          <ion-button
            icon-only
            color="primary"
            class="no-shadow no-padding wh-35 br-rad-30"
          >
            <ion-icon name="image-outline"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      </ion-item>

      <!-- File Picker -->
      <app-file-picker
        #pick
        (OnFile)="fileSelected($event)"
        [classes]="iFile ? '' : 'invisible'"
      ></app-file-picker>

      <ion-item-divider></ion-item-divider>

      <!-- Buttons -->
      <ion-item lines="none">
        <!-- Submit -->
        <ion-button fill="transparent" (click)="cancel()" class="marg-se">
          {{ 'common.buttons.cancel' | translate }}
        </ion-button>

        <!-- Submit -->
        <ion-button type="submit" color="primary" class="marg-se">
          {{ 'tabs.tab1.buttonSend' | translate }}
        </ion-button>
      </ion-item>
    </form>
  </ion-card-content>
</ion-card>
