<ion-button
  [class]="'w-full ' + ( clase || '' ) + ( !transparent ? '' : 'no-shadow no-pad no-marg' )"
  [color]="!transparent ? 'febelink' : 'transparent'"
  (click)="toggleFollow()"
  *ngIf="isLogged"
>
  <!-- Spinner -->
  <ion-spinner
    class="marg-e"
    [color]="!transparent ? '' : 'febelink'"
    *ngIf="isLoading"
  ></ion-spinner>

  <!-- Label -->
  <ion-label [color]="!transparent ? '' : 'febelink'">
    {{ 'common.follow.' + ( !isFollowing() ? 'do' : 'cancel' ) | translate }}
  </ion-label>
</ion-button>