<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      [placeholder]="'admin.tokensUsers.placeholder' | translate"
      inputmode="text"
      (keyup.enter)="search($event)"
      (ionChange)="search($event)"
      (ionClear)="search($event)"
      debounce="500"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Loading -->
  <div class="cargando-container" margin-top *ngIf="isLoading">
    <ion-row>
      <ion-spinner></ion-spinner>
      <h4>{{ 'common.labelSearching' | translate }}</h4>
    </ion-row>
  </div>

  <table id="tokensUsersTable">
    <tr>
      <th>{{ 'common.labelName' | translate }}</th>
      <th>{{ 'common.personal.surname' | translate }}</th>
      <th>{{ 'common.labelEmail' | translate }}</th>
      <th>{{ 'common.personal.id' | translate }}</th>
      <th>{{ 'admin.tokensUsers.num' | translate }}</th>
      <th>{{ 'admin.tokensUsers.phase' | translate }}</th>
      <th>{{ 'admin.tokensUsers.payed' | translate }}</th>
      <th colspan="2">{{ 'admin.tokensUsers.actions' | translate }}</th>
    </tr>
    <tr *ngFor="let tokensUser of tokensUsers">
      <td>{{tokensUser.name || tokensUser.nick}}</td>
      <td>{{tokensUser.lastname}}</td>
      <td>{{tokensUser.email}}</td>
      <td>{{tokensUser.dni}}</td>
      <td>{{tokensUser.num_tokens}}</td>
      <td>{{tokensUser.phase_tokens}}</td>
      <td>{{tokensUser.payed_date}}</td>
      <td class="edit"><ion-icon name="create-outline" (click)="edit(tokensUser)"></ion-icon></td>
      <td class="delete"><ion-icon name="trash-outline" (click)="delete(tokensUser)"></ion-icon></td>
    </tr>

    <!-- Add New Token User -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="create()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button> 
    </ion-fab>
    
  </table>
</ion-content>
