<div *ngIf="loading" class="w-full h-full absolute top-0 left-0 flex justify-center items-center">
    <span class="loading loading-ring loading-lg"></span>
</div>
<!-- Main list -->
<div *ngIf="!loading" class="flex flex-col gap-4">
    <!-- Statistics -->
    <div class="cards flex flex-wrap gap-4">
        <div class="card w-fit min-w-44 h-fit px-4 py-3 flex flex-col bg-white rounded-lg shadow-default">
            <span class="title mb-2 font-semibold">Automatizaciones</span>
            <span class="data text-4xl font-bold">{{automations.length}}</span>
            <span class="aux text-neutral-400">Total</span>
        </div>
    </div>
    <!-- Actions -->
    <div class="actions flex gap-4">
        <!-- Filter -->
        <!-- <div class="w-full bg-white ring-1 ring-inset ring-neutral-200 rounded-lg px-4">
            <input type="text" class="w-full h-full bg-transparent outline-none" placeholder="Filtrar..." />
        </div> -->
        <!-- Buttons -->
        <div class="buttons flex gap-4 shrink-0">
            <!-- Export -->
           <!--  <button class="button flex justify-center items-center text-neutral-600 ring-1 ring-inset ring-neutral-200 bg-white hover:enabled:bg-neutral-100 transition rounded-lg p-2 font-semibold">
                <lucide-icon name="file-down" class="stroke-neutral-600 transition duration-75 group-hover:stroke-gray-900" [strokeWidth]="2" [size]="20" />
                <span class="px-2">Exportar</span>
            </button> -->
            <!-- Import -->
            <!-- <button class="button flex justify-center items-center text-neutral-600 ring-1 ring-inset ring-neutral-200 bg-white hover:enabled:bg-neutral-100 transition rounded-lg p-2 font-semibold">
                <lucide-icon name="file-up" class="stroke-neutral-600 transition duration-75 group-hover:stroke-gray-900" [strokeWidth]="2" [size]="20" />
                <span class="px-2">Importar</span>
            </button> -->
            <!-- Create -->
            <button class="button flex justify-center items-center text-white ring-1 ring-inset ring-primary bg-primary/80 hover:enabled:bg-primary transition rounded-lg p-2 font-semibold" (click)="showCreate()">
                <lucide-icon name="plus" class="stroke-white transition duration-75 group-hover:stroke-gray-900" [strokeWidth]="3" [size]="20" />
                <span class="px-2">Crear</span>
            </button>
            <!-- Delete -->
            <!-- <button class="button min-w-12 flex justify-center items-center text-white ring-1 ring-inset ring-red-600 bg-red-600/80 hover:enabled:bg-red-600 transition rounded-lg p-2 font-semibold disabled:opacity-30" [disabled]="!someSelected">
                <lucide-icon name="trash-2" class="stroke-white transition duration-75 group-hover:stroke-gray-900" [strokeWidth]="2" [size]="20" />
            </button> -->
        </div>
    </div>
    <!-- Table -->
    <ul class="bg-white rounded-lg p-3 pb-1 shadow-default">
        <!-- Header -->
        <li class="sticky top-1 flex items-center gap-2 p-1 pr-3 bg-neutral-100 rounded font-semibold">
            <!-- <span class="h-fit w-5 shrink-0"></span> -->
            <span class="w-64 h-fit">Tipo</span>
            <span class="w-64 h-fit shrink-0">Sector</span>
            <span class="w-64 h-fit shrink-0">Profesion</span>
            <span class="w-64 h-fit shrink-0">Provincia</span>
            <span class="w-64 h-fit shrink-0">Titulo</span>
            <span class="w-64 h-fit shrink-0">Contenido</span>
            <span class="w-20 h-fit shrink-0 text-right">Acciones</span>
        </li>
        <!-- Data -->
        <li class="flex items-center gap-2 p-1 py-2 pr-3 border-b last:border-none cursor-pointer" *ngFor="let item of automations">
            <!-- Select -->
           <!--  <span class="h-fit w-5 shrink-0">
                <lucide-icon *ngIf="item.selected" name="square-check" class="stroke-gray-500 stroke-link transition duration-75 group-hover:stroke-gray-900" [size]="20" />
                <lucide-icon *ngIf="!item.selected" name="square" class="stroke-gray-500 stroke-neutral-400 transition duration-75 group-hover:stroke-gray-900" [size]="20" />
            </span> -->

            <!-- Title -->
            <span class="w-48 h-fit">
                <span *ngIf="item.type == 1">
                    Luego de 24 horas de busqueda
                </span>
                <span *ngIf="item.type == 2">
                    Luego de guardar en Favoritos
                </span>
            </span>

            <!-- Subsector -->
            <button class="w-56 h-fit shrink-0 flex items-center hover:opacity-50 text-left">
                <span *ngIf="item.sector_type == 1">
                    Todos los sectores
                </span>
                <span *ngIf="item.sector_type != 1">
                    {{ item.sector_info.nombre }}
                </span>
            </button>
            <!-- Location -->
            <button class="w-64 shrink-0 flex items-center gap-1 hover:opacity-50">
                <span *ngIf="item.profession_type == 1">
                    Todos las profesiones
                </span>
                <span *ngIf="item.profession_type != 1">
                    {{ item.profession_info.nombre }}
                </span>
            </button>

            <button class="w-64 shrink-0 flex items-center gap-1 hover:opacity-50">
                <span *ngIf="item.province_type == 1">
                    Todos las provincias
                </span>
                <span *ngIf="item.province_type != 1">
                    {{ item.province_info.title }}
                </span>
            </button>

            <span class="w-64 line-clamp-1">{{ item.message_title }}</span>
            <span class="w-64 line-clamp-1">{{ item.message_content }}</span>

            <!-- Actions -->
            <div class="buttons w-20 flex gap-2 justify-end items-center shrink-0">
                <!-- Edit -->
                <button class="w-7 h-7 flex justify-center items-center" (click)="showEdit(item)">
                    <lucide-icon name="pencil" class="stroke-gray-500 stroke-link transition duration-75 group-hover:stroke-gray-900" [size]="20" />
                </button>
                <!-- Delete -->
                <button class="w-7 h-7 flex justify-center items-center" (click)="showDelete(item.id)">
                    <lucide-icon name="trash-2" class="stroke-gray-500 stroke-red-600 transition duration-75 group-hover:stroke-gray-900" [size]="20" />
                </button>
            </div>
        </li>
    </ul>
</div>
<!-- Edit modal -->
<dialog #editModal class="modal">
    <div class="modal-box bg-white">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 *ngIf="!isNewRegister" class="text-lg font-bold">Modificar</h3>
        <h3 *ngIf="isNewRegister" class="text-lg font-bold">Crear</h3>
        <div [formGroup]="automationForm">
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text text-neutral-500">Tipo de automatizacion*</span>
                </div>
                <select class="select select-bordered bg-neutral-100 text-base" formControlName="type">
                    <option disabled>Elige una opción</option>
                    <option value="1">Recordatorio luego de 24 horas de busqueda</option>
                    <option value="2">Recordatorio luego de guardar en Favoritos</option>
                </select>
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text text-neutral-500">Sector*</span>
                </div>
                <select class="select select-bordered bg-neutral-100 text-base" formControlName="sector_type">
                    <option disabled>Elige el sector</option>
                    <option value="1">Todos los sectores</option>
                    <option *ngFor="let sector of sectors" [value]="sector.id">{{sector.nombre}}</option>
                </select>
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text text-neutral-500">Profesión*</span>
                </div>
                <select class="select select-bordered bg-neutral-100 text-base" formControlName="profession_type">
                    <option disabled>Elige profesión</option>
                    <option value="1">Todas las profesiones</option>
                    <option *ngFor="let subsector of subsectors" [value]="subsector.id">{{subsector.nombre}}</option>
                </select>
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text text-neutral-500">Provincia*</span>
                </div>
                <select class="select select-bordered bg-neutral-100 text-base" formControlName="province_type">
                    <option disabled>Elige provincia</option>
                    <option value="1">Todas las provincias</option>
                    <option *ngFor="let province of provinces" [value]="province.id">{{province.title}}</option>
                </select>
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text text-neutral-500">Titulo del aviso*</span> <br>
                </div>
                <span>
                    Usa las etiqueta <code>[SECTORNAME]</code>, <code>[PROFESSIONNAME]</code> y <code>[PROVINCENAME]</code> para mostrar el dato correspondiente.
                </span> <br>
                <input type="text" class="input input-bordered w-full bg-neutral-100" formControlName="message_title" />
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text text-neutral-500">Contenido del aviso*</span> <br>
                </div>
                <span>
                    Usa las etiqueta <code>[SECTORNAME]</code>, <code>[PROFESSIONNAME]</code> y <code>[PROVINCENAME]</code> para mostrar el dato correspondiente.
                </span> <br>
                <textarea id="message_content" class="input input-bordered w-full bg-neutral-100" formControlName="message_content" rows="10" style="height: 160px;"></textarea>
            </label>
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text text-neutral-500">Accion del aviso*</span>
                </div>
                <select class="select select-bordered bg-neutral-100 text-base" formControlName="message_click_action">
                    <option disabled>Elige una opción</option>
                    <option value="1">Abrir pagina web</option>
                    <option value="2">Abrir pagina de perfil</option>
                    <option value="3">Abrir pagina de busqueda de servicios</option>
                </select>
            </label>
        </div>
        <div class="modal-action">
            <button class="btn bg-primary text-white hover:bg-primary/80 disabled:text-neutral-400" [disabled]="automationForm.invalid" (click)="sendAutomation()">
                Guardar
                <span *ngIf="loadingRequest" class="loading loading-spinner loading-xs"></span>
            </button>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
<!-- Delete modal -->
<dialog #deleteModal class="modal">
    <div class="modal-box bg-white">
        <h3 class="text-lg font-bold text-red-600">¡Atención!</h3>
        <p class="py-4">¿Estas seguro que quieres eliminar este registro?</p>
        <div class="modal-action">
            <button class="btn bg-neutral-100 text-black hover:bg-neutral-200 transition" [disabled]="loadingRequest">
                Cancelar
            </button>
            <button class="btn bg-red-600 text-white hover:bg-red-700 transition"  [disabled]="loadingRequest" (click)="deleteAutomation()">
                Eliminar
                <span *ngIf="loadingRequest" class="loading loading-spinner loading-xs"></span>
            </button>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button [disabled]="loadingRequest">close</button>
    </form>
</dialog>
<!-- Multiple delete modal -->
<!-- <dialog #multipleDeleteModal class="modal">
    <div class="modal-box bg-white">
        <h3 class="text-lg font-bold text-red-600">¡Atención!</h3>
        <p class="py-4">¿Estas seguro que quieres eliminar los peticiones seleccionados?</p>
        <span class="block font-bold" *ngFor="let item of selected">
            {{item.description}}
        </span>
        <div class="modal-action">
            <button class="btn bg-neutral-100 text-black hover:bg-neutral-200 transition" [disabled]="loadingRequest">
                Cancelar
            </button>
            <button class="btn bg-red-600 text-white hover:bg-red-700 transition" [disabled]="loadingRequest">
                Eliminar
                <span *ngIf="loadingRequest" class="loading loading-spinner loading-xs"></span>
            </button>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button [disabled]="loadingRequest">close</button>
    </form>
</dialog> -->
