<div class="slider-item">
  <div class="animation-card_image">
      <img *ngIf="!data?.imageURL" rc="assets/icon/svg/default_product.svg" alt="">
      <img *ngIf="data?.imageURL" [src]="data?.imageURL"  alt="">
  </div>
  <div class="animation-card_content">
      <h4 class="animation-card_content_title title-2">{{data?.title}}</h4>
      <p class="animation-card_content_description p-2" [innerHtml]="data?.description"></p>
      <div class="bottom">
        <button class="animation-card_content_city" (click)="sendSearchContactRequest()">Pide precio gratis</button>
      </div>
  </div>
</div>
