:host {
  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    
    &::ng-deep{
      * {
        display: inline;
        word-break: break-word;
      }
    }
  }
}