.letter-list{
    list-style-type: lower-alpha;
}

.circle-list{
    list-style-type: circle;
}

a:hover {
    cursor:pointer;
}

ion-icon{
    width: 20px;
    height: 20px;
    margin-left: 10px ;
}

ion-icon:hover {
    cursor:pointer;
}