<ion-header>
  <ion-toolbar color="febelink">
    <ion-icon (click)="goBack()" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-title class="ion-text-center">Condiciones generales de uso</ion-title>
    <!--<ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<pre>
  CONDICIONES GENERALES DE USO Y DE CONTRATACIÓN DE FEBELINK


  Las presentes condiciones regulan, de un lado, los términos y condiciones generales de uso, acceso y registro en el sitio web www.febelink.com, propiedad de 
  FEBELINK DIGITAL S.L. (en adelante, “FEBELINK”) por parte de cualquier persona física o jurídica, (en adelante, “Usuario” o “Usuarios”), así como las 
  condiciones de contratación de los servicios de FEBELINK que se ofertan en el Sitio Web y/o en la Aplicación. En adelante las presentes condiciones de uso 
  y de contratación se denominarán como las “Condiciones”.

  FEBELINK ofrece una serie de servicios relacionados con la puesta en contacto entre empresas o profesionales autónomos y sus clientes. 
  Ambos podrán solicitar la prestación de los servicios ofrecidos por FEBELINK, registrándose en el Sitio Web a través de los formularios de registro 
  específicos que se indican en la Condición II PROCEDIMIENTO DE REGISTRO EN EL SITIO WEB.
  En adelante, los profesionales que publiquen su perfil y las personas que realicen una búsqueda de perfil, debidamente registrados en el Sitio Web, 
  serán denominados respectivamente como “Profesional” o “Profesionales” y como “Cliente” o “Clientes”). Ambas categorías tienen la consideración de Usuario.
  Mediante la aceptación de las presentes Condiciones, el Usuario expresamente admite obligarse en toda su extensión y alcance, sin exceptuar cualquiera de sus disposiciones.
  
  FEBELINK se reserva el derecho unilateral de modificar las Condiciones incluidas en este documento. En consecuencia, el Usuario deberá leer periódicamente las Condiciones, 
  así como la Política de Privacidad, para conocer sus variaciones, que sólo serán notificadas al Usuario si suponen modificaciones sustanciales o cuando así se disponga legalmente.
  
  IDENTIFICACIÓN DEL TITULAR DEL SITIO WEB Y DE LA APLICACIÓN

  Titular: FEBELINK DIGITAL S.L. (en adelante, “FEBELINK”)

  Domicilio social: Calle la Gitanilla, 17, oficina 19, 29004 - Málaga.
  
  Información registral: Registro Mercantil de Málaga, Boletín 86, Referencia 216576, Tomo 6031, Libro 4938, Folio 74, Sección 8, Hoja 160744, Inscripción 1.
  
  CIF: B05367511
  
  E-mail: info@febelink.com


  ACCESO Y CONDICIONES DE USO DEL SITIO WEB

  El Usuario podrá navegar y visualizar el contenido disponible en el Sitio Web de manera libre y gratuita. Mientras que, únicamente los Usuarios 
  expresamente autorizados por FEBELINK, tras el preceptivo registro, 
  podrán acceder a la descarga y uso de la Aplicación. Los Usuarios que no dispongan de dicha autorización, no podrán acceder al contenido ni utilizar la Aplicación.

  Al navegar, utilizar, o visualizar los contenidos del Sitio Web y/o de la Aplicación, el Usuario declara que es mayor de (18) años, o, en su defecto, que cuenta con la 
  debida autorización de sus tutores legales.

  El acceso y el registro al Sitio Web, así como la descarga de la Aplicación tiene carácter gratuito para los Usuarios. 

  El Usuario podrá registrarse en el Sitio Web como Usuario registrado y ofrecer la prestación de sus servicios como Profesional y/o buscar los servicios ofrecidos por los otros Profesionales. 

  Asimismo, los Usuarios registrados podrán solicitar, como Cliente, la prestación de los servicios ofrecidos por los Profesionales en el Sitio Web y/o en la Aplicación. 

  El uso del Sitio Web y/o Aplicación, así como la contratación de los servicios ofrecidos por los Profesionales están reservados para Clientes y Profesionales y, por lo tanto, 
  no pueden beneficiarse de ellos intermediarios o reclutadores que actúen en nombre de un cliente final. En el caso de incumplimiento de estas normas de acceso, para poner fin a la 
  competencia desleal originada, FEBELINK se reserva el derecho de limitar el acceso a los servicios ofrecidos mediante el Sitio Web y/o la Aplicación, en particular, reduciendo la 
  posibilidad de ponerse en contacto con los Profesionales a través del Sitio Web y/o de la Aplicación o de utilizar las funcionalidades del área privada. 

  Reglas de uso del Sitio Web y de la Aplicación

  No está permitido y, por tanto, sus consecuencias serán de la exclusiva responsabilidad del Usuario no registrado, así como del Profesional o del Cliente, el acceso o 
  la utilización del Sitio Web y/o de la Aplicación con fines ilegales o no autorizados, con o sin ánimo de lucro. 
  En particular, y sin que el siguiente listado tenga carácter limitativo, queda prohibido:
  
  1. Usar el Sitio Web y/o la Aplicación en forma alguna que pueda provocar daños, interrupciones, 
  ineficiencias o defectos en su funcionamiento o en los equipos informáticos de un tercero;

  2. Usar el Sitio Web y/o la Aplicación para la transmisión, instalación o publicación de cualquier virus, código malicioso u otros programas o archivos perjudiciales;

  3. Usar el Sitio Web y/o la Aplicación para recoger datos de carácter personal de otros Usuarios;

  4. Usar el Sitio Web y/o la Aplicación de forma ilegal, en contra de la buena fe, la moral y el orden público;

  5. Registrarse a través del Sitio Web y/o de la Aplicación con una identidad falsa, suplantando a terceros o utilizando un perfil o 
  realizando cualquier otra acción que pueda confundir a los Usuarios, Profesionales o Clientes de FEBELINK sobre la identidad del Profesional y/o del Cliente;
 
  6. Acceder sin autorización a cualquier sección del Sitio Web y/o de la Aplicación, a otros sistemas o redes conectados a la misma, 
  a los servidores de FEBELINK o a los servicios ofrecidos a través del Sitio Web y/o de la Aplicación por medio de pirateo o falsificación, 
  extracción de contraseñas o cualquier otro medio ilegítimo;
 
  7. Quebrantar, o intentar quebrantar, las medidas de seguridad o autenticación del Sitio Web y/o de la Aplicación o de cualquier 
  red conectada al mismo, o las medidas de seguridad o protección inherentes a los contenidos ofrecidos en el Sitio Web y/o la Aplicación;
  
  
  8. Llevar a cabo alguna acción que provoque una saturación desproporcionada o innecesaria en la infraestructura del Sitio Web y/o de 
  la Aplicación en los sistemas o redes de FEBELINK, así como en los sistemas y redes conectados al Sitio Web y/o a la Aplicación;
 
  9. Impedir el normal desarrollo de un servicio, promoción o cualquier otra actividad disponible a través del Sitio Web y/o de la Aplicación o cualesquiera de sus funcionalidades, 
  ya sea alterando o tratando de alterar, ilegalmente o de cualquier otra forma el acceso o el 
  funcionamiento de aquéllos, o falseando el resultado de estos y/o utilizando métodos de participación fraudulentos, mediante cualquier procedimiento, 
  y/o a través de cualquier práctica que atente o vulnere las presentes Condiciones.
  
  PROCEDIMIENTO DE REGISTRO EN EL SITIO WEB Y EN LA APLICACIÓN

  Acceso y registro
  Tendrán acceso y podrán utilizar, de manera gratuita, el área privada en el Sitio Web los Usuarios registrados a través del siguiente formulario de registro.

  El procedimiento de registro podrá efectuarse asimismo a través del ID del Usuario en Google y/o Facebook mediante un link o banner disponible en el formulario de registro. 
  En este caso, FEBELINK informa de que la red social se encuentra gestionada por terceros, no teniendo FEBELINK alguna responsabilidad sobre el tratamiento de datos personales del 
  Usuario realizado por la red social. En este sentido se recomienda al Usuario, antes de efectuar el registro, revisar los términos y condiciones, así como la política de 
  privacidad de la red social disponibles en su página web, a fin de comprender de qué manera usará los datos de su cuenta de Google y/o Facebook. En caso de que la información 
  disponible en la red social no sea suficiente para rellenar la información obligatoria del formulario de registro de FEBELINK, el Usuario deberá proporcional dicha información. 
  
  Una vez proporcionados correctamente los datos necesarios y catalogados como obligatorios, así como haber aceptado la Política de Privacidad y las presentes Condiciones, 
  el Usuario registrado como podrá acceder gratuitamente a (i) un área privada (véase Estipulación III), (ii) a las funcionalidades del Sitio Web y (iii), 
  
  una vez obtenida la autorización (véase apartado 2.3 de la presente estipulación), a las funcionalidades de la Aplicación.

  Descarga y el acceso al contenido de la Aplicación 

  Cualquier Usuario podrá libremente descargarse la Aplicación de FEBELINK que se encuentra en Play Store así 
  como en Apple Store. Para acceder a la misma, de igual forma que ocurre en el Sitio Web, el Usuario deberá registrarse a través de las formas indicadas en el punto anterior. 

  Una vez proporcionados correctamente los datos necesarios y catalogados como obligatorios, así como haber aceptado la 
  Política de Privacidad y las presentes Condiciones, el Usuario podrá acceder y usar la Aplicación. 

  Planes de Suscripción y Compras

  Los Usuarios registrados podrán realizar seleccionar el Perfil Profesional y la suscripción al Plan Gratuito para acceder a las siguientes funcionalidades:
    1. Aparecer en los listados de búsqueda de los usuarios.

  Además los Usuarios registrados con el Perfil Profesional podrán realizar la suscripción al Plan PRO para sumar y acceder a las siguientes funcionalidades:
    1. Disponer de una marca al lado de su nombre de perfil en la “vista de perfil” y en sus publicaciones de Oráculo.
    2. Editar Ofertas de servicios personalizadas que aparecerán en los resultados de búsqueda del Marketplace.

  Los usuarios registrados y suscritos al Plan PRO pueden suscribirse al Plan PLUS para acceder a las siguientes funcionalidades:
    1. Crear Ofertas personalizadas adicionales a las plantillas de servicios ofrecidas en el Plan PRO.

  Los usuarios registrados y suscritos al Plan PRO pueden suscribirse a Profesiones para acceder a las siguientes funcionalidades:
    1. Seleccionar profesiones adicionales para añadir servicios en plantillas y Ofertas.


  Los servicios y productos contratados a través de Febelink, independientemente de la forma de pago seleccionada por el usuario, conlleva Gastos de Gestión, 
  los cuáles son detraídos del Precio marcado por el Profesional para la venta de sus Servicios y Productos en forma de porcentaje, siendo informados tanto en la creación 
  del Servicio como en los resúmenes mensuales de pago.

  FEBELINK abonará a los Profesionales los días 30 de cada mes los importes de la ventas realizadas entre el día 21 de un mes al día 20 del mes siguiente.

  Con el objetivo de mejorar los servicios a los Usuarios y Profesionales, estas ventajas obtenidas por las Suscripciones pueden ser modificadas y ampliadas en cualquier 
  momento por parte de FEBELINK, así como pueden ser incluidas o excluidas en campañas promocionales, de forma eventual o permanente.

  La duración de cada suscripción tendrá una duración de 30 días naturales desde su contratación, sin permanencia. Se realizará la renovación 
  automática al cumplimiento de los 30 días desde su contratación, pudiendo ser anulada previamente a esta fecha sin ninguna penalización, limitación ni recargo.

  Los Profesionales pueden realizar campañas de publicidad dentro del Marketplace de FEBELINK exclusivamente a través del Administrador de Campañas habilitado para tal fin, 
  y en las Condiciones de Uso establecidas en cada momento.

  Los usuarios pueden realizar la cancelación de su compra o contratación en cualquier momento sin penalización, siempre que no haya sido realizado o consumido.


  Condiciones generales aplicables a todos los Usuarios registrados

  Una vez realizado el registro, el Usuario podrá acceder a su área privada dentro del Sitio Web o Aplicación, introduciendo su usuario y contraseña. 

  El Usuario registrado asume que la contraseña y la cuenta necesarias para acceder al área privada como Usuario registrado son personales e intransferibles.

  El Usuario registrado podrá modificar su contraseña en cualquier momento, mediante las herramientas puestas a su disposición por FEBELINK.

  El Usuario registrado se compromete a hacer un uso diligente de su contraseña y mantenerla en secreto, no pudiendo transmitirla a ningún tercero. 
  
  En consecuencia, los Usuarios serán responsables de la adecuada custodia y confidencialidad de cualesquiera identificadores y/o contraseñas que hayan 
  seleccionado como Usuarios registrados, y se comprometen a no ceder su uso a terceros, ya sea temporal o permanente, ni permitir el acceso de terceros a su cuenta. 
  El Usuario será responsable de la utilización lícita de su cuenta, respondiendo por cualesquiera daños generados por un tercero que acceda a la misma utilizando sus credenciales de acceso.
  
  En virtud de lo anterior, es obligación del Usuario notificar de forma inmediata a FEBELINK acerca de cualquier hecho que permita el uso indebido de los identificadores 
  y/o contraseñas, tales como el robo, extravío, o el acceso no autorizado a los mismos, con el fin de proceder a su inmediata cancelación. 
  
  Mientras no se comuniquen tales hechos, el FEBELINK quedará eximido de cualquier responsabilidad que pudiera derivarse del uso indebido de los identificadores o contraseñas por terceros no autorizados.
 
  Duración

  El acceso como Usuario registrado comenzará una vez introducidos los datos requeridos para efectuar el registro, tras la aceptación de la Política de Privacidad y las presentes Condiciones.
  El acceso como Usuario permanecerá vigente de manera ilimitada hasta que el mismo notifique al FEBELINK su baja como Usuario registrado al siguiente correo electrónico: info@febelink.com 


  FUNCIONALIDADES DEL SITIO WEB Y DE LA APLICACIÓN

  Una vez obtenido el acceso al área privada del Sitio Web, el Usuario podrá visualizar y tener acceso a ciertos contenidos ofrecidos por FEBELINK, que permiten:

    1. visualizar, de manera gratuita el contenido disponible en el Sitio Web;

    2. solicitar la descarga y el acceso al contenido de la Aplicación;

    3. beneficiarse de los servicios ofrecidos por FEBELINK. Dichos servicios, entre otros, permiten al Usuario registrado:

    a. Una puesta en relación entre los Usuarios registrados a través de los diferentes medios que pueden usar de forma voluntaria rellenando el formulario de su Perfil, autorizando el uso para el contacto de:
    • Email
    • Teléfono
    • Chat
    • WhatsApp

    b. Recomendar Profesionales a otros Usuarios registrados;

    c. Pedir recomendación a los otros Usuarios registrados;

    d. Una puesta a disposición de un área privada para el Usuario registrado a través de la cual podrá:

    • buscar y, si así lo desea, contar con los servicios de uno o más Profesionales, así como gestionar las ofertas recibidas por los Profesionales;

    • ofrecer la prestación de servicios profesionales y publicar información sobre los mismos como Profesional en las búsquedas de otros usuarios, así como gestionar los pedidos recibidos por los Clientes;

    e. Abonar el pago de la prestación de los servicios del Profesional (o de los Profesionales) contratados a través del Sitio Web y/o de la Aplicación;

    f. Realizar la suscripción al “Plan PRO” así como al resto de suscripciones y servicios ofrecidos por FBELINK.


  PAGOS A TRAVÉS DEL SITIO WEB O APLICACIÓN

  A través del Sitio Web o de la Aplicación, los Usuario podrán realizar pagos a otros Usuarios o bien adquirir bienes o servicios de FEBELINK.

  Para poder efectuar pagos a través del Sitio Web o la Aplicación, los Usuarios podrán hacerlo con dinero de curso legal a través de tarjeta de crédito o débito, 
  en cuyo caso se les redireccionará al portal correspondiente de la pasarela de pagos existente en cada momento, o bien usar el sistema de pago con el token FLAU. 
  En este último caso, el Usuario deberá previamente crearse un monedero electrónico donde pueda almacenar y visualizar sus tokens. Dichos tokens podrán adquirirse 
  a través del Sitio Web o de la Aplicación. Para más información sobre la forma de adquisición de los tokens y la creación de un monedero, haga clic aquí. 

  Los pagos realizados a través del token FLAU de los Servicios contratados, Productos comprados y Suscripciones de Profesionales, tienen ventajas en forma de descuentos 
  y regalos, los cuáles son informados en el momento de su uso.

  Los usuarios que así lo requieran podrán solicitar una factura a FEBELINK por las suscripciones y servicios realizados por FEBELINK. Estas facturas podrán ser 
  solicitadas a través del email info@febelink.com

  Los usuarios que requieran una factura de los servicios prestados y contratados a los Profesionales deberán dirigirse directamente a 
  estos proveedores para solicitar su facturación. 


  LIMITACIÓN DE LA RESPONSABILIDAD

  El Usuario exonera a FEBELINK de cualquier responsabilidad que pudiera derivarse de las interrupciones de
  disponibilidad o errores de funcionamiento del Sitio Web y/o la Aplicación, por fallos en el mismo.

  Asimismo, FEBELINK no se hará responsable por el contenido que los distintas Guías oficiales hayan subido al Sitio Web
  y/o la Aplicación. Concretamente, los Usuarios son conscientes de que algunos planes pueden contener contenido
  impreciso o desactualizado.

  SUSPENSIÓN Y EXTINCIÓN

  El incumplimiento de cualquiera de las anteriores obligaciones por el Usuario podrá llevar aparejada la adopción por FEBELINK de las 
  medidas oportunas amparadas en Derecho y en el ejercicio de sus derechos u 
  obligaciones, pudiendo llegar a la eliminación o bloqueo de la cuenta del Usuario infractor, sin que medie posibilidad de indemnización 
  alguna por los daños y perjuicios causados.
  FEBELINK se reserva la posibilidad de alterar, modificar o suspender cualquier característica del Sitio Web.

  CONTENIDO

  FEBELINK no garantiza la licitud, fiabilidad, o utilidad de los contenidos suministrados por terceros a través de del Sitio Web y/o la Aplicación. 
  Si el Usuario tuviera conocimiento de la existencia de algún contenido ilícito, ilegal, contrario a las leyes, o que pudiera suponer una infracción de derechos de terceros, 
  deberá notificarlo inmediatamente a FEBELINK para que éste pueda proceder a la adopción de las medidas oportunas.
  PRIVACIDAD Y PROTECCIÓN DE DATOS

  De conformidad con lo dispuesto por el Reglamento 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección 
  de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (Reglamento General De Protección De Datos) y la Ley Orgánica 3/2018, 
  de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales, todos los datos de carácter personal recabados durante la utilización del 
  Sitio Web serán tratados de conformidad con lo dispuesto en la Política de Privacidad, que todo Usuario debe aceptar expresamente en caso de facilitar datos de carácter personal a través del área privada.
  
  CONTACTO
  FEBELINK pone a disposición la siguiente dirección de correo electrónico info@febelink.com con la finalidad de prestar soporte y ayuda, así como para recibir cualquier 
  comentario o preocupación del Usuario, tanto durante los trámites de contratación de los servicios como a posteriori.

  Además, cabe recordar que el Usuario dispone de los datos de contacto de FEBELINK reflejados en el apartado I de las presentes Condiciones.

  GENERALES
  
  Los encabezamientos de las distintas cláusulas son sólo informativos, y no afectarán, calificarán o ampliarán la interpretación las presentes Condiciones. 
  Asimismo, FEBELINK podrá modificar las Condiciones aquí estipulados, total o parcialmente, publicando cualquier cambio en la misma forma en que aparecen estas Condiciones o a 
  través de cualquier tipo de comunicación dirigida a los Usuarios.

  La vigencia temporal de las presentes Condiciones coincide, por tanto, con el tiempo de su exposición, hasta que sea modificado total o parcialmente, momento en el cual pasarán a 
  tener vigencia las Condiciones nuevas modificadas.

  FEBELINK podrá dar por terminado, suspender o interrumpir, en cualquier momento y sin necesidad de preaviso, el acceso a los contenidos del Sitio Web y/o de la Aplicación, 
  sin posibilidad por parte del Usuario de exigir indemnización alguna. Tras dicha extinción, seguirán vigentes las prohibiciones de uso de los contenidos expuestas anteriormente en las presentes Condiciones.

  En el caso de que cualquier disposición de las presentes Condiciones fuese declarada nula o inaplicable, en su totalidad o en parte, por cualquier Juzgado, Tribunal u 
  órgano administrativo competente, dicha nulidad no afectará a las restantes disposiciones de las Condiciones.

  El no ejercicio o ejecución por parte de FEBELINK de cualquier derecho o disposición contenido en las presentes Condiciones no constituirá una renuncia al mismo, salvo 
  reconocimiento y acuerdo por escrito por su parte.

  Las presentes Condiciones serán conservadas en formato electrónico por FEBELINK y quedarán permanentemente a disposición del Usuario.

  El Usuario y FEBELINK formalizarán el contrato en la lengua española siendo ésta el idioma de interpretación de las presentes Condiciones.

  Si tras realizar todos los trámites necesarios para navegar y acceder al Sitio Web y/o a la Aplicación y perfeccionar las presentes Condiciones, el Usuario identificara 
  algún error a la hora de introducir sus datos deberá de ponerse en contacto con FEBELINK a través del formulario de contacto o de la dirección de correo electrónico. 
  Éste le prestará el soporte necesario y corregirá, en su caso, los errores identificados.

  A menos que se indique otra cosa en las presentes Condiciones, las notificaciones entre el Usuario y FEBELINK deberán de realizarse por escrito mediante 
  un correo electrónico o mediante el envío de una carta certificada a las correspondientes direcciones. A estos efectos, los datos de contacto de FEBELINK 
  serán los que aparecen en las presentes Condiciones y los datos de contacto del Usuario serán los establecidos en el Sitio Web y/o en la Aplicación.
  Las presentes Condiciones se regirán por la legislación española vigente.
  Cualquier controversia que pudiera surgir entre el Usuario y FEBELINK en relación con las presentes Condiciones, el Usuario y FEBELINK acuerdan someterla, 
  con renuncia expresa a cualquier otro fuero o jurisdicción que pudiera corresponderles a los Juzgados y Tribunales de la ciudad de Málaga.


  2024 © Todos los derechos reservados. FEBELINK DIGITAL S.L.
  Última actualización: 12 de marzo de 2024.
</pre>

</ion-content>
