
<div class="ion-text-center title-social">{{ 'pages.registro.or' | translate }}</div>
  <section>
    <ion-button expand="block" color="facebook" (click)="socialLogin('facebook')" >
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      {{ 'pages.registro.continueWith' | translate }}Facebook
    </ion-button>
    <ion-button expand="block" color="google" (click)="socialLogin('google')">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      {{ 'pages.registro.continueWith' | translate }}Google
    </ion-button>
  </section>
