/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ionic-selectable-modal {
    ion-header {
        ion-toolbar {
            --background:var(--ion-color-febelink);
            color: white;
        }
    }
}

@media only screen and (min-height: 768px) and (min-width: 768px){

    .guide-modal .modal-wrapper {
      left: calc(50% - (600px/2));
      top: calc(35% - (600px/2));
      position: absolute;
      width: 600px;
      height: 800px;
  }
}

  @media only screen and (max-height: 700px) and (min-width: 768px){

    .guide-modal .modal-wrapper {
      left: calc(50% - (600px/2));
      top: calc(48% - (600px/2));
      position: absolute;
      width: 600px;
      height: 610px;
  }
 }

 .results-list {
    @media (min-width: 768px){
        padding: 0;
        margin: 0;
    
        ion-item{
            box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
            0 2px 2px rgba(0,0,0,0.11), 
            0 4px 4px rgba(0,0,0,0.11), 
            0 6px 8px rgba(0,0,0,0.11);

            margin: 15px 10px;
            border-radius: 7px;
        }
    }
 }

.desktop {
    @media (max-width: 768px){
        display: none;
    }
}
.mobile {
    @media (min-width: 768px){
        display: none;
    }
}
.responsive-max {
    @media (max-width: 1165px ){
        display: none;
    }
}
.responsive-min {
    @media (min-width: 1165px ){
        display: none;
    }
}

.flex{
    display: flex;
}

.limit-size{
    max-width: 768px; 
    margin: auto;
}

.clickable{
    cursor: pointer;
}

@media only screen and (min-width:768px) {

    .alert-radio-group::-webkit-scrollbar,
    .alert-checkbox-group::-webkit-scrollbar {
        width: 1em;
        display: block !important;
    }

    .alert-radio-group::-webkit-scrollbar-track,
    .alert-checkbox-group::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    .alert-radio-group::-webkit-scrollbar-thumb,
    .alert-checkbox-group::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    .landing-modal .modal-wrapper {
        --border-radius: 7px;
        --height: 460px;
    }
}

// Para eliminar el **Powered By Google** en el Autocomplete de Google Places API
.pac-container:after {
    background-image: none !important;
    height: 0px;
}

.line {
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}
.align-left{ justify-content: flex-start; }
.align-center{ justify-content: center; }
.align-right{ justify-content: flex-end; }
.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }
.hint { opacity: 0.5; }
.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.margin { margin: 10px; }
.margin-top { margin-top: 10px; }
.margin-end { margin-right: 10px; }
.margin-bottom { margin-bottom: 10px; }
.margin-start { margin-left: 10px; }

.padding {
    padding: 10px;
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
}
.padding-top { padding-top: 10px; --padding-top: 10px; }
.padding-end { padding-right: 10px;--padding-end: 10px; }
.padding-bottom { padding-bottom: 10px; --padding-bottom: 10px; }
.padding-start { padding-left: 10px;--padding-start: 10px; }

.vertical-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.pop-yt {
  ion-backdrop {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.8);
  }
  .popover-content {
    top: 5vh;
    left: 5vw;
    transform-origin: left top;
    --width: 90vw;
    --max-width: 90vw;
    --height: 90vh;
    --max-height: 90vh;
    background: transparent;

    app-youtube-pop,
    app-kyc-alice {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 768px){
    .popover-content {
      /* top: 10vh;
      left: 10vw;
      --width: 80vw;
      --max-width: 80vw;
      --height: 80vh;
      --max-height: 80vh; */
    }
  }
}
.pop-mobile-width {
    .popover-content{
        width: 400px;
        --width: 400px;
    }
}
.modal-mobile {
  ion-backdrop {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.8);
  }
  .modal-wrapper {
    --max-width: 500px;
    border-radius: 10px 10px 0px 0px;
    
    /* Desktop */
    @media (max-width: 768px) {
        margin: 20px auto 0px auto;
    }
    /* Mobile */
    @media (min-width: 768px) {
        margin: 10px 10px 0px 10px;
    }
  }
}
