<!-- HEADER  -->
<div class="layer-home">
  <div class="header-search">
    <div class="titles">
      @if (!h1Title) {
        <h1 class="title-search">
          Ofertas de servicios profesionales en <span>España</span> 
        </h1>
      } @else {
        <h1 class="title-search">{{ h1Title }}</h1>
      }
      <p class="subtitle-search">Encuentra los mejores profesionales cerca de ti</p>
    </div>
    <div class="search-capsule">
      <div class="capsule">
        <div class="terms">
          <ion-searchbar
            id="search_scroll"
            class="searchbar no-padding"
            placeholder="{{ 'common.publishPlaceholder' | translate }}"
            [(ngModel)]="searchText2"
            style="--box-shadow: none"
            (keydown.enter)="search2()"
          ></ion-searchbar>
        </div>
        <div class="button-terms" (click)="search2()">Buscar</div>
      </div>
    </div>
  </div>

  <div class="container-search">

    <!-- Left search links -->
    <div class="left-search" >
      <div class="title-left">Profesionales</div>
      <div class="container-profession">
        @for ( item of professionalLinks; track item.link ) {
          <a [href]="'/listado/' + item.link"  >
            <div class="item-profession" 
              [ngClass]="{'selected': item.link === searchText}"
            >
              <i class="far fa-circle" *ngIf="item.link !== searchText"></i>
              <i class="far fa-dot-circle"  *ngIf="item.link === searchText"></i>
              {{item.title}}
            </div>
          </a>
        }
      </div>
    </div>
    
    <div class="center-search" >
      <!-- @if ( searchResponse.offers?.length > 0 ) { -->
        <div class="offers">
          <div class="title-results" >Resultados</div>
          <div class="container-capsule-results">
            @for ( data of offers; track data.id ) {
              <search-product-card
                [data]="data"
                [unitTypes]="unitTypes" 
              ></search-product-card> 
            }
          </div>
        </div>
      <!-- } -->

      @if ( searchResponse.otherResults?.length > 0 ) {
        <div>
          <div class="title-results"  >Resultados Similares</div>
          <div class="container-capsule-results">
            <div  >
              @for ( data of searchResponse.otherResults; track data.id ) {
                <search-card
                  [data]="data"
                  [searchTerm]="searchText"
                ></search-card>
              }
            </div>
          </div>
          <div
              *ngIf="searchResponse?.otherResults?.length < 100"
              (click)="searchMoreResults()"
              class="more-other-results-button"
            >
              Ver más resultados
            </div>

            <p>{{metaDescription}}</p>
        </div>
      }
   
    </div>


    <div class="right-search">
      @if ( provincesLinks.length  && !cityLinks.length) {
        <div class="capsule-city">
          <div class="title-foryou">Los mejores profesionales en España</div>
          <div class="container-search-for-you">
            @for ( item of provincesLinks; track item.link ) {
              <div class="item-profession">
                <a [href]="'/listado/' + item.link" >
                  {{item.title}}
                </a>
              </div>
            }
          </div>
        </div>
      }
      
      @if ( cityLinks.length ) {
        <div class="capsule-city">
          <div class="title-foryou">Los mejores profesionales en tu ciudad</div>
          <div class="container-search-for-you">
            @for ( item of cityLinks; track item.link ) {
              <div class="item-profession">
                <a [href]="'/listado/' + item.link" >
                  {{item.title}}
                </a>
              </div>
            }
          </div>
        </div>
      }

      <div class="search-for-you">
        <h3 class="title-foryou">🚀 Pedir presupuesto gratis</h3>
        <div class="container-search-for-you">
          <p class="texts">
            ¿No encuentras lo que buscas?
            <br>
            <br>
            Nuestro equipo está dispuesto  ha  encontrar la información que necesitas. 
            Si tienes alguna preferencia adicional o detalle específico, no dudes en hacérnoslo saber.
          </p>
          <a href="/lo-buscamos-por-ti" class="button">Buscar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
