<ion-header>

  <ion-toolbar color="febelink">
    <ion-title>Recuperar contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding">
  <div class="contenido">
    <h2 class="title">Introduce el email para recuperar la contraseña</h2>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()" class="ion-padding-top">
      <ion-item>
        <ion-label position="floating">
          Email
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-button type="submit" class="enviar" color="febelink">ENVIAR</ion-button>
    </form>
  </div>
</ion-content>