<ion-content>
  <!-- Desktop version -->
  <div class="desktop">

    <div class="login-header-b">
      <div class="login-header-left">
        <img src="assets/imgs/logo.png" alt="logo"    (click)="irA('/' + homePage)" class="login-header-logo-b" />
      </div>
      <div class="login-header-right">
        <app-lang-btn></app-lang-btn>
      </div>
    </div>

    <div class="login-content-b">
      <div class="login-wrapper-dark"></div>
      <img src="assets/imgs/login-febelink.jpg" class="login-img-back-size" />
      
      <div class="login-content-floating">

        <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="pass-form">
            <div class="pass-title-b">
              {{ 'pages.login.recover.title' | translate }}
            </div>
            <div class="login-label-input">
              Correo electrónico
            </div>
            <div class="login-input-margin-b">
              <ion-input type="email" formControlName="email" placeholder="Correo electrónico" class="padding-input-12 login-input"></ion-input>
            </div>
            <button type="submit" class="login-button-connections login-button-back-a-b">
              Recuperar ahora
            </button>
          </div>
        </form>

      </div>
    </div>

  </div>

  <!-- Mobile version -->
  <div class="mobile">
    <div class="login-header">
      <div class="login-header-left">
        <img src="assets/imgs/logo.png"    (click)="irA('/' + homePage)" alt="logo" class="login-header-logo" />
      </div>
      <div class="login-header-right">
        <app-lang-btn></app-lang-btn>
      </div>
    </div>

    <div class="pass-content">
      <div class="pass-return" (click)="openLogin()">
        <img src="assets/icon/svg/chevron-left.svg" class="pass-return-img" />Volver
      </div>
      <div class="pass-title">
        {{ 'pages.login.recover.title' | translate }}
      </div>
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="pass-form">
          <div class="login-label-input">
            Correo electrónico
          </div>
          <div class="login-input-margin">
            <ion-input type="email" formControlName="email" placeholder="Correo electrónico" class="padding-input-12 login-input"></ion-input>
          </div>
          <button type="submit" class="login-button-connections login-button-back-a">
            Recuperar ahora
          </button>
        </div>
      </form>
    </div>
  </div>
</ion-content>