<section class="max-w-[1200px] min-h-screen mx-auto flex justify-center items-center">
  <img src="assets/imgs/login-febelink.jpg" class="fixed max-w-none w-[calc(100vw+40px)] h-[calc(100vh+40px)] top-[-20px] left-[-20px] -z-10 blur-md brightness-50" />

  <div class="flex flex-col-reverse items-center pt-12 lg:pt-0 lg:flex-row gap-8 px-8">
    <div class="w-[500px] max-w-[90vw] shrink-0">
      <div class="shadow-md rounded-lg bg-white p-8">
        <ng-container *ngIf="!recoverySent">
          <h1 class="font-bold text-2xl">
            Recuperar contraseña
          </h1>
  
          <form 
            *ngIf="form"
            class="" 
            [formGroup]="form"
            (ngSubmit)="submitForm()"
          >
            <div>
              <label class="form-control w-full">
                <div class="label">
                  <span class="label-text text-neutral-500">Correo electrónico</span>
                </div>
                <input 
                  type="text" 
                  class="input input-bordered w-full bg-neutral-100" 
                  formControlName="email"
                />
              </label>
            </div>
  
            <button 
              type="submit" 
              class="btn mt-6 w-full bg-primary text-white transition hover:bg-primary hover:brightness-90"
            >
              <span *ngIf="!loading">Recuperar ahora</span>
              <span *ngIf="loading" class="loading loading-ring loading-lg"></span>
            </button>
          </form>
        </ng-container>
        <ng-container *ngIf="recoverySent">
          <h1 class="font-bold text-2xl">
            Comprueba tu correo
          </h1>
        </ng-container>
      </div>
    </div>              
  </div>
</section>

<app-footer> </app-footer>