<!-- Footer start -->
<footer class="footer">
  <div class="container">
    <div class="row" id="footer-row">
      <div class="col-lg-4 col-sm-6">
        <div>
          <h5
            class="mb-4 footer-list-title"
            style="text-align: left !important"
            id="footer-first-row"
            style="font-weight: 300 !important"
          >
            Febelink
          </h5>

          <p
            class="mb-4 footer-list-title"
            style="text-align: left !important"
            id="footer-copyright"
          >
            <span class="font-14">© 2021. All Right Reserved</span>
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div>
          <h5
            class="mb-4 footer-list-title"
            style="text-align: center !important"
            id="footer-first-row"
          >
            ¿Tienes Alguna Duda? Contacta con Nosotros
          </h5>

          <p
            class="mb-4 footer-list-title"
            style="text-align: center !important"
            id="footer-second-row"
          >
            <app-social-links show_mail="true"></app-social-links>
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div>
          <h5
            class="mb-4 footer-list-title"
            style="text-align: right !important"
            id="footer-first-row"
          >
            <a (click)="openPrivacyPolicy()">
              <span
                class="font-14"
                id="footer-privacy"
                style="font-weight: 300 !important"
                >Política de Privacidad</span>
            </a>
          </h5>

          <p
            class="mb-4 footer-list-title"
            style="text-align: right !important"
            id="footer-second-row"
          >
            <a (click)="openUseConditions()">
              <span class="font-14" id="footer-privacy"
                >Condiciones y Términos</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!-- Footer end -->

<!-- Footer alt start -->

<!-- Footer alt start -->
