<ion-content>
  <!-- Desktop version -->
  <div class="desktop">

    <!--    <div class="login-header-b">
          <div class="login-header-left">
            <img src="assets/imgs/logo.png" alt="logo" class="login-header-logo-b" />
          </div>
          <div class="login-header-right">
            <app-lang-btn></app-lang-btn>
          </div>
        </div>-->

    <div class="login-content-b">
      <div class="login-wrapper-dark"></div>
      <img src="assets/imgs/login-febelink.jpg" class="login-img-back-size"/>

      <div class="login-content-floating">
      
        <div class="login-content-background">
          <form
           
            [formGroup]="form"
            (ngSubmit)="submitForm()"
            (keyup.enter)="submitForm()">

            <div class="login-content-title">
              Crear Password
             </div>
            
            <div class="login-label-input">
              {{ 'common.personal.pass' | translate }}
            </div>
            <div class="login-input-margin">
              <ion-input [type]="passwordType" formControlName="password" required type="password" required
                         placeholder="**********" class="padding-input-12 login-input"></ion-input>
            </div>
           
            <button type="submit" class="login-button-connections login-button-back-a margin-bottom-button">
              Cambiar Password
            </button>

            <!--            <social-login *ngIf="!platform.is('ios')" firstLogin="true" [redirect]="redirect"></social-login>-->
          </form>
        </div>

        

      </div>
    </div>

  </div>


</ion-content>
