ion-content {
  --background: #F9FAFB;
}
.desktop{margin-top: 100px;    height: 70%;}
.passwordIcon {
  color: var(--ion-color-dark);
  font-size: 1rem !important;
  position: relative !important;
  top: 5px !important;
  margin: 0 auto !important;
}

.login-header-b {
  width:100%;display:table;height:91px;padding:0px 60px;background: #FFFFFF;border-bottom: 1px solid #EDEDED;
}
.login-header-logo-b {
  width:114px;margin-top:6px;
}
.login-content-b {
  width:100%;height:845px;position:relative;display:block;
}
.login-wrapper-dark {
  position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.4);
}
.login-content-floating {
  margin: 0;position: absolute;top: 92px;left: 50%;-ms-transform: translateX(-50%);transform: translateX(-50%);width:336px;height:auto;
}
.margin-top-content-bottom-b {
  margin-top:24px;
}

.login-header {
  width:100%;display:table;height:64px;padding:0px 12px;background: #FFFFFF;border-bottom: 1px solid #EDEDED;
}
.login-header-left {
  display:table-cell;vertical-align:middle;text-align:left;
}
.login-header-logo {
  width:96px;margin-top:6px;
}
.login-header-right {
  display:table-cell;vertical-align:middle;text-align:right;
}
.login-lang-item {
  --background: #F9FAFB;border: 1px solid #D1D5DB;border-radius: 8px;font-weight: 400;font-size: 14px;line-height: 150%;color: #111928;display:inline-flex;height:43px;width:75px;padding-top:2px;vertical-align: middle;
}
.login-lang-select {
  padding:14px;width:100%;--placeholder-opacity:0.52;font-weight: 400;font-size: 14px;line-height: 125%;color: #6B7280;
}
.login-img-back {
  width:100%;height:248px;position:absolute;top:-19px;left:0px;z-index:-1;
}
.login-img-back-size {
  object-fit: cover;width: 100%;height: 100%;
}
.login-content {
  width:100%;background:transparent;padding:12px;
}
.login-content-bottom {
  width:100%;background:transparent;padding:0px 12px 12px 12px;
}
.login-content-margin {
  margin-top:70px;
}
.login-content-background {
  width:100%;background: #FFFFFF;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);border-radius: 8px;padding:16px;text-align:left;
}
.login-content-title {
  font-weight: 700;font-size: 24px;line-height: 150%;letter-spacing: -0.01em;color: #111928;margin-bottom:16px;
}
.login-content-title-small {
  font-weight: 700;font-size: 18px;line-height: 150%;color: #111928;margin-bottom:16px;
}
.login-label-input {
  font-weight: 500;font-size: 14px;line-height: 150%;color: #111928;padding-bottom:8px;
}
.login-input-margin {
  margin-bottom:16px;
}
.login-input {
  font-size:14px;font-weight:400px;line-height:125%;background: #F9FAFB;border: 1px solid #D1D5DB;border-radius: 8px;
}
.login-options-table {
  display:table;width:100%;margin-bottom:15px;
}
.login-options-left {
  display:table-cell;vertical-align:top;text-align:left;
}
.login-options-b-right {
  display:table-cell;vertical-align:top;text-align:left;
}
.login-checkbox {
  --border-radius: 4px;width: 16px;height: 16px;--background: #F9FAFB;
}
.login-checkbox-label {
  display: inline-block;padding-left: 8px;position: relative;top: -3px;font-weight: 400;font-size: 12px;line-height: 150%;color: #4B5563;
}
.login-option-pass {
  cursor:pointer;font-weight: 400;font-size: 12px;line-height: 150%;color: #1B80F8;
}
.login-option-conditions {
  cursor:pointer;font-weight: 400;font-size: 12px;line-height: 150%;color: #4B5563;padding-left:8px;position:relative;top:-1px;
}
.login-link-conditions {
  color:#1C64F2;cursor:pointer;
}
.button-separator {
  font-weight: 500;font-size: 14px;line-height: 150%;text-align: center;color: #111928;
}
.margin-bottom-button {
  margin-bottom:8px;
}
.login-button-connections {
  cursor:pointer;width:100%;padding: 10px 20px;text-align:center;border-radius: 8px;font-weight: 500;font-size: 14px;line-height: 150%;color: #FFFFFF;
}
.login-button-back-a {
  background: #1C64F2;
}
.login-button-back-b {
  background: #515ABA;
}
.login-button-back-c {
  background: #D95040;
}
.login-button-back-d {
  background: #68CF79;
}
.login-footer-contact {
  cursor:pointer;width:100%;margin-top:8px;margin-bottom:27px;font-weight: 500;font-size: 14px;line-height: 150%;text-align: center;color: #1C64F2;
}
.padding-input-12 {
  --padding-top: 12px;--inner-padding-top: 12px;--padding-end: 12px;--inner-padding-end: 12px;--padding-bottom: 12px;--inner-padding-bottom: 12px;--padding-start: 12px;--inner-padding-start: 12px;
}
.a-reset {
  color: inherit;text-decoration: none;
}
