<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'pages.posts.advises.create.title' | translate }}</ion-title>

    <!-- Lang -->
    <ion-buttons slot="end">
      <app-lang-btn #lang [changeAppLang]="false"></app-lang-btn>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Loading -->
  <app-loading [isLoading]="isLoading" clase="marg-t10" message="common.labelSearching"></app-loading>

  <!-- Form -->
  <form [formGroup]="form" class="pad-5" *ngIf="!isLoading && form">
    <ion-grid>
      <!-- Sector | Subsector -->
      <app-sectors #sectors></app-sectors>

      <!-- Title -->
      <ion-row *ngIf="false">
        <ion-input
          class="box-bw-r1-lln font-20"
          type="text"
          formControlName="title"
          [placeholder]="'pages.posts.advises.create.title' | translate"
          maxlength="50"
        ></ion-input>
      </ion-row>

      <!-- Subtitle -->
      <ion-row class="marg-t10" *ngIf="false">
        <ion-input
          class="box-bw-r1-lln font-16"
          type="text"
          formControlName="subtitle"
          [placeholder]="'pages.posts.advises.create.subtitle' | translate"
          maxlength="70"
        ></ion-input>
      </ion-row>

      <!-- Summary -->
      <ion-row class="marg-t10" *ngIf="false">
        <ion-textarea
          class="hint box-bw-r1-lln"
          type="text"
          formControlName="summary"
          [placeholder]="'pages.posts.advises.create.summary' | translate"
          maxlength="120"
        ></ion-textarea>
      </ion-row>

      <!-- WYSIWYG -->
      <ion-row class="marg-t10">
        <app-wysiwyg
          [html]="iAdvise?.content"
          [placeholder]="'pages.posts.advises.create.wysiwyg' | translate"
          (OnChange)="wysiwygChange( $event )"
          (OnImgClick)="pick.clicks()"
        ></app-wysiwyg>
      </ion-row>

      <!-- Image -->
      <ion-row class="marg-t10" [style]="'display: ' + ( !image ? 'none' : 'block' )">
        <!-- Remove Image -->
        <ion-button icon-only
          shape="round"
          class="no-padding wh-40 marg-t10 relativism"
          (click)="imgSelected( null )"
        >
          <ion-icon name="trash-outline" color="primary"></ion-icon>
        </ion-button>

        <!-- File Picker -->
        <app-file-picker #pick [src]="image" (OnFile)="imgSelected( $event )"></app-file-picker>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer no-border>
  <ion-toolbar class="tx-center">
    <!-- Cancel Button -->
    <ion-button class="marg-e10" (click)="cancel()">
      {{ 'common.buttons.cancel' | translate}}
    </ion-button>

    <!-- Share Advise | Post Button -->
    <ion-button class="marg-s10" (click)="shareAlert()">
      {{ 'pages.posts.advises.share' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
