<ion-content class="background-content">
  <div class="ion-text-center ion-padding-top" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
    <p>Cargando...</p>
  </div>

  <!-- Mobile version -->
  <div class="mobile">
    <div class="div-main-back-button">
      <div class="breadcrumbs-text">
        <img src="assets/icon/svg/home.svg" class="breadcrumbs-home-svg"/>
        Inicio
        <img src="assets/icon/svg/chevron-right.svg" class="breadcrumbs-next-svg"/>
        Mis publicaciones
      </div>
      <div class="box-create-post">
        <div (click)="createPost()" class="create-post-inside">
          Comparte tus noticias y comentarios
        </div>
      </div>
    </div>

    <div class="info-top">
      <div class="info-top-wrapper">
        <div class="info-top-left">
          {{user.name}}
        </div>
      </div>
      <div class="info-user">
        <div class="info-user-left">
          <img
            [src]="perfilpublico?.logo"
            *ngIf="perfilpublico?.logo"
            class="info-user-img"
            (error)="perfilpublico.logo = null"
          />
          <img
            src="user.img"
            *ngIf="!perfilpublico?.logo"
            class="info-user-img"
            appImgErrorFallback
          />
        </div>
        <div class="info-user-right">
          {{user.description}}
        </div>
      </div>
    </div>
  </div>

  <div class="mobile">
    <div class="info-sections">
      <div class="info-sections-wrapper">
        <div class="info-sections-cell">
          <div class="info-sections-text" [ngClass]="{'info-sections-selected' : isFeed}" (click)="showFeed()">
            Feed
          </div>
        </div>
        <div class="info-sections-cell">
          <div class="info-sections-text" [ngClass]="{'info-sections-selected' : isRatings}" (click)="showRatings()">
            Valoraciones
          </div>
        </div>
        <div class="info-sections-cell">
          <div class="info-sections-text" [ngClass]="{'info-sections-selected' : isBest}" (click)="showBest()">
            The best
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile">
    <div *ngIf="iAdvises && isFeed">
      <div class="mobile">
        <div *ngFor="let iAdvise of iAdvises" class="div-main-post">
          <div class="table-100">
            <div>
              <div class="user-item-main">
                <img src="https://api.febelink.com/storage/users/default.png" class="user-item-img-main"
                     *ngIf="!iAdvise?.logo && !iAdvise?.avatar"/>
                <ion-img class="user-item-img-main"
                         [src]="iAdvise?.logo || iAdvise?.avatar"
                         *ngIf="iAdvise?.logo || iAdvise?.avatar"
                         appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
                ></ion-img>
              </div>
              <div class="user-item-text">
                <div class="user-item-text-name">
                  {{ iAdvise?.name || iAdvise?.nick || ('common.labelUser' | translate)}} {{ iAdvise?.lastName }}
                </div>
                <div class="user-item-text-date">
                  {{ iAdvise?.created_at }}
                </div>
              </div>
            </div>
          </div>
          <div [innerHTML]="iAdvise.content" class="content-post post-content-main max-content-text"></div>
          <div class="post-content-topic">#{{ topics[iAdvise.topic]?.name }}</div>
          <ion-img
            class="content-post-img"
            [src]="iAdvise.media_url"
            *ngIf="
                    isPostVisible &&
                    iAdvise.media_url &&
                    fileSvc.isImage(iAdvise.media_ext)
                  "
          ></ion-img>
          <div class="post-main-reactions">
            <div class="post-main-reactions-left">
              <span *ngIf="iAdvise.react_qant>0">{{iAdvise.react_qant}} </span><span
              *ngIf="!(iAdvise.react_qant>0)">0 </span>
              <span *ngIf="iAdvise.react_qant == 1">Reacción</span><span
              *ngIf="iAdvise.react_qant != 1">Reacciones</span>
            </div>
            <div class="post-main-reactions-right">
              <span *ngIf="iAdvise.comments_qant>0">{{iAdvise.comments_qant}} </span><span
              *ngIf="!(iAdvise.comments_qant>0)">0 </span>
              <span *ngIf="iAdvise.comments_qant == 1">Comentario</span><span *ngIf="iAdvise.comments_qant != 1">Comentarios</span>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div *ngIf="isRatings">

      <div (click)="isRatingsPending = !isRatingsPending" class="section-opener">
        <div class="section-opener-left">
          {{ratingsPending.length}} Pendientes
        </div>
        <div class="section-opener-right">
          <img *ngIf="isRatingsPending" src="assets/icon/svg/chevron-up.svg" class="section-opener-svg"/>
          <img *ngIf="!isRatingsPending" src="assets/icon/svg/chevron-down.svg" class="section-opener-svg"/>
        </div>
      </div>

      <div *ngIf="isRatingsPending && ratingsPending.length==0" class="no-ratings-div">
        <div class="text-align-center">
          <img src="assets/icon/svg/star-outline-big.svg" class="no-ratings-svg"/>
        </div>
        <div class="no-ratings-text">
          No tienes valoraciones pendientes de ningún servicio contratado
        </div>
      </div>

      <div *ngIf="isRatingsPending && ratingsPending.length>0" class="wrapper-best">
        <div *ngFor="let rating of ratingsPending;let i = index" class="content-wrapper-best">
          <div class="content-table-ratings">
            <div class="content-table-left">
              <img src="{{rating.img}}" class="content-table-left-img"/>
            </div>
            <div class="content-table-middle">
              <div class="content-middle-title">
                {{rating.title}}
              </div>
              <div class="content-middle-subtitle">
                {{rating.service}}
              </div>
            </div>
            <div class="content-table-right">
              {{rating.price}}€
            </div>
          </div>
          <div class="content-padding-button">
            <div class="content-table-button" (click)="doRating(i)">
              Valorar
            </div>
          </div>
        </div>
      </div>

      <div (click)="isRatingsDone = !isRatingsDone" class="section-opener">
        <div class="section-opener-left">
          {{ratings.length}} Realizadas
        </div>
        <div class="section-opener-right">
          <img *ngIf="isRatingsDone" src="assets/icon/svg/chevron-up.svg" class="section-opener-svg"/>
          <img *ngIf="!isRatingsDone" src="assets/icon/svg/chevron-down.svg" class="section-opener-svg"/>
        </div>
      </div>

      <div *ngIf="isRatingsDone" class="wrapper-ratings">
        <div *ngFor="let rating of ratings;let i = index" [ngClass]="{'content-separator-margin' : i>0}">
          <div class="content-table-ratings">
            <div class="content-table-left">
              <img src="{{rating.img}}" class="content-table-left-img"/>
            </div>
            <div class="content-table-middle">
              <div class="content-middle-title">
                {{rating.title}}
              </div>
              <div class="content-middle-subtitle">
                {{rating.service}}
              </div>
            </div>
            <div class="content-table-right">
              {{rating.price}}€
            </div>
          </div>
          <div class="content-table-second">
            <div class="content-table-rating">
              <app-rating [rating]="rating.rating"></app-rating>
            </div>
            <div class="content-table-date">
              {{rating.date}}
            </div>
          </div>
          <div class="content-table-description">
            {{rating.description}}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isBest">

      <div *ngIf="!isBestChange">

        <div (click)="isBestList = !isBestList" class="section-opener">
          <div class="section-opener-left">
            The best
          </div>
          <div class="section-opener-right">
            <img *ngIf="isBestList" src="assets/icon/svg/chevron-up.svg" class="section-opener-svg"/>
            <img *ngIf="!isBestList" src="assets/icon/svg/chevron-down.svg" class="section-opener-svg"/>
          </div>
        </div>

        <div *ngIf="isBestList && bests" class="wrapper-best">
          <div class="content-wrapper-best">
            <div class="content-table-ratings">
              <div class="content-table-left">
                <img src="{{bests.img}}" class="content-table-left-img"/>
              </div>
              <div class="content-table-middle">
                <div class="content-middle-title">
                  {{bests.title}}
                </div>
                <div class="content-middle-subtitle">
                  {{bests.service}}
                </div>
              </div>
              <div class="content-table-right">
                {{bests.price}}€
              </div>
            </div>
            <div class="content-table-second">
              <div class="content-table-rating">
                <app-rating [rating]="bests.rating"></app-rating>
              </div>
              <div class="content-table-date">
                {{bests.date}}
              </div>
            </div>
            <div class="content-padding-button">
              <div class="content-table-button" (click)="isBestChange = !isBestChange">
                Compartir servicio
              </div>
            </div>
          </div>
        </div>

        <div (click)="isBestAchieves = !isBestAchieves" class="section-opener">
          <div class="section-opener-left">
            Mis logros
          </div>
          <div class="section-opener-right">
            <img *ngIf="isBestAchieves" src="assets/icon/svg/chevron-up.svg" class="section-opener-svg"/>
            <img *ngIf="!isBestAchieves" src="assets/icon/svg/chevron-down.svg" class="section-opener-svg"/>
          </div>
        </div>

        <div *ngIf="isBestAchieves">
          <div class="content-best">
            <div class="best-title">
              The best (0)
            </div>
            <!--            <div>
                          <div class="box-achieve">
                            <div class="achieve-div-img">
                              <img src="assets/icon/svg/home-white.svg" class="achieve-img"/>
                            </div>
                            <div class="achieve-text">
                              Buen anfitrión (3)
                            </div>
                          </div>
                        </div>-->

            <div class="best-title">
              Otros logros (0)
            </div>
            <!--<div>
              <div class="box-achieve">
                <div class="achieve-div-img">
                  <img src="assets/icon/svg/service-white.svg" class="achieve-img"/>
                </div>
                <div class="achieve-text">
                  Servicios contratados (2)
                </div>
              </div>
              <div class="box-achieve">
                <div class="achieve-div-img">
                  <img src="assets/icon/svg/star-white.svg" class="achieve-img"/>
                </div>
                <div class="achieve-text">
                  Valoraciones hechas (1)
                </div>
              </div>
            </div>-->
          </div>
        </div>

      </div>
      <div *ngIf="isBestChange">

        <div (click)="isBestChangeList = !isBestChangeList" class="section-opener">
          <div class="section-opener-left">
            The best
          </div>
          <div class="section-opener-right">
            <img *ngIf="isBestChangeList" src="assets/icon/svg/chevron-up.svg" class="section-opener-svg"/>
            <img *ngIf="!isBestChangeList" src="assets/icon/svg/chevron-down.svg" class="section-opener-svg"/>
          </div>
        </div>

        <div *ngIf="isBestChangeList">
          <div class="text-change">
            Elije el servicio que recomendarías incondicionalmente a otro usuario según tu experiencia.
          </div>
          <div class="wrapper-best">
            <div *ngFor="let best of bestsChange;let i = index" class="content-wrapper-best cursor-pointer"
                 (click)="selectBest(i)" [ngClass]="{'best-selected' : selectedBest==i}">
              <div class="radius-best" [ngClass]="{'radius-selected' : selectedBest==i}"></div>
              <div class="content-table-ratings">
                <div class="content-table-left">
                  <img src="{{best.img}}" class="content-table-left-img"/>
                </div>
                <div class="content-table-middle">
                  <div class="content-middle-title">
                    {{best.title}}
                  </div>
                  <div class="content-middle-subtitle">
                    {{best.service}}
                  </div>
                </div>
                <div class="content-table-right">
                  {{best.price}}€
                </div>
              </div>
              <div class="content-table-second">
                <div class="content-table-rating">
                  <app-rating [rating]="best.rating"></app-rating>
                </div>
                <div class="content-table-date">
                  {{best.date}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bottom-change">
          <div class="content-table-button" (click)="changeBest()">
            Asignar the best
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- --------------------------------- -->
  <!-- Desktop version -->
  <div class="desktop">
    <div class="div-main-back-button-b">
      <div class="breadcrumbs-text-b">
        Inicio
        <img src="assets/icon/svg/chevron-right.svg" class="breadcrumbs-next-svg"/>
        <span class="breadcrumbs-color-blue">Mis publicaciones</span>
      </div>
    </div>

    <div class="padding-create-post">
      <div class="create-post-b" (click)="createPost()">
        Comparte tus noticias y comentarios
      </div>
    </div>

    <div class="header-content-top">
      <div class="table-100">
        <div class="header-content-top-left">
          <div class="table-100">
            <div class="header-top-inside-left">
              <img
                [src]="perfilpublico?.logo"
                *ngIf="perfilpublico?.logo"
                class="header-top-img"
                (error)="perfilpublico.logo = null"
              />
              <img
                src="user.img"
                *ngIf="!perfilpublico?.logo"
                class="header-top-img"
                appImgErrorFallback
              />
            </div>
            <div class="header-top-inside-right">
              <div class="header-top-title">
                {{user.name}}
              </div>
              <div class="header-top-subtitle">
                {{user.date}}
              </div>
              <div class="header-top-description">
                {{user.description}}
              </div>
            </div>
          </div>
        </div>
        <div class="header-content-top-right">
        </div>
      </div>
    </div>
  </div>


  <div class="desktop desktop-content-padding">
    <div class="desktop-content-left">
      <div *ngIf="iAdvises">

        <div class="desktop">
          <div *ngFor="let iAdvise of iAdvises" class="div-main-post-b">
            <div class="table-100">
              <div>
                <div class="user-item-main">
                  <img src="https://api.febelink.com/storage/users/default.png"
                       *ngIf="!iAdvise?.logo && !iAdvise?.avatar" class="user-item-img-main-b"/>
                  <ion-img class="user-item-img-main-b"
                           [src]="iAdvise?.logo || iAdvise?.avatar"
                           *ngIf="iAdvise?.logo || iAdvise?.avatar"
                           appImgErrorFallback="https://api.febelink.com/storage/users/default.png"
                  ></ion-img>
                </div>
                <div class="user-item-text-b">
                  <div class="user-item-text-name-b">
                    {{ iAdvise?.name || iAdvise?.nick || ('common.labelUser' | translate)}} {{ iAdvise?.lastName }}
                  </div>
                  <div class="user-item-text-date-b">
                    {{ iAdvise?.created_at }}
                  </div>
                </div>
              </div>

              <div [innerHTML]="iAdvise.content" class="content-post post-content-main max-content-text-b"></div>
              <div class="post-content-topic">#{{ topics[iAdvise.topic]?.name }}</div>
              <ion-img
                class="content-post-img"
                [src]="iAdvise.media_url"
                *ngIf="
                    isPostVisible &&
                    iAdvise.media_url &&
                    fileSvc.isImage(iAdvise.media_ext)
                  "
              ></ion-img>
              <div class="post-main-reactions-b">
                <div class="post-main-reactions-left">
                  <span *ngIf="iAdvise.react_qant>0">{{iAdvise.react_qant}} </span><span
                  *ngIf="!(iAdvise.react_qant>0)">0 </span>
                  <span *ngIf="iAdvise.react_qant == 1">Reacción</span><span
                  *ngIf="iAdvise.react_qant != 1">Reacciones</span>
                </div>
                <div class="post-main-reactions-right">
                  <span *ngIf="iAdvise.comments_qant>0">{{iAdvise.comments_qant}} </span><span
                  *ngIf="!(iAdvise.comments_qant>0)">0 </span>
                  <span *ngIf="iAdvise.comments_qant == 1">Comentario</span><span *ngIf="iAdvise.comments_qant != 1">Comentarios</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="desktop-content-right">

      <div class="info-sections-b">
        <div class="info-sections-wrapper-b">
          <div class="info-sections-cell-b">
            <div class="info-sections-text-b" [ngClass]="{'info-sections-selected-b' : (isRatings || isFeed)}"
                 (click)="showRatings()">
              Valoraciones
            </div>
          </div>
          <div class="info-sections-cell-b">
            <div class="info-sections-text-b" [ngClass]="{'info-sections-selected-b' : isBest}" (click)="showBest()">
              The best
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isRatings || isFeed">

        <div class="section-opener">
          <div class="section-opener-left">
            {{ratingsPending.length}} Pendientes
          </div>
        </div>

        <div *ngIf="ratingsPending.length==0" class="no-ratings-div">
          <div class="text-align-center">
            <img src="assets/icon/svg/star-outline-big.svg" class="no-ratings-svg"/>
          </div>
          <div class="no-ratings-text">
            No tienes valoraciones pendientes de ningún servicio contratado
          </div>
        </div>

        <div *ngIf="ratingsPending.length>0" class="wrapper-best-b">
          <ng-container *ngFor="let rating of ratingsPending;let i = index">
            <div *ngIf="(openRating && indexRating==i) || !openRating" class="content-wrapper-best-b">
              <div class="content-table-ratings">
                <div class="content-table-left">
                  <img src="{{rating.img}}" class="content-table-left-img"/>
                </div>
                <div class="content-table-middle">
                  <div class="content-middle-title">
                    {{rating.title}}
                  </div>
                  <div class="content-middle-subtitle">
                    {{rating.service}}
                  </div>
                </div>
                <div class="content-table-right">
                  {{rating.price}}€
                </div>
              </div>
              <div class="content-padding-button">
                <div class="content-table-button" (click)="doRating(i)">
                  Valorar
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div *ngIf="openRating" class="modal-front-content-b">
          <div class="modal-front-title">
            ¿Qué te ha parecido el cliente?
          </div>
          <div class="modal-front-subtitle modal-subtitle-margin-b">
            Valora el servicio siendo 5 estrellas la mayor puntuación.
          </div>
          <div class="modal-front-rating">
            <img class="modal-rating-star" src="assets/icon/svg/star-grey.svg"/><img class="modal-rating-star"
                                                                                     src="assets/icon/svg/star-grey.svg"/><img
            class="modal-rating-star" src="assets/icon/svg/star-grey.svg"/><img class="modal-rating-star"
                                                                                src="assets/icon/svg/star-grey.svg"/><img
            class="modal-rating-star" src="assets/icon/svg/star-grey.svg"/>
          </div>
          <div class="modal-front-comment">
            Deja un comentario
          </div>
          <div class="modal-front-textarea-div">
            <ion-textarea placeholder="Máximo 500 caracteres" rows="6"
                          class="no-padding modal-front-textarea"></ion-textarea>
          </div>
          <div class="modal-button-primary-b" (click)="saveRating()">
            Enviar
          </div>
          <div class="modal-button-secondary-b" (click)="openRating = !openRating">
            Cancelar
          </div>
        </div>

        <div *ngIf="!openRating" class="section-opener">
          <div class="section-opener-left">
            {{ratings.length}} Realizadas
          </div>
        </div>

        <div *ngIf="!openRating && ratings" class="wrapper-best-b">
          <div *ngFor="let rating of ratings;let i = index" class="content-wrapper-best-b">
            <div class="content-table-ratings">
              <div class="content-table-left">
                <img src="{{rating.img}}" class="content-table-left-img"/>
              </div>
              <div class="content-table-middle">
                <div class="content-middle-title">
                  {{rating.title}}
                </div>
                <div class="content-middle-subtitle">
                  {{rating.service}}
                </div>
              </div>
              <div class="content-table-right">
                {{rating.price}}€
              </div>
            </div>
            <div class="content-table-second">
              <div class="content-table-rating">
                <app-rating [rating]="rating.rating"></app-rating>
              </div>
              <div class="content-table-date">
                {{rating.date}}
              </div>
            </div>
            <div class="content-table-description">
              {{rating.description}}
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isBest">

        <div *ngIf="!isBestChange">

          <div (click)="isBestList = !isBestList" class="section-opener">
            <div class="section-opener-left">
              The best
            </div>
            <div class="section-opener-right">
              <img *ngIf="isBestList" src="assets/icon/svg/chevron-up.svg" class="section-opener-svg"/>
              <img *ngIf="!isBestList" src="assets/icon/svg/chevron-down.svg" class="section-opener-svg"/>
            </div>
          </div>

          <div *ngIf="isBestList && bests" class="wrapper-best-b">
            <div class="content-wrapper-best-b">
              <div class="content-table-ratings">
                <div class="content-table-left">
                  <img src="{{bests.img}}" class="content-table-left-img"/>
                </div>
                <div class="content-table-middle">
                  <div class="content-middle-title">
                    {{bests.title}}
                  </div>
                  <div class="content-middle-subtitle">
                    {{bests.service}}
                  </div>
                </div>
                <div class="content-table-right">
                  {{bests.price}}€
                </div>
              </div>
              <div class="content-table-second">
                <div class="content-table-rating">
                  <app-rating [rating]="bests.rating"></app-rating>
                </div>
                <div class="content-table-date">
                  {{bests.date}}
                </div>
              </div>
              <div class="content-padding-button">
                <div class="content-table-button" (click)="isBestChange = !isBestChange">
                  Compartir servicio
                </div>
              </div>
            </div>
          </div>

          <div (click)="isBestAchieves = !isBestAchieves" class="section-opener">
            <div class="section-opener-left">
              Mis logros
            </div>
            <div class="section-opener-right">
              <img *ngIf="isBestAchieves" src="assets/icon/svg/chevron-up.svg" class="section-opener-svg"/>
              <img *ngIf="!isBestAchieves" src="assets/icon/svg/chevron-down.svg" class="section-opener-svg"/>
            </div>
          </div>

          <div *ngIf="isBestAchieves">
            <div class="content-best">
              <div class="best-title">
                The best (0)
              </div>
              <!--              <div>
                              <div class="box-achieve-b">
                                <div>
                                  <div class="achieve-div-img">
                                    <img src="assets/icon/svg/home-white.svg" class="achieve-img"/>
                                  </div>
                                  <div class="achieve-text">
                                    Buen anfitrión (3)
                                  </div>
                                </div>
                              </div>
                            </div>-->

              <div class="best-title">
                Otros logros (0)
              </div>
              <!-- <div>
                 <div class="box-achieve-b">
                   <div>
                     <div class="achieve-div-img">
                       <img src="assets/icon/svg/service-white.svg" class="achieve-img"/>
                     </div>
                     <div class="achieve-text">
                       Servicios contratados (2)
                     </div>
                   </div>
                 </div>
                 <div class="box-achieve-b">
                   <div>
                     <div class="achieve-div-img">
                       <img src="assets/icon/svg/star-white.svg" class="achieve-img"/>
                     </div>
                     <div class="achieve-text">
                       Valoraciones hechas (1)
                     </div>
                   </div>
                 </div>
               </div>-->
            </div>
          </div>

        </div>
        <div *ngIf="isBestChange">

          <div (click)="isBestChangeList = !isBestChangeList" class="section-opener">
            <div class="section-opener-left">
              The best
            </div>
            <div class="section-opener-right">
              <img *ngIf="isBestChangeList" src="assets/icon/svg/chevron-up.svg" class="section-opener-svg"/>
              <img *ngIf="!isBestChangeList" src="assets/icon/svg/chevron-down.svg" class="section-opener-svg"/>
            </div>
          </div>

          <div *ngIf="isBestChangeList">
            <div class="text-change">
              Elije el servicio que recomendarías incondicionalmente a otro usuario según tu experiencia.
            </div>
            <div class="wrapper-best-b">
              <div *ngFor="let best of bestsChange;let i = index" class="content-wrapper-best-b cursor-pointer"
                   (click)="selectBest(i)" [ngClass]="{'best-selected' : selectedBest==i}">
                <div class="radius-best" [ngClass]="{'radius-selected' : selectedBest==i}"></div>
                <div class="content-table-ratings">
                  <div class="content-table-left">
                    <img src="{{best.img}}" class="content-table-left-img"/>
                  </div>
                  <div class="content-table-middle">
                    <div class="content-middle-title">
                      {{best.title}}
                    </div>
                    <div class="content-middle-subtitle">
                      {{best.service}}
                    </div>
                  </div>
                  <div class="content-table-right">
                    {{best.price}}€
                  </div>
                </div>
                <div class="content-table-second">
                  <div class="content-table-rating">
                    <app-rating [rating]="best.rating"></app-rating>
                  </div>
                  <div class="content-table-date">
                    {{best.date}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="bottom-change">
            <div class="content-table-button" (click)="changeBest()">
              Asignar the best
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>

<div *ngIf="openRating" class="mobile modal-back-background">
  <div class="modal-front-content">
    <div class="modal-front-title">
      ¿Qué te ha parecido el cliente?
    </div>
    <div class="modal-front-subtitle modal-subtitle-margin-b">
      Valora el servicio siendo 5 estrellas la mayor puntuación.
    </div>
    <div class="modal-front-rating">
      <img class="modal-rating-star" src="assets/icon/svg/star-grey.svg"/><img class="modal-rating-star"
                                                                               src="assets/icon/svg/star-grey.svg"/><img
      class="modal-rating-star" src="assets/icon/svg/star-grey.svg"/><img class="modal-rating-star"
                                                                          src="assets/icon/svg/star-grey.svg"/><img
      class="modal-rating-star" src="assets/icon/svg/star-grey.svg"/>
    </div>
    <div class="modal-front-comment">
      Deja un comentario
    </div>
    <div class="modal-front-textarea-div">
      <ion-textarea placeholder="Máximo 500 caracteres" rows="6" class="no-padding modal-front-textarea"></ion-textarea>
    </div>
    <div class="modal-button-primary" (click)="saveRating()">
      Enviar
    </div>
    <div class="modal-button-secondary" (click)="openRating = !openRating">
      Cancelar
    </div>
  </div>
</div>

<div *ngIf="isRatingSaved" class="mobile modal-background-full">
  <div class="modal-full-close" (click)="isRatingSaved = !isRatingSaved">
    <img src="assets/icon/svg/close.svg" class="modal-full-close-svg"/>
  </div>
  <div class="modal-full-content">
    <div class="modal-full-check">
      <img src="assets/icon/svg/check-circle.svg" class="modal-full-check-svg"/>
    </div>
    <div class="modal-full-title">
      Tu valoración se ha realizado con éxito
    </div>
    <div class="modal-full-subtitle">
      Muchas gracias por la valoración, ayudará a otros usuarios a contratar a los profesionales
    </div>
  </div>
  <div class="modal-full-bottom">
    <div class="modal-full-button-primary" (click)="isRatingSaved = !isRatingSaved">
      Entendido
    </div>
  </div>
</div>

<div *ngIf="isBestChanged" class="mobile modal-background-full">
  <div class="modal-full-close" (click)="isBestChanged = !isBestChanged">
    <img src="assets/icon/svg/close.svg" class="modal-full-close-svg"/>
  </div>
  <div class="modal-full-content">
    <div class="modal-full-check">
      <img src="assets/icon/svg/check-circle.svg" class="modal-full-check-svg"/>
    </div>
    <div class="modal-full-title">
      The best ha sido concedido al profesional
    </div>
    <div class="modal-full-subtitle">
      Solo podrás tener un the best profesional a la vez. Cada vez que concedas este título el anterior desaparecerá.
    </div>
  </div>
  <div class="modal-full-bottom">
    <div class="modal-full-button-primary" (click)="isBestChanged = !isBestChanged">
      Entendido
    </div>
  </div>
</div>

<div *ngIf="isRatingSaved" class="desktop">
  <div class="modal-back-background">
    <div class="modal-front-content-c">
      <div class="modal-back-close-b" (click)="isRatingSaved = !isRatingSaved">
        <img src="assets/icon/svg/close.svg" class="modal-full-close-svg"/>
      </div>
      <div class="modal-full-check">
        <img src="assets/icon/svg/check-circle.svg" class="modal-full-check-svg"/>
      </div>
      <div class="modal-full-title-b">
        Tu valoración se ha realizado con éxito
      </div>
      <div class="modal-full-subtitle-b">
        Muchas gracias por la valoración, ayudará a otros usuarios a contratar a los profesionales
      </div>
    </div>
  </div>
</div>

<div *ngIf="isBestChanged" class="desktop">
  <div class="modal-back-background">
    <div class="modal-front-content-c">
      <div class="modal-back-close-b" (click)="isBestChanged = !isBestChanged">
        <img src="assets/icon/svg/close.svg" class="modal-full-close-svg"/>
      </div>
      <div class="modal-full-check">
        <img src="assets/icon/svg/check-circle.svg" class="modal-full-check-svg"/>
      </div>
      <div class="modal-full-title-b">
        The best ha sido concedido al profesional
      </div>
      <div class="modal-full-subtitle-b">
        Solo podrás tener un the best profesional a la vez. Cada vez que concedas este título el anterior desaparecerá.
      </div>
    </div>
  </div>
</div>
