.header-buttons{
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px){
        ion-button{
            margin: 0 !important;
        }

        .logo {
            width: 100px !important;
        }
    }

    .logo{
        object-fit: scale-down;
        margin-left: 10px;
        width: 120px;
    }

}

.right{
    float: right;
}

ion-badge {
    border-radius: 50%;
    min-width: 20px;

    &.little-badge {
        font-size: 11px;
        min-width: 15px;
        position: absolute;
        right: -8px;
    }
}

ion-button{
    margin: 0 0.8rem;
}


.btn-header {
    margin: 0 0.8rem;
}

.active {
    color: var(--ion-color-primary) !important;
}