<div class="header-buttons" [class]="(currentTab==tabs.Search)?'right':''">

  <img tappable src="assets/imgs/logo.png" alt="Febelink logo" class="logo" (click)="irA('/menu/todas')" *ngIf="currentTab!=tabs.Search"/>
  
  <ion-buttons>
    <ion-button class="btn-header" [class]="(currentTab==tabs.ICO)?'active':''" (click)="irA('/token')">
      <img slot="start" density="ldpi" src="assets/icon/febicon.png" width="20px" height="20px" />
      <ion-label class="desktop" style="margin-left: 10px;">{{ 'menu.tabs.landingICO' | translate }}</ion-label>
      <ion-label class="mobile" style="margin-left: 10px;" *ngIf="currentTab==tabs.Search">{{ 'menu.tabs.token' | translate }}</ion-label>
    </ion-button>

    <div class="desktop">
      <ion-button class="btn-header" [class]="(currentTab==tabs.Search)?'active':''" (click)="irA('/menu/todas')">
        <ion-icon slot="start" name="search"></ion-icon>
        {{ 'menu.tabs.searchEngine' | translate }}
      </ion-button>
      <ion-button class="btn-header" [class]="(currentTab==tabs.Recommend)?'active':''" (click)="irA('/menu/busquedas')">
        <ion-icon slot="start" name="heart"></ion-icon>
        {{ 'menu.tabs.recommend' | translate }}
        <!-- <ion-badge color="danger" slot="end">1</ion-badge> -->
      </ion-button>
      <ion-button class="btn-header" [class]="(currentTab==tabs.Chat)?'active':''" (click)="irA('/menu/ofertas')">
        <ion-icon slot="start" name="chatbubbles"></ion-icon>
        {{ 'menu.tabs.chat' | translate }}
        <ion-badge color="danger" slot="end" *ngIf="totalUnreadMessages">{{totalUnreadMessages}}</ion-badge>
      </ion-button>
        
      <ion-button class="btn-header" (click)="irA('/login')" *ngIf="!perfil">
        <ion-icon slot="start" name="person"></ion-icon>
        {{ 'menu.tabs.login' | translate }}
      </ion-button>    
      <ion-button class="btn-header" (click)="irA('/registro')" color="success" *ngIf="!perfil" fill="solid" style="--border-radius: 4px;">
        <ion-icon slot="start" name="person"></ion-icon>
        {{ 'menu.tabs.register' | translate }}
      </ion-button>
    </div>

      
    <ion-button class="btn-header" (click)="shareFebelink($event)">
      <ion-icon slot="start" name="share-social"></ion-icon>
      <span class="desktop" translate>menu.tabs.share-febelink</span>
      <span class="mobile" translate *ngIf="currentTab==tabs.Search">common.share</span>
      
    </ion-button>

    <ion-button class="btn-header" (click)="irA('/menu/notificaciones')">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge color="danger" slot="end" *ngIf="notifCount?.chats+notifCount?.offers+notifCount?.ratings" class="little-badge">{{notifCount?.chats+notifCount?.offers+notifCount?.ratings}}</ion-badge>
    </ion-button>

    <ion-button size="large" color="primary" slot="icon-only" (click)="openYTguide()" >
      <ion-icon style="font-size: x-large" name="information-circle">
      </ion-icon>
    </ion-button>
      
  </ion-buttons>
</div>

