<img *ngIf="showCard" tappable src="assets/imgs/logo.png" alt="" class="logo" routerLink="/menu/todas" />
<div class="header-buttons">
  <!-- {{currentTab}} -->
  <ion-buttons class="desktop">
    <ion-button class="btn-header" [class]="(currentTab===tabs.Search)?'active':''" (click)="irA('/menu/todas')">
      <ion-icon slot="start" name="search"></ion-icon>
      {{ 'menu.tabs.searchEngine' | translate }}
    </ion-button>
    <ion-button class="btn-header" [class]="(currentTab===tabs.Recommend)?'active':''" (click)="irA('/menu/busquedas')">
      <ion-icon slot="start" name="heart"></ion-icon>
      {{ 'menu.tabs.recommend' | translate }}
    </ion-button>
    <ion-button class="btn-header" [class]="(currentTab===tabs.Chat)?'active':''" (click)="irA('/menu/ofertas')">
      <ion-icon slot="start" name="chatbubbles"></ion-icon>
      {{ 'menu.tabs.chat' | translate }}
    </ion-button>
    <ion-buttons *ngIf="perfil === null" class="btn-header" (click)="irA('/menu/perfil')">
      <ion-icon slot="start" name="person"></ion-icon>
      {{ (perfil !== null ? 'menu.tabs.profile' : 'menu.tabs.login') | translate }}
    </ion-buttons>
  </ion-buttons>
  
  <ion-buttons size="large">   
  <ion-button class="btn-header" (click)="shareFebelink($event)">
  <ion-icon slot="start" name="share-social"></ion-icon>
  {{ 'menu.tabs.share-febelink' | translate }}
  </ion-button>

    <ion-button
      size="large"
      color="primary"
      slot="icon-only"
      (click)="openGuide()"
    >
      <ion-icon style="font-size: x-large" name="information-circle">
      </ion-icon>
    </ion-button>
  </ion-buttons>
</div>

