<img *ngIf="rating>=0.5" class="servicios-rating-star" src="assets/icon/svg/star.svg" />
<img *ngIf="rating>=1.5" class="servicios-rating-star" src="assets/icon/svg/star.svg" />
<img *ngIf="rating>=2.5" class="servicios-rating-star" src="assets/icon/svg/star.svg" />
<img *ngIf="rating>=3.5" class="servicios-rating-star" src="assets/icon/svg/star.svg" />
<img *ngIf="rating>=4.5" class="servicios-rating-star" src="assets/icon/svg/star.svg" />
<img *ngIf="rating<4.5" class="servicios-rating-star" src="assets/icon/svg/star-grey.svg" />
<img *ngIf="rating<3.5" class="servicios-rating-star" src="assets/icon/svg/star-grey.svg" />
<img *ngIf="rating<2.5" class="servicios-rating-star" src="assets/icon/svg/star-grey.svg" />
<img *ngIf="rating<1.5" class="servicios-rating-star" src="assets/icon/svg/star-grey.svg" />
<img *ngIf="rating<0.5" class="servicios-rating-star" src="assets/icon/svg/star-grey.svg" />