<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end" class="desktop">

        </ion-buttons>

        <img src="assets/imgs/logo.png" alt="" class="logo" />

        <ion-buttons size="large" slot="end">
            <ion-button
                    size="large"
                    color="primary"
                    slot="icon-only"

            >
                <ion-icon style="font-size: x-large" name="information-circle">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>

<!--    <form action="/" method="post" id="payment-form">-->
<!--      <div style="display: flex;justify-content: center"><h4>Pago seguro</h4></div>-->
<!--      <div class="form-row">-->
<!--        <div id="card-element">-->

<!--        </div>-->


<!--        <div id="card-errors" role="alert"></div>-->
<!--      </div>-->
<!--      <div class="btn-container" >-->
<!--        <ion-button color="primary" type="submit">Suscribirme</ion-button>-->
<!--      </div>-->
<!--    </form>-->

            <form action="/" method="post" id="payment-form">
              <div class="form-row">
                <div id="card-element">

                </div>


                <div id="card-errors" role="alert"></div>
              </div>
              <div class="btn-container">
<!--    <div style="text-align: center;padding-top: 20px">-->
<!--      <a target="_blank" class="button_a" href="http://localhost:8100/menu/suscription-browser/{{selected}}/{{perfil.id}}">Suscribirme</a>-->
<!--    </div>-->
                <div class="btn-container" >
                  <ion-button color="primary" type="submit">Suscribirme</ion-button>
                </div>

              </div>
            </form>

    <div id="div_suscription" style="display: none;justify-content: center;flex-direction: column;align-items: center">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 512 512" style="width: 30px;enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#A5EB78;" d="M433.139,67.108L201.294,298.953c-6.249,6.249-16.381,6.249-22.63,0L78.861,199.15L0,278.011
	l150.547,150.549c10.458,10.458,24.642,16.333,39.431,16.333l0,0c14.788,0,28.973-5.876,39.43-16.333L512,145.968L433.139,67.108z"
/>
        <g style="opacity:0.1;">
	<path d="M485.921,119.888L187.59,418.22c-8.254,8.253-18.633,13.882-29.847,16.391c9.363,6.635,20.608,10.28,32.235,10.28l0,0
		c14.788,0,28.973-5.876,39.43-16.333L512,145.966L485.921,119.888z"/>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
        <g>
</g>
</svg>
      <h3>Pago realizado correctamente</h3>
    </div>


  </div>

</ion-content>
