@import '../../landing/scss/style.scss';

.scraping {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
  
.scrapingChild {
    display: inline-block;
    margin: 4px;
}

#scraping-row {
    margin-bottom: 0px !important;
}

ion-card {
    cursor: pointer;
    max-width: calc( 100% / 4 );
    min-width: 150px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
ion-card-header {
    padding: 10px;
    max-height: 150px;
    overflow: hidden;
}
ion-img img {
    border-radius: 10px 10px 0px 0px !important;
    object-fit: scale-down;
}
ion-card-content ion-card-title {
    font-weight: 600;

    -webkit-line-clamp: 2;
    max-height: 3.6em;
}
ion-card-content p {
    
    -webkit-line-clamp: 3;
    max-height: 5.6em;
}
ion-card-content ion-card-title, ion-card-content p {
    font-size: 14px;
    text-align: justify;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.8em;
}

@media ( max-width: 992px ) {
    .scraping {
        width: 100%;
        margin-left: 0%;
    }
}
@media ( max-width: 767px ) {
    .scraping {
        width: 100%;
        margin-left: 0%;
    }
}
@media ( max-width: 576px ) {
    ion-card-content ion-card-title, ion-card-content p {
        font-size: 12px;
    }
}