<div class="scraping">
  <div class="scrapingChild">
    <div class="row" id="scraping-row">
      <ion-card *ngFor="let url of urls"
            [style]="'max-width: calc( 100% / ' + columns + ' );'"
            (click)="goTo([ url.u ])">
        <ion-card-header>
          <ion-img [src]="url.i"></ion-img>
          <!-- <img [src]="url.image"/> -->
        </ion-card-header>

        <ion-card-content>
          <ion-card-title *ngIf="url.t">{{url.t}}</ion-card-title>
          <p *ngIf="url.d">{{url.d}}</p>
          <a *ngIf="url.showLink" [href]="url.u" target="_blank">{{ url.u }}</a>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>